[2022-07-14 15:00] lhunath opened #1980 "Decode Swift type names"

[2022-07-14 15:27] brustolin commented on #1973
This sounds like a good idea. We need to investigate how much information we can get out of this.

[2022-07-15 11:36] kevinrenskers commented on #1014
What would be acceptable? If we can define a subset of the most important permissions (I'd say location, push permission, photo library), and we measure how long that takes, what does it need to stay under to be acceptable?

In another issue I saw something about fetching some info taking 5 ms and that was considered unacceptable, which leads me to think that none of these permission checks are go

[2022-07-15 11:53] philipphofmann commented on #1916
Yep, we can discuss that once 8.0.0 is approaching.

[2022-07-15 13:31] kevinrenskers commented on #1827
We found 2 things that caused this issue.

The first thing is a user error in the implementation of the sample app: you're not binding the transaction to the scope, thus when the HTTP request is made, `SentrySDK.currentHub.scope.span` is `nil`. That brings us to the second problem: when `SentrySDK.currentHub.scope.span` is `nil`, it sends along the existing headers, and those are getting cached an

[2022-07-15 14:02] brustolin commented on #1827
`SentrySDK.startTransaction` has a `bindToScope` parameter to do this

[2022-07-15 14:19] #1827 closed

[2022-07-15 19:44] vorporeal opened #1976 "File descriptor for `ConsoleLog.txt` leaks into processes spawned via fork/exec."
### Platform

macOS

### Installed

Carthage

### Version

7.20.0

### Steps to Reproduce

One could probably come up with a minimal repro case, but I'm not an experienced MacOS dev so I don't think it's worth me spending many hours to learn how to write one.

I work on Warp, a MacOS terminal - http://warp.dev - which does a lot of process spawning via fork/exec (as one would expect from a termina

[2022-07-15 19:45] bruno-garcia opened #1977 "Create UI Event Transaction for Scrolls, Swipes and other gestures"
### Problem Statement

This is a follow up of the _UI Event Transaction for Clicks_ feature added #1784

General SDK tracking issue:
* https://github.com/getsentry/team-mobile/issues/4

SDK Spec is to be created following:
* https://github.com/getsentry/develop/issues/647

[2022-07-15 22:05] vorporeal opened #1979 "EXC_BAD_ACCESS (SIGSEGV) in sentrycrashmc_getThreadAtIndex; SentryCrash Exception Handler (Primary)"
### Platform

macOS

### Installed

Carthage

### Version

7.20.0

### Steps to Reproduce

We've had trouble consistently reproducing this issue.  A user reported that our app (Warp, a MacOS terminal) crashes when they try to run complex Terraform commands; see https://github.com/warpdotdev/Warp/issues/1619.

They provided a crash log (attached here, but also available from the linked issue) which

[2022-07-18 06:47] brustolin commented on #1979
Thanks @vorporal. We are aware of this and working on a solution.

This is related to #1892

[2022-07-18 07:07] brustolin commented on #1976
Thanks for letting us know. We'll investigate this.

[2022-07-18 07:16] #1824 closed

[2022-07-18 07:20] brustolin commented on #1014
Maybe reading this permissions is not the way to got, we should use some kind of cache and listening to permission changes during the execution.

[2022-07-18 08:43] philipphofmann commented on #1972
I would say so.

[2022-07-18 09:52] philipphofmann commented on #1892
Might also fix https://github.com/getsentry/sentry-cocoa/issues/1979.

[2022-07-18 09:57] philipphofmann commented on #1014
Yes, I agree. If we can't listen for changes, I would say it's not worth the effort at the moment. Enriching the event with all permissions on a background thread would work, but this would require some refactoring. We want to write the event to disk as quickly as possible to avoid losing it if the app crashes. We could write the event to disk quickly and then add further information to it on a ba

[2022-07-18 09:59] kevinrenskers commented on #1014
I had the same idea about listening for changes, and am looking into that now.

[2022-07-19 01:16] tonyarnold opened #1986 "Let users submit error reports manually"
### Problem Statement

Some of our more privacy-conscious users prefer to have control over what and when their error reports are submitted. They have told us that they prefer to be asked by our app before we submit crash or error reports to any third-party service.

### Solution Brainstorm

Other solutions in this space provide a user confirmation handler, that allows us to present an alert askin

[2022-07-19 09:16] philipphofmann commented on #1897
@mitsuhiko, @k-fish, and I agreed on reporting the app start type in the app context as  `start_type : cold | cold.prewarmed | warm | warm.prewarmed`. [Internal Notion Page](https://www.notion.so/sentry/Cocoa-Report-Prewarmed-App-Starts-2a48da2973364728b7ee769daee34064#8109159ee5bd411c9c281a26e1c95607) for more context.

[2022-07-19 11:14] StasMalinovsky commented on #1533
The same issue as @MountainTao has. We are now using SDK version 7.15.0
iPhones: iOS 16.0.0
iPads: iPadOS 15.3.0, 15.5.0
<img width="440" alt="OnPhone – SentryCrashMonitor_CPPException cpp line 171 – Firebase console 2022-07-19 15-05-49" src="https://user-images.githubusercontent.com/9890652/179735919-f8ed6346-795d-47b7-91a0-fccf594c73e9.png">

But the crash reason in Firebase Console is different

[2022-07-19 18:48] bruno-garcia commented on #1661
Can we convert stack traces coming from MetricKit into Sentry events?

[2022-07-19 20:30] davidrothera opened #1990 "Compilation fails when Address Sanitizer enabled"
### Platform

iOS

### Installed

Swift Package Manager

### Version

7.21.0

### Steps to Reproduce

* Enable Address Sanitizer on build
* Try to build
* Observe compilation fails with:
[code]

Simple repro at https://github.com/davidrothera/CrashTest with ASAN enabled

### Expected Result

Compilation works

### Actual Result

Compilation fails

[2022-07-19 20:33] bruno-garcia commented on #1990
Does it work on the latest? 7.21.0?

[2022-07-19 20:40] davidrothera commented on #1990
Sorry I got the versions wrong:

* Working: `7.20.0`
* Broken: `7.21.0`

[2022-07-19 20:50] filip-doordash commented on #1661
I'd love it if this is possible.

I wrote up a [state of the union of what MetricKit](https://docs.google.com/document/d/1Vkspgu8qOG86xwG80uo1Z3wPp8WMgLvm0ornDDt97VU/edit?usp=sharing) provides and what gaps/holes we currently do not track. Please let me know how we could best proceed 👍

[2022-07-20 07:20] philipphofmann commented on #1786
Docs PR https://github.com/getsentry/sentry-docs/issues/5215

[2022-07-20 08:39] philipphofmann commented on #1661
Thanks a lot, @filip-doordash, for sharing your document.

I took a look at the [`MXCrashDiagnostic`](https://developer.apple.com/documentation/metrickit/mxcrashdiagnostic?language=objc). The [`MXCallStackTree`](https://developer.apple.com/documentation/metrickit/mxcallstacktree?language=objc) has one field [`JSONRepresentation`](https://developer.apple.com/documentation/metrickit/mxcallstacktree/

[2022-07-20 09:17] philipphofmann commented on #1986
Thanks for opening the issue, @tonyarnold. This is a duplicate of https://github.com/getsentry/sentry-cocoa/issues/1780. Let's continue the discussion there.

[2022-07-20 09:17] #1986 closed

[2022-07-20 10:03] philipphofmann commented on #1990
Thanks for reporting this, @davidrothera. I can reproduce this with your sample project and have to look into what's causing this. I'm surprised that our CI didn't catch this.

[2022-07-20 10:04] davidrothera commented on #1990
It took me a while to catch it myself as it's not super clear what causes it and I wasn't seeing it in all projects or in all build modes and it wasn't until I went over them with a magnifying glass that I remembered I had ASAN enabled the one which was failing.

I'm guessing most of your CI projects don't have ASAN enabled.

[2022-07-20 12:30] bruno-garcia commented on #1990
If we enable it in one of our samples, would that do the job @philipphofmann @bruno-garcia ?

[2022-07-20 12:34] kevinrenskers commented on #1912
@philipphofmann You explained the thinking behind this last week but now that I am looking into this, I am not sure how you wanted this to work.

- We want to add a span for every slow or frozen frame to the transaction, right?
- `frameTimestamps` contains the `start_timestamp` and `end_timestamp` of any slow or frozen frame. But how do we know if the frame was slow or frozen? If I loop over `fram

[2022-07-20 13:24] sindresorhus commented on #1533
I'm still seeing this: https://sentry.io/organizations/sindresorhus/issues/3410158760/events/5107abe27a2048b5bbf0aef1aa889195/

[2022-07-20 13:24] philipphofmann commented on #1973
We already have support for support for fatalError, assert, precondition with  https://github.com/getsentry/sentry-cocoa/issues/662.

[2022-07-20 14:07] philipphofmann commented on #1990
Yep, it's related to https://github.com/getsentry/sentry-cocoa/blob/678172142ac1d10f5ed7978f69d16ab03e801057/Sources/Sentry/SentrySysctl.m#L14-L20

I just removed this code, and it compiles again. I wonder why that is.

We have ASAN enabled in CI for the Sentry project, but not for the samples. Enabling it for our sample projects doesn't fail the build.

Maybe we can use
[code]
Instead of the `__m

[2022-07-20 18:12] filip-doordash commented on #1661
I don't think I'd want to utilize MetricKit for [MXCrashDiagnostic](https://developer.apple.com/documentation/metrickit/mxcrashdiagnostic?language=objc). I think our primary targets are:

* [MXHangDiagnostic](https://developer.apple.com/documentation/metrickit/mxhangdiagnostic)
* [MXDiskWriteExceptionDiagnostic](https://developer.apple.com/documentation/metrickit/mxdiskwriteexceptiondiagnostic)
*

[2022-07-21 07:25] #1972 closed

[2022-07-21 07:52] philipphofmann commented on #1661
Thanks for clarifying that, @filip-doordash. Yes, the items you mentioned totally make sense, and the 24 to 48 hour delay won't be a huge deal for these.

[2022-07-21 11:13] lukeredpath commented on #1442
@philipphofmann is there any plans to revisit this, or my PR? To this day we are having to run a fork of the SDK with my changes because if this issue which is a maintenance headache I'd rather not have.

[2022-07-21 11:53] #1665 closed

[2022-07-21 16:00] bruno-garcia opened #1994 "Propagated `sentry-trace` should include correct parent span id"
### Platform

iOS

### Installed

Swift Package Manager

### Version

all

### Steps to Reproduce

Make a call from the iOS SDK to a backend.

### Expected Result

The parent of the server transaction is the span that created the request, and not the root span (`ui.load`)

### Actual Result

![image](https://user-images.githubusercontent.com/1633368/180260026-d7a21afc-14d9-451f-baea-1fe3f8f01a1f.p

[2022-07-22 09:47] rickclephas opened #1999 "Improve support for Kotlin Native"
### Problem Statement

I have been [playing](https://github.com/rickclephas/NSExceptionKt/blob/20bd9e2ee0a163ddfb5cccb258ed94c4ff720200/nsexception-kt-sentry/README.md) with Sentry in a Kotlin Multiplatform iOS app.

So far I have been able to successfully log a fatal Kotlin exception.
However it currently requires using a lot of private APIs.

### Solution Brainstorm

 To convert a Kotlin `Except

[2022-07-22 10:59] kevinrenskers opened #2000 "UI Test testSplitView fails on iOS 12"
### Description

`testSplitView` keeps failing locally. This is how it looks like on iOS 12 vs iOS 15:

<img src="https://user-images.githubusercontent.com/229384/180423682-7a12133c-6d13-4c2b-b155-583aa86e8bbc.png" width="45%" /> <img src="https://user-images.githubusercontent.com/229384/180423687-9416b3ef-4ff6-4425-9536-afd77d2b9573.png" width="45%" />

I'm also getting literally endless errors i

[2022-07-22 11:01] kevinrenskers commented on #2000
See also https://github.com/getsentry/sentry-cocoa/issues/1566 I guess?

[2022-07-22 12:50] philipphofmann commented on #2000
Thanks for adding this info to this issue, @kevinrenskers. As a workaround, we could disable profiling on iOS 12 for now to make the tests stable again. @indragiek, it seems like https://github.com/getsentry/sentry-cocoa/pull/1978 could break things on iOS 12. How bad is that for profiling?

[2022-07-22 14:06] buenaflor opened #2001 "removeNonSdkFrames behaves incorrectly if the os's user name is sentry"
### Platform

iOS

### Installed

CocoaPods

### Version

7.21.0

### Steps to Reproduce

Additional frames in the stacktrace from kotlin using [this repo](https://github.com/rickclephas/NSExceptionKt) results in those frames being dropped by removeNonSdkFrames due to the macbook's user being sentry

Example:
```obj.package = /Users/sentry/Library/Developer/CoreSimulator/Devices/081997B2-D114-42E8

[2022-07-22 14:09] bruno-garcia commented on #2001
Is that something you can open a PR @buenaflor ?

Maybe we match `sentry` but not under `/Users/sentry` or something?

To be honest I'm not sure why we remove these frames, should we just keep them but mark them as InApp=false?

[2022-07-25 08:44] brustolin commented on #1999
Hey @rickclephas thanks for this. It looks like a nice use case. We gonna look into it.

[2022-07-25 10:00] #1911 closed

[2022-07-25 10:01] #1851 closed

[2022-07-26 06:44] brustolin commented on #1994
We could try to use associated object to store span id into the request

[2022-07-26 12:09] bruno-garcia opened #2005 "Add `transaction` to scope"
SDKs allow for setting a transaction name to the scope. This goes out in error events and help identify where an event comes from:

https://docs.sentry.io/platforms/android/enriching-events/transaction-name/

[2022-07-27 03:12] lhunath commented on #1661
I mainly see this as augmenting what's already available; eg. supplying breadcrumbs for CPU exceptions/disk errors/hang/app exit/cellular condition events, adding battery/CPU/GPU/memory/IO gauges, improving Sentry performance metrics with app launch times/FPS/animation performance.

[2022-07-27 16:49] tustanivsky opened #2010 "SDK version is not displayed in dashboard"
### Description

In sentry-unreal (Sentry plugin for Unreal Engine) we're using sentry-cocoa internally for crash capturing on iOS. After updating it to version 7.22.0 I've noticed that the SDK version is not displayed in dashboard anymore.

A similar issue was confirmed for sentry-unity as well.

![unknown](https://user-images.githubusercontent.com/3168564/181304216-a0dcc834-be73-4716-9a9e-a66b48

[2022-07-27 23:50] indragiek commented on #2000
@philipphofmann @kevinrenskers Sorry for the slow response - I'm working on a fix for this and will have it up soon!

[2022-07-27 23:59] indragiek commented on #2000
https://github.com/getsentry/sentry-cocoa/pull/2013 is the fix

[2022-07-28 08:05] brustolin commented on #2010
Hello @tustanivsky, thanks for the input, we will investigate this.

[2022-07-28 12:11] #1990 closed

[2022-07-28 12:13] philipphofmann opened #2017 "Fix flaky testDefaultMaxEnvelopesConcurrent"
### Description

The test is flaky and disabled for now.

[2022-08-01 07:00] #2000 closed

[2022-08-01 07:12] kevinrenskers opened #2026 "Investigate app permission checks from extensions"
### Description

In #1984 we added app permissions to the event payload, but we only do this when running in the main app. Let's investigate if we can remove that limitation and also run this in extensions. Need to make sure it won't cause crashes.

[2022-08-01 12:40] marandaneto opened #2029 "Support source code context"
### Description

By default, source code context isn't uploaded if using `sentry-cli upload-dsym`.
Docs: https://docs.sentry.io/platforms/apple/guides/ios/dsym/

If this works on iOS, we need to patch the docs to use `upload-dif` with `--include-sources`
We likely need to patch https://github.com/getsentry/sentry-fastlane-plugin/ to support this flag too.
`include-sources` should be opt-in similar

[2022-08-01 22:09] mattjohnsonpint opened #2031 "How to use with Mac Catalyst"
### Description

I see several mentions of Mac Catalyst in the repo, docs, and issues, so I believe it should be supported, but I don't see a folder with the `maccatalyst` platform variant in the xcframework.zip of the release.

Some background: I'm working on adding iOS bindings to the Sentry .NET SDK.  .NET has a separate target for `net6.0-ios` and `net6.0-maccatalyst`.  I have it working for i

[2022-08-02 13:37] #1014 closed

[2022-08-02 13:40] brustolin commented on #2031
AFAIK maccatalist is an iOS build with support to run on Mac. So, still building for iOS, but different settings.

[2022-08-02 14:22] mattjohnsonpint commented on #2031
Agreed, but if I just use the iOS versions that are currently built then I get that linker error (`"ld: building for Mac Catalyst, but linking in dylib built for iOS Simulator"`) - so I believe there's something that has to be done at build time to support this variant.

[2022-08-02 15:09] bruno-garcia opened #2035 "`user.id` should be nullable"
### Description

The spec defines all fields to be optional: https://develop.sentry.dev/sdk/event-payloads/user/

But we have the `id` to be non-nullable:

https://github.com/getsentry/sentry-cocoa/blob/398f6b24ebd37db618feb74cfb3643e3ff3d003d/Sources/Sentry/Public/SentryUser.h?rgh-link-date=2022-08-02T05%3A25%3A41Z#L12

This means we end up having to pass an empty string as `id` if we want to sen

[2022-08-02 15:11] mattjohnsonpint commented on #2035
I think perhaps this was missed in #201?

[2022-08-02 15:23] mattjohnsonpint commented on #2035
As a workaround, I can avoid setting an empty string by just never setting the userid in case of null.

If I understand correctly, null (or `nil` rather) is the default the is being used anyway and we're just missing the `_Nullable` annotation.

[2022-08-02 22:02] armcknight commented on #1980
What is the rationale to do this client side vs server side?

[2022-08-02 23:14] lhunath commented on #1980
do you need access to the runtime for reflection? I wouldn't expect so.

[2022-08-03 12:10] shwetashendage opened #2037 "Support two instances of sentry"
### Problem Statement

Hi Guys,
I want to send an event to two different Sentry dashboards using single application. How can I configure two instances of Sentry with different DSNs.

### Solution Brainstorm

_No response_

[2022-08-03 21:00] #999 closed

[2022-08-04 07:14] #1534 closed

[2022-08-04 07:37] brustolin commented on #1980
Flexibility. We don't need to wait for a server side update every time we use a class name in a description or extra information.

Local log during debug.

And @bruno-garcia mentioned something about this being necessary for Dynamic Sampling.

 Nope. The mangled name has a logic, we just need to parse it.

 You can follow all the findings in this PR #2033

[2022-08-04 07:41] brustolin commented on #2037
Hey @shwetashendage. Thanks for your input. Right now is not possible to use two different DSNs at the same time.

[2022-08-04 08:08] brustolin commented on #1168
Hi. I really sorry I didn't follow up on your question. NSURLProtocol gives you the opportunity to catch any request before they are send and do whatever you want. But I dont have any example of this.

[2022-08-04 09:43] ZeroOnet opened #2039 "Repeated SentryDebugMeta name"
### Platform

iOS

### Installed

CocoaPods

### Version

7.10.2 Self-hosting

### Steps to Reproduce

With the stacktrace as follows:

![image](https://user-images.githubusercontent.com/20768739/182817115-1fe7fb86-5f92-432a-8bbd-c0bc31afd084.png)

I customize my stacktrace to SentryEvent:

[code]

### Expected Result

Stacktrace of event is my custom with correct format.

### Actual Result

![ima

[2022-08-04 10:59] shwetashendage commented on #2037
I believe it is feasible in Android. See https://github.com/getsentry/sentry-java/issues/993
Can we not achieve the same thing in iOS?

[2022-08-04 13:41] brustolin commented on #2039
Hey @ZeroOnet thanks for open this. We need to investigate it a little bit and then we get back to you.

But first, have you tried to update the SDK?

[2022-08-04 14:03] brustolin commented on #2037
Well. Theoretically you can manually create a SentryHub with a SentryClient with different options than you can manually send events to different DSNs. But this way you lose all the automatic stuff like errors and crashing reports, automatically transactions and breadcrumbs.

This is only for manually created events.

[2022-08-04 14:09] #1696 closed

[2022-08-05 03:26] ZeroOnet commented on #2039
I tried to update SDK to 7.23.0, this problem is still here.

[2022-08-05 07:43] kevinrenskers opened #2043 "Clean up SentryOptions integration"
We should clean up `SentryOptions` and get rid of `enabledIntegrations`, `disabledIntegrations`, `defaultIntegrations` and `integrations`. All that `enabledIntegrations` is used for is for sending a list to Sentry, but we already have a list of enabled integrations: `SentrySDK.currentHub.installedIntegrations`.

`defaultIntegrations` should be moved to `SentrySDK`, and can just be named `integrati

[2022-08-05 12:09] bruno-garcia commented on #2043
@kevinrenskers please remove the Untriaged label after creating an issue.

Worth noting w e might add some integrations after "start" is called so the collection should be COW or another safe way to give us mutability concurrently

[2022-08-05 18:34] bruno-garcia commented on #1897
To sum up: latest sdk version doesn't send bogus app start anymore. The startup time metric is accurate. It doesn't send pre warn info yet. It's the last pending feature we want to add to this.

[2022-08-07 07:12] m-kuhn commented on #1062
I have created a CMake project that makes it possible to build as a static library.
If there is interest in this I can make that available.

[2022-08-08 14:08] brustolin opened #2048 "TraceId not sent with error"
### Description

@thinkocapo Reported that, during his tests, trace_id was not transmitted with the error event.

![image](https://user-images.githubusercontent.com/28265868/183438157-35538bea-3fd5-45a4-8551-ac31fe7573cc.png)

Javascript equivalent [code](https://github.com/sentry-demos/application-monitoring/blob/master/react/src/components/Checkout.js#L63-L80) that do the same.

[2022-08-08 14:10] brustolin commented on #2048
@kevinrenskers Can you check this for us after your current task please?

Thanks!!

[2022-08-08 14:11] kevinrenskers commented on #2048
Yup

[2022-08-09 05:47] jaroslavas commented on #1892
So, is there a plan to fix it before bot closes the issue? :)

[2022-08-09 07:19] brustolin commented on #1892
Yes, we definitely plan to fix this. We had a minor set back that delayed this, but we're working to have it fixed.

[2022-08-09 09:02] kevinrenskers commented on #2048
I believe this is the exact thing we actually *want* to happen. When you look back at https://github.com/getsentry/sentry-cocoa/issues/1827, they were getting errors with the *wrong* trace ID, and that was because of user error: they were not binding the transaction to a scope. We fixes it on our end by removing the trace ID in the case of such a user error.

The real fix is for them to fix their

[2022-08-09 09:04] kevinrenskers commented on #2048
@thinkocapo does that help you? Is it clear that you need to bind the transaction of making a purchase to the scope?

[2022-08-09 09:27] brustolin commented on #2048
We figure it this out. The sample app is finishing the transaction before the HttpRequest callback is called.

[2022-08-09 09:27] #2048 closed

[2022-08-09 11:48] bruno-garcia commented on #1892
As the message says we need a backlog label to avoid the stale bot

[2022-08-09 11:49] kevinrenskers commented on #2043
SentryAppStartTrackingIntegration and SentryFramesTrackingIntegration are both controlled by `enableAutoPerformanceTracking`, which seems fine. No need to split that into two new options.

[2022-08-09 12:26] brustolin opened #2050 "Create more logs for automatic transactions"
### Description

We need more debug log for automatic transactions such as UIVIewController life cycle, network request, IO and Core Data.

This will help us during customer support. We need to know when a automatic transaction started, ended and what other automatic spans were created in between.

Network request, IO and Core Data spans relies on some transaction being bound to the scope, we migh

[2022-08-09 12:44] bruno-garcia commented on #2050
SDKs like [Flutter](https://docs.sentry.io/platforms/flutter/configuration/options/#diagnostic-level), [.NET](https://docs.sentry.io/platforms/dotnet/configuration/options/#diagnostic-level) and [Android/Java](https://docs.sentry.io/platforms/android/configuration/options/#diagnostic-level) have DiagnosticLevel

In .NET you can even swap out the Sentry SDK diagnostic logger, to print to a file or

[2022-08-09 12:50] kevinrenskers commented on #2043
It's not possible to change the installed integrations after start is called - that is not possible currently, and won't change with this new PR. The installed integrations are immutable after the SDK has started.

[2022-08-09 12:57] brustolin commented on #2050
Cocoa has diagnosticLevel, but the default is already debug.

[2022-08-09 14:49] bruno-garcia commented on #2050
That's OK, but users can raise the level to warn if `debug` is too spammy. But for us to get logs from them to debug issues, we can get the default, verbose level.

[2022-08-09 16:01] MaxHasADHD opened #2052 "AFNetworking swizzle breaking Xcode localization setting"
### Platform

macOS

### Installed

Swift Package Manager

### Version

7.23.0

### Steps to Reproduce

1. Create a new project, add Sentry with Swift Package Manager and add the setup code in your Main file of the project.
2. Add a Localizable.strings file, and add a string. `"Key" = "Value";`
3. In your main view, for a SwiftUI app, add `Text("Key")`
4. Edit the current scheme, go to Options and

[2022-08-09 18:10] armcknight opened #2053 "Can we remove line 7 from MAKEFILE?"
Can we remove line 7 from MAKEFILE?
[code]

It makes init unnecessary long f0r SDK development.

_Originally posted by @brustolin in https://github.com/getsentry/sentry-cocoa/issues/2025#issuecomment-1207772947_

[2022-08-09 18:10] armcknight commented on #2053
We can put this behind a separate makefile task like `make init-samples`

[2022-08-09 18:22] bruno-garcia commented on #2053
When skipping the template, please add `Platform: Cocoa` so it shows up on the GH project and we can discuss on our weekly sync (in case no one replied already due to notifications)

[2022-08-09 18:27] armcknight commented on #2053
👍🏻 FWIW, I tried this for the first time, which doesn't pre-populate the issue template 😞 :
<img width="249" alt="image" src="https://user-images.githubusercontent.com/3241469/183733927-aeb9b504-2dc7-41da-9b97-75d517f88ff7.png">
<img width="633" alt="image" src="https://user-images.githubusercontent.com/3241469/183733964-648f02d1-f1b0-4fb1-acb4-94e3381b9031.png">

Guess I won't use that again 😅

[2022-08-09 22:43] amonshiz opened #2054 "Setting timestamp on SentryTracer causes traces to fail to submit"
### Platform

macOS

### Installed

Swift Package Manager

### Version

7.23.0

### Steps to Reproduce

1. Open new transaction with `SentrySDK.startTransaction`
2. Begin and end some subspans
3. Set `timestamp` on transaction
4. Call `finish` on transaction

In our case we are keeping the transaction and all subspans in a collection of `Sentry.Span` that we operate on via that interface and do no

[2022-08-10 06:17] muizidn opened #2057 "Unrecognized platform name macCatalyst"
### Platform

iOS

### Installed

CocoaPods

### Version

7.23.0

### Steps to Reproduce

1. Create Standard iOS Project
2. Import Sentry using CocoaPods

[code]

3. Build project using Swift 5.5.1. I use Xcode Version 13.4.1 (13F100) with Toolchain: Swift 5.5.1 Release 2021-10-25 (a)

### Expected Result

Project built successfully.

### Actual Result

![Screen Shot 2022-08-10 at 13 16 26](https:

[2022-08-10 06:38] bruno-garcia commented on #2057
@mattjohnsonpint mayr not a Maui thing, it's not really there for Apple in general

[2022-08-10 06:38] bruno-garcia commented on #2057
@muizidn thaboabfor raising. We need to dig.

[2022-08-10 07:00] brustolin commented on #2054
Hello @amonshiz thanks for report this. We actually use the setTimestamp internally in the SDK, we never saw a problem with this. Can you provide a minimum repro? It would help a lot to investigate this. Thanks again!!!

[2022-08-10 09:18] kevinrenskers commented on #2057
I can't reproduce this with Xcode 13.4.1 (13F100) using the standard toolchain. I then downloaded the Swift 5.5.1 (2021-10-25) toolchain from https://www.swift.org/download/ and yeah then I get the same error. Same for Swift 5.5.3.

Just curious: is there a reason you're using Swift 5.5 instead of 5.6?

[2022-08-10 09:26] #2043 closed

[2022-08-10 10:04] #1772 closed

[2022-08-10 10:10] brustolin opened #2062 "Fix SentryTests.SentrySessionTrackerTests Flaky tests"
### Description

This tests are really flaky right now.

[2022-08-10 10:45] #2057 closed

[2022-08-10 10:58] brustolin commented on #2054
This may be related to #2059. @amonshiz Can you try this now with the master branch?

[2022-08-10 13:04] brustolin commented on #1994
This is already done.

[2022-08-10 13:26] brustolin commented on #2031
@bruno-garcia Any idea about this?

[2022-08-10 13:32] brustolin commented on #2039
Hey @ZeroOnet, can you provide a repro? I could not reproduce this.

[2022-08-10 14:59] amonshiz commented on #2054
Will do!

[2022-08-10 15:14] amonshiz commented on #2054
Just tested this change and it seems to address our issue. Thank you for the fast turn around!

[2022-08-10 15:14] #2054 closed

[2022-08-10 20:46] mattjohnsonpint commented on #2031
FYI - the code in https://github.com/Carthage/Carthage/pull/3235  gives me what I need when I ask it to package just the macCatalyst platform.  However, it bombs with various errors if I try to run it against all platforms we need.  I guess it's not quite ready to merge into Carthage.

However, I can still use it as a workaround for now, by updating the makefile (locally) to use both versions

[co

[2022-08-10 20:48] mattjohnsonpint commented on #2031
The resulting output folder after the workaround looks like this:

<img width="320" alt="image" src="https://user-images.githubusercontent.com/1396388/184017052-9f41bfe3-d1ba-4731-91fa-01766ff6bef4.png">

The `Info.plist` contains all the usual stuff, plus now this:

[code]

[2022-08-11 02:40] ZeroOnet commented on #2039
Our sentry server is self-hosting with version 21.11.0.

The json of event from sentry server: [demo.json.zip](https://github.com/getsentry/sentry-cocoa/files/9305653/demo.json.zip).

 Package of backtrace frame is always `libsystem_pthread.dylib`, but `code_file` of debug image is correct.

[2022-08-11 02:55] ZeroOnet commented on #2039
Our sentry server is self-hosting with version 21.11.0.

The json of event from sentry server: [demo.json.zip](https://github.com/getsentry/sentry-cocoa/files/9305653/demo.json.zip).

Package of backtrace frame is always libsystem_pthread.dylib, but code_file of debug image is correct. The reason of this issue may be sentry server sdk mistake rather than sentry cocoa sdk.

[2022-08-11 08:26] brustolin commented on #2052
Hello @MaxHasADHD. Thanks for this.

Indeed I was able to reproduce the problem.

Since the "Double-length pseudolanguage" is meant for tests purpose, while testing you can disable `enableNetworkTracking` and `enableNetworkBreadcrumbs` in you Sentry options.

[2022-08-11 08:31] brustolin commented on #2052
The permanent solution for this is easy, we just need to postpone the swizzling of `URLSessionTask` for the end of the main loop with a `dispatch_async`.

The side effect is that we may loose some requests being done at the initialization of the app, like inside `appDidFinishLaunch`

[2022-08-11 08:53] Shiaulis opened #2065 "App required to have NSAppleMusicUsageDescription key in Info.plist"
### Platform

iOS

### Installed

CocoaPods

### Version

7.23.0

### Steps to Reproduce

With latest Sentry version our app cannot pass check during upload in Appstore Connect since we do not have `NSAppleMusicUsageDescription` in `Info.plist` file so we needed to revert to previous Sentry version:

Is it suppose to work like that? Do you expect your customers to add this key?

### Expected Resul

[2022-08-11 09:08] brustolin commented on #2065
Hey @Shiaulis We definitely not expect the user to add this key. We check for permission, but we dont try to request permission.
It's odd to me that apple doesn't even allow to check whether the permission exists. We gonna rollout this change.

Thanks for letting us know this.

[2022-08-11 09:15] kevinrenskers commented on #2065
The SDK reads `MPMediaLibrary.authorizationStatus`, which normally should not require that key to present. After all, we're not actually requesting authorization. But it seems App Store Connect's automatic checks have a different opinion. We need to revert this feature. Sorry for the inconvenience!

[2022-08-11 09:46] kevinrenskers commented on #2065
@Shiaulis when did you get that error? When you uploaded your archive to App Store Connect? Or when you submitted the app for review?

I just uploaded a small sample app that includes the Sentry SDK to App Store Connect, and I did not get any errors 🤔

[2022-08-11 09:54] Shiaulis commented on #2065
we uploading our builds every day and starting from Monday when we updated our sentry to latest release we receive this error i've mentioned earlier on uploading build. So I cannot even see the build in list of uploaded builds. As soon as I reverted latest Sentry version, upload were successful without any errors

[2022-08-11 09:56] Shiaulis commented on #2065
Maybe Appstore has different level of checks for your sample app and our app? 🤔

[2022-08-11 09:57] kevinrenskers commented on #2065
Maybe a silly question, but did you try uploading it a second time when you got that error?

Could you please try to update the SDK again and upload a build? I'm really curious if that error you got was a fluke, as I am not able to reproduce it.

[2022-08-11 09:57] Shiaulis commented on #2065
@kevinrenskers i had about 5-6 failed attempts to upload

[2022-08-11 10:02] Shiaulis commented on #2065
Okay I will try once more with latest changes to upload once more. Is it possible that we had some version of SDK between releases? I wonder is it possible for us to rely only on release commits?

[2022-08-11 10:07] kevinrenskers commented on #2065
When you upload your build, do you have Bitcode and "strip Swift symbols" both selected?

[2022-08-11 10:11] Shiaulis commented on #2065
bitcode disabled, strip symbols enabled

[2022-08-11 10:18] kevinrenskers commented on #2065
I can add this code directly to my sample app:

[code]

Without adding any kind of permission key in the Info.plist file:

![Screen Shot 2022-08-11 at 12 08 13](https://user-images.githubusercontent.com/229384/184111371-79c8807c-ae82-4ab2-9f68-12b945b2f705.png)

Uploading the archive goes without a hitch, the build finished processing on App Store Connect. Of course I can't actually submit the sam

[2022-08-11 10:25] kevinrenskers commented on #2065
With bitcode disabled or enabled, both upload fine.

[2022-08-11 10:28] kevinrenskers commented on #2065
I'm not sure how you are integrating the SDK? If you use the master branch then yeah that is possible, but normal releases are immutable. So if you use Cocoapods or Carthage or SPM and stick to release numbers, you shouldn't get a weird in between version :)

[2022-08-11 10:34] kevinrenskers commented on #2065
For now I would advice you to simply add that `NSAppleMusicUsageDescription` key with a dummy text (something like "we don't actually need permission" or whatever). I think that would be the quickest route to new builds with an up-to-date SDK.

In the meantime we can investigate this issue more and see if anyone else is seeing the same problem.

[2022-08-11 10:36] ZeroOnet commented on #2039
DemoCode:
[code]

SentrySDK console log:
![image](https://user-images.githubusercontent.com/20768739/184115050-f30a1a3c-486a-42b6-9778-b27038accbfe.png)

Sentry server event:
![image](https://user-images.githubusercontent.com/20768739/184115129-1138df4b-b0ab-44e0-adf0-7500daf91a35.png)

Sentry server event json:

[demo.json.zip](https://github.com/getsentry/sentry-cocoa/files/9307990/demo.json.zip

[2022-08-11 10:45] Shiaulis commented on #2065
Regarding distribution looks like we were relying on your latest master instead of latest stable version. And I assume it was the core of the issue that we have. I still will check on your latest master if everything works well, but for now I will change the way we pick your changes and will rely only on latest stable version instead

[2022-08-11 11:08] Shiaulis commented on #2065
@kevinrenskers
still received the same issue on commit a8a2317be9af05f5cc50bcc458edeffb5248d9c7
<img width="677" alt="image" src="https://user-images.githubusercontent.com/13601748/184120343-3402fbde-633d-42c4-883d-fe3a82342546.png">

[2022-08-11 11:10] Shiaulis commented on #2065
For us we fixed this by relying on latest stable Sentry version that doesn't have this issue

[2022-08-11 11:13] kevinrenskers commented on #2065
Right, 7.23.0 doesn't include this feature yet. We'll make sure to thoroughly investigate this before creating a new release. Thanks for the info!

[2022-08-11 16:20] mattjohnsonpint commented on #2031
FYI, I found the cause of the error I mentioned earlier.
https://github.com/Carthage/Carthage/pull/3235#pullrequestreview-1069986893

[2022-08-11 16:34] mattjohnsonpint commented on #2031
So at this point, all we need is for the Carthage PR to be merged and released, then we need to update to that version of Carthage for the following version of Sentry Cocoa.

If anyone has the time & skills to help @NachoSoto finish that up, that would be much appreciated.  Thanks!

[2022-08-11 16:52] zoesyc opened #2066 "Mobile Vitals Expansion for iOS"
### Problem Statement

Sentry currently presents 4 metrics for mobile developers. What we want to do is expand that to include additional measurements to help developers track their app's performance.

### Solution Brainstorm

We are looking to include:

- Memory Utilization
- CPU Utilization
- FPS
- Battery level
- Internal/ available storage

[2022-08-11 18:41] NachoSoto commented on #2031
It's just a matter of spare time. But if there's motivation and the need to wrap that up, and I can get help with testing, I could get it done. The main blocker is that I believe that branch breaks non-xcframeworks.

[2022-08-12 02:31] muizidn commented on #2057
Yup. The reason is that I need to downgrade toolchain because a main third party sdk requires me to use Swift 5.5.1. Need to wait for long before they can rebuild using newest swift. Bureaucracy thing 🙈. They deliver the sdk in binary framework.

[2022-08-12 07:20] kevinrenskers commented on #1865
@brustolin I really don't understand this one. Philip tried to explain it to me but maybe you can try to explain it?

[2022-08-12 07:47] brustolin commented on #1865
For sure. We talk about this in a meeting next week ;)

[2022-08-12 10:11] kevinrenskers commented on #2065
Hey @Shiaulis, I spoke to Apple about this issue, about whether or not us reading `MPMediaLibrary.authorizationStatus` would trip up any checks, and if this indeed requires that purpose string to be present. He's pretty much convinced it can't be the SDK:

I explained that the issue went away when you downgraded the Sentry SDK, so it can't be another SDK at fault here. I have 2 questions for you:

[2022-08-12 10:13] kevinrenskers commented on #2065
Actually, a third question. In [this comment](https://github.com/getsentry/sentry-cocoa/issues/2065#issuecomment-1211844093) you posted the error you received, and that seems to be an email. When exactly did you get this? Not during the actual upload and validation of the build to App Store Connect, or it would be an error within Xcode. Do you get it after the build is processed? When you make it

[2022-08-12 11:26] Max-Job commented on #2065
I got this error today too when trying to submit an app to testflight.

Sentry 7.23.0

[2022-08-12 11:28] kevinrenskers commented on #2065
Sentry 7.23.0 doesn't include the feature yet where we read `MPMediaLibrary.authorizationStatus`, so I am not sure this is related to the SDK? Could you ask the App Review technical investigations team to look into this?

[2022-08-12 11:38] #2035 closed

[2022-08-12 12:13] Shiaulis commented on #2065
@kevinrenskers
1. The only thing I revert was Sentry. And the error is gone.
2. Sorry, not sure if I have time to open an incident with apple
3. This error was received to my email. Usually I receive them if anything wrong with particular build i'm trying to upload.

@Max-Job Can you check what commit of Sentry library did you have? Currently our app contains version 7.23.0 with commit a0d4563fa4d

[2022-08-12 12:27] Max-Job commented on #2065
@Shiaulis
Not sure how I can figure out a specific commit. This is how I install the dependency:
```pod 'Sentry', :git => 'https://github.com/getsentry/sentry-cocoa.git', :modular_headers => true```

After installation in podfile.lock:
[code]

[2022-08-12 12:28] kevinrenskers commented on #2065
Yeah that is just the 7.23.0 release 👍

[2022-08-12 12:31] Max-Job commented on #2065
I added the tag and the build loaded and is now available in testflight

 :tag => '7.21.0'

[2022-08-12 12:36] Shiaulis commented on #2065
Well, before we had in our Podfile such line

and target commit was f895f1b333e9cea6417e6d32284528a0896d66e4

Now I've removed git link to your repo and cocoapods just referencing the last stable version

[2022-08-12 12:40] Max-Job commented on #2065
And did it work? Did this solve the problem?

[2022-08-12 12:56] Shiaulis commented on #2065
Latest successful build was from this commit https://github.com/getsentry/sentry-cocoa/commit/29fe66621dfa7e0207f186bdb1d0f54420d0fa11
Later today I will be able to try upload with release version

[2022-08-12 13:23] Shiaulis commented on #2065
@Max-Job  Latest upload with this release works well
[code]

[2022-08-12 13:28] kevinrenskers commented on #2065
@Max-Job gets the error with the 7.23 release
@Shiaulis does not get the error with the 7.23 release, but does get it with the master branch

I don't think we can pinpoint the exact reason behind this problem until one or both of you involves the App Review technical investigations team, or until we can trigger the same error with a sample app (which we haven't been able to do so far).

[2022-08-15 06:45] markuswahl-2 commented on #1852
Hi Philipp! I was away from keyboard during the summer. I am back now. Have you had some insight into this?

Best regards

[2022-08-15 09:08] kevinrenskers commented on #2065
I've added sentry-cocoa to a real app (using the master branch), and it uploaded without errors, and it just finished processing as well. No errors. Same with one of our sample apps; it all uploads and processes just fine.

According to my conversation with Apple, our checking of `MPMediaLibrary.authorizationStatus` doesn't need the purpose string and shouldn't trigger any errors from App Store Co

[2022-08-15 09:18] kevinrenskers commented on #2065
Yeah but what's on the master branch will become the next release version of course. And it's the master branch that is triggering the error for you (but only you, so far).

[2022-08-15 09:27] Shiaulis commented on #2065
can it be that only we are affected just because the rest of apps are relying on latest stable release?

[2022-08-15 09:37] kevinrenskers commented on #2065
That is our fear. That once we create a new release, that we'll get many more reports. On the other hand I've now uploaded 6 builds across 2 apps with the master branch of sentry-cocoa and never get any errors, and Apple assures me it can't be our code. I'm pretty sure it's a bug in App Store Connect's validation, but we'll never find out for sure until someone challenges this error.

Our other op

[2022-08-15 09:39] Shiaulis commented on #2065
I will keep TSI in my backlog 🙂 And maybe @Max-Job will also have time to file TSI 🙂

[2022-08-15 11:17] kevinrenskers commented on #2017
I ran `testDefaultMaxEnvelopesConcurrent` repeatedly (1000 times) without failure, and ran the entire test class `SentryFileManagerTests` repeatedly (100 times) without failure as well. Not sure there is an actual problem? Going to create a PR so that I can see what happens on CI.

[2022-08-15 12:14] kevinrenskers opened #2073 "Look into tvOS tests"
### Description

We're getting a whole bunch of test failures on tvOS, really often. And rerunning the failing tests always fixes it (sometimes you need to do it more than once though). Why is this so unreliable? How can we improve this? Why are tests not automatically retried? Is GitHub really the best CI platform for this?

When I say "a whole bunch", I mean that: it's usually 57 failures. This

[2022-08-15 12:16] kevinrenskers commented on #2073
All the tests are in SentrySessionTrackerTests btw

[2022-08-15 12:18] kevinrenskers commented on #2073
Closing as duplicate of #2062

[2022-08-15 12:18] #2073 closed

[2022-08-15 12:32] kevinrenskers commented on #2062
It happens especially often on tvOS it seems, and rerunning the failing tests always fixes it (sometimes you need to do it more than once though). Why is this so unreliable? How can we improve this? Why are tests not automatically retried? Is GitHub really the best CI platform for this?

It's usually 57 failures. This happens both in "Unit tvOS - Xcode 13.2.1 - OS latest" and "Unit tvOS - Xcode 12

[2022-08-15 12:47] kevinrenskers commented on #2062
Running them repeatedly (100 times) locally, for both iOS and tvOS, and everything is fine. I really do wonder why it's so bad on GitHub's CI.

[2022-08-15 19:31] armcknight commented on #2065
I wonder if it's because we're simply linking the MediaPlayer/Photos/CoreLocation/UserNotifications frameworks. I found this [here](https://developer.apple.com/documentation/uikit/protecting_the_user_s_privacy/requesting_access_to_protected_resources?language=objc):

[2022-08-15 19:33] kevinrenskers commented on #2065
The guy at Apple said that shouldn't be it, and then we'd also get those same validation errors, right? 🤔

[2022-08-15 19:34] armcknight commented on #2065
Yeah I actually misinterpreted that statement. I see no reason we are violating this rule.

[2022-08-15 19:43] kevinrenskers commented on #2065
This is what I heard from Apple today:

[2022-08-16 02:32] ZeroOnet commented on #2039
@brustolin Any help? Should I commit an issue to「getsentry/sentry」？

[2022-08-16 07:40] #2017 closed

[2022-08-16 08:04] brustolin commented on #1852
Hello @markuswahl-2 Philipp is in PTO. Sorry but we need to wait for him to came back to look into this. We don't have enough bandwidth right now.

[2022-08-16 08:11] brustolin opened #2075 "Add transaction source"
### Description

Dynamic sampling process requires transaction name to contain a source.

[More information](https://github.com/getsentry/team-mobile/issues/30)

Android implementation:
https://github.com/getsentry/sentry-java/pull/2180
https://github.com/getsentry/sentry-java/pull/2188
https://github.com/getsentry/sentry-java/pull/2194

[2022-08-16 08:17] brustolin commented on #2039
Please do. I tried to contact someone from the server team but got no response.

[2022-08-16 08:28] kevinrenskers commented on #1865
Because the direct link to the comment doesn't work anymore, I'm just going to repeat what @vaind said in that PR:

Note: while this hasn't changed in this PR, I wanted to point out the issue with this approach (the same one is present in the Java watchdog AFAIK:

Sleeping for a given duration before checking a flag means the timeout is not really a "timeout", but merely a baselin, with the actual

[2022-08-16 10:43] bitsandfoxes commented on #2010
Unity is on `Cocoa v7.23.0` right now in the latest release and does not have this issue. Events reported through the Cocoa SDK show up as `sentry.cocoa.unity`.

[2022-08-16 19:22] armcknight commented on #1912
We talked about this in profiling but decided at the time we could compute this server-side, since we also send the expected framerates (as a time series since it can change on modern devices). But it would be easy to track them in separate arrays from each of these callsites: [here](https://github.com/getsentry/sentry-cocoa/blob/8e48b02d9f3c6e4703f40f038513be3fc52866b1/Sources/Sentry/SentryFrames

[2022-08-16 19:46] kevinrenskers commented on #1912
Check my PR where I had a working implementation using those callsites: https://github.com/getsentry/sentry-cocoa/pull/2028. But ultimately it doesn't result in a very useful thing in the Sentry UI, see comments in that PR as well.

[2022-08-17 02:45] ZeroOnet opened #2083 "Repeated binary image name of event stacktrace"
### Environment

self-hosted (https://develop.sentry.dev/self-hosted/)

### Version

 21.11.0

### Steps to Reproduce

With cocoa SDK, I try to customize event stacktrace:

[code]

cocoa sdk log as follows:
![](https://user-images.githubusercontent.com/20768739/184115050-f30a1a3c-486a-42b6-9778-b27038accbfe.png)

### Expected Result

Stacktrace of event is my custom with correct format.

### Actua

[2022-08-17 07:12] brustolin commented on #1912
We're closing this based on the result of #2028.

[2022-08-17 07:29] #2053 closed

[2022-08-17 07:51] brustolin commented on #2066
@armcknight @indragiek
The idea to solve this was to create a background worker that monitors this metrics. AFAIK this is what profiling already do.
Can we hook into the profiling to capture this metrics? And how we do it?

[2022-08-17 10:26] brustolin opened #2079 "Add support to Swift in the SDK development"
### Description

With the rise of Swift adoption, Apple is starting to add Swift only features, having Swift as an option in the SDK will make development easier.

We didn't do it before because of two reasons
 - ABI stability, but since Swift 5, the library is considered to be ABI stable.
 - Library size increase. Every project targeting iOS 12 or old needs to bundle Swift runtime in the project.

[2022-08-17 15:13] ncltg opened #2080 "ERROR: SentryCrashMachineContext.c"
### Platform

iOS

### Installed

CocoaPods

### Version

7.21.0

### Steps to Reproduce

1. Install Sentry
2. Call SentrySDK.start with dsn
3. Call capture(message:) or capture(error:)

### Expected Result

It sens the message

### Actual Result

I get this type of log:
`ERROR: SentryCrashMachineContext.c (81): _Bool getThreadList(SentryCrashMachineContext *): Thread count 124 is higher than maxi

[2022-08-17 23:47] armcknight opened #2081 "`dispatch_once` SDK init logic"
### Description

I noticed we track how many times the SDK start method is invoked, to only allow it to run once. Is there a reason we can't use `dispatch_once` to surround the logic that should only run once? We have a good bit of code/tests involved with this:
![image](https://user-images.githubusercontent.com/3241469/185262752-77db153d-6460-4ff6-9e94-6caa4165600f.png)
and a comment on why we do

[2022-08-17 23:52] armcknight commented on #2080
Doesn't look like a misconfiguration, we hardcode the number of threads we'll gather info on, and from your error message, you have more threads than our limit will allow.

I'm curious what you're doing in the app that results in that amount of threads. Or is this in a brand new, barebones app? Can you upload a project that reproduces the error? I was not able to reproduce it in a test app using o

[2022-08-17 23:55] armcknight commented on #2079
I'd say we could entertain this if there is a Swift-only feature we absolutely need and can't do in Objective-C. Do we have any examples of this so far?

The issue with some Swift-only features, like Swift enums, is that once you introduce them into an Objective-C codebase, they tend to require rewriting other areas as well. So we should be very careful if introducing Swift, because it can result

[2022-08-18 00:27] armcknight commented on #2062
I added some descriptions to those assertions to see if they give us any clues as to why they're failing. Ofc now the test probably won't fail 😄 Let's see what happens.

[2022-08-18 04:19] armcknight commented on #2062
Just as I predicted, the tests passed. They know they're being watched I guess 😆 on their best behavior!

[2022-08-18 08:02] brustolin commented on #2079
- SwiftUI is already something that we can't property manipulate from obj-c.
- I get name demangle for "free"

I believe we should avoid coding in Swift for standard things, and use it only when really required.

[2022-08-18 08:04] ncltg commented on #2080
Hey @armcknight,

Unfortunately this is a private project so I can't share the full source here.
But I pinpointed the issue, and will detail it here in case it helps anyone.

Note that this is a Kotlin Multiplatform app, so while i'm using the SentrySDK from iOS, the error comes from a service managed by Kotlin in the KMM layer.

I have a background service (Kotlin) that's bound lifecycle of the a

[2022-08-18 08:06] brustolin commented on #2083
@marandaneto this is not a problem in the cocoa SDK, @ZeroOnet already opened an issue for us and we concluded that the server is the problem. The envelope in the device is correct, the presentation in the front-end is wrong.

[2022-08-18 10:28] #2075 closed

[2022-08-18 10:45] kevinrenskers commented on #2079
How would we support SwiftUI anyway, if not via swizzling which needs Obj-C? Can't really hook into lifecycle calls and stuff any other way, right?

[2022-08-18 10:47] kevinrenskers commented on #2079
Agreed. While I like Swift a hundred times more than ObjC, I am not so sure about mixing the two, where some internal things are done in Swift and all public API is done in ObjC. Unless it's something we really can't do in ObjC obviously.

[2022-08-18 14:05] brustolin commented on #2066
This is what we have discuss so far:

- **CPU Utilization**
    1. Goals:
        - **distributed collection** throughout transaction and display **average / max/ standard deviation**(?) of usage over transaction period
    2. Tradeoff(s): overhead - is calling OS API expensive
    3. Competitor:
        - Datadog collects every 500 ms - avg? standalone metric?
    4. Notes:
        - std dev need

[2022-08-18 14:18] brustolin commented on #1560
A way to retrieve the view hierarchy: https://www.fivestars.blog/articles/inspecting-views/

[2022-08-18 19:07] armcknight opened #2088 "Add string mapper methods for enums"
### Description

It would be helpful for debugging if we could get a string based on an enum value, to put into log statements or XCTAssertions. See for instance https://github.com/getsentry/sentry-cocoa/runs/7904857914?check_suite_focus=true#step:9:337

Instead of `0` and `1` I would like to see `"ok"` and `"exited"`.

Some enums have arrays that can be indexed into with the enum int values, like

[2022-08-18 19:11] armcknight commented on #2062
OK well, now we know which statuses we're dealing with for that one confusing message: https://github.com/getsentry/sentry-cocoa/runs/7904857914?check_suite_focus=true#step:9:25

`Expected session status of 0 but got 1` (which correspond to "ok" and "exited", respectively)

[2022-08-18 19:16] #2050 closed

[2022-08-18 19:27] armcknight commented on #2080
Thanks for the info and glad you're able to work around the limitation @ncltg 👍🏻

[2022-08-18 19:39] armcknight commented on #2037
Hi @shwetashendage, I'm curious to know more about your use case. Do you have one org with two different projects, or do you want to send these events to projects in multiple orgs? Are you using this setup to control user access to dashboards, separate events for different variants of your project, or something else?

I'm wondering if it's multiple projects in one org, if it would be possible to u

[2022-08-19 08:43] #1033 closed

[2022-08-19 08:53] brustolin opened #2092 "Implement Culture Context"
### Description

Add culture context to the scope.

Specs [here](https://develop.sentry.dev/sdk/event-payloads/contexts/#culture-context).

Keep in mind to remove information from other contexts, like `timezone` from device context.

[2022-08-19 16:27] mattjohnsonpint commented on #1916
We probably need to keep supporting older devices, the question is - how old?  And what does bumping the version give us, versus no longer supporting some subset of customers?

For reference:
https://en.wikipedia.org/wiki/IOS_version_history

Reading that, it seems to be some advantage of bumping to iOS 11, since we would no longer need to build for 32-bit devices.  That would drop support for mos

[2022-08-19 16:43] kevinrenskers commented on #1916
The ability to use new APIs. Getting rid of a bunch of deprecated code. And when iOS 16 hits, "only" supporting 13, 14, 15 and 16 (which is still quite a lot) means much less testing across all these iOS versions as well. Plus iOS 13 and up include SwiftUI and Combine which we could support without a whole bunch of if statements everywhere.

Buying a new Apple device sounds like fun though 😂

[2022-08-19 23:17] armcknight opened #2096 "Add mutation testing"
### Description

I noticed a change I made in a test fixture did not cause any tests to fail. That got me thinking about the quality of our tests, and mutation testing can help with this. See https://github.com/muter-mutation-testing/muter

Probably best to run on a cron schedule, as it might take some time to complete.

Bonus points if we can get it to also mutate the tests, instead of just the s

[2022-08-22 16:24] RobinDaugherty commented on #1442
So an `Error`'s description is missing from the Sentry UI. Both localized and debug descriptions are ignored. And still, no plans and no documentation explaining how Sentry expects errors to be reported in a way that provides meaningful information. #1496 fixes the issue, and it implemented the suggestions in this thread, but it was ignored and autoclosed. How does Sentry expect us to interpret th

[2022-08-23 08:17] rbisol opened #2099 "Add tracingOrigins options to Performance instrumentation."
### Problem Statement

The cocoa SDK currently attaches the `sentry-trace` header to all outgoing requests from the application. Users might want to restrict the header only to requests sent to their APIs, the same way it is done in JavaScript-based SDKs.

### Solution Brainstorm

An implementation similar to Browser SDK: https://docs.sentry.io/platforms/javascript/performance/instrumentation/auto

[2022-08-23 20:28] armcknight opened #2102 "Fix flaky `SentrySessionGeneratorTests` test"
### Description

Disabled here: https://github.com/getsentry/sentry-cocoa/blob/86e8170960ad82b7f1ace0523d64dde5b751b5c5/Tests/SentryTests/Integrations/Session/SentrySessionGeneratorTests.swift#L62-L67

[2022-08-23 20:31] armcknight opened #2103 "Fix disabled `SentryClientTests` test to capture message"
### Description

We have a disabled test here: https://github.com/getsentry/sentry-cocoa/blob/86e8170960ad82b7f1ace0523d64dde5b751b5c5/Tests/SentryTests/SentryClientTests.swift#L135-L146

[2022-08-23 20:32] armcknight commented on #1949
Could you link to a failure?

[2022-08-23 20:51] armcknight commented on #2062
For future reference, these are currently the flaky test cases I'm seeing in `SentrySessionTrackerTests`:

[code]

[2022-08-24 08:47] brustolin commented on #1949
It's being a while to be honest that I dont see this now.

[2022-08-24 10:52] squarefrog commented on #1533
We have reports of this going back to iOS 14 (our minimum deployment version), so I'm not sure this is the cause.

 <img width="935" alt="Screenshot 2022-08-24 at 11 30 44" src="https://user-images.githubusercontent.com/343450/186396756-ee949e72-97b2-48b5-b023-df6725b829c7.png">

Has there been any movement on this issue? It's one of our highest impact crashes, and we're still seeing it in sdk v7.

[2022-08-24 12:26] kevinrenskers commented on #2092
Isn't that just the same as https://github.com/getsentry/sentry-cocoa/pull/2036?

[2022-08-24 13:35] brustolin commented on #2092
Wow, this was made already, so we just need to remove timespan from device context, but not a priority.

[2022-08-24 13:35] #2092 closed

[2022-08-24 13:35] kevinrenskers commented on #2092
We just need to make a new release 😅

[2022-08-24 13:53] bruno-garcia commented on #1442
Agree this should be fixed. We could set `attachStacktrace` to `true` by default or at least always do it if we're capturing an error, so events are grouped by stack trace. But we have to get this information in Sentry's UI for users to be able to understand what's going on

[2022-08-26 02:14] ZeroOnet commented on #2083
@brustolin @marandaneto What's status of this issue?

[2022-08-29 13:57] philipphofmann commented on #2001
We remove them because when creating the stacktrace when capturing events, the stacktrace contains frames from the Cocoa SDK, and this was confusing to users. I think even when we marked them as `inApp=false`, people were still confused. I think we should change the approach as this only works if you include the SDK dynamically https://github.com/getsentry/sentry-cocoa/blob/953abb7d87f564b438ae6c2

[2022-08-29 20:12] #1865 closed

[2022-08-30 05:15] philipphofmann commented on #2081
No, there is no real reason. If we use a wrapper for calling `dispatch_once`, so the tests keep working, we can refactor this.

[2022-08-30 07:47] philipphofmann commented on #1062
@m-kuhn, yes, please share it with us. That would be lovely.

[2022-08-30 08:05] m-kuhn commented on #1062
Here you go:

https://github.com/opengisch/QField/tree/master/vcpkg/overlay/sentry-cocoa

It's written for building in vcpkg, but the CMakeFile.txt in there can be separated with minimal changes. Ideally it could even be moved to this repository here.
One thing that needs mentioning is the following line
https://github.com/opengisch/QField/blob/11b69f9256309bc2c3866c20989d7d935090b66e/vcpkg/overla

[2022-08-30 11:14] kevinrenskers commented on #2066
There is currently very little information available in this ticket. What exactly do we want to track, in what format do we send that data, can we hook into the profiling code already there?

For example let's talk about CPU usage. We want to send average / max/ standard deviation of CPU usage during the lifetime of the transaction. So we we hook into the profiling code and keep an array of CPU us

[2022-08-30 14:36] philipphofmann commented on #1994
@brustolin, could you please link the PR that closed this issue please?

[2022-08-30 14:51] philipphofmann commented on #2031
I'm not an expert on .NET MAUI, but could you include the Cocoa SDK via Swift Package Manager or CocoaPods, @mattjohnsonpint? Maybe that solves your issue?

[2022-08-30 14:52] philipphofmann commented on #2031
@NachoSoto, thanks for offering your help. We would be happy to help with testing it out, but I don't have the resources right now to resolve your main blocker.

[2022-08-30 15:53] philipphofmann commented on #1912
Reopened because of https://github.com/getsentry/sentry-cocoa/pull/2028#issuecomment-1231854727

[2022-08-30 16:15] mattjohnsonpint commented on #2031
@philipphofmann - I tried that, but unfortunately without success.

- .NET's support for CocoaPods is via the Xamarin `sharpie pod` command, which [is broken](https://github.com/xamarin/xamarin-macios/issues/8238).  Currently there isn't a workaround, and Microsoft appears to have no interest in fixing it.

- Using Swift packages from SPM requires building a [proxy library](https://docs.microsoft.

[2022-08-30 16:15] philipphofmann commented on #2079
I agree with @kevinrenskers. I would start the discussion again once we have to build a feature in Swift and we can't use ObjC.

[2022-08-30 16:15] #2079 closed

[2022-08-30 16:19] philipphofmann commented on #2083
@brustolin, can you link the issue of @ZeroOnet and close this one here, please?

[2022-08-30 16:27] philipphofmann commented on #2096
Let's do a spike by taking a look at the https://github.com/muter-mutation-testing/muter and see how valuable the library could be.

[2022-08-30 20:25] armcknight opened #2109 "Provide fallbacks for assertions in production"
### Description

We have a couple `NSAssert`/`NSParameterAssert` usages and some corresponding `XCTAssertThrows` for them, but in release builds, these are compiled out with this setting:
<img width="487" alt="image" src="https://user-images.githubusercontent.com/3241469/187535000-e97cf980-56ab-416b-8919-d288508ce037.png">

Not all of the assertions are coupled with a corresponding `if` check to e

[2022-08-30 20:39] armcknight commented on #2109
There are competing philosophies on whether assertions should be enabled in production, see this good article that says they should be enabled (I don't necessarily agree) (also, lots of other good info here): https://www.mikeash.com/pyblog/friday-qa-2013-05-03-proper-use-of-asserts.html. We could even enable them for `Release` and implement an NSAssertionHandler to log an error with SentryLog for

[2022-08-31 05:57] philipphofmann commented on #2039
Hey, @ZeroOnet, we had some dSYMs missing for iOS 15.5 simulators, which your screenshot above shows. I just uploaded them. Can you please retry?

[2022-08-31 06:53] philipphofmann commented on #2010
@tustanivsky, can you check the [comment above](https://github.com/getsentry/sentry-cocoa/issues/2010#issuecomment-1216467252) and let us know if you still experience the issue?

[2022-08-31 07:11] philipphofmann commented on #2037
@shwetashendage, can you please answer the questions above?

[2022-08-31 07:44] philipphofmann commented on #1533
Thanks for the info, @squarefrog. Now we know it's also happening on iOS.

[2022-08-31 07:51] philipphofmann commented on #2096
It is worth mentioning that the test mutation library must allow ignoring certain code regions. We won't be able to fix everything in one PR. We also need a strategy to ensure new code is not ignored by the test mutation library.

[2022-08-31 08:46] philipphofmann commented on #1949
Should we close it then @brustolin? Please link some failing tests in the future.

[2022-08-31 13:19] kevinrenskers opened #2113 "Update macOS / Xcode on CI"
### Description

We should use the latest, might fix flaky tests. Worked last time!
https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md

[2022-08-31 13:32] philipphofmann commented on #2031
I think that MacCatalyst, anyways, is not widely adopted. I'm pretty sure not many people will use it in combination with .NET MAUI. Therefore, I think it's OK to wait until Carthage supports this directly and not use a custom build of Carthage.

[2022-08-31 19:51] armcknight opened #2114 "Fix flaky `SentrySystemEventBreadcrumbsTest` test case"
### Description

`testTimezoneChangeNotificationBreadcrumb`

See for example https://github.com/getsentry/sentry-cocoa/runs/8103678791?check_suite_focus=true#step:9:51

[2022-09-01 02:12] ZeroOnet commented on #2083
https://github.com/getsentry/sentry-cocoa/issues/2039

https://github.com/getsentry/sentry-cocoa/issues/2039

[2022-09-01 02:23] ZeroOnet commented on #2039
The problem is repeated binary image name mistake rather than stacktrace symbolication. I committed an [issue](https://github.com/getsentry/sentry-cocoa/issues/2083) to getsentry/sentry but was closed.

[2022-09-01 06:05] philipphofmann commented on #2039
I'm not sure what you mean by repeated binary image name, but the repeated UIKitCore should be there. This is the stacktrace and it tells you that you have three frames that are in UIKitCore. Next, you have the memory address, and then the function name, which is redacted because of the missing symbols.

<img width="479" alt="Screen Shot 2022-09-01 at 08 00 48" src="https://user-images.githubuserc

[2022-09-01 06:19] ZeroOnet commented on #2039
@philipphofmann With this comment, I customized backtrace with deferent binary image name such as UIKitCore、GraphicsServices and so on. But the dashboard of event only gave me UIKitCore.

[2022-09-01 06:50] philipphofmann commented on #2039
You find the images below the stacktrace. Click on show details and then they appear.

<img width="936" alt="Screen Shot 2022-09-01 at 08 49 23" src="https://user-images.githubusercontent.com/2443292/187850070-a4db5e60-3e07-4837-ad1e-2337d06f4b67.png">

Loaded images
<img width="939" alt="Screen Shot 2022-09-01 at 08 50 08" src="https://user-images.githubusercontent.com/2443292/187850172-36b075a7-

[2022-09-01 06:51] philipphofmann commented on #2083
Duplicate of #2039

[2022-09-01 06:51] #2083 closed

[2022-09-01 06:53] philipphofmann commented on #2005
There are discussions now to remove this API https://github.com/getsentry/sentry-javascript/issues/5660.

[2022-09-01 08:53] bitsandfoxes commented on #2010
I stand corrected: It's made its way into the Unity SDK as well: https://github.com/getsentry/sentry-unity/issues/950

[2022-09-01 09:25] philipphofmann opened #2116 "Test Apple Major OS 2022 Releases"
### Description

On September 7th, Apple has scheduled an event, which means that iOS 16, tvOS 16, watchOS 9, and macOS 13 are about to GA. We should test if our SDK is still working properly on these new OS versions.

# Test plan manual test

| Feature                         | iOS | macOS | tvOS | MacCatalyst |
|---------------------------------|-----|-------|------|-------------|
| Crashes with

[2022-09-01 09:26] philipphofmann commented on #2116
@brustolin, can you think of any other features that need testing?

[2022-09-01 12:35] philipphofmann commented on #2010
Ah, now I think I get it. If you pass down the SDK name `sentry.cocoa.unreal` or `sentry.cocoa.unity` the cocoa SDK doesn't send the version properly, @tustanivsky?

[2022-09-01 12:41] tustanivsky commented on #2010
Yes, correct

[2022-09-01 12:42] philipphofmann commented on #1999
@buenaflor, you worked on the Kotlin Multiplatform in the past weeks. Isn't that issue already fixed? Or how did you work around the issue again?

[2022-09-01 12:51] philipphofmann commented on #2114
@armcknight, please add the `Type: Flaky Test` label the next time so we can easily keep track of the flaky test issues.

[2022-09-01 12:55] lukeredpath commented on #1442
@philipphofmann how would this affect grouping?

[2022-09-01 14:38] philipphofmann commented on #1442
Ups sorry, my mistake. Your PR #1496 doesn't have an impact on grouping because we group by domain and error code https://github.com/getsentry/sentry-cocoa/blob/a06565c2a78dcda8b12c677761ca83cceb136067/Sources/Sentry/SentryClient.m#L228-L232.

I'm going to reopen #1496

[2022-09-01 15:29] #2026 closed

[2022-09-01 19:11] armcknight commented on #2081
There was a workflow I wasn't considering. Originally I thought startInvocations guarded against multiple sequential calls to start the SDK, like so:
[code]
but it is actually there to fix our OOM reporting if consumers start, close and then start the SDK again:
[code]

[2022-09-02 02:20] ZeroOnet commented on #2039
I know this. The images list also missing:
![image](https://user-images.githubusercontent.com/20768739/188044810-a06845bf-a3c1-464d-a30b-7aafca61486e.png)

[2022-09-02 14:40] choulepoka commented on #2065
Continuation of original [comment](https://github.com/getsentry/sentry-cocoa/pull/2106#issuecomment-1235529687)

I have emailed Apple App Store Team, asking them to investigate this.

However, perhaps a stopgap measure would be to remove the feature completely, or at least make it optional somehow.

[2022-09-02 15:17] kevinrenskers commented on #2065
Or add `NSAppleMusicUsageDescription` to your Info.plist, even though it's not actually used. Reading the permissions does not trigger any dialog to the user.

[2022-09-05 08:35] EdgarDegas commented on #2065
Also having this issue with Sentry 7.24.0.

The build was uploaded successfully. But after a couple of minutes, I received an email about a _missing purpose string_:

Then I downgraded Sentry to 7.23.0 and everything is OK now.

To sum up, I uploaded 3 builds, with no other changes but sentry's version.

- 3.1.1(1), with Sentry 7.1.3
- 3.1.1(2), 7.24.0
- 3.1.1(3), 7.23.0

In the end, in App Store

[2022-09-05 08:42] kevinrenskers commented on #2065
Can you please use the "Contact the App Review Team” form: https://developer.apple.com/appstore/contact/?topic=clarification. That way hopefully we can get to the bottom of why the SDK is generating these errors, which should not be happening according to Apple themselves.

[2022-09-05 08:58] EdgarDegas commented on #2065
Sure.

[2022-09-05 10:38] malcommac commented on #2065
Same here with 7.24. Going back to 7.23, it's okay.

[2022-09-05 11:44] Zandor300 commented on #2065
Experiencing the same with 7.24.0 but 7.23.0 is fine. Currently using 7.23.0 to get my builds through.

[2022-09-05 13:05] vaind commented on #2010
This has been caused by #1960 - we need to adapt the Unity & Unreal SDKs to fix that.

The issue with the empty version string is caused by this line https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryOptions.m#L336

Previously if the given version was empty, it was be ignored.

https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentrySdkInfo.m#L51

Now it

[2022-09-05 13:08] vaind commented on #2010
I've updated the respective issues in [Unreal](https://github.com/getsentry/sentry-unreal/issues/95) & [Unity](https://github.com/getsentry/sentry-unity/issues/950) with the info that we need to use `PrivateSentrySDKOnly`.

What is missing with the current code, however, is the option to set only a name **or** a version, not both. Can someone make the changes to `PrivateSentrySDKOnly` to expose th

[2022-09-05 13:19] choulepoka commented on #2065
May I propose a solution that is to be implemented directly in the SentrySDK:

- Make the feature optional.
   - Create a secondary package that is essentially a plugin that when included / configured, will perform the permissions check
   - When absent, the package defaults to `unknown`

That way, people who actually _cares_ about permission being reported by Sentry will get them reported. And pe

[2022-09-05 13:35] philipphofmann commented on #2065
@brustolin, if removing the media permission check doesn't work, I think we can also discuss removing the whole permissions feature in general, as apps getting flagged by Apple is way worse than the value this tiny feature adds. I think adding an extra package is not worth the effort.

[2022-09-05 14:00] philipphofmann commented on #1096
Blocked by https://github.com/getsentry/sentry-cocoa/issues/1892, see https://github.com/getsentry/sentry-cocoa/pull/1965#issuecomment-1237080465.

Please reopen https://github.com/getsentry/sentry-cocoa/pull/1965, as it has some helpful information.

[2022-09-05 14:59] #2081 closed

[2022-09-05 15:02] #2065 closed

[2022-09-06 05:09] EdgarDegas commented on #2065
Sorry to bother you guys after this issue is closed.

I did include this thread and pointed out all its worth-noticing details in my email. It seems that apple just ignored it.

They replied to my email with a bunch of cliche stating that any third-party lib that accessed any protected data would cause the app in need of purpose strings. We already know that.

I'll reply to apple tough. *Beep* it.

[2022-09-06 05:42] markuswahl-2 commented on #1852
Hello @philipphofmann
Have you had time to look at the files?
Best regards,
Markus

[2022-09-06 07:42] philipphofmann commented on #1693
We had a customer complain about this issue. Should be fixed with @2124.

[2022-09-06 08:12] philipphofmann commented on #2039
I think the root cause of the problem is that you are trying to customize the stacktrace, and something is going wrong. May I ask why do you have to customize your stacktrace, @ZeroOnet? Ideally, you shouldn't have to do this.

[2022-09-06 08:32] brustolin opened #2125 "Add transaction name source for SentryUIViewControllerPerformanceTracker transactions"
### Description

When we start an automatic controller transaction, the name source being used is custom, we need to use component.

[2022-09-06 08:35] ZeroOnet commented on #2039
So if I want to customize stacktrace, What's should I notice? SentrySDK did not report any errors. I want to symbolicate stacktrace of Hangs which is my APM collected. Is DebugMeta any fields missing? eg: imageSize、imageAdress or imageVmAddress?

[2022-09-06 09:48] #1693 closed

[2022-09-06 12:50] philipphofmann opened #2126 "Linter for not using ObjC new"
### Description

According to this blog post, https://blog.cristik.com/2018/02/objective-c-new-is-dangerous-and-old-avoid-it-at-all-costs/ and this https://github.com/getsentry/sentry-cocoa/pull/1969#discussion_r957770700 using [new] is dangerous and should be avoided.

We should use a linter or another check to avoid using it in our code.

[2022-09-06 16:07] philipphofmann commented on #2039
I'm a bit confused. Can you please answer the following questions?

1. What do you mean by your APM?
2. What are hangs? If you mean app hangs, we have an integration for that see https://docs.sentry.io/platforms/apple/configuration/app-hangs/.
3. Why do you want to customize your stacktrace? If you capture a message or an error, the SDK attaches the stacktrace for you.

[2022-09-06 16:15] philipphofmann commented on #2010
Yep, we can change that easily. How important / urgent is that for you, @vaind?

[2022-09-06 16:55] #2113 closed

[2022-09-06 19:26] armcknight opened #2127 "Refactor integration tests so they can be run locally"
### Description

I have a problem on a PR with one of the integration tests, but don't see an easy way to run them locally without a bunch of manual steps.

I plan to write a couple makefile tasks to automate this.

A couple questions about the current implementation:

- Would anyone be opposed to forking the repos we use, applying our patch files as commits onto those forks, and linking them into

[2022-09-07 07:00] #1442 closed

[2022-09-07 07:13] ZeroOnet commented on #2039
I find the reason of this problem. If I filled imageSize、imageAddress and imageVmAddress of DebugMeta, Dashboard will display correct backtrace.

[2022-09-07 07:36] brustolin commented on #2127
The benefits of not forking is that we keep trying our SDK with new stuff when this other projects are updated.
But I dont have a strong option about this.
I understand that our current approach is not bullet prove.

[2022-09-07 11:35] philipphofmann commented on #2127
I didn't create forks because I wanted to keep it lightweight. I just patched things together to make it work. Of course, a significant downside of the current solution is that you can't easily run it locally. If you want you can change it to what you suggested.

[2022-09-07 13:14] brustolin commented on #1737
SwiftUI view are not really UI elements, its more like a description on what the screen should looks like. Thats why we can't manipulate Views directly. And all the code responsible to convert View into UIViews is private. If we try to manipulate it, we may cause apps to be rejected during review.

The alternative is to create a Root View or a view modifier that tracks its children performance. Of

[2022-09-07 13:31] philipphofmann commented on #2127
I would be interested in why you want to improve this. Do you have to touch that often, @armcknight? Is it worth the effort to improve this right now?

[2022-09-07 13:34] philipphofmann opened #2130 "Duplicate issues when enabling screenshots"
### Platform

iOS

### Installed

CocoaPods

### Version

7.24.1

### Steps to Reproduce

1. Open the iOS-Swift sample project
2. Click on crash
3. Launch the app

### Expected Result

One crash event in Sentry.

### Actual Result

Two identical crash events in Sentry. The best way to see this is to open Discover.

[2022-09-07 13:45] philipphofmann commented on #2130
The problem is here

https://github.com/getsentry/sentry-cocoa/blob/1a88e12dfd7a912fb44524f096234be49ce6507f/Sources/SentryCrash/Recording/SentryCrashReportStore.c#L99-L113

In this code, we count how many crash reports there are. The code iterates over the directory and counts the directory belonging to the crash report as a crash report.

<img width="613" alt="Screen Shot 2022-09-07 at 15 44 57"

[2022-09-07 13:47] philipphofmann commented on #1852
Hey, @markuswahl-2,

sorry, no didn't get to that yet. Try to do it this week.

[2022-09-07 14:54] philipphofmann commented on #316
I think implementing https://github.com/getsentry/sentry-cocoa/issues/1013 is a prerequisite.

[2022-09-07 16:32] simondelphia commented on #2065
Still have this in 7.24.0

[2022-09-07 18:34] klundberg opened #2131 "Include sentry-cli as a SwiftPM command plugin"
### Problem Statement

I want to easily have sentry-cli available to all projects that use sentry, without needing to separately install it with something like homebrew, and so that xcode's build phases can easily access it to upload dsyms without needing to customize environment variables.

### Solution Brainstorm

If sentry-cli could be included as a [package command plugin](https://github.com/a

[2022-09-07 19:33] armcknight commented on #2127
It might not be necessary for my task right now, but if I have to do it again at any point I will want to just automate it then. In the meantime we can dump any other questions/concerns here.

[2022-09-08 06:19] philipphofmann commented on #2131
Thanks for opening the issue, @klundberg. I never created an SPM command plugin. Do you know how we can bundle and forward the calls to sentry-cli? Do we need a wrapper around sentry-cli similar to the [sentry-fastlane-plugin](https://github.com/getsentry/sentry-fastlane-plugin)?

[2022-09-08 11:25] philipphofmann commented on #2065
@EdgarDegas, and @simondelphia, please try with 7.24.1 and let us know if you still experience the issue. If you do, we are going to remove the whole permissions feature.

[2022-09-08 11:27] philipphofmann commented on #2039
Oh, that's great news. Thanks for the update, @ZeroOnet. I'm going to close this now.

[2022-09-08 11:27] #2039 closed

[2022-09-08 11:30] Shiaulis commented on #2065
7.24.1 works well for us

[2022-09-08 14:18] diegoreymendez commented on #1451
Hey @philipphofmann, I'm working on the same codebase as @mokagio and we're still stuck to using Sentry 6.

In your snippet, which I'm copying below, you're suggesting that we set the stack trace manually:

[code]

Do you offer any mechanism to get the current `Stacktrace` without having to manually craft it ourselves?

[2022-09-08 15:15] diegoreymendez commented on #1451
I used a hack to obtain the stack trace in the PR referenced above, but it involves accessing private methods through selectors.  It would be ideal to have a way to get the current threads for filling in the event. ☝️

[2022-09-09 09:04] philipphofmann commented on #1451
Why do you want to manually attach a stacktrace to an event, @diegoreymendez? Can't you use the [`attach-stacktrace`](https://docs.sentry.io/platforms/apple/configuration/options/#attach-stacktrace) option?

[2022-09-09 09:26] diegoreymendez commented on #1451
@philipphofmann - Because Sentry doesn't offer [a callback after sending an event](https://github.com/getsentry/sentry-cocoa/issues/660) to know when sending the event succeeded, so [we have to send the event manually](https://github.com/Automattic/Automattic-Tracks-iOS/blob/79fc1521ce8c03162ad84793e20cdf95f34421fc/Sources/Remote%20Logging/Crash%20Logging/CrashLogging.swift#L186-L199) to implement

[2022-09-09 09:26] philipphofmann commented on #2066
I think for CPU usage, we need to keep track of wall and CPU time. If you don't know the difference, please check https://en.wikipedia.org/wiki/Elapsed_real_time.

@armcknight, I'm pretty sure we already do that for profiling. Can you point us to the code, please?

Furthermore, @armcknight, does the profiling code also keep track of memory usage? If so, please show us the code.

[2022-09-09 09:30] philipphofmann commented on #1451
I just started the implementation of flush with https://github.com/getsentry/sentry-cocoa/issues/1013. Would that be sufficient for you? Or do you really need a callback after the event was sent? If so, can you please elaborate on your use case, @diegoreymendez?

[2022-09-09 09:40] diegoreymendez commented on #1451
I'm guessing it could be enough.  Thoughts @mokagio ?

[2022-09-09 09:56] #2088 closed

[2022-09-09 11:24] #2010 closed

[2022-09-09 16:10] klundberg commented on #2131
I believe so, in a way.

I haven't created command plugins myself, but there's some examples in the swift evolution document I linked, plus some more useful step by step guidance in this article: https://theswiftdev.com/beginners-guide-to-swift-package-manager-command-plugins/

Basically, sentry-cocoa would need to expose a new `plugin` product type and target, which would have to depend on `sentr

[2022-09-10 02:04] georges commented on #1589
Experiencing (I think) similar issue on iOS

https://sentry.io/organizations/island-magic-co/issues/3342986887/events/c1620d1f11ae43d080534c4a83d7387a/?project=6375329

[2022-09-11 10:54] sindresorhus commented on #1589
I had to remove Sentry from one of my apps as there were too many random crashes caused by Sentry itself.

For example: https://sentry.io/organizations/sindresorhus/issues/3474609924/events/578f5959e32b4da18217e6af63587102/

[2022-09-12 03:56] mokagio commented on #1013
Do you plan to make `flush()` synchronous? Or to add a completion handler?

I read somewhere that events are "send and forget" by design, which is understandable. I still think it would be nice to know once all events have ben sent via that method.

The particular use cases I can think of for having a completion acknowledgement mechanism of sort are:

- Let the user know about the completion, e.g.

[2022-09-12 03:57] mokagio commented on #1451
@philipphofmann thank you for following up on this!

We've been sending manual events as a way to track a certain type of runtime error within our apps to which the only followup was to force a crash.

We achieve that behavior by _manually serializing events and sending them to Sentry via HTTP call to the DNS `getEnvelopeEndpoint()` API._

The code pre-dates me, but I assume the reason for manuall

[2022-09-12 11:36] philipphofmann commented on #1451
Thanks for the info. Yes, with flush, you will know that the event(s) have been successfully sent.

[2022-09-12 11:49] kevinrenskers commented on #1973
@philipphofmann @lhunath I am not totally sure what this issue aims to solve. We already support `assert`, they get logged in Sentry with the error message and all. Is this for when somebody installs a custom `NSAssertionHandler` in an Obj-C app? Does that stop our code from handling it?

@lhunath do you have a minimal example repo that shows the problem you want solved?

[2022-09-12 12:00] philipphofmann commented on #1013
@mokagio, yes, the call will be blocking with a timeout parameter. Similar to [`DispatchGroup.wait(timeout:)`](https://developer.apple.com/documentation/dispatch/dispatchgroup/1780590-wait).

[2022-09-12 13:22] philipphofmann commented on #2131
Thanks for the update, @klundberg. We'll discuss this internally and will update this issue.

[2022-09-12 13:31] kevinrenskers commented on #2102
It's not a flaky tests, it disabled on purpose because it doesn't actually test anything. So why don't we just delete this? 🤔 @philipphofmann what's the reason for the existence of this test class when its only test function is disabled on purpose?

[2022-09-12 17:48] georges commented on #935
Could be useful to look at the fixes added in:
https://github.com/bugsnag/bugsnag-cocoa/blob/master/Bugsnag/KSCrash/Source/KSCrash/Recording/Sentry/BSG_KSCrashSentry_CPPException.mm

That seems to solve crashes related with C++ Exceptions

[2022-09-12 20:21] bruno-garcia opened #2143 "GA AppHangs, File I/O, CoreData, Screenshots, UI interaction events"
### Description

We have 5 features opt-in atm:

[code]

- [ ] Release a major with all of them as GA.
- [x] Other than Screenshots, all of them should be opt-out.
- [x] Adjust wizard: https://github.com/getsentry/sentry-docs/blob/master/src/wizard/apple/ios.md#performance-monitoring
- [x] https://github.com/getsentry/sentry-cocoa/pull/2212
- [x] https://github.com/getsentry/sentry-cocoa/pull/2213

[2022-09-12 22:04] armcknight commented on #2066
The profiler currently will collect backtraces per thread on a sampling interval: https://github.com/getsentry/sentry-cocoa/blob/e3d2bc4d5bf2c6d8d4f47ba4537936a8286fb05e/Sources/Sentry/SentryProfiler.mm#L151

and https://github.com/getsentry/sentry-cocoa/blob/e3d2bc4d5bf2c6d8d4f47ba4537936a8286fb05e/Sources/Sentry/SentrySamplingProfiler.cpp#L51

Each backtrace has a time appended to it, and we pos

[2022-09-13 00:36] mokagio commented on #1013
Thanks!

As a consumer, I would really love a completion handler. I'm guessing the choice of making it blocking with a timeout is to cope with the possibility of having a long stash of events to send and not being able to guarantee they'll _all_ be sent in a reasonable time?

[2022-09-13 06:28] philipphofmann commented on #1013
Yes, indeed.

We don't have a completion handler in any of our SDKs. It's not part of our unified API, see https://develop.sentry.dev/sdk/unified-api/#client. Still, you could build your own completion handler with something like

[code]

[2022-09-13 08:12] kevinrenskers opened #2144 "Xcode 14 issues"
### Description

We have some warnings, and some actual errors preventing the tests from running:

![Screen Shot 2022-09-13 at 10 09 19](https://user-images.githubusercontent.com/229384/189847357-b4b3cfaf-97e8-4735-80b4-1f07b4e763ed.png)

Do the warnings mean we can't use Xcode 14 to build the project? We might need to increase the minimum iOS version unless we want to keep old versions of Xcode a

[2022-09-13 09:17] brustolin commented on #935
Thanks @georges. We'll take a look.

[2022-09-13 09:43] brustolin opened #2148 "Support tracePropagationTargets"
### Description

According to https://github.com/getsentry/team-mobile/issues/49, we need to add an option to users provide tracePropagationTargets in order to send trace_id header only to this targets.

See https://develop.sentry.dev/sdk/performance/#tracepropagationtargets for more information.

[2022-09-13 09:55] #2109 closed

[2022-09-13 11:33] philipphofmann opened #2149 "User segment should be a top level property on the user"
### Description

See https://github.com/getsentry/sentry-java/issues/2240

Docs PR https://github.com/getsentry/develop/pull/685

[2022-09-13 11:41] philipphofmann opened #2150 "Errors shortly after SentrySDK.init don't affect the session"
### Description

Capturing an error direclty after calling SentrySDK.init doesn't affect the session error count, as we start the session when `didBecomeActive` is called.

https://github.com/getsentry/sentry-cocoa/blob/f273eda1e1d73faa43e66fa4330e336347ab46ec/Sources/Sentry/SentrySessionTracker.m#L131-L163

We could start the session during the SDK init / when initializing the SessionIntegration.

[2022-09-13 12:07] philipphofmann commented on #2144
Shouldn't this be fixed with #2146, @kevinrenskers?

[2022-09-13 12:08] kevinrenskers commented on #2144
The errors are fixed, but the warnings are still there so I didn't close the issue as my question above is still unanswered.

[2022-09-13 13:02] philipphofmann commented on #2144
Ah, sorry missed that. We can only bump the deployment target in a major release. So it's fine to ignore it for now.

[2022-09-13 13:02] #2144 closed

[2022-09-13 13:27] kevinrenskers commented on #2144
Yes, but my real question was if we can even create a release using Xcode 14, or if we need to stick to Xcode 13 for that. If we need to stick to Xcode 13, that major release bump should come sooner rather than later because as soon as the next major macOS version releases, it's pretty likely that Xcode 13 won't run on it.

[2022-09-13 13:41] philipphofmann commented on #2144
I don't think we need to bump that. It's just a warning. I think iOS 9 was also a warning already for Xcode 13.

[2022-09-14 02:04] armcknight commented on #2102
Yes, you're right @kevinrenskers, I must've gotten mixed up creating a couple tickets like this.

I don't understand why it was originally written this way. It wasn't running at some point and later disabled, it was never functional.

[2022-09-14 08:24] philipphofmann opened #2155 "Use absolute time for tracing duration"
### Description

Currently, our transactions and spans use NSDate, which is not a safe API for time-sensitive measurements because
the time can be changed in iOS settings or by the system when it recalibrates with a remote
source of truth. Instead, we could switch to absolute system timestamps as used by profiling.
https://github.com/getsentry/sentry-cocoa/blob/eefdeedf0d7edd17ac03e89ab7a4da75f24b

[2022-09-14 08:47] embassem opened #2156 "Issue Ownership"
### Platform

iOS

### Installed

CocoaPods

### Version

7.24.1

### Steps to Reproduce

1. Create a new Framework and have a crash func inside it
2. use this package from an example app and call the func to crash the app
3. create an issue onwnership on the dashboard using type `module: FRAMEWORK_NAME` and assign it to member/team

### Expected Result

the crash should be suggested or assigned t

[2022-09-14 09:33] philipphofmann commented on #1589
I'm sorry about that, @sindresorhus. I will bump the priority for this issue.

[2022-09-14 09:42] philipphofmann commented on #2143
App hangs is already GA but disabled per default.

[2022-09-14 10:06] philipphofmann commented on #2143
I think we could enable core data and file I/O per default also in a minor release once we know it doesn't break anyone. Those features only add spans, so no impact on quota. What we could do already know is to make them GA and keep them disabled per default.

[2022-09-14 13:08] philipphofmann commented on #2001
Was fixed with https://github.com/getsentry/sentry-cocoa/pull/2002

[2022-09-14 13:08] #2001 closed

[2022-09-14 15:58] bruno-garcia commented on #1994
@brustolin this was done in which PR? Nothing shows up linked here unless I'm missing something

[2022-09-14 16:08] bruno-garcia commented on #1994
Reopening as it seems this is still broken. This isn't related to previously addressed 'cached trace_id' but instead, the parent span id being the incorrect one.

[2022-09-14 18:57] armcknight commented on #2155
See also https://github.com/getsentry/sentry-cocoa/discussions/1094#discussioncomment-3521972

[2022-09-15 07:04] philipphofmann commented on #2102
Isn't the comment clear for you, @armcknight?

It's handy for testing if sessions arrive correctly in Sentry.

[2022-09-15 07:10] kevinrenskers commented on #2102
So you need to manually enable the test again, run it, and then manually check inside of Sentry that they arrived correctly? Does anyone ever do that? Shouldn't we just remove this test? 🤔

[2022-09-15 07:16] kevinrenskers opened #2164 "Fix dispatchIdleTimeout on Apple Silicon"
### Description

The `testIdleTimeout_InvokesDispatchAfterWithCorrectWhen` test always fails when running on M1 Macs, and that's not because the test is flaky, it's because the underlying logic in the `dispatchIdleTimeout` method is broken on Apple Silicon.

See also https://stackoverflow.com/questions/73703816/dispatch-time-calculations-are-failing-on-apple-silicon, where sadly no answers have be

[2022-09-15 07:26] philipphofmann commented on #2164
Is the logic also broken on iPhones, @kevinrenskers?

[2022-09-15 07:30] kevinrenskers commented on #2164
Yes. Just create a new project in Xcode, Obj-C. Use this in the AppDelegate.

[code]

And yea...

[code]

[2022-09-15 08:12] kevinrenskers commented on #2103
It's absolutely not reproducible locally. And while I have seen some test failures in https://github.com/getsentry/sentry-cocoa/pull/2142 for example, `testCaptureMessage` wasn't among them. I think we can reenable it? I'll create a PR, run the tests a few times, see what happens.

[2022-09-15 08:17] kevinrenskers commented on #2114
This one isn't disabled, but yeah I've seen it fail a few times. But never locally.

[2022-09-15 08:54] philipphofmann commented on #2164
@kevinrenskers, please try
[code]

Instead of getting the dispatch time in advance, pass the constant `DISPATCH_TIME_NOW` to `dispatch_time`.

[2022-09-15 09:15] kevinrenskers commented on #2062
Running them locally in Xcode doesn't cause any failures, so I also tried to run them a bunch of times using the same command line invocation as we use on CI:

`env NSUnbufferedIO=YES xcodebuild -workspace Sentry.xcworkspace -scheme Sentry -configuration "Test" GCC_GENERATE_TEST_COVERAGE_FILES=YES GCC_INSTRUMENT_PROGRAM_FLOW_ARCS=YES -destination "platform=iOS Simulator,OS=latest,name=iPhone 8" te

[2022-09-15 09:19] kevinrenskers commented on #2164
That doesn't help, as it's still the addition of `DISPATCH_TIME_NOW` plus `delta` that results in the wrong value. It's only adding 24000000, not 1000000000 (what the delta is).

[2022-09-15 09:32] kevinrenskers commented on #2164
I've sent a request for help to Apple Developer Technical Support.

[2022-09-15 12:59] philipphofmann commented on #2066
@kevinrenskers, could you please play around with the above code to find out how expensive it is to get the current CPU overhead, similar to what we do with slow and frozen frames?

Maybe we can use [clock](https://en.cppreference.com/w/cpp/chrono/c/clock) for the CPU time. Be aware that `clock` might return a higher number than `getAbsoluteTime`, if multiple cores of a process are active.

[2022-09-15 15:05] cosmicvarion opened #2171 "Sentry in Framework and App - Duplicate Symbols"
### Platform

iOS

### Installed

Swift Package Manager

### Version

7.X.X

### Steps to Reproduce

1. Create a framework
2. Add Sentry as Swift package dependency
3. `@_implementationOnly import sentry`
4. Archive framework -> create Xcframework -> add as `binaryTarget` in Swift package
5. Create an iOS app and add the Swift package as a dependency
6. Add Sentry as Swift package in iOS app
7. Ru

[2022-09-16 02:36] armcknight opened #2172 "Check `@synchronized` usages"
### Description

`@synchronized` is the [most heavyweight](https://perpendiculo.us/2009/09/synchronized-nslock-pthread-osspinlock-showdown-done-right/) synchronization mechanism of those available, and we use it in 166 places. Try running our tests through Instruments to see what kind of performance penalty we're incurring by using it and if we deem it necessary in any situation, consider using `N

[2022-09-16 07:06] brustolin commented on #2171
Hello @cosmicvarion. Thanks for you interest in using Sentry, but our SDK is not meant to be used in Framework/Libraries. In fact, we do not support two instances of the SDK running in the same project pointing to different DSNs.

[2022-09-16 07:28] #2171 closed

[2022-09-16 07:33] brustolin commented on #2172
Based on your description, I believe that even though '@syncronized' is the heaviest, it's also the simplest to use. Is that right?

Maybe we should only consider updating those places that are called multiple times per second.

[2022-09-16 08:33] philipphofmann commented on #2156
Thanks for pointing that out, @embassem. While we could start sending `module`, I first have to check what implications that would trigger.

I need to clarify the exact difference between module and package, as our develop docs https://develop.sentry.dev/sdk/event-payloads/stacktrace/ don't give me a clear answer.

The Android SDK sends module, but not package. Same for the Python SDK. Maybe the s

[2022-09-16 08:59] philipphofmann commented on #2102
Yes, exactly. I do it when I touch the session logic.

[2022-09-16 08:59] philipphofmann commented on #2102
I would like to keep that test, please. It was useful in the past for me.

[2022-09-16 08:59] #2102 closed

[2022-09-16 09:06] #2125 closed

[2022-09-16 16:42] kevinrenskers commented on #2164
Got an answer from Apple.

I wasn't really sure what he meant so I asked for clarification and he sent this:

So basically `dispatch_time` and `dispatch_after` deal with the fact that it's getting ticks and not nanoseconds. But our tests reads the `when` value and sees if it's equal to a value we're calculating in Swift without involving `dispatch_time` at all, and that value isn't the same and th

[2022-09-19 11:09] #1615 closed

[2022-09-19 12:04] #1013 closed

[2022-09-19 12:44] #1226 closed

[2022-09-19 13:30] philipphofmann commented on #2164
That makes sense, @kevinrenskers. Thanks for the update. I'm going to restructure the code a bit and open a PR soon.

[2022-09-19 14:24] kevinrenskers commented on #1235
iOS:

[code]

But we also have this:

[code]

Most interesting to add:

- battery_level
- orientation
- charging
- screen_height_pixels
- screen_width_pixels
- free_storage

Not so useful:

- name: do you really need to know the name of the device? Plus that usually has PII, like "Kevin Renskers' iPhone"
- manufacturer and brand: always Apple anyway

Not sure about usefulness or feasibility:

- lo

[2022-09-19 21:14] martindufort opened #2191 "HTTP Calls included in breadcrumb when opted out."
### Platform

macOS

### Installed

Swift Package Manager

### Version

7.25.1

### Steps to Reproduce

When starting the Sentry SDK in debug mode, we can see http calls being added to the breadcrumbs even if we have stated not to track them.

See below for our init:

[code]

Anything we are not seeing?

### Expected Result

HTTP Calls tracking should **not** be reported

### Actual Result

HTTP C

[2022-09-20 07:22] philipphofmann commented on #2191
There is an extra option for breadcrumbs `enableNetworkBreadcrumbs`.  `enableNetworkTracking` is only for auto-generated spans for HTTP requests for performance monitoring. I just saw that the code docs are misleading. I'm going to update them.

[2022-09-20 08:57] #2164 closed

[2022-09-20 08:57] #2191 closed

[2022-09-20 11:52] #1994 closed

[2022-09-20 13:25] kevinrenskers commented on #1664
I am going to send this as `event.context.app.data_storage`, as an integer. There isn't an existing property for the app data size (see https://develop.sentry.dev/sdk/event-payloads/contexts/), so I made this key up myself. It's also not rendered nicely in a human readable format yet. Where can we ask the sentry.io team if this key makes sense, and if they can render this one nicely?

[2022-09-20 14:23] bruno-garcia commented on #1664
Please be explicit about the `unit` we're using here. If it's `bytes`, for example, we need to document this in code and on develop.sentry.dev.

Also, the UI should be able to render KB/MB/GB, etc, if the field is set to the right unit in the Sentry front end

[2022-09-20 14:25] kevinrenskers commented on #1664
It's in bytes like all the other memory and storage sizes we send

[2022-09-20 15:05] kevinrenskers opened #2199 "Fix flaky test_DataConsistency_readPath"
### Description

Starting today I am seeing this one in multiple PRs, completely unrelated to any code changes in those PRs. Rerunning helps.

[code]

[2022-09-20 18:43] martindufort commented on #2191
Thanks @philipphofmann. Working perfectly now.

[2022-09-20 21:44] armcknight opened #2202 "Track macOS apps running under Rosetta"
### Description

Could be nice to be able to segment sessions/transactions/profiles by apps compiled natively on Apple Silicon vs an x86 binary translated to M1 via Rosetta, and/or provide a special icon/treatment anytime we display that something ran on Silicon.

We can determine if an app is running under rosetta thusly: https://developer.apple.com/forums/thread/659846
[code]

[2022-09-21 07:08] armcknight commented on #900
KSCrash does have its own routine using sysctl, here it is in the Sentry fork: https://github.com/getsentry/sentry-cocoa/blob/60455bdb4572a4c1e4b604cc1735a3195730939f/Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m#L275-L310

I also was just working on this same problem for profiling purposes, which is how I stumbled on this related set of issues. See this draft PR: https://gith

[2022-09-21 12:30] #2062 closed

[2022-09-21 13:04] philipphofmann commented on #1235
We definitely don't want to add a third party library for such a small feature. Either we use their approach and give them credit, or we use the Apple's Reachability class, or we don't do it.

I think it's not that important on iOS as the variety of devices is not so big. You usually know what the density is.

Let's drop it then.

See screen_density.

[2022-09-21 13:33] philipphofmann commented on #1664
Yes, please use the same approach as for these values https://github.com/getsentry/sentry-cocoa/blob/ceaa5790db2d26f454ad7962a9aaa62d09467449/Sources/Sentry/SentryCrashIntegration.m#L251-L253

They show up like this in Sentry:
<img width="314" alt="Screen Shot 2022-09-21 at 15 26 17" src="https://user-images.githubusercontent.com/2443292/191516081-4460dbe8-470d-4639-9d09-9cdbb4abf0d8.png">

We nee

[2022-09-21 15:57] kevinrenskers commented on #1664
I'm not sure what you mean with this. What approach do you mean? I'm setting an integer of bytes to the field `event.context.app.data_storage`. Even though it happens in a different file, the approach in the end is the same, right? Sentry's UI just needs to know about it.

[2022-09-21 22:50] imjamesim opened #2223 "NSDebugDescriptionErrorKey does not change the error description on the Issues page"
### Core or SDK?

Platform/SDK

### Which part? Which one?

ios/usage/#customizing-error-descriptions

### Description

Excerpt from [Customizing Error Descriptions section on the Usage for iOS page](https://docs.sentry.io/platforms/apple/guides/ios/usage/#customizing-error-descriptions):

Although I've added a description to the userInfo dictionary with `NSDebugDescriptionErrorKey`, I'm not seein

[2022-09-22 02:47] yufanghui commented on #1533
Hello, we have also encountered this bug, which is the most frequent bug in our app.

<img width="1568" alt="image" src="https://user-images.githubusercontent.com/16069335/191647014-7c29f53e-bcee-432f-91cd-03b7046972a4.png">

OS Version: iOS 15.6.1 (19G82)
Report Version: 104

Exception Type: EXC_CRASH (SIGABRT)
Crashed Thread: 9

Application Specific Information:
NSException > terminating with %s

[2022-09-22 08:20] philipphofmann commented on #1664
Yes, exactly.

[2022-09-22 08:20] philipphofmann commented on #1664
@ueman or @marandaneto, do you already send this for the dart SDK? If yes, which name did you choose for this property?

[2022-09-22 08:23] ueman commented on #1664
No, the Dart SDK doesn't send it.

[2022-09-22 09:04] #1235 closed

[2022-09-22 09:14] kevinrenskers opened #2207 "Benchmark test is broken"
### Description

We get the following errors in the Benchmarking test:

`❌  error: No profiles for 'io.sentry.sample.iOS-Swift.Clip' were found: Xcode couldn't find any iOS App Development provisioning profiles matching 'io.sentry.sample.iOS-Swift.Clip'. Automatic signing is disabled and unable to generate a profile. To enable automatic signing, pass -allowProvisioningUpdates to xcodebuild. (in ta

[2022-09-22 10:15] marandaneto commented on #1664
nope, that would come directly from the iOS or Android SDK if possible.

[2022-09-22 11:24] #2207 closed

[2022-09-22 12:29] philipphofmann commented on #2099
This concept was replaced by https://github.com/getsentry/sentry-cocoa/issues/2148.

[2022-09-22 12:29] #2099 closed

[2022-09-22 12:35] philipphofmann commented on #1912
After investigating this feature, it turned out that it is not that useful. If a lifecycle method needs 200 ms to complete, and we put a slow frame span below it, it doesn't add extra value because you can assume that already if you see that you have one slow frame. By just looking at the raw numbers of slow and frozen frames, you know that you have to fix something, and you should keep an eye on

[2022-09-22 12:35] #1912 closed

[2022-09-22 12:47] philipphofmann commented on #1482
We now have performance metrics for the SDK https://github.com/getsentry/sentry-cocoa/pull/2067 and also benchmarking workflows. We can close this.

[2022-09-22 12:47] #1482 closed

[2022-09-22 12:49] kevinrenskers commented on #1664
We discussed this in our meeting today, and we're closing this issue for now until we can track metrics over time. We can't measure the Documents & Data size in real time for every single transaction because it's too slow, so it doesn't make sense to send this data as part of a transaction - it'll be stale data.

What would be interesting is to see the value change over time, for which metrics wou

[2022-09-22 17:27] martindufort opened #2214 "App Hang Tracker thread still running even if configuration is turned off."
### Platform

macOS

### Installed

Swift Package Manager

### Version

7.25.1

### Steps to Reproduce

We have setup our Sentry install so it will not track `app hangs`.

This is our complete config setup

[code]

### Expected Result

The list of running threads **should not** contain the Sentry app-tracker thread.

### Actual Result

The Sentry app hand-tracker thread is still running.

<img wid

[2022-09-23 07:17] philipphofmann commented on #2214
If you have out of memory tracking enabled, which is enabled per default, we also need the ANRTracker, because our OOM logic would otherwise assume that ANRs leading to crashes are OOMs; see #1695.

[2022-09-23 07:31] philipphofmann commented on #2214
Opened a PR to clarify this in the docs https://github.com/getsentry/sentry-docs/pull/5553. I think that should answer your question, @martindufort. Please reopen if it doesn't.

[2022-09-23 07:31] #2214 closed

[2022-09-23 08:44] kevinrenskers commented on #2148
@brustolin Do we actually send a `trace_id` header? Or is the `trace_id` only sent as part of the `baggage` header? As far as I can tell we only add one header inside of `addTraceHeader`, just wanted to make sure this is correct.

[2022-09-23 09:39] brustolin commented on #2148
[Here](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryNetworkTracker.m#L123-L150)

[2022-09-23 12:59] martindufort commented on #2214
Thanks @philipphofmann. That clarifies everything. Good job.

[2022-09-23 13:21] philipphofmann opened #2216 "Measure how long an app hang lasts"
### Description

The SDK doesn't track the duration of an app hang. The ANRTrackingIntegration immediately reports an app hang when it occurs. To get the exact duration, the SDK would need to write the app hang to disk first because the watchdog could kill the app anytime when it is blocking the main thread. When the ANR stops, which we detect here
https://github.com/getsentry/sentry-cocoa/blob/b8

[2022-09-24 01:35] armcknight opened #2218 "Unit test or try building on earliest supported platform versions in CI"
### Description

I had the podspec validation fail due to

but this error didn't happen anywhere else. It would be nice to have minimum API checks for all the platforms. Usually this happens in Xcode, I'm not sure why this wasn't caught.

Relatedly, I noticed that the github action image providing Xcode 10 is deprecated and will no longer be supported as of 1 Dec 2022 ([source](https://github.com/

[2022-09-26 13:19] brustolin commented on #2223
@imjamesim Thanks for pointing this out. We going to investigate.

[2022-09-26 13:22] philipphofmann commented on #1999
Should be fixed with https://github.com/getsentry/sentry-kotlin-multiplatform/pull/20. Feel free to open if not.

[2022-09-26 13:26] brustolin commented on #2216
I think we can't calculate the exact duration if the OS kills the app, but then we could report crash because of app hangs, which is also very nice.

To improve the calculation of duration we can look into the last frame from the frame tracker to now when the hang began.

[2022-09-26 14:48] philipphofmann commented on #2223
@imjamesim, can you please share a code snippet for us to reproduce your issue?

[2022-09-26 14:49] philipphofmann commented on #2216
Yes, we can't calculate it when the OS kills the app, but we can calculate it if it doesn't.

[2022-09-26 17:28] rickclephas commented on #1999
@philipphofmann I don't think that really solves the "problem".
That PR uses similar logic to what I have used, which relies on a number of private APIs.

I feel like it would be better to officially support this in the Cocoa SDK.

A KMP SDK is great, but one of the biggest strengths of KMP is its ability to integrate with native projects.
Providing the required APIs as part of the public API woul

[2022-09-26 20:18] imjamesim commented on #2223
@philipphofmann here's a snippet that shows how we're using `NSDebugDescriptionErrorKey` to provide a custom debug description for Apollo's `GraphQLError`:

[code]

[2022-09-27 08:24] brustolin opened #2231 "Transmit crashes using background requests"
### Description

Sometimes the app crashes and the user don't open it again.

We could check if the app supports background requests, and if so, we try to send the envelope in the background. This way the OS is responsible for uploading the envelope, the app does not need to be open.

[2022-09-28 05:14] markuswahl-2 commented on #1852
Hi @kevinrenskers
Have you have had a chance to look into this?

best regards,
Markus

[2022-09-28 11:36] kevinrenskers commented on #2231
But once the app is crashed you can't start a new background request, can you?

[2022-09-28 12:45] #2149 closed

[2022-09-28 13:16] philipphofmann commented on #2156
For reference, [internal Slack discussion](https://sentry.slack.com/archives/GA1BA7076/p1664370935505289).

[2022-09-28 13:42] brustolin commented on #2202
This feature only makes sense if the app user enables "Open using Rosetta" under app "Get info" menu on Apple Silicon devices.
Or am I missing something here?

[2022-09-28 14:28] brustolin commented on #2231
Its dangerous to tap into objc during signal handling but its is possible.
And we also could schedule all the upload during initialisation before the app crashes again or the user closes the app.

[2022-09-28 15:24] philipphofmann commented on #2155
Consider updating the develop docs to use wall time for tracing.

[2022-09-29 00:14] #2037 closed

[2022-09-29 07:40] #316 closed

[2022-09-29 08:31] #778 closed

[2022-09-29 10:11] lewis-smith opened #2240 "'SentryPerformanceTracker+Private.h' file not"
### Platform

iOS

### Installed

CocoaPods

### Version

7.26.0

### Xcode Version

14.1.0 b 2

### Steps to Reproduce

1. install 7.26.0 via pods
2. do clean + build
3. see compile error

This may somehow be specific to my project, but the compile failure is inside the pod

### Expected Result

Should compile

### Actual Result

Compiler error

`'SentryPerformanceTracker+Private.h' file not foun

[2022-09-29 10:13] lewis-smith commented on #2240
I downgraded to Sentry 7.25.1 and the build issues go away.

[2022-09-29 10:23] #2148 closed

[2022-09-29 11:49] kevinrenskers commented on #2240
Strange, it works fine when I create a brand new Xcode project, add Sentry via Cocoapods, and build & run.

Can you check if `SentryPerformanceTracker+Private.h` is missing from the Sentry pod? (Should be in Pods > Sources > Sentry > includes).

[2022-09-29 12:24] lewis-smith commented on #2240
you are right. I ran pod update again (I had rolled back to the previous sentry) and everything worked. must have been a glitch in Xcode or cocoapods. thanks for looking into it, sorry to have taken your time.

[2022-09-29 12:24] #2240 closed

[2022-09-29 12:25] kevinrenskers commented on #2240
No problem at all, just glad it wasn't a horrible bug 😅

[2022-09-29 12:47] philipphofmann commented on #2240
No worries, @lewis-smith, if this would have been a bug, it would be horrible, like @kevinrenskers already pointed it out.

[2022-09-29 13:17] philipphofmann commented on #2223
Docs PR https://github.com/getsentry/sentry-docs/pull/5583.

[2022-09-29 14:53] philipphofmann opened #2243 "Double check event protocol with the latest relay scheme"
### Description

Go through the event protocol and check if the properties match the relay schema. For more info, see https://github.com/getsentry/team-mobile/issues/56

[2022-09-30 09:29] kevinrenskers commented on #1656
Using 7.26.0 I am seeing crash reports getting sent without problem: `Sent 1 crash report(s)`, and indeed I see the crash in Sentry. @jbehrens94 mentioned that he saw crash reports coming in using 7.15.0 as well. I'm seeing JSON files getting written to disk without any problem. So, to me it seems we can close this issue?

![Screen Shot 2022-09-30 at 11 28 49](https://user-images.githubusercontent

[2022-09-30 16:42] imjamesim commented on #2223
@philipphofmann ah we were on 7.23.0. I just confirmed this works as expected on 7.27.0. Thanks for the clarification!

[2022-10-03 08:47] #1624 closed

[2022-10-03 09:45] #2223 closed

[2022-10-03 10:50] kevinrenskers commented on #1656
Closing this issue as it seems to have been fixed some time ago.

[2022-10-03 10:50] #1656 closed

[2022-10-03 11:19] vaind commented on #1961
resolved by https://github.com/getsentry/sentry-cocoa/pull/1926/files#diff-489e20902b3b8cb67d406ba71c59e123294eead63461fd69a475859ad75a6309R31-R37

[2022-10-03 11:19] #1961 closed

[2022-10-03 12:53] philipphofmann commented on #1973
@lhunath, can you please gives us some sample code on how you would expect our SDK to handle your feature request?

[2022-10-03 13:20] kevinrenskers opened #2245 ""Validate Podspec" workflow failure"
### Description

[code]

[2022-10-03 13:31] kevinrenskers opened #2246 ""Integration Tests / vlc-tests" workflow failure"
### Description

This seems to be failing really often now, unrelated to any code changes.

[code]

[2022-10-03 13:39] kevinrenskers commented on #2245
I get the same when running the test locally: `pod lib lint --verbose` (on the master branch). And found this issue: https://github.com/CocoaPods/CocoaPods/issues/11558.

I think we might need to disable this workflow step for now, or we ignore this error?

[2022-10-03 14:06] kevinrenskers opened #2247 "Fix flaky testTimezoneChangeNotificationBreadcrumb"
### Description

See title

[2022-10-03 14:34] kevinrenskers commented on #1852
I am looking into this now.

[2022-10-04 09:23] philipphofmann opened #2248 "Attaching app start data to first finished transaction"
### Description

The SentryTracer attaches the app start data to the first auto-generated transaction that finishes. How to reproduce this:

1. Start a child span on the auto-generated transaction in, for example, `viewDidLoad` of the iOS-Swift sample app on a background thread, and finish it after 3 seconds.
[code]
2. Start the iOS-Swift app.
3. Quickly open another ViewController

The SDK attach

[2022-10-04 12:27] kevinrenskers commented on #2246
OS 15.5 is not supported, so updating to 16.0 should fix this. Easier than installing older simulators!

[2022-10-04 13:51] #2246 closed

[2022-10-04 14:19] philipphofmann commented on #1949
Didn't see this for a while. Going to close this.

[2022-10-04 14:19] #1949 closed

[2022-10-04 14:46] philipphofmann opened #2254 "Make pod lib lint work for Xcode 14.0.1"
### Description

Since October 3rd, the default Xcode version is 14.0.1 on [GH actions macos-12](https://github.com/actions/runner-images/blob/main/images/macos/macos-12-Readme.md), which breaks pod lib lint. With https://github.com/getsentry/sentry-cocoa/pull/2253 we stick to Xocde 13.4.1, but we should make `make pod-lint` work for Xcode 14.01.

Relevant logs
[code]

[2022-10-04 14:53] kevinrenskers commented on #2254
I think we can close https://github.com/getsentry/sentry-cocoa/issues/2245 that I created?

[2022-10-04 14:54] philipphofmann commented on #2254
Related to https://github.com/CocoaPods/CocoaPods/issues/11558

[2022-10-04 14:55] philipphofmann commented on #2245
Duplicate of https://github.com/getsentry/sentry-cocoa/issues/2254

[2022-10-04 14:55] #2245 closed

[2022-10-04 21:03] elliottkember opened #2258 "Could not decode report: Data too long (React Native)"
### Platform

iOS

### Installed

CocoaPods

### Version

7.27.0

### Steps to Reproduce

- Trigger an error in a React Native application using Sentry with `Sentry.nativeCrash()`
- No error shows up in Sentry dashboard

I have minimal data in my `userInfo`, but this `objectPath` in FixupContext keeps causing the data to be too long.

### Expected Result

The error should show up in Sentry

### Ac

[2022-10-05 07:10] philipphofmann opened #2259 "Fix SentryStacktraceBuilderTests.testAsyncStacktraces"
### Description

SentryStacktraceBuilderTests.testAsyncStacktraces sometimes fails with
[code]

https://github.com/getsentry/sentry-cocoa/actions/runs/3187832714/jobs/5199820557

[2022-10-05 07:18] brustolin commented on #2258
Hey @elliottkember. Thanks for pointing this out. Can you give us more information about your project? Like, what kind of information are you adding into the SDK before trigging the error? What other dependencies does your project have? Can you provide us with a small repro?

@krystofwoldrich can you help trying to reproduce this?

[2022-10-05 07:41] philipphofmann commented on #2199
Also `SentryFileIOTrackingIntegrationTests.test_DataConsistency_readUrl` sometimes fails

[2022-10-05 08:38] #2248 closed

[2022-10-05 09:42] krystofwoldrich commented on #2258
@brustolin Ofc, I've checked with our sample app, and that one is sending native crashes.

We will need some steps/repo on how to reproduce. Also, a version of RN and RN SDK could be helpful.

[2022-10-05 10:00] philipphofmann commented on #2116
I finished testing; see above.

[2022-10-05 10:00] #2116 closed

[2022-10-05 10:12] marandaneto opened #2262 "`SentryAppStartTrackingIntegration` and `SentryFramesTrackingIntegration` should be allowed to be enabled if `isTracingEnabled=false`"
### Problem Statement

When people decide to init the Hybrid SDKs manually, they follow [this step](https://docs.sentry.io/platforms/react-native/manual-setup/native-init/).

`enableAutoPerformanceTracking` is already enabled by default and that's fine.

People already enable tracing in the Hybrid SDKs and may not want to enable it in the Native SDKs.

The problem is that `SentryAppStartTrackingIn

[2022-10-05 13:05] philipphofmann opened #2264 "Enable File I/O APM per default"
### Description

The feature is GA with https://github.com/getsentry/sentry-cocoa/issues/1587, but still disabled by default.
https://github.com/getsentry/sentry-cocoa/blob/9231f608d4b6fe4ec24f878e3c669d45ab946721/Sources/Sentry/SentryOptions.m#L70

Before enabling it by default we should measure the overhead.

[2022-10-05 13:06] philipphofmann commented on #1587
Is already GA with #2212.

Enable by default see https://github.com/getsentry/sentry-cocoa/issues/2264

[2022-10-05 13:06] #1587 closed

[2022-10-05 13:28] philipphofmann commented on #2216
Maybe we could also detect if the user terminates the app because it kept hanging, and report this as a special type of app hang.

[2022-10-05 13:47] philipphofmann opened #2265 "Enable UI Event transactions for clicks by default"
### Description

UI Event transactions for clicks are GA with https://github.com/getsentry/sentry-cocoa/issues/1843.

As enabling this feature by default has an impact on quota, we only can enable it by default in a major update.

[2022-10-05 14:43] ErrorPro commented on #1533
Hello! We're having the same issue using `"@sentry/react-native": "^3.2.13"`  @philipphofmann
<img width="1060" alt="image" src="https://user-images.githubusercontent.com/6295152/194089186-b045cdd6-9f06-48cc-a8ee-78b25b7bcae0.png">

[2022-10-05 14:51] garriguv commented on #1247
FYI, I've been investigating this as well.

I started by experimenting with the following snippet to send OSLog entries to Sentry:
https://gist.github.com/garriguv/b5462cf629d8c8474d9b8474ca6d0744

The caveat is that the OSLogStore is very slow, so we only get a batch of logs every 10-15 seconds, which means that you'll likely miss the logs leading up to a crash.

A better approach could be to att

[2022-10-05 15:18] philipphofmann opened #2266 "Hacktoberfest 2022 🎃"
### Description

### Description

Hey folks, [happy Hacktoberfest](https://hacktoberfest.com/)!

The Sentry Cocoa SDK is accepting PRs for hacktoberfest.

We are happy to assist you with scoping work, writing code/tests, and getting your fix/feature shipped! Look for issues with the label Hacktoberfest

Before opening a PR, look at the following steps:

- Read our [Code of Conduct](https://github.

[2022-10-05 15:34] kevinrenskers commented on #1149
Doesn't that just move the problem, not fix it? Then that new integration might be removed. 🤔

Or would it be an integration that users can't enable/disable, we automatically enable it if OOM or SentryAppStartTracker is enabled? (There are no other bits and pieces that need the app state, right?)

[2022-10-05 21:56] filip-doordash commented on #1661
@philipphofmann, eventually, I think a mix between MXCrashDiagnostic & Sentry's crash reporting service could be helpful. Primarily for OOM crashes, as you [mentioned in Jan 2021](https://github.com/getsentry/sentry-cocoa/issues/897#issuecomment-756685804), but other exceptions too.

I mean, if Sentry deduplicates crashes anyways, what's the harm? :)

For example, in the case of a memory leak, Sen

[2022-10-06 07:20] philipphofmann commented on #1247
Thank you, @garriguv, for the update. 👏

Are these up to date or also 15 seconds delayed?

Do you mean logs from the last app launch that crashed? Wouldn't that be enough?

[2022-10-06 10:20] kevinrenskers opened #2267 "SentryHttpTransportTests.testFlush_CalledMultipleTimes_ImmidiatelyReturnsFalse problems"
### Description

When you run `testFlush_CalledMultipleTimes_ImmidiatelyReturnsFalse` by itself, or all the tests in `SentryHttpTransportTests`, this test always fails (on master with no changes).

But when you run the entire testsuite, the test passes. What the hell?

[2022-10-06 12:30] philipphofmann commented on #2262
Basically, you should be able to get app start and frames data even when no performance monitoring or auto-performance monitoring is not enabled. This only makes sense for hybrid SDKs.

[2022-10-06 13:20] philipphofmann commented on #1533
Thanks for the update, @ErrorPro.

[2022-10-06 13:30] philipphofmann commented on #1247
Hacktoberfest is actually for contributing to open source. I added the tag because I thought it might be something a contributor could have a shot at.

[2022-10-06 13:33] brustolin commented on #1737
*An update on some findings*

1. Getting a meaningful name out of SwiftUI-generated UIViewControllers seems almost impossible. We have a somewhat working solution, but it is fragile and only works for a specific use case.
2. Combining Swift-UI view spans and SwiftUI-generated UIViewControllers spans in one transaction would be fantastic as it gives you the full picture.
3. SwiftUI only has a callb

[2022-10-06 13:33] philipphofmann commented on #1149
Maybe then, not an extra integration. Another class that both `SentryOutOfMemoryTracker` and `AppStartTracker` use.

[2022-10-07 16:23] armcknight opened #2269 "SentryCrashIntegrationTests.testStartUpCrash_CallsFlush flakes"
### Description

I see this test and other tests related to the recent flush changes flake fairly regularly:

- failing: https://github.com/getsentry/sentry-cocoa/actions/runs/3206072168/jobs/5239374426#step:9:50
- passing: https://github.com/getsentry/sentry-cocoa/actions/runs/3206072168/jobs/5239498959#step:9:31

[2022-10-10 07:57] brustolin opened #2270 "There is no way to private SDKs to add packaged into the SDK info"
### Description

Private SDKs need to inform other packaged into the SDK information.

See https://github.com/getsentry/sentry-dart/issues/1056

[2022-10-10 09:03] marandaneto commented on #2270
https://develop.sentry.dev/sdk/event-payloads/sdk/#attributes
`integrations` and `packages` are missing.

[2022-10-10 12:51] philipphofmann commented on #2269
Maybe best to disable them for now, @armcknight?

[2022-10-11 08:48] philipphofmann commented on #1671
I think one central point of rate-limiting is that if one is active, we should read all files from disk and throw them away. Otherwise, we going to hit another rate limit the next time we try to send all envelopes. @marandaneto, do you agree?

[2022-10-11 14:45] kevinrenskers opened #2273 "Improve Sauce Labs workflows"
### Description

I see these 3 workflow fail so so often, usually because of timeouts after like 50 minutes. Restarting almost always works. Can we fix the underlying issue, and if not, decrease the timeout and enable automatic restarts or something? And how useful are these benchmarking tests to begin with?

[2022-10-12 06:13] philipphofmann commented on #2273
Which workflows exactly are you talking about? The [benchmarking workflows](https://github.com/getsentry/sentry-cocoa/actions/workflows/benchmarking.yml), @kevinrenskers?

[2022-10-12 06:36] kevinrenskers commented on #2273
Yes

[2022-10-12 08:43] marandaneto commented on #1671
I don't think we should throw them away, the comment is about making the transport aware that there's rate limiting going on, so you should back off for a while and don't even try to read/send them for a while.

[2022-10-12 11:45] kevinrenskers commented on #2267
I am now also seeing random `testFlush_CalledMultipleTimes_ImmidiatelyReturnsFalse` failures in unit tests, so it also fails when running the entire testsuite. Rerunning them fixes things, so it's definitely flaky, on top of the local problems already mentioned above.

[2022-10-12 14:31] philipphofmann commented on #1917
Was already fixed with https://github.com/getsentry/sentry-cocoa/pull/1915

[2022-10-12 14:31] #1917 closed

[2022-10-13 07:04] philipphofmann opened #2278 "Add Code docs with jazzy"
### Description

Use https://github.com/realm/jazzy to create code docs similar to, for example, https://alamofire.github.io/Alamofire/. CI should automatically update these.

[2022-10-13 07:24] kevinrenskers commented on #1189
This was done quite some time ago :)

https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryEvent.m#L142

[2022-10-13 07:24] #1189 closed

[2022-10-13 07:31] brustolin opened #2279 "Remove PrivateSentrySDKOnly.h from Sentry.h"
### Description

We should remove PrivateSentrySDKOnly.h from Sentry.h. This way we hide it from customers, and hybrids SDK could import it explicitly.

This need to be sync with hybrids SDK.

[2022-10-13 07:36] kevinrenskers commented on #1812
Question: the DSN can't be changed while the app is running, right? The options are immutable. So on app start up we'd need to remove the old stuff, when the DSN got changed. But at that point we don't have access to the old DSN any more.

Do we loop over all folders in `[cachePath stringByAppendingPathComponent:@"io.sentry"]`, and delete everything that isn't `[self.sentryPath stringByAppendingPa

[2022-10-13 08:33] #1149 closed

[2022-10-13 08:39] nicolascabaret opened #2282 "EXC_BREAKPOINT [SentryNetworkTrackingIntegration swizzleURLSessionTask] threading violation: expected the main thread"
### Platform

iOS

### Installed

Swift Package Manager

### Version

7.27.1

### Steps to Reproduce

No exact pattern to reproduce but it happens while using background thread for networking

### Expected Result

No crash

### Actual Result

<img width="1321" alt="screenshot" src="https://user-images.githubusercontent.com/49147771/195546611-aa51b476-b3e7-4120-9444-9b76e60ba813.png">

[2022-10-13 08:56] marandaneto commented on #1852
@philipphofmann I can also see that if I just stop the debugger and open it again, but this is likely an exit(0) example, will try a release mode.

[2022-10-13 12:26] philipphofmann opened #2283 "Add option for start up crashes"
### Description

Add an option `enableStartupCrashDetection ` with a default of `true`, so users can disable the start up crahes detection added with #2220.

Please also add this option to the docs.

[2022-10-13 13:34] brustolin commented on #1737
# Why is this taking so long?
Quick answer: Too many new challenges that we did not face before.

_continue reading for the details_

## The Challenge
In order to have SwiftUI performance monitoring, we need to have Swift code on Sentry SDK.

## The problem
We use 3 different ways to distribute Sentry framework, Swift Package Manager (SPM), CocoaPods and Carthage.
- SPM do not allow mix languages

[2022-10-13 14:01] philipphofmann commented on #2282
It could be that `SentryNetworkTrackingIntegration swizzleURLSessionTask` is not responsible for the crash you see. Our SDK swizzles network requests. So basically, we intercept almost all requests you do. Can it be that some of your network request code tries to update some UI on a background thread after it's finished? Could you maybe share the full stacktrace here?

[2022-10-13 14:05] philipphofmann commented on #1671
The envelopes could pile up if you keep them in the cache while a rate limit is active. Once the rate limit times out, the SDK could spam the server with the piled-up envelopes, leading to another rate limit. Then you end up in a vicious cycle. @marandaneto

[2022-10-13 14:22] philipphofmann commented on #1812
You could have multiple hubs running at the same time with different DSNs. You could also close the SDK and start it again with a different DSN. So removing the hash doesn't work.

A very simple approach would be to once in a while delete any envelope items, no matter the DSN, being older than 90 days, as Sentry only retains data for 90 days, see https://sentry.io/security/#data-retention.

Feel f

[2022-10-13 16:15] philipphofmann opened #2284 "SentyCrashIntegration setting screen pixels can get stuck"
### Description

The following code gets stuck
https://github.com/getsentry/sentry-cocoa/blob/372ffbef48535f7179f7120c431887b8aa98018a/Sources/Sentry/SentryCrashIntegration.m#L273-L276

when running the TestObserver with test configuration TestCI.
https://github.com/getsentry/sentry-cocoa/blob/372ffbef48535f7179f7120c431887b8aa98018a/Tests/SentryTests/TestUtils/SentryTestObserver.m#L32-L35

A temp

[2022-10-13 18:05] armcknight opened #2287 "Flaky tests"
### Description

Found a few more after needing to rerun CI on a couple PRs with unrelated changes, where they failed the first time and passed on retry:

- `SentryFileIOTrackingIntegrationTests.test_DataConsistency_readUrl_disabled` (this was already disabled in the Sentry framework scheme tests, but is also run in iOS-SwiftUITests, and was not disabled there yet)
- `SentryHttpTransportTests/test

[2022-10-14 05:11] philipphofmann commented on #2287
I would disable all of them and create an issue for each of them to fix the flaky test.

[2022-10-14 11:48] #2267 closed

[2022-10-14 13:03] kevinrenskers commented on #2283
Why would someone want to disable this feature?

[2022-10-14 14:10] romtsn commented on #2283
I think this is the reason we should have it. Because we made some assumptions on the flush timeout and startup crash threshold, doesn't mean that they are correct. 2 seconds threshold might very well be enough for most of the apps in developed countries to flush out the envelopes, so that they don't even need to block and would like to disable this altogether.

Another point is - we care so much

[2022-10-14 14:29] kevinrenskers commented on #2283
Then the question becomes: why would anyone want to enable it, if it causes problems? To me adding flags and options is not necessarily a good thing. The feature should either be useful and not cause problems, or should be made that way, so there is no reason to disable it. Not sure if that is possible here, but just adding a boolean seems weird to me.

[2022-10-14 14:29] #2284 closed

[2022-10-17 04:20] sindresorhus commented on #1919
It would be great if this could be prioritized. I have adopted Swift Concurrency in all my apps and now most stack traces in Sentry are unusable.

[2022-10-17 12:41] philipphofmann commented on #2283
As discussed on a call with @romtsn, we decided that we don't add this option for now. We think that this feature should be on by default, and there should be no good reason to disable it, as you accept the app start being blocked if there was a crash shortly after the app start on a previous run. We can always add this option later.

[2022-10-17 12:41] #2283 closed

[2022-10-17 12:44] brustolin opened #2297 "Update specs regarding http status code"
### Description

SentryNetworkTracker saves the http status in the span's `tag` collection. We should update the specs to reflect this.

[2022-10-17 14:19] nicolascabaret commented on #2282
Well after investigations, we noticed the SDK is started twice in a row. It crashes because while the first instance is logging network task, instantiation of the 2nd start call dealloc of the first one on the background queue associated with the url session. And when dealloc `SentryClient`, you also dealloc `SentryUIDeviceWrapper` which call `[UIDevice.currentDevice endGeneratingDeviceOrientation

[2022-10-17 14:20] philipphofmann commented on #2265
Duplicate of https://github.com/getsentry/sentry-cocoa/issues/1968

[2022-10-17 14:20] #2265 closed

[2022-10-17 14:20] nicolascabaret commented on #2282
I think multiple starts should not be possible. That would be really helpful to protect the start and even adding some console error and logs

[2022-10-17 14:22] philipphofmann opened #2298 "GA User Interaction Tracing"
### Description

Make User Interaction Tracing GA, but don't enable the feature by default as this impacts the quota and had to be done in a major bump with https://github.com/getsentry/sentry-cocoa/issues/1968.

- [ ] Remove [experimental comment ](https://github.com/getsentry/sentry-cocoa/blob/b15627ce4a9db3522f0a3ca59580b5f7687b9274/Sources/Sentry/Public/SentryOptions.h#L225-L231).
- [ ] Update

[2022-10-17 14:24] philipphofmann commented on #2143
All done expect user interaction tracing. Created an extra item for this https://github.com/getsentry/sentry-cocoa/issues/2298

[2022-10-17 14:24] #2143 closed

[2022-10-17 14:54] philipphofmann commented on #1606
Please also update the user-facing docs https://docs.sentry.io/platforms/apple/enriching-events/attachments/.

[2022-10-18 07:03] brustolin commented on #2282
Hey @nicolascabaret, can you explain how the SDK is starting multiple times? Is this intentional? Being done manually? I just want to understand the context.

[2022-10-18 07:44] philipphofmann opened #2300 "Fix flaky testStartTransaction_ProfilingDataIsValid"
### Description

Failed on Xcode 12.4 iOS 12.4 with
[code]
https://github.com/getsentry/sentry-cocoa/actions/runs/3271423405/jobs/5381209381

Disabled in https://github.com/getsentry/sentry-cocoa/pull/2301

[2022-10-18 09:52] jaroslavas commented on #1892
Any updates on this issue?

[2022-10-18 11:45] markuswahl-2 commented on #1852
Hi! I am afraid we do not know how to reproduce it. We see it amongst our users, but we have not experienced it ourselves. No user has complained. This leads us to believe that we should ourselves have been exposed to the problem but that it has not manifested itself to us in a visible way. Or that it is a case a false negative, i e that it is the heuristic-detection of OOM that falsely reports th

[2022-10-18 11:48] markuswahl-2 commented on #1852
I understand that OOM is reported the next time the app starts. Is there a way for us to get some insights from sentry about the previous session, ie the session of the app that the OOM is reporting about? Maybe that way we could start to look for some patterns among the sessions that would have experienced the actual OOM.

[2022-10-18 14:51] philipphofmann commented on #1919
Thanks, @sindresorhus, for pinging us. Yes, we can bump the priority. We have discussions to maybe cover this in our next quarter, which lasts from November to January. I can't make any promises yet, but I will keep you posted.

[2022-10-18 14:57] philipphofmann commented on #2297
Which specs are you referring to, @brustolin?

[2022-10-18 16:14] philipphofmann commented on #2282
So basically, you are starting and closing the SDK on different threads, @nicolascabaret? Can you give us a repro, please? While this is an edge case, we can fix the problems you pointed out.

[2022-10-18 16:19] philipphofmann commented on #1852
Thanks for the update again, @markuswahl-2.

No, not yet, but we have an issue for that https://github.com/getsentry/sentry-cocoa/issues/1759. It has a high priority, but I can't give you an ETA for it. This feature would definitely help to get a better understanding of what's going on for you.

We might also tackle MetricKit (https://github.com/getsentry/sentry-cocoa/issues/1661) in the following

[2022-10-18 16:22] philipphofmann commented on #1892
No, not yet, @jaroslavas. Sorry, we didn't have the bandwidth yet to get to that issue.

[2022-10-18 17:50] lhunath commented on #1973
@kevinrenskers I apologize, I can't be of huge help – my primary aim was to avoid the issue described in the screenshot; ie. void of any context about the assert that triggered the crash. I do not know why this issue was logged as-is if, as you say, "asserts already get logged in Sentry with the error message and all". This was not my experience. Unfortunately, I can no longer find the issue at ha

[2022-10-18 17:53] kevinrenskers commented on #1973
If you could supply sample code that reproduces the problem that would be a great help to fix and close this issue.

[2022-10-18 17:57] lhunath commented on #1973
I will keep a look out for a way to reproduce the issue and return, since at this point I don't have one.

[2022-10-19 06:53] brustolin commented on #2297
Network performance tracker. We need to list the properties we extract from the response, and where to save it.

[2022-10-19 07:14] StefanOltmann opened #2304 "XCFramework: Missing Bitcode for iOS"
### Platform

iOS

### Installed

Carthage

### Version

7.28.0

### Steps to Reproduce

Replaced Sentry.xcframework in my lib folder with the one provided on the GitHub release page.

Creation of XCArchive fails. That's how I call it using GitHub Actions:
[code]

### Expected Result

Compile without issue like 7.25.1 did.

### Actual Result

`
ld: '/Users/runner/work/myapp/apple/build/iOS/Build/I

[2022-10-19 08:54] #1671 closed

[2022-10-19 12:40] kahest opened #2306 "Finish and capture transaction/span bound to the Scope in case of a fatal crash"
### Description

For now the transaction gets lost in case of a fatal crash. We should finish it with an appropriate status before capturing the exception, if possible.

See https://github.com/getsentry/team-mobile/issues/62

[2022-10-19 14:13] brustolin commented on #2304
Hey @StefanOltmann, thanks for pointing this out, XCode 14 changed the default value for "enable BitCode". We're gonna fix this.

[2022-10-20 07:21] philipphofmann commented on #2297
Sorry, I still don't get it. Why do we need to update a spec, if we need to update the `NetworkPerformanceTracker`?

[2022-10-20 07:43] philipphofmann commented on #2306
In case of a fatal crash, we could call into ObjC to finish the ongoing transactions after SentryCrash has written the crash report to disk. We already use this approach for [screenshots](https://github.com/getsentry/sentry-cocoa/pull/1920) and view hierarchy
https://github.com/getsentry/sentry-cocoa/blob/58f558dc58731af7d6522987fe5e95b0440025a0/Sources/SentryCrash/Recording/SentryCrashC.c#L111-L1

[2022-10-20 09:40] brustolin commented on #2306
I believe this is an edge case that don't worth doing option B.

[2022-10-20 09:43] brustolin commented on #2297
Oh, I understand the miscommunication here.

By specs I mean develop.sentry.io, We need to reflect there the things we're already doing with `NetworkPerformanceTracker`.

[2022-10-20 12:42] #2304 closed

[2022-10-20 13:27] philipphofmann commented on #2218
I investigated a few options on how to solve this problem.

## Saucelabs
As we already use Saucelabs, I checked if it supports running unit tests on Simulators. Sadly, I didn't find anything in their [docs](https://docs.saucelabs.com/mobile-apps/automated-testing/espresso-xcuitest/).

## Firebase Test Lab

According to [their docs](https://firebase.google.com/docs/test-lab/ios/run-xctest) you can

[2022-10-20 17:08] philipphofmann opened #2309 "Upload to TestFlight fails"
### Description

The upload of iOS-Swift to TestFlight wails with
[code]

More people have this issue with Fastlane; see https://github.com/fastlane/fastlane/issues/20741. The issue on Fastlane also contains a [workaround](https://github.com/fastlane/fastlane/issues/20741#issuecomment-1285493195), which we could implement now.

[code]

[2022-10-21 07:06] #2309 closed

[2022-10-21 07:24] philipphofmann opened #2313 "Fix testSplitView on iOS 12 and below"
### Description

The UI tests testSplitView is not working on iOS 12 and below. The assertion message is not showing up

## Actual
<img width="369" alt="Screen Shot 2022-10-21 at 09 24 04" src="https://user-images.githubusercontent.com/2443292/197137397-2b6e3d90-4909-4ffa-a76a-a6c8bbdb4bdd.png">

## Expected
<img width="367" alt="Screen Shot 2022-10-21 at 09 24 22" src="https://user-images.githubu

[2022-10-21 07:32] philipphofmann opened #2314 "Fix flaky `testProfilingDataContainsEnvironmentSetFromConfigureScope`"
### Description

testProfilingDataContainsEnvironmentSetFromConfigureScope fails with

[code]
More details:
* https://github.com/getsentry/sentry-cocoa/actions/runs/3295095094/jobs/5433298969
* [derived-data-iOS-xcode-13.4.1-os-latest.zip](https://github.com/getsentry/sentry-cocoa/files/9836707/derived-data-iOS-xcode-13.4.1-os-latest.zip)

[2022-10-21 08:34] philipphofmann commented on #1661
As receiving an MXDiagnosticPayload via Xcode debug Simulate MeticKit Payload didn't work, I opened a PR to collect MetricKit payloads with our iOS-Swift sample app with https://github.com/getsentry/sentry-cocoa/pull/2316.

[2022-10-22 16:15] sindresorhus opened #2318 "stitchAsyncCode crashes at launch for macOS app on Intel machines"
### Platform

macOS

### Installed

Swift Package Manager

### Version

7.28.0

### Steps to Reproduce

Compile my app on macOS 13 RC and Xcode 14.1 RC with Sentry, on an MacBook M1 Pro (Apple silicon).

I know the fault is Sentry as I sent a build with and without Sentry to a user that had the crash and the crash only occurred when Sentry was present: https://github.com/sindresorhus/Pasteboard-Vi

[2022-10-22 18:14] sindresorhus commented on #2318
I have tracked down the cause to be `.stitchAsyncCode = true`. Without it, it does not crash on Intel machines.

[2022-10-24 06:37] philipphofmann commented on #2318
Thanks, @sindresorhus, for reporting this. `stickAsyncCode` is still experimental, and he might work on it in our next quarter, which lasts from November to January, to make it GA. This is related to https://github.com/getsentry/sentry-cocoa/issues/1786.

[2022-10-24 08:20] philipphofmann opened #2319 "Add types for Event.context"
### Description

At the moment, the `event.context` is a dict of `string:any`, but we can add a statically typed data class to know contexts such as app, os, etc.

[2022-10-24 13:19] #2218 closed

[2022-10-24 14:36] philipphofmann opened #2323 "AppHangs events should set stacktrace.snapshot true"
### Description

The code for creating the event for an app hang should set `snapshot=true`

https://github.com/getsentry/sentry-cocoa/blob/64225be5808d92970f1efab0da188427fed632f8/Sources/Sentry/SentryANRTrackingIntegration.m#L56-L74

`snapshot=true` means it's a synthetic exception, meaning the current state of the thread rather than the stack trace of a real exception; this changes the grouping

[2022-10-24 17:06] philipphofmann commented on #1661
Important note

https://help.apple.com/xcode/mac/current/#/deve2819c518

[2022-10-24 17:14] philipphofmann commented on #1661
With https://github.com/getsentry/sentry-cocoa/pull/2316 we started to collect payloads from MetricKit via TestFlight. So far we only received crash data. So the statement below seems to be true.

<details>
<summary>TestFlight Crash Payload</summary>

[code]

</details>

[2022-10-25 01:34] armcknight commented on #2314
Same failure mode as in https://github.com/getsentry/sentry-cocoa/issues/2300. The `SentryDebugImageProvider` returns no image.

It could potentially happen if there is no sample data, but this has never happened since these tests were originally created. This originally happened when the test ran and the thread was idle during the delay from starting a span to when it was ended in a delayed dispa

[2022-10-25 01:35] armcknight commented on #2314
We could try extending the delay from 2 to 3 seconds, or increasing the upper limit in that for loop, or just remove the assertions around the debug images in the tests, so that we only throw out that little bit instead of the entire test.

[2022-10-25 01:37] armcknight commented on #2314
Also seeing it happen in `testProfilingDataContainsEnvironmentSetFromOptions`, really all the profiling tests there are written the same way so will have the same potential defect.

[2022-10-25 07:37] marandaneto opened #2325 "Support `hints`"
### Description

This is needed for https://github.com/getsentry/sentry-cocoa/issues/1460
Also for https://develop.sentry.dev/sdk/features/#http-client-errors -> [PR](https://github.com/getsentry/sentry-cocoa/pull/2308)
`Hints` are part of the [Unified API](https://develop.sentry.dev/sdk/unified-api/#hints).
Hints are generally a `Map<String, Any>`, on Java leverage the data bag with a [typed clas

[2022-10-25 08:00] philipphofmann commented on #1661
@filip-doordash, do you maybe have some sample payloads without any details about Doordash you can share? I'm primarily interested in the meta data that it contains.

[2022-10-25 08:33] philipphofmann commented on #2314
Maybe this is because our logic in `sentrycrashdl_getBinaryImage`, which the `SentryDebugImageProvider` uses, has some problems, as you pointed out in https://github.com/getsentry/sentry-cocoa/issues/1892#issuecomment-1171990378?

[2022-10-25 09:45] nicolascabaret commented on #2282
Hi guys, sorry for answering late. Here are my answers:
- @brustolin, the SDK is started manually and it was not intentional. By manually, I mean it's started at app launch and also by network events and user inputs (We let the user being able to stop analytics and crash collection). We add some conditions on the event to avoid multiple starts.
- @philipphofmann, exactly. As mentioned, SDK is star

[2022-10-25 10:58] vaind commented on #1780
FYI this is a P1 in https://github.com/getsentry/team-mobile/issues/24 while being a P3 here

[2022-10-25 13:10] simonas-mixedinkey opened #2327 "Could not decode report: Invalid character"
### Platform

macOS

### Installed

Carthage

### Version

7.28.0

### Steps to Reproduce

Without the debugger attached, force a crash using CFRelease(NULL);

### Expected Result

The crash report is submitted to Sentry

### Actual Result

Crash is saved in ~/Library/Caches/SentryCrash
On next launch error is logged in debug area (log below)

p.s. I see that other crashes are successfully reporte

[2022-10-25 16:12] #2300 closed

[2022-10-25 18:32] armcknight opened #2328 "CoreData `TestEntity` error in test logs"
### Description

In `SentryCoreDataTrackerTests` I see a system error being logged:

```CoreData: error: CoreData: error: Failed to call designated initializer on NSManagedObject class 'TestEntity'```

This could potentially cause problems down the line if we're calling/overriding alloc-init/new instead of alloc-initWithEntity.

[2022-10-25 19:07] armcknight commented on #2314
That should only cause problems during a crash though; since this is during normal process execution I wouldn't expect that to break.

[2022-10-26 07:10] simonas-mixedinkey commented on #2327
Investigated json a bit.
I think this is the value that is not acceptable:
[code]

[2022-10-26 07:29] StefanOltmann commented on #2304
@brustolin Thank you for sorting this out quickly. I was able to update and build with the current library.

Normally I don't care so much if my libraries are a bit older, but you have this nagging
`We recommend you update your SDK from sentry.cocoa@v7.25.1 to sentry.cocoa@v7.28.0 (All sentry packages should be updated and their versions should match)` hint on the report page and I always want it

[2022-10-26 15:43] cmuphobk opened #2332 "Bitcode error in 7.29.0"
### Platform

iOS

### Installed

Manually

### Version

7.29.0

### Steps to Reproduce

1. Build project with Sentry.xcframework as vendored_framework in one of local DevPod in our app
2. On bitcode recompile step error produced

### Expected Result

Archive succeed

### Actual Result

Archive failed
<img width="685" alt="image" src="https://user-images.githubusercontent.com/12449923/198071944-8c

[2022-10-26 19:57] armcknight opened #2334 "Fix flaky `SentryHttpTransportTests.testFlush_BlocksCallingThread_TimesOut`"
### Description

Have seen it flake before, here is the latest one

failed on a PR that only fixed typos: https://github.com/getsentry/sentry-cocoa/actions/runs/3331647544/jobs/5511643619#step:9:40
succeeded on retry:https://github.com/getsentry/sentry-cocoa/actions/runs/3331647544/jobs/5512294994

[2022-10-27 06:16] philipphofmann commented on #2332
@cmuphobk, did it still work for you on 7.28.0 or prior?

[2022-10-27 13:03] kevinrenskers commented on #1759
Let's see if we can write the breadcrumbs to a file as they come in, in a background thread. Instead of doing it periodically. Keep the file open, and append to it.

[2022-10-27 13:07] kevinrenskers commented on #1759
Create another version of SentryCrashScopeObserver

[2022-10-27 13:21] philipphofmann commented on #2278
Maybe consider https://developer.apple.com/documentation/docc instead.

[2022-10-27 13:30] philipphofmann commented on #2318
Once we tackle https://github.com/getsentry/sentry-cocoa/issues/1786, we can revisit if it also fixes this bug.

[2022-10-27 13:39] philipphofmann commented on #2325
If we add an overload for `beforeSend` with a `hint` we can do this without a breaking change.

[2022-10-27 15:46] philipphofmann commented on #2332
You also pointed out that you installed it manually, but then you wrote about a _local DevPod in our app_. Do you use CocoaPods, then? Could you maybe share a small sample project with us to reproduce the issue?

[2022-10-27 15:47] philipphofmann commented on #2304
We recommend you update your SDK from sentry.cocoa@v7.25.1 to sentry.cocoa@v7.28.0 (All sentry packages should be updated and their versions should match) hint on the report page and I always want it to go away. I guess that might be your intention. ;)

Do you find the hint annoying, @StefanOltmann? Do you think we should change it or keep it as it is?

[2022-10-27 15:53] philipphofmann commented on #2282
Thank you, @nicolascabaret, for the update.

I think the fix should be relatively easy. We need to ensure that the code https://github.com/getsentry/sentry-cocoa/blob/7d3d1a3b950e9ecf05d278fde3b4a4285b5fc8ab/Sources/Sentry/SentryUIDeviceWrapper.m#L33-L41

runs on the main thread. Maybe also be worth checking the other interactions with `UIDevice` in `SentryUIDeviceWrapper`.

[2022-10-27 15:53] philipphofmann commented on #2282
@kevinrenskers, is this something you could look into ⬆️ ?

[2022-10-28 06:36] philipphofmann commented on #2327
I wonder how our SDK ends up writing `"address": -3`. I just tried `CFRelease(NULL)`, and the SDK reported the error successfully to Sentry. On which device did you try this, @simonas-mixedinkey?

[2022-10-28 07:25] simonas-mixedinkey commented on #2327
I'm using MacBook Pro (2021) wtih macOS Monterey (12.4)

I tried calling `CFRelease(NULL)` in other places of the project and the crash report seems valid.
So it's more of an edge case. I'm still not sure what causes it, but it's 100% reproducable when called in specific project place.

Having the route cause solved would be perfect, but not having invalid data written into json report or at least

[2022-10-28 19:27] armcknight opened #2340 "Flaky `SentryHttpTransportTests.testFlush_CalledMultipleTimes_ImmediatelyReturnsFalse`"
### GitHub action Run Link

https://github.com/getsentry/sentry-cocoa/actions/runs/3342304891/jobs/5534412242#step:9:42

### Disabling PR

https://github.com/getsentry/sentry-cocoa/pull/2339

### Description

Passed in

[2022-10-30 15:38] shadowfacts commented on #1667
`preconditionFailure` messages also don't get reported in release builds. I suspect the root cause is the same as this issue.

[2022-10-30 16:57] elliottkember commented on #2258
Sorry, I only just saw this. In our case it was due to our redux enhancer. We were accidentally sending through a part of the store that contained lots of state data.

This was our mistake - but it was quite hard to spot. The only clue we had was in the native Xcode logs while the app started up, where sentry quietly logs that the native crash data was too large, and then doesn’t report the crash.

[2022-10-31 09:23] brustolin commented on #2304
Hello @StefanOltmann unfortunately we will need to revert this change in future releases. You can follow the reasoning in this PR #2341

[2022-10-31 09:49] #1812 closed

[2022-10-31 09:58] brustolin commented on #2327
Can you help us reproduce this? What specific part of the project are you calling this?
Is from a button click? A life-cycle method? Is this the main thread?
Can you reproduce this in a new clean project?

[2022-10-31 15:44] RuiAAPeres opened #2342 "Crash `SentryProfiler must be initialized on the main thread`"
### Platform

iOS

### Installed

Swift Package Manager

### Version

7.29.0

### Steps to Reproduce

I set up the SDK like this:

[code]

At some point later on, from a non-main thread I call:

[code]

### Expected Result

That calling that wouldn't crash the app.

### Actual Result

The app crashes with an error on the logs:

`Sentry - error:: SentryProfiler must be initialized on the main threa

[2022-10-31 18:26] armcknight opened #2343 "Use `paths-filter` action in CI"
### Description

The missing functionality GitHub should have for its workflow triggers: https://github.com/getsentry/paths-filter

This will cut down on a lot of wasted compute time, and headaches with flaky tests failing when it’s not even necessary to run them.

[2022-10-31 20:17] armcknight commented on #2342
Thanks @RuiAAPeres for bringing this to our attention. We're aiming to push out a new release tomorrow, stay tuned...

[2022-10-31 20:18] RuiAAPeres commented on #2342
@armcknight I can test this out against main.

[2022-10-31 20:32] #2342 closed

[2022-10-31 21:45] kevinrenskers commented on #1759
There are a few problems with appending the breadcrumbs to a file:

1. Can't deserialize them back to breadcrumbs in one go, as we're not writing a valid JSON array to disk. Instead we're writing many JSON dictionaries to the file, one per line, which have to be deserialized one by one. On the other hand, not sure if that is actually much slower? You're still deserializing the same amount of bytes

[2022-11-01 07:06] StefanOltmann commented on #2304
Keep it. Otherwise I would forget to update. ;)

[2022-11-01 07:09] StefanOltmann commented on #2304
Ok, thank you for the hint. That's okay with me, because I have bitcode enabled because previously Apple wanted me to. If they accept my app submission without bitcode in the future this is fine. :)

[2022-11-01 16:21] simonas-mixedinkey commented on #2327
@brustolin I created a new clean project that has only couple of empty windows and two buttons

I removed custom dns from `SentrySDK.startWithConfigureOptions` method, so it needs to be filled first

Click "Button" to open sheet and then click "Crash" button by holding down cmd and option key at the same time : )

Here is the project:
https://www.dropbox.com/sh/1sbjjgk3peyr7r8/AAAYvG1EKelmBSgSlFvs

[2022-11-02 07:21] brustolin commented on #2327
Thank you very much. I will try this and get back to you asap.

[2022-11-02 13:01] brustolin commented on #2287
@armcknight  Do you have any update on this? Can we close it?

[2022-11-02 13:12] brustolin commented on #2332
We believe this issue will be fixed with the PR #2341 which will be available in the next release.
If the error persist, you can reopen it.

[2022-11-02 13:12] #2332 closed

[2022-11-02 18:48] philipphofmann commented on #2266
Hacktober is over.

[2022-11-02 18:48] #2266 closed

[2022-11-02 18:53] philipphofmann commented on #1667
It could be related, yes, @shadowfacts. Thanks for the update.

[2022-11-02 18:57] philipphofmann commented on #2258
Which log message did you get, @elliottkember?

I think we could do a better job of communicating that the SDK drops such events. An idea would be to add it to the dropped events of client reports so you would see it in Sentry https://develop.sentry.dev/sdk/client-reports/#envelope-item-payload.

[2022-11-02 19:05] philipphofmann commented on #2278
Did you try the `xcodebuild docbuild` command, see https://developer.apple.com/documentation/xcode/distributing-documentation-to-external-developers?

[2022-11-02 19:27] kevinrenskers commented on #2278
That only creates the documentation archive, not the rendered website.

[2022-11-02 22:03] armcknight commented on #2155
The problem is that you cannot map system time to NSDate in the presence of the edge cases I've described. My proposition is that we keep both, using system time for anything requiring reliable timing like performance transactions and profiling. Then, when we go to construct an envelope, we'll record both, and perform checks so we can set a flag on any payload where we detect they have drifted due

[2022-11-02 22:27] armcknight opened #2352 "Fix `relative_end_ns` in profile payloads"
### Description

We still have an issue trying to calculate start/end of each profiled transaction relative to the start of the profile. We assume `SentryTransaction.timestamp` to be the end timestamp, but sometimes when we compare it to the start timestamp we recorded for the profiler, it is actually _before_ it if the transaction is short enough, so we wind up with a situation like this:

[code]

[2022-11-02 22:41] armcknight commented on #2352
This may actually be caused by a different underlying issue that will adversely affect customers, if we have a very short transaction that finishes before the profiler can get started, then nothing that happens in that transaction will be represented in the profile.

[2022-11-02 23:26] #2328 closed

[2022-11-03 12:25] #2327 closed

[2022-11-03 16:00] philipphofmann opened #2354 "Track usage of HTTP Client errors"
### Description

HTTP client errors were added with https://github.com/getsentry/sentry-cocoa/pull/2308. We could use the list of integrations to track how many users use this feature.

[2022-11-03 16:01] brustolin commented on #2354
Should we do the same for network request breadcrumbs?

[2022-11-03 16:03] philipphofmann commented on #2354
I'm not sure we need that, as these are enabled by default, right?

[2022-11-03 16:42] philipphofmann commented on #2352
If the transaction is very short, maybe it's acceptable not to have a profile.

[2022-11-03 19:54] armcknight commented on #2352
Another strategy to consider, from @phacops:

[2022-11-03 20:01] armcknight opened #2356 "Set correct `active_thread_id` for transactions linked to profiles"
### Description

In the old profiling format, we used to track which thread was the main thread with a boolean flag.

In the new format, and as part of concurrent transaction profiling, we are linking all associated transactions with profiles, and including some metadata about them.

One new field we should be including, but currently are not, is a field specifying the thread ID that the transacti

[2022-11-04 17:29] #2356 closed

[2022-11-04 18:04] #2352 closed

[2022-11-08 04:02] filip-doordash commented on #1661
Sure! I copied your code from #2316 and included it in our next release. I should get data in the next couple of weeks (releases take a while!).

I'll post a redacted version of the data when it arrives.

[2022-11-08 10:04] #2354 closed

[2022-11-08 10:15] simonas-mixedinkey commented on #2327
Tested 7.30.1 and this is fixed 🥳 Thank you : )

[2022-11-09 09:53] #2282 closed

[2022-11-09 10:22] kevinrenskers commented on #2150
The comment in `SentrySessionTracker` makes it sound like we can NOT start the session during SDK init, because we don't know if a background task or hybrid SDK initialized the SDK:

[code]

So, if we would start the session during SDK init / when initializing the SessionIntegration, wouldn't we mess up session stats, as the comment says?

By the way, the weird thing about this comment is that it

[2022-11-09 12:30] philipphofmann commented on #1661
Thank you very much, @filip-doordash 🥳 .

[2022-11-09 12:31] philipphofmann commented on #2327
Thanks for the great news @simonas-mixedinkey 😀

[2022-11-09 14:07] philipphofmann commented on #2297
This issue doesn't belong in this repo. @brustolin will create a new issue on the develop repository.

[2022-11-09 14:07] #2297 closed

[2022-11-10 06:44] philipphofmann commented on #2279
@brustolin, I think that was fixed with https://github.com/getsentry/sentry-cocoa/pull/2349. Please, reopen otherwise.

[2022-11-10 06:44] #2279 closed

[2022-11-10 14:35] #2334 closed

[2022-11-10 14:35] philipphofmann commented on #2340
Was fixed with https://github.com/getsentry/sentry-cocoa/pull/2370.

[2022-11-11 04:04] WZBbiao opened #2376 "Always cold start if OOM tracking is disabled"
### Platform

iOS

### Installed

CocoaPods

### Version

7.29.0

### Steps to Reproduce

1. disable OOM Tracking
SentrySDK.start { options in
        options.dsn = "https://xxx.sentry.io/140"
        options.enableOutOfMemoryTracking = false
}

2. test app start

### Expected Result

In the case of non-first-time installation, several consecutive boots should be cold start.

### Actual Result

Al

[2022-11-11 07:15] philipphofmann commented on #2376
From our [docs](https://docs.sentry.io/platforms/apple/performance/instrumentation/automatic-instrumentation/#app-start-tracking)

Warm start: App launched at least once, is partially in memory, and no process exists.

What do you mean by consecutive boots? It's only a cold start if `App launched for the first time, after a reboot or update. The app is not in memory, and no process exists.` If you

[2022-11-11 09:13] WZBbiao commented on #2376
Sorry, I mean not reboot, but repeatedly killing/opening the app.

[2022-11-11 22:25] eric opened #2377 "Why don't OOM reports include breadcrumbs"
### Problem Statement

When I get an OOM I don't see the breadcrumbs that happened before the crash. Instead I have to upload a log file to get the context of what happened.

### Solution Brainstorm

_No response_

[2022-11-14 08:15] brustolin commented on #2377
Hello @Eric.
#2347 Will solve this issue.

[2022-11-14 08:38] WZBbiao commented on #2376
However, by definition this is more like a cold start.
Are there any other discussions on this issue?

[2022-11-14 08:52] #1897 closed

[2022-11-14 08:55] WZBbiao commented on #2376
1. Download the app
2. Start the app (this startup is marked as a cold startup, no problem)
3. Kill the app from the App Switcher
4. Launch the app again, **This startup is still marked as a cold boot, which does not meet the cold start definition**

[2022-11-14 08:55] philipphofmann opened #2378 "Make reporting pre-warmed app starts GA"
### Description

With https://github.com/getsentry/sentry-cocoa/pull/1969, the SDK reports pre-warmed app starts when enabling the experimental feature `enablePreWarmedAppStartTracking`.

https://github.com/getsentry/sentry-docs/pull/5762 points the feature out in the docs. After validating this feature with some customer data we must decide if we can make it GA by also adding a dashboard so users

[2022-11-14 09:05] philipphofmann commented on #2377
Duplicate of https://github.com/getsentry/sentry-cocoa/issues/1759.

[2022-11-14 09:05] #2377 closed

[2022-11-14 09:28] brustolin commented on #2376
Once you remove the app from the App Switcher, you kill the process, and the app is no longer in memory.
As mentioned in the last part of the description, this is a cold start.

[2022-11-14 09:30] #1759 closed

[2022-11-14 10:26] kevinrenskers commented on #1852
@markuswahl-2 With #2347 merged, please try out the next release of the SDK to see if the added breadcrumbs for OOM events help to make sense of them.

[2022-11-14 11:05] brustolin commented on #2376
@WZBbiao, thank you for bringing this up, and thank you for the sample project.
We may have a problem with wrongfully reporting warm start, and not cold.
@kevinrenskers will look into it.

[2022-11-14 11:07] philipphofmann commented on #2150
Yes, exactly. Sorry, I forgot about that. That's why I added extensive comments in the past.

The comment was out of sync with the code. I fixed it https://github.com/getsentry/sentry-cocoa/pull/2381.

This should answer your question. If not, I need to update the code docs.
https://github.com/getsentry/sentry-cocoa/blob/9754750ca630b058a4762dfa4517c49e42290934/Sources/Sentry/include/SentryInterna

[2022-11-14 11:11] kevinrenskers commented on #2376
@philipphofmann @brustolin both of you seem the think that killing and restarting an app should be a cold start, but according to the code, it isn't: https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryAppStartTracker.m#L230-L261. It only uses the system's boot time, which doesn't change if you kill and restart the app. You can kill and restart the app all you like but the s

[2022-11-14 12:29] kevinrenskers commented on #2376
OK, found the cause, but not sure why it behaves the way it does.

When you do NOT have the OOM integration installed:

- `- [SentryAppStartTracker didBecomeVisible]` is called
- Which calls `- [SentryAppStartTracker buildAppStartMeasurement]`
- Which calls `- [SentryAppStartTracker stop]`
- Which called `[self.appStateManager stop]`

Now, because there is nothing else using the app state manager

[2022-11-14 12:32] kevinrenskers commented on #2376
PR to fix the app state getting deleted: #2382.

But the logic regarding warm/cold start is unchanged, it's all based app system boot time.

[2022-11-14 12:35] kevinrenskers commented on #2376
Question for @philipphofmann: why does `- [SentryAppStartTracker buildAppStartMeasurement]` even call `- [SentryAppStartTracker stop]`? Doesn't really make sense to me? This means that as soon as `didBecomeVisible` is called, we unsubscribe from `UIApplicationDidFinishLaunchingNotification`, `UIWindowDidBecomeVisibleNotification` and `UIApplicationDidEnterBackgroundNotification`.

That seems very

[2022-11-14 12:47] philipphofmann commented on #2150
It's OK to send a session update after sending the event, but we shouldn't do that too often to minimize request overload.

[2022-11-14 13:16] philipphofmann commented on #2376
Because we only want to build an appStartMeasurement once during the lifetime of the SDK.

But that's how it is currently.

[2022-11-14 13:21] philipphofmann commented on #2376
Sorry about the confusion. We want to stop the AppStartTracker but not the AppStateManager.

[2022-11-14 14:03] #2376 closed

[2022-11-14 14:07] philipphofmann opened #2383 "Wrong timestamp for OOM event and breadcrumbs"
### Platform

iOS

### Installed

CocoaPods

### Version

7.31.0

### Steps to Reproduce

1. Open sample app
2. Navigate around a bit
3. Click `OOM crash`
4. Wait 15 seconds

### Expected Result

We could drop the OOM breadcrumb and set the timestamp of the event to the last breadcrumb.

### Actual Result

The OOM breadcrumb has the timestamp of the OOM event, and the event timestamp is when the e

[2022-11-15 07:15] philipphofmann opened #2388 "Fix flaky `testSerializeWithUnderlyingNSException`"
### GitHub action Run Link

https://github.com/getsentry/sentry-cocoa/actions/runs/3465967126/jobs/5789326262

### Disabling PR

https://github.com/getsentry/sentry-cocoa/pull/2387

### Description

Also failing https://github.com/getsentry/sentry-cocoa/actions/runs/3468074702/jobs/5793551381

[2022-11-15 07:16] philipphofmann commented on #2388
@armcknight, could you please look at this test as you wrote it?

[2022-11-15 07:35] philipphofmann opened #2390 "Fix flaky `testCrashReportCount1`"
### GitHub action Run Link

https://github.com/getsentry/sentry-cocoa/actions/runs/3468073035/jobs/5793558333

### Disabling PR

https://github.com/getsentry/sentry-cocoa/pull/2389

### Description

_No response_

[2022-11-15 10:12] brustolin commented on #2231
This is apples documentation

In summary, this feature will no work if the app crashes or the users kills the app.
It may be helpful to transmit crashes if the user quickly switch apps after reopening.

[2022-11-15 11:13] philipphofmann commented on #2231
Thanks for looking into that, @brustolin. I think it's not worth the effort for that edge case. I would close the issue.

[2022-11-15 11:48] kevinrenskers commented on #2231
I agree with @philipphofmann

[2022-11-15 12:04] #2231 closed

[2022-11-15 15:22] brustolin opened #2393 "Align HTTP span data keys"
### Description

Currently, cocoa SDK has 4 extra informations for HTTP spans that are not specified in the documentation:

[code]

With the exception of the `type` that is not found anywhere else, every other information is duplicated.
- status code is used as the span finish status
- method and url are being used as the span description

[code]

[2022-11-15 15:24] brustolin commented on #2393
@marandaneto You once ask me to update the specs to include this informations. After reading the documentation, I really believe we should remove this from the SDK.

What do you think?

[2022-11-15 16:55] philipphofmann commented on #2393
Related develop docs PR https://github.com/getsentry/develop/pull/760

[2022-11-15 17:22] marandaneto commented on #2393
Which information?
SDKs set the `method` and `url` as part of the `description`, not as part of the `data`, so I'm unsure why Cocoa does this.
Similar issue https://github.com/getsentry/develop/issues/445 also not added by any other Mobile SDK.

[2022-11-16 06:41] JordyLangen opened #2397 "Crash in SentryClient.m line 644 (sentry & sentry_flutter) during app startup"
### Environment

SaaS (https://sentry.io/)

### Version

_No response_

### Steps to Reproduce

`sentry` and `sentry_flutter` version: 6.15.1.
We did not see this version in 6.13.1

Stacktrace:

[code]

### Expected Result

No crash

### Actual Result

Crash

[2022-11-16 07:15] philipphofmann commented on #1618
@TomasSestak, @numandev1, @namvoeh, @kolyan94, we didn't see any updates for a long time on this issue, and we did plenty of fixes for OOM. I consider this to be fixed. Please reopen the issue or create a new one if you still experience problems.

[2022-11-16 07:15] #1618 closed

[2022-11-16 07:22] marandaneto commented on #2393
After a quick research, I suspect this comes from [here](https://github.com/getsentry/sentry/blob/fef9c695a1a7d3384fb3ce7ec6c264632e77061d/src/sentry/interfaces/spans.py#L33).
No other Mobile SDK does that, so either @brustolin somebody else told you to add it or you've seen somewhere else, but that's not the point anyway.
I'm unsure if this info should be removed or added, we'd need to understand

[2022-11-16 08:24] brustolin commented on #2393
Im pretty sure the extra data/tag mentioned in the issue description is not used by BE/FE, somehow this ended up in the SDK, but since this is not documented anywhere, imo, we should not keep it.

[2022-11-16 08:39] marandaneto commented on #2393
I'd not be so sure, as I said, I found those `data` fields in the [FE code](https://github.com/getsentry/sentry/blob/fef9c695a1a7d3384fb3ce7ec6c264632e77061d/static/app/components/events/interfaces/spans/spanTreeModel.spec.tsx#L47), I just don't know where this is displayed, but if it's mapped in there and they match it here, I am pretty sure that there's a hidden feature somewhere.

[2022-11-16 11:45] #2383 closed

[2022-11-16 11:52] kevinrenskers commented on #1779
This test no longer exists, because we removed the trace header, as it's part of the baggage already.

[2022-11-16 11:52] #1779 closed

[2022-11-16 11:58] kevinrenskers commented on #2150
Ok, that makes sense to me.

Probably best to tackle this after #2374 is merged, since it'll be touching the same code for a big part. Could I get some reviews on that PR?

[2022-11-16 13:57] philipphofmann opened #2395 "Remove SentrySDK startWithOptions:optionsDict"
### Description

Remove the following method including tests https://github.com/getsentry/sentry-cocoa/blob/8442084c8c3e710848cdb3636a498f4afb8ec050/Sources/Sentry/Public/SentrySDK.h#L28-L31

[2022-11-16 14:19] philipphofmann commented on #1916
Let's bump to macOS 10.13, iOS 11, tvOS 11, and watchOS 4

https://developer.apple.com/documentation/xcode-release-notes/xcode-14-release-notes

[2022-11-16 17:35] philipphofmann commented on #2397
The root cause of the problem is here
https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryClient.m#L644

We get a `NSGenericException` which you can get when you modify an array while iterating over it. I think what happens is that the `SentryOutOfMemoryTracker` creates an event and sends it while the SDK is still installing integrations and adding integrations to the list.

[2022-11-16 18:36] elliottkember commented on #2258
@philipphofmann With a `Sentry.createReduxEnhancer` ([docs here](https://docs.sentry.io/platforms/javascript/guides/react/configuration/integrations/redux/)) using a `stateTransformer` that wasn't scoped accurately enough.

[2022-11-17 15:11] #1777 closed

[2022-11-17 17:20] mattjohnsonpint commented on #2031
Just to respond on this point:

Because it's the primary way that Microsoft is promoting MAUI as being able to build macOS desktop apps, and it's targeted by default, I believe MAUI will only *increase* the adoption of Mac Catalyst.

[2022-11-17 20:21] eric opened #2399 "Many OutOfMemory reports happen with plenty of memory"
### Platform

tvOS

### Installed

CocoaPods

### Version

7.31.1

### Steps to Reproduce

1. Wait for an OutOfMemory alert
2. Observe the breadcrums that report memory usage

### Expected Result

I expect that OutOfMemory alerts are only for OutOfMemory issues.

### Actual Result

We report used and available memory for all breadcrumb entries:

[code]

and when I look at recent OutOfMemory crashe

[2022-11-18 04:21] sindresorhus commented on #2318
Please keep it open

[2022-11-18 08:02] philipphofmann commented on #2399
That's why we added breadcrumbs for OOMs with https://github.com/getsentry/sentry-cocoa/pull/2347. Finally, we can better understand what happens before OOMs.

What exactly do you mean by

and by?

It doesn't have to be a memory leak. If your application tries to allocate plenty of memory, we also detect it as an OOM. I think the last breadcrumb is a bit confusing.

We actually don't know when the

[2022-11-18 08:03] philipphofmann commented on #2399
Can you think of anything your app does that could lead to a sudden termination by the watchdog, @eric?

[2022-11-18 08:08] eric commented on #2399
Not really, we've never fully understood why we have so many of these "OutOfMemory" reports from Sentry and haven't known how to go about diagnosing them further.

[2022-11-18 08:47] philipphofmann commented on #2399
I see. @eric, could please reply to my [questions](https://github.com/getsentry/sentry-cocoa/issues/2399#issuecomment-1319666773) above?

[2022-11-18 08:54] #2397 closed

[2022-11-18 08:55] eric commented on #2399
We have the logging we use in the app also create breadcrumb entries. When we submit those entries, we also add memory usage as additional data:

[code]

This allows me to look at the breadcrumbs that happened just before the crash and get a feeling for how much memory was being used by the process during the time of the breadcrumbs and of the one right before the crash.

I think I meant to say "e

[2022-11-18 09:06] brustolin opened #2401 "Dont attach headers for NoOpSpans"
### Description

We should not create trace header in http requests if the Span is a NoOpSpan

[Flutter implementation](https://github.com/getsentry/sentry-dart/pull/1143)

[2022-11-18 09:12] philipphofmann opened #2402 "Do not overwrite existing status of UI event transactions"
### Description

We should not force set the status when finishing UI event transactions but instead, check if the existing status is null and only set the status in that case. Otherwise, we might be overriding what the user set.

See https://github.com/getsentry/sentry-java/issues/2378 and https://github.com/getsentry/develop/pull/766

[2022-11-18 12:56] kevinrenskers opened #2405 "Remove SentrySdkInfo"
The SDK name and version are in `SentryMeta`, which is the source of truth. `SentrySdkInfo` should be cleaned up.

[2022-11-18 13:09] #2405 closed

[2022-11-18 13:41] philipphofmann opened #2406 "Send accessibilityIdentifier only if sendDefaultPii enabled"
### Description

The following too locations send the `accessibilityIdentifier` even if sendDefaultPii is disabled. `accessibilityIdentifier` could contain PII. Instead, we can only send the `accessibilityIdentifier` if sendDefaultPii is enabled. Please check the repository for possible other usages of `accessibilityIdentifier`.

https://github.com/getsentry/sentry-cocoa/blob/efeb69e9c50860c600d68

[2022-11-18 13:57] philipphofmann opened #2407 "Not starting UI event transaction if transaction on Scope"
### Description

The SDK adds auto-generated spans to the transaction bound to the scope. UI event transactions need
auto-generated spans not to be empty. Therefore, the SDK shouldn't start a UI event transaction if there
is already an ongoing screen load/navigation transaction or a transaction bound to the scope by the user.
See https://github.com/getsentry/develop/pull/766

Currently, we don't b

[2022-11-18 17:16] mattjohnsonpint commented on #2031
Quick update - I've changed the sentry-dotnet build process to take in sentry-cocoa as a submodule, and also take Carthage as a submodule from their `xcframework-catalyst` branch.  At build time (both locally and in CI), I build the custom Carthage and cache it, then use it to build sentry-cocoa and cache that as well (rebuilding it only when sha of the submodule changes).

Our build command for s

[2022-11-18 17:16] #2031 closed

[2022-11-18 21:02] kerenkhatiwada opened #2411 "sessions sent without an environment when environment option is not set"
### Description

If the environment is not set for the SDK errors will default to production. However, sessions are sent without an environment.

Expected outcome - sessions would be sent with an environment
Actual outcome: sessions are sent without an environment set

Steps To Reproduce

1. set the environment and release options
2. Send an error event and session
3. Observe that session and erro

[2022-11-21 06:53] brustolin commented on #2406
`accessibilityIdentifier `  is not meant to be used to store user information. Of course devs can misuse this.
Tieing this to `sendDefaultPII` will punish developers that do proper use of the property.
Maybe they want to see the `accessibilityIdentifier` because they use it correctly, but don't want to send other types of PII.

Having only one flag that enable nothing or everything is a little pro

[2022-11-21 08:21] philipphofmann commented on #2411
We set the default environment for events here
https://github.com/getsentry/sentry-cocoa/blob/48c72110de904b91a793fea0d9a3e9117df4d756/Sources/Sentry/SentryClient.m#L572-L575

but not when starting the session

https://github.com/getsentry/sentry-cocoa/blob/48c72110de904b91a793fea0d9a3e9117df4d756/Sources/Sentry/SentryHub.m#L96-L99

Thanks for reporting this, @kerenkhatiwada.

[2022-11-21 08:30] marandaneto commented on #1173
If this is implemented, update the spec that was written in this PR https://github.com/getsentry/develop/pull/766

[2022-11-21 09:13] kevinrenskers commented on #1916
Xcode recommends to increase to iOS/tvOS 12.0 instead of 11.0.

![Screenshot 2022-11-21 at 10 10 43](https://user-images.githubusercontent.com/229384/203010756-8a6cfde9-9846-404c-bb58-f7498b7d1c73.png)

Of course we can ignore this recommendation but... what was the reason to go for 11?

[2022-11-21 13:44] philipphofmann opened #2417 "Rename APM tracking feature flags to tracing"
### Description

The SDK contains a few performance feature flags containing tracking in their name. Instead, these should be renamed to tracing as these features trace certain things. Therefore, we mark the following features as deprecated and add new features with tracing in their name:

- enableAutoPerformanceTracking becomes enableAutoPerformanceTracing
- enableUIViewControllerTracking becomes

[2022-11-21 16:23] philipphofmann commented on #1916
Xcode 14 still supports 11, and we want to be backward compatible as much as possible. Between 11 and 12 there is no real difference for us. 13 would be great, but we agreed that we have to wait a bit for that.

[2022-11-21 17:14] zachbai opened #2419 "Crash reports not emitted when client is re-started"
### Platform

macOS

### Installed

Carthage

### Version

7.6.1 (also tried bumping to latest 7.31.2, issue persists)

### Steps to Reproduce

1. Start SDK integration with `[SentrySDK startWithConfigureOptions ...]` on app startup
2. At some point during application, call `[SentrySDK close]` to stop crash reporting
3. Re-initialize the SDK integration with `[SentrySDK startWithConfigureOptions .

[2022-11-21 20:32] kevinrenskers commented on #2406
The identifier should only be something like "username" or "email" or "password", but not the actual value. I agree with @brustolin that `accessibilityIdentifier` is not meant to contain PII and it seems very weird to me to stop sending that if `sendDefaultPii` is disabled.

[2022-11-22 04:13] armcknight opened #2425 "Refactor test Fixtures to a central location"
### Description

We have lots of test fixtures in the unit test suite that all present slightly varied versions of a system to test.

We should centralize it and make sure as much as possible is mocked out, and then allow a way for test cases to swap out mocks for real components which are to be exercised by the test logic.

[2022-11-22 06:54] philipphofmann commented on #2419
Thanks for reporting this, @zachbai. I can reproduce the problem with the latest version on our macOS-Swift and iOS-Swift sample apps.

Sorry about that. I totally missed your message there. We don't have many people asking questions on Discord. I'm going to check it daily now again.

[2022-11-22 07:52] philipphofmann commented on #1844
@sindresorhus, we are currently working on this task. As you voted with 👍, are there any APIs you can point out that are not Swift-friendly and that you would like to change?

[2022-11-22 08:04] philipphofmann commented on #1844
Classes not prefixed with Sentry that we could consider prefixing with Sentry in Swift. We also now prefixed User and Client with Sentry. We renamed `Client` to `SentryClient` because we have `SentrySDK` and `SentryHub` and there could be naming collisions. We renamed `User` to `SentryUser` as almost every application has a user class.

Does the same apply to `Event`? I guess many apps could also

[2022-11-22 08:11] kevinrenskers commented on #1844
To be honest I'm not sure about the User rename. Name collisions are not really a thing in Swift, as you can always namespace it: `Sentry.User`.

Have we had user complaints about the User class?

The Client rename does make a lot of sense to me.

Exception is very generic but yeah with namespaces it's fine.

[2022-11-22 08:32] philipphofmann commented on #2406
Yep, that makes sense. Let's close this one because of the reasons explained above.

[2022-11-22 08:32] #2406 closed

[2022-11-22 09:23] philipphofmann commented on #1844
Yes, but user is pretty common. I think that's fine. I would keep the others.

Yes one user, but that shouldn't be the reason why we do it. We should do the right thing.

[2022-11-22 09:31] philipphofmann commented on #2399
Yes indeed. Do you think we should be clearer about that in the docs? https://docs.sentry.io/platforms/apple/configuration/out-of-memory/

That's a great idea. We already got plenty of feedback from various customers that OOM doesn't really work for them. You can also disable it with `options.enableOutOfMemoryTracking = false`. On the other hand, we also got positive feedback.

We are currently wo

[2022-11-22 09:35] philipphofmann commented on #2258
Thanks, @elliottkember, for the update. To solve the issue, we could increase the limit of `SentryCrashMAX_STRINGBUFFERSIZE`.

[2022-11-22 12:24] #2395 closed

[2022-11-22 12:24] #1916 closed

[2022-11-22 12:38] kevinrenskers opened #2429 "Change "Yoda style" conditions"
### Description

Something like `if (nil == client)` is completely backwards to me. Like saying "if yellow equals jacket color", you'd never say that in real life either.

Both SwiftLint and SwiftFormat have rules for this: https://realm.github.io/SwiftLint/yoda_condition.html and https://github.com/nicklockwood/SwiftFormat/blob/master/Rules.md#yodaConditions. Not sure if there is a rule for our f

[2022-11-22 13:01] philipphofmann commented on #1159
Errors are still an [int](https://github.com/getsentry/relay/blob/6689ca877a9b6ab558289826f64d77901b5cf837/relay-general/src/protocol/session.rs#L143) on Relay. The [develop docs](https://develop.sentry.dev/sdk/sessions/#session-update-payload) mentions that `Ingest should force errors to 1 if not set or 0`. So we could set the error count to 1 if it's bigger than 1, but I don't think it's worth t

[2022-11-22 13:01] #1159 closed

[2022-11-22 13:39] brustolin commented on #1437
Its not clear to me what we need to do in this issue.

Regarding event.transaction, we're doing the same as other sdks, so I think there is nothing else to do in that matter.

[2022-11-22 16:49] zachbai commented on #2419
Thanks for taking a look!

Our use case necessarily involves restarting the SDK for all user sessions, so fixing this is relatively high priority for us.  If this isn't as high prio on your side, would it be helpful for me to take a look and draft a PR?

[2022-11-22 18:23] bjhomer opened #2433 "SentryCoreDataTracker crashes when passed a nil error parameter"
### Platform

iOS

### Installed

Swift Package Manager

### Version

7.31.2

### Steps to Reproduce

1. Enable Core Data profiling
2. Call `[someManagedContext save:nil]`, **passing a `nil` error pointer**

### Expected Result

Since it's legal to call `[managedObjectContext save:nil]`, Sentry should handle that situation appropriately.

### Actual Result

You get a crash in `-[SentryCoreDataTrac

[2022-11-22 18:34] bjhomer opened #2434 "Core Data tracking reports errors when none actually exist"
### Platform

iOS

### Installed

Swift Package Manager

### Version

7.31.2

### Steps to Reproduce

1. Enable Core Data Profiling at 100% profiling rate.
2. Put a breakpoint in `-[SentryCoreDataTracker managedObjectContext:executeFetchRequest:error:originalImp:]` [on line 53](https://github.com/getsentry/sentry-cocoa/blob/f781ecba1e2ccfc37e2156f1a9300452c0c8f4c8/Sources/Sentry/SentryCoreDataTrac

[2022-11-22 21:56] eric commented on #2399
No, I think the name of the error should be renamed to something that is more generic. What is the generic description of what these things are? "OS Forced Termination"? "OS Termination"? "Forced Termination"?

I don't love the idea of disabling it, because they appear to be valid crashes, just not because of that reason. Disabling it means those crashes are invisible to the metrics.

I think regu

[2022-11-23 08:14] brustolin commented on #2429
I also don't like this "Yoda style" (loved the name).
I don't think is worth to go changing this everywhere, but if this happens in some code you're working on is fine to change.

[2022-11-23 08:18] brustolin commented on #1844
I think we should change `Event` to `SentryEvent`, `Exception` maybe.
Im fine with the others.

Yeap, but this is annoying.

[2022-11-23 08:20] brustolin commented on #2419
Very helpful!!

[2022-11-23 08:21] kevinrenskers commented on #2429
Indeed, change as you come across it, or have the formatted do it if possible. But I wouldn't advocate doing this everywhere at once by hand 😀

[2022-11-23 09:19] brustolin commented on #2434
Hey @bjhomer, thanks for pointing this out.
The actual problem is that we're not checking the content of the error pointer.

The line should be like this:
[code]

[2022-11-23 09:38] kevinrenskers opened #2437 "Fix flaky test: `SentrySpanTests.testAddAndRemoveData()`"
### GitHub action Run Link

https://github.com/getsentry/sentry-cocoa/actions/runs/3530734813/jobs/5923080490

### Disabling PR

https://github.com/getsentry/sentry-cocoa/pull/2436

### Description

_No response_

[2022-11-23 09:42] kevinrenskers commented on #2434
I think @bjhomer is correct that we need to check the return value, not the error.

[2022-11-23 10:14] djavan-bertrand commented on #406
Hello @philipphofmann, since you mentioned that the number of people interested in that topic might change its priority, here is a message to tell you that it does really matter for us to get the crashes on watchos 😄
I really hope you can manage to add the support of crash handling on watchos. Thanks in advance.

[2022-11-23 10:20] kevinrenskers commented on #2429
Sadly there is no rule for this in https://clang.llvm.org/docs/ClangFormatStyleOptions.html. But I've added it for SwiftLint. Now that we're probably going to add more Swift code, we can at least automate it there.

[2022-11-23 10:26] brustolin commented on #2434
He is not wrong. Is just a different way to perceive an error.

[2022-11-23 13:16] philipphofmann commented on #2258
`SentryCrashMAX_STRINGBUFFERSIZE` ensure doesn't exceed the envelope limits of Relay.

[2022-11-23 13:28] philipphofmann commented on #2417
Ensure the properties have one source of truth.

[2022-11-23 13:34] philipphofmann commented on #2419
This must go on a 7.x.x hotfix release and not on 8.x.x.

[2022-11-23 13:58] philipphofmann commented on #1100
Closed with https://github.com/getsentry/sentry-cocoa/pull/2403.

[2022-11-23 13:58] #1100 closed

[2022-11-23 13:58] philipphofmann commented on #1842
Closed with https://github.com/getsentry/sentry-cocoa/pull/2403.

[2022-11-23 13:58] #1842 closed

[2022-11-23 13:59] philipphofmann commented on #1257
Closed with https://github.com/getsentry/sentry-cocoa/pull/2409.

[2022-11-23 13:59] #1257 closed

[2022-11-23 14:07] bjhomer commented on #2434
There are two problems with using `*error != nil`.

**The first problem** is that Cocoa does not promise to *clear* the error pointer if there was no error. For example, if a developer did this:

[code]

And if the call to `executeFetchRequest:error:` *succeeded*, then it will have had no reason to write through the error pointer, and it will likely still point to `dummyError` which is not nil. So

[2022-11-23 15:01] kevinrenskers commented on #2419
Start the SDK:

- `SentryCrashIntegration.startCrashHandler` is called
- This calls `SentryCrashInstallation.install`
- This calls `[SentryCrash sharedInstance]`, which calls `SentryCrash.init` since there is no shared instance yet
- This sets the `monitoring` property
- Then `SentryCrash.install` gets called and everything works because `monitoring` is set

So, we have a shared SentryCrash instan

[2022-11-23 15:39] brustolin commented on #2419
Yes

[2022-11-23 15:53] kevinrenskers commented on #2419
Right I know we technically can, but what are the consequences going to be? For example what's the point of setting

[code]

If we're then getting rid of the entire handler (the shared instance of SentryCrash) anyway? As soon as *anything* would call `[SentryCrash sharedInstance]` then we're going to create a brand new instance with monitoring enabled again, even though the SDK was closed. That's

[2022-11-23 16:11] brustolin commented on #2419
I believe this `self.monitoring = SentryCrashMonitorTypeProductionSafeMinimal;` should be inside `[SentryCrash install]`
And then we fix this.

[2022-11-23 16:27] brustolin commented on #2434
That's is what I was looking for to understand why Cocoa Error Handling Programming Guide, suggest the way they do. Thanks.

I don't think this is a problem because I would use `error != nil && *error != nil`

[2022-11-24 00:52] elliottkember commented on #2258
I think that would be an improvement! People might still hit this issue when inadvertently adding too much data.

A better solution might be to report to sentry that a crash error was reported that cannot be uploaded because it's too big? That way the error will at least come through to the Sentry dashboard and will be seen.

[2022-11-24 07:51] philipphofmann commented on #406
Please upvote at the top of the issue @djavan-bertrand. I can't give you an ETA yet.

[2022-11-24 09:18] brustolin commented on #2419
Looks like `[SentryCrash install]` is already overriding the monitoring with
[code]
Maybe the problem is inside `sentrycrash_install`

[2022-11-24 10:50] philipphofmann commented on #2434
As we are doing a hotfix for https://github.com/getsentry/sentry-cocoa/pull/2440, we could merge the fix to both master and 8.0.0, @brustolin.

[2022-11-24 15:20] philipphofmann commented on #1437
We would need to start a discussion about removing the `event.transaction` property. It's a legacy thing, and as we have now performance, it's confusing. Is that something you can clarify, @brustolin?

[2022-11-24 15:34] marandaneto commented on #1437
We cannot remove `event.transaction`, that's where the transaction name is set, it's not deprecated.
Using the `event.transaction` without the `event.contexts.trace` is a deprecated feature, but the field is still needed.

[2022-11-24 15:56] philipphofmann commented on #2399
I think you are referring to [watchdog terminations](https://developer.apple.com/documentation/xcode/addressing-watchdog-terminations). For these, we can't create a crash report because the OS kills the process. We can't access the OS crash report either. I agree instead of calling all of these OOM crashes, we could discuss of renaming them to "OS Forced Termination", "OS Termination", "Forced Ter

[2022-11-24 16:06] philipphofmann commented on #1844
[Java](https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/SentryEvent.java), [Dart](https://github.com/getsentry/sentry-dart/blob/main/dart/lib/src/protocol/sentry_event.dart), and [.NET](https://github.com/getsentry/sentry-dotnet/blob/main/src/Sentry/SentryEvent.cs) also have SentryEvent. [JavaScript](https://github.com/getsentry/sentry-javascript/blob/master/packag

[2022-11-24 16:17] philipphofmann commented on #2313
That's the link https://developer.apple.com/download/all/?q=xcode