[2021-03-18 13:51] philipphofmann commented on #1002
Hey @0xpablo,
currently, there is no way to serialize the scope to SentryCrash synchronously. When the scope is quite big the serialization can take some time and can block the calling thread, which could be the main thread. We have plans to speed up the whole synchronization of the scope to SentryCrash, see https://github.com/getsentry/sentry-cocoa/issues/991, but I can't give you an ETA. If we d

[2021-03-19 13:45] gholias opened #1006 "tvOS is only reporting the crashes when rebooting the app."
### Environment

We are using Sentry in our tvOS app and we can see the custom events in the dashboard, but they are only submitted if we force close the tvOS app and reopen it.
We are using Sentry to notify when the user is having issues with our video streaming. Those events are only sent when `  application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicatio

[2021-03-19 14:16] philipphofmann commented on #1006
Hi @gholias.,
After you initialized the SDK and the device is only, it should immediately send an event to Sentry after you call, for example, `Sentry.captureMessage`. Can you maybe share how you configure the SDK without the DSN, of course, and let me know where in your code you initialize the SDK?

Maybe the problem is that we currently don't check when a device gets online again and then try to

[2021-03-19 14:18] allright opened #1009 "Incorrect MacOS Version for Mac Catalyst Application"
## Important Details

How are you running Sentry?

Saas (sentry.io)

## Description

Crash on Mac Catalyst applications shows incorrectly (look at the picture attached)

## Steps to Reproduce

Just generate crash on Mac

### What you expected to happen

device.family = macOS (instead of iOS)
os = macOS 11.2.3  (instead of 14.4)

[What you think should be happening]
![image](https://user-images.git

[2021-03-19 14:35] gholias commented on #1006
@philipphofmann We are getting the crashes, but only when the app is cold booted. If we call `capture` without internet access, that event is not submitted until we close and reopen the app.

As a workaround, I'm calling `Sentry.start` on `applicationWillEnterForeground` and that is sending the crash events when returning from the background.

This is how Im starting it:
[code]

[2021-03-22 02:00] LBCross commented on #1000
The os system of IOS 12.0.1 will crashed;

[2021-03-22 07:33] marandaneto opened #1008 "Add Danger changelog checker"
See https://github.com/getsentry/sentry-java/pull/1344/files

[2021-03-22 10:22] philipphofmann commented on #1000
Do you receive a crash in Sentry for this? It's hard to know what the problem is when we don't know the error. Does it only happen on iOS 12.0.1, or can you reproduce this error on other iOS versions as well?

[2021-03-22 10:38] philipphofmann commented on #1006
Thanks for the info.
When you call `capture`, and you don't have an internet connection, the SDK caches the event by storing it to disk.
We try to send all cached events when
* you call `capture`
* the SDK sends any other information to Sentry, like a session update
* or you start the SDK

According to our [unified API](https://develop.sentry.dev/sdk/unified-api/#client), the SKD should offer a `f

[2021-03-22 10:45] philipphofmann commented on #1009
Thanks, @allright for reporting this. I can easily reproduce this issue.

[2021-03-22 11:10] 0xpablo commented on #1002
Hey @philipphofmann, thanks for the suggestion, I will try that in the meantime! 🙂

[2021-03-22 11:10] #1002 closed

[2021-03-22 12:55] gholias commented on #1006
yes, that would be a good workaround to the problem, calling flush when returning from the background.

[2021-03-22 13:53] #897 closed

[2021-03-22 17:23] philipphofmann opened #1013 "Add SentrySDK.flush()"
The unified API states that the SDK should offer `flush` to flush all queued events; see https://develop.sentry.dev/sdk/unified-api/#client. Checkout the implementation, for example, of [.NET](https://github.com/getsentry/sentry-dotnet/blob/69126250838daf1f4489bfeae9c538f5f4dd1a98/src/Sentry/SentrySdk.cs#L111) as a reference.

Please upvote if this is a feature you want.

[2021-03-22 17:27] philipphofmann commented on #1006
I created an issue for flush https://github.com/getsentry/sentry-cocoa/issues/1013. Please upvote there, so we know you want this feature and we can prioritize it properly. I'm going to close this issue now, as it would be a duplicate of `flush`.

[2021-03-22 17:27] #1006 closed

[2021-03-22 19:25] bruno-garcia opened #1014 "Include app permissions in events"
Events should include App's allowed/disallowed permissions.

Android counterpart: https://github.com/getsentry/sentry-java/issues/1347

[2021-03-23 07:03] #1009 closed

[2021-03-24 12:23] LBCross commented on #1000
Sorry. I only have this phone. When I comment out this code, the program works.
![image](https://user-images.githubusercontent.com/19235947/112309819-c6bf8280-8cde-11eb-9984-e26dbe9c7f5b.png)

[2021-03-24 14:43] bruno-garcia commented on #1013
The reason we didn't have `flush` so far is that crashes and `capture` methods persisted files to disk synchronously. Recently we moved this to a background thread not to cause any latency to the main thread so `flush` is needed now.

[2021-03-24 15:24] Enxhi369 commented on #1000
iOS 11 and below

[2021-03-24 16:09] philipphofmann commented on #1000
@Enxhi369 what exactly do you mean by that?

[2021-03-24 16:13] Enxhi369 commented on #1000
I'm sorry I got it finally
Thank you

[2021-03-24 16:13] philipphofmann commented on #1000
@LBCross, can you try to run this code on a simulator from Xcode and tell me if you get the same error?

Can you please as well try if `[NSString stringWithFormat:@"%@:@%", key, value];` works without the Sentry code? Maybe the problem is in there.

[2021-03-24 16:15] #899 closed

[2021-03-25 02:49] LBCross commented on #1000
Sorry, the project is a game made by unity. It only has arm64 architecture, so the simulator can't be debugged. It's not because of this line` [NSString stringWithFormat:@"%@:@%", key, value]; `

[2021-03-25 02:57] LBCross commented on #1000
I think  only need to find a iOS12 system phone, and this problem will appear.

[2021-03-29 14:14] bruno-garcia opened #1031 "Fix flaky test `testSendEventWithRateLimitResponse`"
[code]

Test needs to be fixed an ignoring it reverted:
https://github.com/getsentry/sentry-cocoa/pull/1032

[2021-03-29 19:01] marandaneto opened #1033 "Cultural neutral TimeZone"
<img width="317" alt="Screenshot 2021-03-29 at 20 58 03" src="https://user-images.githubusercontent.com/5731772/112885799-775bc680-90d1-11eb-9871-822facafd495.png">

Ideally, we'd not use a localized String.
Another option would be having 2 fields, one with the Machine-readable and another with the TimeZone description.

A possible source of the problem:
https://github.com/getsentry/sentry-cocoa/b

[2021-03-29 23:46] bruno-garcia opened #1034 "Ensure event `timestamp` is set to the time the event was created"
We received reports that events happened _seconds ago_ when in reality they happend much earlier.
Upon investigation I noticed that when serializing an event, the SDK sets a `timestamp` if none was defined yet:

https://github.com/getsentry/sentry-cocoa/blob/e254b733f7706d4c04c02093f5ad0715ced92443/Sources/Sentry/SentryEvent.m#L46

This isn't needed since the server accepts events without timestam

[2021-03-30 14:08] philipphofmann commented on #1000
@LBCross does it work on the simulator?

[2021-03-30 17:49] bruno-garcia commented on #1000
@philipphofmann I believe he can't test on the simulator, [see his comment](https://github.com/getsentry/sentry-cocoa/issues/1000#issuecomment-806323251)

@LBCross could you please attach the JSON of the event so we can take a look? Or a link if it's on sentry.io

[2021-03-31 09:17] philipphofmann commented on #1000
@LBCross you can get the JSON in the issue detail view by clicking on JSON.
<img width="843" alt="Screenshot 2021-03-31 at 11 13 54" src="https://user-images.githubusercontent.com/2443292/113120807-42a35880-9212-11eb-9143-487ea4c95a1e.png">

Here is an example [sample_event.json.zip](https://github.com/getsentry/sentry-cocoa/files/6235392/sample_event.json.zip)

[2021-03-31 10:45] #852 closed

[2021-03-31 13:29] bruno-garcia commented on #1000
@LBCross I found a iOS 12 device but I need a repro to test it. Could you please provide is a complete repro?
Something I can just plug in to the device and run.

[2021-04-09 12:02] joptriodos commented on #965
Hi all, I created a PR which makes it possible to set a delegate on the url session. Not sure what the best way is to invite reviewers, but maybe @philipphofmann or @bruno-garcia could have a look? It is a relatively simple addition and it would be great if this can be merged. If it still helps to upvote the original issue to speed things up, please let me know. Thanks!

[2021-04-13 03:27] #965 closed

[2021-04-13 09:24] RobinTD opened #1048 "Could not decode report: Data too long (React Native iOS)"
### Environment

Sentry SaaS with React Native integration on iOS 14.4.2.

React Native 0.64 with Hermes.
RNSentry 2.4.0
Sentry 6.1.4

### Steps to Reproduce

1. Complete 100% basic vanilla integration with `Sentry.init({ dsn: ... })`.
2. Trigger crash with `Sentry.nativeCrash()`, using release build of the app.
3. Start app again so it can upload the crash report.

### Expected Result

The crash

[2021-04-13 10:41] NeilJaphtha opened #1049 "Crash when upgrading from SDK version 6.0.9 to 6.2.1"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
6.2.1

### Steps to Reproduce

1. Use the `sentry-cocoa` version **6.0.9** in an app, extensively.
2. Upgrade to **6.2.1** using cocoapods and update application

### Expected Result
1. App starts without crashing

### Actual Result
1. App starts and crashes with the following message
`*** Terminating app due t

[2021-04-13 14:17] #1008 closed

[2021-04-13 15:06] bruno-garcia commented on #1049
@NeilJaphtha could you please share the stack trace? Where is this happening?

[2021-04-13 15:11] bruno-garcia commented on #1048
Historically Sentry capped crash reports to 100kb but I agree an iOS (and generally) native crashes can be larger with all the loaded symbols for example.

Lets increase this limit. Thanks for raising this!

Would you be willing to open a PR to help us out?

[2021-04-13 15:37] marandaneto commented on #1048
Server-side already supports up to 1mb per event https://develop.sentry.dev/sdk/envelopes/#size-limits

[2021-04-13 15:58] NeilJaphtha commented on #1049
`2021-04-13 16:42:37.370421+0100 Zego[90526:22031879] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[2]'
*** First throw call stack:
(
	0   CoreFoundation                      0x00007fff20421af6 __exceptionPreprocess + 242
	1   libobjc.A.dylib

[2021-04-13 17:13] bruno-garcia commented on #1049
Thanks you for raising this @NeilJaphtha.
We'll take a look asap

[2021-04-13 17:14] bruno-garcia commented on #1049
Meanwhile do you mind trying to reproduce it with our latest beta? `7.0.0-beta.0`: https://github.com/getsentry/sentry-cocoa/releases/tag/7.0.0-beta.0

[2021-04-14 01:26] aaronpearce commented on #406
You may want to update your watchOS marketing page if this is still unavailable. I signed up thinking crash reporting was available until I found in the documentation that it wasn't in reality.

[2021-04-14 16:16] bruno-garcia commented on #406
@aaronpearce Apologies for the confusion. We'll update the marketing pages to clarify the state of the support.

[2021-04-14 23:56] hisaac opened #1050 "Question: Is there a way to determine if Sentry has been started or not?"
Version of sentry-cocoa:
**5.2.2**

Does the `SentrySDK` offer any way to quickly detect if Sentry has been started or not? I was hoping for a simple boolean value I could check, like

[code]

Or is there some other way to dig into it and determine if it's currently running or not?

[2021-04-15 17:32] bruno-garcia commented on #1050
There's nothing built in. But at the call site of `SentrySDK.start` you could set a boolean flag somewhere in your app. And then look that one up

[2021-04-15 17:32] borninla commented on #1050
I could be wrong, but I believe this is coming in 7.0.0.

Not sure about a direct boolean check, but there was talk about adding the ability to start and end a Sentry session.

[2021-04-15 17:33] hisaac commented on #1050
Thanks @bruno-garcia and @borninla. We're currently setting a boolean within our code like @bruno-garcia mentioned, but was hoping there was a Sentry-controlled value we could check. For now, we'll proceed as is. 👍

[2021-04-15 17:34] #1050 closed

[2021-04-19 07:37] philipphofmann opened #1051 "Add cacheDirPath to Options"
The SDK uses the `Library/Cache` folder caching [SDK](https://github.com/getsentry/sentry-cocoa/blob/52226f32a1616c1a6245112e3b6a2d49a07bb484/Sources/Sentry/SentryFileManager.m#L46-L52) and [SentryCrash](https://github.com/getsentry/sentry-cocoa/blob/52226f32a1616c1a6245112e3b6a2d49a07bb484/Sources/SentryCrash/Recording/SentryCrash.m#L70-L85) data. The downside of this is that the OS might delete

[2021-04-19 07:52] philipphofmann opened #1052 "Report App Hangs"
The [watchdog](https://developer.apple.com/documentation/xcode/diagnosing_issues_using_crash_reports_and_device_logs/identifying_the_cause_of_common_crashes/addressing_watchdog_terminations) can terminate an app when it is not responsive for a few seconds. This results in a hard crash with the code `0x8badf00d` ("ate bad food"). Having the app hanging for a few seconds and being terminated by the

[2021-04-19 09:09] marandaneto commented on #1052
similar to Android ANR, we probably need to investigate grouping when doing this as it can't be too noisy either.

[2021-04-19 17:57] bruno-garcia opened #1053 "Install the SDK via Carthage as part of CI"
We had issues with Carthage installation a couple of times.
To help avoid such issues in the future, we could install the SDK to a throw-away app to sort of integration-test the Carthage installation step

[2021-04-20 14:41] philipphofmann opened #1057 "Discard unfinished spans when capturing transaction"
### Environment

Sentry SaaS (sentry.io)

sentry-cocoa 7.0.0-beta.0

### Steps to Reproduce

[code]

### Expected Result

The transaction should show up in Sentry without span2.

### Actual Result

The transaction doesn't show up in Sentry.

[2021-04-20 14:43] philipphofmann commented on #1057
We can solve this by removing unfinished spans when calling captureTransaction in the client. We can use the Java SDK as a reference, see [SentryClientTest](https://github.com/getsentry/sentry-java/blob/21dd1665c9feac7e245bc123ceb18c3bb4e8b08b/sentry/src/test/java/io/sentry/SentryClientTest.kt#L766-L783) and [SentryClient](https://github.com/getsentry/sentry-java/blob/838067f920a4b1bd82ee7307da73e

[2021-04-20 21:48] bruno-garcia opened #1060 "Users reported Carthage install is broken on the latest version"
An update from 6.0.6 to 6.2.1 fails with:

/Users/abc/Library/Developer/Xcode/DerivedData/App-ffvyradluhvbddeywqxepqcfsjyt/Build/Products/Release/App.app/Contents/Frameworks/Sentry.framework: bundle format is ambiguous (could be app or framework)

Related to #1053

[2021-04-21 08:05] marandaneto opened #1062 "Support for Sentry as a static lib"
People that have Apps that require Sentry to be a static lib need to update the Xcode project file and compile it on every SDK update, making it harder to Bump the SDK often.

Can we make it possible thru a configuration so it's a bit less painful than now?

I know we used to have Sentry as a static lib but I don't remember why we've changed it, the output of this issue could be just explaining th

[2021-04-21 09:10] NeilJaphtha commented on #1049
Hey Bruno, thanks for this.  Will check out the new beta and get back to you!

[2021-04-21 12:28] philipphofmann commented on #989
Also, take https://github.com/getsentry/sentry-cocoa/issues/989 into account when fixing this.

[2021-04-21 14:42] brustolin commented on #1057
Issue solved in PR #1066

[2021-04-21 14:43] brustolin commented on #990
Issue solved in PR #1065.

[2021-04-21 23:57] bruno-garcia commented on #989
@philipphofmann linked the wrong issue?

[2021-04-22 00:06] 3no-mark opened #1067 "sentry-cocoa 7.0.0-beta.0 crashes app if Mac Catalyst target"
### Environment
How do you use Sentry?
sentry.io

Which SDK and version?
sentry-cocoa 7.0.0-beta.0

### Steps to Reproduce
Run iOS app with target Mac Catalyst, without Xcode debugger

### Expected Result
app runs normally without crashing

### Actual Result
app loads ok, window opens showing root vc. first click on window anywhere crashes app.

same code runs without issue with 6.2.1

[2021-04-22 00:59] deathlyrage commented on #1062
This would be really amazing, I'd love to have a cmake or command line thing I can run that would make the xcode project static. I'd just never figured out what these are without manually opening xcode and changing the properties.

[2021-04-22 07:06] philipphofmann commented on #989
Yes, thanks for pointing that out. I updated the comment.

[2021-04-22 07:33] #1057 closed

[2021-04-22 07:47] marandaneto commented on #990
@bruno-garcia does this issue should address also setting errors to a span like we do on the other SDKs?

eg
span.throwable = my_throwable

https://docs.sentry.io/platforms/java/performance/custom-instrumentation/#connect-errors-with-spans

otherwise we'd have to create a new issue

[2021-04-22 07:55] stuffmc opened #1070 "SentryTransaction.h can't be found?"
When I try to integrate `7.0.0-beta.0` this way in `Package.swift` (from a Package itself):

[code]
This is what I've got...

`~/Library/Developer/Xcode/DerivedData/MyApp-dkvqkhmiuwguoehaikzxuapvpjsv/SourcePackages/checkouts/sentry-cocoa/Sources/Sentry/SentryTransaction.m:1:9: In file included from /Users/mc/Library/Developer/Xcode/DerivedData/MyApp-dkvqkhmiuwguoehaikzxuapvpjsv/SourcePackages/chec

[2021-04-22 11:22] brustolin commented on #976
For reference: https://stackoverflow.com/questions/26081543/how-to-tell-at-runtime-whether-an-ios-app-is-running-through-a-testflight-beta-i

[2021-04-22 14:36] lmmenge opened #1072 "Fix all "Double-quoted include in framework header, expected angle-bracketed instead" warnings"
### Environment

How do you use Sentry?
On-premise (21.3.0)

Which SDK and version?
iOS 6.2.1

### Steps to Reproduce

1. Install Xcode 12.5
2. Create a new project or upgrade a new project's configurations to Xcode 12.5's recommended settings
3. Integrate Sentry's iOS SDK
4. Make a build

### Expected Result

There should be no warnings.

### Actual Result

Xcode 12.5 will suggest turning on by-d

[2021-04-22 21:57] bruno-garcia commented on #990
Exceptions are not as broadly used here as they are in .NET and Java so I think we can get away without that feature. Specially at first, while we evolve the performance API.

[2021-04-22 21:59] bruno-garcia commented on #989
Not sure it's related. The problem there is due to a feature we created to map exceptions to spans using weak ref. In which cases we should also make sure to include `transaction.name` to the event captured for that exception.

[2021-04-23 00:38] #1070 closed

[2021-04-23 01:17] bruno-garcia commented on #1070
@stuffmc thanks for raising. I was able to install it with SPM.
Next version should sort it out. Either another beta or perhaps already GA.

[2021-04-23 07:57] philipphofmann commented on #989
Okay then I remove the comment.

[2021-04-23 07:59] philipphofmann commented on #990
I think this was solved with https://github.com/getsentry/sentry-cocoa/pull/1065.

[2021-04-23 07:59] #990 closed

[2021-04-23 08:16] philipphofmann commented on #1067
Thanks for reporting this issue @3no-mark. Can you please let us know how you include sentry-cocoa and which error you receive?

[2021-04-23 10:01] philipphofmann commented on #1060
I'm having trouble reproducing this. I set up a sample project with Carthage and 6.0.6, 6.2.1, and 7.0.0-beta.0 work fine.

Maybe this could be related to [migrating a project from framework bundles to XCFrameworks](https://github.com/Carthage/Carthage#migrating-a-project-from-framework-bundles-to-xcframeworks). I opened up a PR to improve the docs on Carthage with Sentry, see https://github.com/g

[2021-04-23 10:29] philipphofmann commented on #1067
I tried our sample project in this repo and another sample with CocoaPods. They both work fine with Mac Catalyst. I just checked with customer support and from your crash report I can see that our SentryCrashException Handler is crashing

[code]

@Swatinem maybe some of your changes in SentryHook for the async stacktraces are causing this problem: https://github.com/getsentry/sentry-cocoa/blob/e14

[2021-04-23 12:59] 3no-mark commented on #1067
Mac is per screenshot below. Podfile from the problem build also below.

Your SentryCrashException Handler is not handling a crash from my code:
1) Same code runs without an issue when built with 6.2.1
2) Same code runs without issue under the Xcode debugger (using release build configuration) where, I assume, you are not tapping into the iOS uncaught exception handler.

Also note that the app loa

[2021-04-23 13:27] philipphofmann commented on #1060
It could be that they are using an older Carthage version than 0.37.0. @bruno-garcia can we get the info on which Carthage version this issue occurs?

[2021-04-23 13:32] #986 closed

[2021-04-23 15:05] Swatinem commented on #1067
Yes, this is absolutely an issue with the way I access thread locals across threads.

[2021-04-23 23:27] bruno-garcia commented on #1070
We released another beta with this fix: https://github.com/getsentry/sentry-cocoa/releases/tag/7.0.0-beta.1
It's getting pushed to cocoapods right now too.

Thanks again for trying it out and please let us know if you find any other issues.

[2021-04-23 23:27] bruno-garcia commented on #1009
We released another beta with this fix: https://github.com/getsentry/sentry-cocoa/releases/tag/7.0.0-beta.1
It's getting pushed to cocoapods right now too.

Thanks again for trying it out and please let us know if you find any other issues.

[2021-04-26 08:30] philipphofmann commented on #934
Was resolve with https://github.com/getsentry/sentry-cocoa/pull/1046.

[2021-04-26 08:30] #934 closed

[2021-04-26 09:37] LBCross commented on #1000
log.txt

[2021-04-26 09:40] LBCross commented on #1000
[log.txt](https://github.com/getsentry/sentry-cocoa/files/6375963/log.txt)

[log.txt](https://github.com/getsentry/sentry-cocoa/files/6375966/log.txt)

[2021-04-26 10:22] philipphofmann commented on #1067
Thanks @3no-mark for the extra info. I'm still not able to reproduce this on my machine with the same CocoaPods config and a release build. Can you maybe put together a sample project to help us reproduce this?

@Swatinem do you have any idea how to fix the issue with accessing thread locals across threads?

[2021-04-26 23:53] borninla opened #1085 "Ability to not group specific issues"
### Request

It would be nice to allow the SDK user to turn off grouping for specific issues.

### Example / Problem

For example, our app lets a user report feedback whenever they want. When they press "submit", we fire `SentrySDK.capture(...)` to send an event up to us. However, since the last function on the stack frame is an in-app call to send the event, every user feedback issue is grouped u

[2021-04-27 02:44] bruno-garcia commented on #1000
@LBCross could you please share the code that causes the crash so we can run it on our end and debug through?

[2021-04-27 09:18] philipphofmann opened #1086 "Flag for Async Stacktrace on SentryOptions"
Provide a flag on SentryOptions to enable and disable async stack traces, added in #998. Explain in the code docs that this feature is not 100% stable yet, might impact the application's performance, and impact grouping.

[2021-04-27 09:23] Swatinem commented on #1067
https://github.com/getsentry/sentry-cocoa/pull/1083 is using a different approach.
And we decided to disable this feature for now, and reintroduce it later behind a feature flag, so I will close this issue.

[2021-04-27 09:23] #1067 closed

[2021-04-27 09:25] philipphofmann commented on #1067
For clarification @3no-mark, we think that https://github.com/getsentry/sentry-cocoa/pull/998 causes this problem. As mentioned by @Swatinem we disable this, for now, so your problem should be solved.

[2021-04-27 11:56] 3no-mark commented on #1067
What release should I use to test/verify in my app?

[2021-04-27 12:16] Enxhi369 commented on #1000
Yes o need help with this can you or someone contact me I need to hire a team of doing this please

Sent from my iPhone

[2021-04-27 13:08] LBCross commented on #1000
![image](https://user-images.githubusercontent.com/19235947/116246647-c2cec680-a79c-11eb-9e1d-c5f9fe51792d.png)

[2021-04-27 15:45] bruno-garcia commented on #1000
@LBCross please paste the code so we don't need to type it all from your image?

[2021-04-27 22:12] bruno-garcia commented on #1049
We just released 7.0.0 today. Let us know if this helps

[2021-04-28 07:19] marandaneto opened #1089 "Expose DebugImage list for Hybrid SDKs"
Hybrid SDKs that require symbolication would need the debug image list for symbolication.
https://github.com/getsentry/sentry-dart/issues/433

Sentry Cocoa already loads it internally, the idea is that it also offers a public API so Hybrid SDKs can use it.

See for example sentry-native API
https://github.com/getsentry/sentry-native/blob/06d436096653925e5d7a493e413c9981ce7c5f1c/include/sentry.h#L1

[2021-04-28 12:12] philipphofmann commented on #1089
We already have the [`SentryDebugMetaBuilder`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/include/SentryDebugMetaBuilder.h). Would that work for you @marandaneto? Of course, we can provide a nicer API for it.

[2021-04-28 12:16] philipphofmann commented on #1067
Please try with 7.0.0 and let us know if it works @3no-mark.

[2021-04-28 12:43] marandaneto commented on #1089
if its a public API, it's already possible to not get blocked by it, but it depends on `SentryCrashDefaultBinaryImageProvider`, so ideally, a method that encapsulates this and returns only a list of `DebugImage` instead of the `DebugMeta` itself, as I'm not interested in the `sdkInfo` field for example.

[2021-04-28 13:05] philipphofmann commented on #1049
It seems like we are trying to insert `nil` into a dictionary literal in [SentrySession](https://github.com/getsentry/sentry-cocoa/blob/6.2.1/Sources/Sentry/SentrySession.m#L180-L185).
[code]

`[__NSPlaceholderDictionary initWithObjects:forKeys:count:]` I think is called when creating a dictionary like this. You get the exact error when you try to insert `nil`. What I don't understand is how one o

[2021-04-28 14:06] alpennec opened #1093 "Disable / Enable crash reporting while the app is running"
@philipphofmann is this new feature [(Add start and endSession to SentrySDK)](https://github.com/getsentry/sentry-cocoa/pull/1021) the way to enable / disable sending crashs to Sentry if a user disables crash reports in the app? I'm not really sure about the flow because when we start the SDK, we can specify the `options.enabled =` flag, but how can we then update it afterwards? Should we use the

[2021-04-28 15:12] philipphofmann commented on #1093
Hi @alpennec, these two methods start and end sessions for [release health](https://docs.sentry.io/platforms/apple/configuration/releases/). We should improve the code docs on these methods.

When starting you can use the `options.enabled` flag. You can use `SentrySDK.close()` to turn the SDK off.

[2021-04-28 23:03] 3no-mark commented on #1067
7.0.0 now works without crashing. Thank you @philipphofmann.

[2021-04-29 09:53] philipphofmann commented on #1089
I just found out we have a bit of a conflict in the SentryCocoa SDK with `DebugMeta` and `DebugImages`. `SentryDebugMeta` is in fact [DebugImages](https://develop.sentry.dev/sdk/event-payloads/debugmeta#debug-images). I added a https://github.com/getsentry/sentry-cocoa/discussions/1094#discussioncomment-674063 to fix this in 8.0.0.

We just need the `initWithBinaryImageProvider` for testing so I c

[2021-04-29 12:23] bruno-garcia opened #1096 "perf: Caching loaded symbols list"
What is the impact to dynamic libraries loaded after the list is cached? What's the approach taken by sentry-native/android?

[2021-04-29 17:27] colinhumber opened #1100 "Change SentryUser Swift name to something other than User"
The Obj-C `SentryUser` has a Swift name of `User` via `NS_SWIFT_NAME(User)`. `User` is an incredibly common class name in apps, and having this renamed to `User` in Swift causes a lot more issues than it needs to. If I have a class that uses both Sentry and my own `User` class, I need to explicitly use `MyModule.User` in order to avoid naming conflicts.

I understand this would be a breaking chang

[2021-04-29 18:11] alpennec commented on #1093
Thanks @philipphofmann for the help and documentation improvement!

[2021-04-30 02:05] gabors opened #1101 "Sentry.h:45:1: umbrella header for module 'Sentry' does not include header 'SentryMechanismMeta.h'"
Keep seeing this build warning

`Sentry.h:45:1: umbrella header for module 'Sentry' does not include header 'SentryMechanismMeta.h'`

Integrating using SwiftPM
Xcode 12.5, Xcode 12.4 and probably earlier

[2021-04-30 08:15] philipphofmann commented on #1101
Thanks for reporting this, @gabors. I'm pretty sure #1102 is solving your problem. What's a bit weird, though, is that I can actually set up a project with SPM, and it compiles and runs for me. Can you maybe provide more details on your setup to help me to get a repro?

[2021-04-30 08:18] philipphofmann commented on #1101
Oh, now I can. Caching was the issue.

[2021-04-30 08:31] #1101 closed

[2021-04-30 09:18] philipphofmann commented on #1101
Please try with https://github.com/getsentry/sentry-cocoa/releases/tag/7.0.2 and reopen if it doesn't work for you.

[2021-04-30 10:49] tobiasjordan commented on #434
@philipphofmann Unfortunately, since `-[SentrySDK currentHub]` is private I cannot use it in my project. Any plans for exposing this method? I'm using version 7.0.2.

[2021-04-30 12:49] philipphofmann commented on #434
Hey @tobiasjordan, do you only use `[SentrySDK currentHub]` to get the scope with the device data? If so, maybe we should provide another way to initialize a scope with device data without having to expose `[SentrySDK currentHub]`.

[2021-04-30 12:57] philipphofmann commented on #1100
Ah, if you just opened up this issue a few days earlier 😁. We just shipped 7.0.0. I add this to 8.0.0, so we can discuss this in the next major. I agree with you that we should change this. Thanks for pointing it out.

[2021-04-30 14:08] tobiasjordan commented on #434
Thanks for the swift response, @philipphofmann! Yes, exactly. I was trying to give your snippet a shot and there would be no other use case for having to call `+[SentrySDK currentHub]` for me so any alternative solution fulfilling this requirement would be nice to have publicly available.

[2021-04-30 17:09] colinhumber commented on #1100
Awesome! Glad it's on the roadmap!

[2021-05-03 08:11] #1093 closed

[2021-05-03 08:35] philipphofmann commented on #434
@marandaneto how do we put the device data into the event on Java? Maybe we can change it to a similar approach.

[2021-05-03 10:38] marandaneto commented on #434
@philipphofmann via EventProcessors so every Sentry.capture(event) will enrich the event with the device context

[2021-05-03 14:26] philipphofmann opened #1104 "Enrich every event with device and app context"
Currently, the `SentryCrashIntegration` configures the `Scope` of the current `Hub` with the device and app data.
https://github.com/getsentry/sentry-cocoa/blob/b46bdabe0aacf42cc4786856f0940ec653919ab4/Sources/Sentry/SentryCrashIntegration.m#L133-L136

This has the disadvantage when creating a `Hub` manually the client doesn't enrich the event with device and app data. Java uses an EventProcessor

[2021-05-03 14:26] philipphofmann commented on #434
Thanks, @marandaneto. I think we should change this. I created an issue for this https://github.com/getsentry/sentry-cocoa/issues/1104. Can't give you an ETA though @tobiasjordan.

[2021-05-03 14:29] tobiasjordan commented on #434
No problem, @philipphofmann and thanks for creating an issue. I'm already glad someone's going to look into this.

[2021-05-03 14:55] philipphofmann commented on #1085
Hey @borninla, sorry for the late response.

The way grouping is built now wouldn't support such a feature you requested. You would somehow need to specify which part of the stacktrace needs to be ignored for grouping. That is already possible with [Issue Grouping Rules](https://docs.sentry.io/platforms/apple/data-management/event-grouping/stack-trace-rules/) like you pointed out. We don't have pl

[2021-05-03 15:01] marandaneto commented on #1104
using an `EventProcessor` also has its disadvantages, these trade-offs should be discussed before going forward though.

[2021-05-03 15:04] philipphofmann commented on #1052
Maybe we can use a [CADisplayLink](https://stackoverflow.com/questions/26888434/how-many-ways-to-calculate-the-fps-frames-per-second-of-an-ios-app-programmati/33976924#33976924) on iOS, Mac  Catalyst, and tvOS and a [CVDisplayLink](https://stackoverflow.com/questions/14158743/alternative-of-cadisplaylink-for-mac-os-x/14165842#14165842) on macOS to be able to detect this.

[2021-05-04 06:34] #1089 closed

[2021-05-05 10:24] NeilJaphtha commented on #1049
Sweet thanks team!  I'm updating the SDK today and I'll get back to you in the next wee If I have any reoccurring issues. 👍

[2021-05-05 11:55] philipphofmann commented on #1085
I guess your question is answered @borninla, so I'm going to close this now.

[2021-05-05 11:55] #1085 closed

[2021-05-05 18:20] tiwariashish86 commented on #1062
@marandaneto I am looking into integrating iOS SDK but we don't support any of the installation method described here https://docs.sentry.io/platforms/apple/guides/ios/install/ . It would certainly be helpful if we can get a static lib (.a) that I can just link against.

[2021-05-05 20:09] bruno-garcia commented on #1062
Curious if building from source is an option to you? At least until we add a static lib as a release target.

[2021-05-05 22:16] tiwariashish86 commented on #1062
Sure 2 questions : 1. How do I build from source? 2. I would like to build based on last stable release. Can you please point me to commit which was the base for last sentry stable release for iOS?

[2021-05-05 23:54] bruno-garcia commented on #1062
You can see our build configuration here:
https://github.com/getsentry/sentry-cocoa/blob/741aa6d130e7637b67bf7a6f2ec22a7c8c5511d2/.github/workflows/buildandtest.yml#L39-L46

I suggest pulling the repo at a specific tag (a release we cut) which will help keeping track of what features and bugfixes you've included. It'll help troubleshooting in case you report an error and call out the SDK version (

[2021-05-06 06:06] tiwariashish86 commented on #1062
Checking build configuration. what is the output of building the repo this way(does it output .a or iOS framework that we can include in our project?)? or are you suggesting building along with our source code(that we do not want to do)?

[2021-05-06 16:38] tiwariashish86 commented on #1062
Also, is there an ETA when we would have static lib support?

[2021-05-07 12:07] itspolly opened #1107 "Sentry crashes if en0 is not the primary ethernet interface on macOS"
### Environment

How do you use Sentry?
On-premise

Which SDK and version?
sentry-cocoa 7.0.3

### Steps to Reproduce

1. Change the primary ethernet interface to en1, or remove en0
2. Launch a macOS app using the Sentry SDK

Note: these steps involve deliberately changing the primary ethernet interface away from en0 if it is en0, but Apple recommends against assuming en0 exists at all and assumin

[2021-05-07 20:58] bruno-garcia commented on #1062
We currently build a `framework`. So this issue can stay open until we add `static lib` support.
My suggestion was that you could try to build a static lib by yourselves, until we ship the feature.

There's no ETA for this feature at this point.

[2021-05-12 13:48] bruno-garcia commented on #1051
Name used in other SDKs:

`sentry-native`: `sentry_options_set_database_path`
`sentry-android/java`: `cacheDirPath`
`sentry-dotnet`: `CacheDirectoryPath`

[2021-05-12 13:49] philipphofmann commented on #1051
The Swift and Objective-C way to go would be to name it `cacheDirectoryPath`.

[2021-05-12 14:11] bruno-garcia commented on #1062
We need [this for Unity too](https://github.com/getsentry/sentry-unity/issues/164).

[2021-05-12 14:38] bruno-garcia commented on #1096
Is there a hook from the OS that triggers when a new dynamic library is loaded? That could be used to invalidate the cache.
Without such hook having that data cached would mean possibly reporting the incorrect library list.

[2021-05-12 14:53] marandaneto commented on #1096
maybe there's something like Java JNI -> https://docs.oracle.com/javase/9/docs/specs/jni/invocation.html#jni_onload

[2021-05-14 11:06] basememara opened #1112 "Sending log event manually?"
I'd like to send event manually to Sentry. For example, my logger is sprinkled throughout my app, where I call `debug`, `info`, `warning`, and `error` levels without the app crashing. If a user reports an issue, I can review the log trail and see what their steps were to identify or reproduce the issue.

I tried using [breadcrumbs](https://docs.sentry.io/platforms/apple/guides/ios/enriching-events

[2021-05-14 15:46] danimal commented on #1112
You can log a non-fatal error with an `Event`. Something like this is what has been successful for us. Depending on how many users you have and how many events you’re seeing you may want to configure some sort of rate limiting in there so you don't overwhelm your Sentry reporting with events. We also tag each kind of non-fatal that we're logging with a unique tag for that call site so we can searc

[2021-05-17 02:06] cstigler opened #1113 "Sentry Can't Serialize Date in Scope Context Value ("Invalid JSON")"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
macOS SDK 7.0.3 (also tested with the same issue on 6.x)

### Steps to Reproduce
0. Start sentry using `SentrySDK startWithConfigureOptions` (I am using no particularly special options)
1. Use `configureScope:` to `setContextValue:` to a dictionary value which contains a date value. In my actual app's case, it'

[2021-05-17 12:49] philipphofmann commented on #1113
Thanks for opening this issue, @cstigler.

The Client applies the Scope to the Event, and we don't sanitize the context of the event when serializing it with `sentry_sanitize` in here https://github.com/getsentry/sentry-cocoa/blob/80681aceb96a84bf804388038dd5376798c82c7a/Sources/Sentry/SentryEvent.m#L133

This should be an easy fix, but I have to check first if this could cause problems.

[2021-05-17 13:00] vg-identance commented on #1112
Are there any way to remove manual log function like `logNonFatalError ...` from stacktrace?

[2021-05-17 13:02] philipphofmann commented on #1112
Thanks, @danimal, for the answer and your insightful use case. @basememara, the SDKs adds breadcrumbs to every event in the Client. I think they should do the job for you.

@danimal, you can also do it like this. No need to create the event manually unless you want to modify the level.
[code]

[2021-05-17 14:52] philipphofmann commented on #1112
@vg-identance, this question is off-topic. Do you mind opening up another issue for that, please?

[2021-05-17 15:03] vg-identance commented on #1112
@philipphofmann actually find way using `beforeSend` so I don't, sorry.

[2021-05-18 07:58] iwill opened #1117 "the name of method `-unsignedLongLongValue` should start with prefix `sentry_` in your category `SentryUnsignedLongLongValue`"
### Environment

How do you use Sentry?
self-hosted

Which SDK and version?
Sentry-Cocoa (6.2.1)

### Steps to Reproduce

1. In my Podfile:
pod 'mob_sharesdk', :inhibit_warnings => true
pod 'Sentry', '~> 6.2'
2. Run `pod install`
3. Build in Xcode

### Expected Result

Success without any error or warning.

### Actual Result

Got a warning: "Method '-unsignedLongLongValue' in category from /.../Po

[2021-05-18 08:18] philipphofmann commented on #1117
Thanks for reporting this, @iwill. Can you update to 7.x.x, or do you need a hotfix for this on 6.2.x?

[2021-05-18 08:31] iwill commented on #1117
Got the same warning by updating to 7.0.3, and I tried commit a pull request #1119 to resolve it just a moment ago.

I am glad to update to 7.x.x if it's stable.

[2021-05-18 08:38] iwill commented on #1117
@philipphofmann 🚀

[2021-05-18 10:12] philipphofmann commented on #1117
I'm trying to ship a patch today. Thanks for the info.

[2021-05-18 15:52] philipphofmann opened #1120 "Central API Entry Point for Hybrid SDKs"
The sentry-cocoa SDK has a few non-public methods or classes that hybrid SDKs use, like `SentryDebugImageProvider`, `SentryHub.captureEnvelope`, `SentrySDK.storeEnvelope`, `SentryClient.storeEnvelope`, ... . Currently, you have to manually search through the SDK to find out which ones they are. These contracts can be broken easily by mistake. Instead, we could create a central class that delegates

[2021-05-19 06:27] philipphofmann commented on #1072
Thanks for opening up this issue @lmmenge. Unfortunately, this isn't an easy fix, and I don't have an ETA for this right now.

[2021-05-19 06:37] #1117 closed

[2021-05-19 08:09] philipphofmann opened #1121 "Make BreadcrumbTracker and SystemEventsBreadcrumbs static"
`SentrySystemEventsBreadcrumbs` and `SentryBreadcrumbTracker` don't have any state. Their methods could be static. `SentryAutoBreadcrumbTrackingIntegration` doesn't need to keep two instances in memory of them.

[2021-05-20 00:26] borninla commented on #1093
Is there a way to check if a session is currently running before calling `SentrySDK.startSession()` to potentially restart one you didn't want to?

[2021-05-26 13:18] philipphofmann opened #1129 "Operation name for auto performance instrumentation"
We need an operation name for Auto UI Performance Tracking. On Android and React Native we use `navigation`. Should we change it to `ui.rendering`, see https://github.com/getsentry/sentry-cocoa/pull/1105#discussion_r639598668?

[2021-05-27 06:33] gereons opened #1130 "Enable/disable Sentry at runtime?"
Up until v7.x, it was possible to enable / disable Sentry at runtime using

    SentrySDK.currentHub().getClient()?.options.enabled = sentryEnabled

(see e.g. https://github.com/getsentry/sentry-cocoa/issues/419 and https://github.com/getsentry/sentry-cocoa/issues/809)

Now, with `currentHub()` removed from the public API, is there an alternate way to achieve this same effect?

[2021-05-27 07:34] philipphofmann commented on #1130
Yes, you can use `SentrySDK.close()`.

[2021-05-27 07:35] philipphofmann commented on #419
Since 7.0.0 you can now use `SentrySDK.close()` to close / disable the SDK.

[2021-05-27 07:35] #419 closed

[2021-05-27 07:57] philipphofmann opened #1132 "Fix View Controller Swizzling before iOS 13.0"
In iOS before 13.0, the initial view controller in a storyboard is instantiated before SentrySDK initialization, so we lose swizzling setup.

We need to think of a solution for this.

Doing the sizzling based on a configuration file in the list of the project could be a solution.

[2021-05-27 07:58] philipphofmann commented on #1132
Related to https://github.com/getsentry/sentry-cocoa/pull/1115.

[2021-05-27 08:02] philipphofmann opened #1133 "Add tests for SentryPerformanceTracker"
There are almost no tests for SentryPerformanceTracker. We need to add extensive tests for this class.

[2021-05-27 08:03] philipphofmann opened #1134 "Add tests for SentryTracerTests"
SentryTracer is not fully tested yet. We need to add more tests.

Please check if we should use `_spans` instead of `self.children` in here https://github.com/getsentry/sentry-cocoa/blob/ff24da47d4f8464e35a0e9d6e542adeaa4c6afa8/Sources/Sentry/SentryTracer.m#L219-L224

You can use TransactionGeneratorTests to generate a transaction with children and send them to Sentry.

[2021-05-27 08:08] philipphofmann opened #1135 "Align Option for Auto UI Performance Instrumentation with Android"
On Android, we have `enableAutoActivityLifecycleTracing` so we could name it `enableAutoViewControllerLifecycleTracing`.
https://github.com/getsentry/sentry-cocoa/blob/ff24da47d4f8464e35a0e9d6e542adeaa4c6afa8/Sources/Sentry/Public/SentryOptions.h#L164

We also need to rename SentryUIPerformanceTracker accordingly. For more details checkout https://github.com/getsentry/sentry-cocoa/pull/1105#discus

[2021-05-27 08:58] gereons commented on #1130
Thanks for the quick reply!

[2021-05-27 08:58] #1130 closed

[2021-05-27 13:34] #1120 closed

[2021-05-27 13:47] philipphofmann opened #1137 "Auto UI Performance Instrumentation misses sending child spans"
### Environment

On branch feat/auto-performance-instrumentation

### Steps to Reproduce

Run TransactionGeneratorTests.testGenerateTransactions

### Expected Result

[Transaction with Children](https://sentry.io/organizations/sentry-sdks/performance/sentry-cocoa:5096cfe8b3d24912b0b71c5d2e36e626/?project=5428557&query=transaction.duration%3A%3C15m+event.type%3Atransaction&showTransactions=recent&s

[2021-05-28 08:57] #1137 closed

[2021-05-31 08:01] philipphofmann opened #1141 "UI Auto Instrumentation not always complete"
### Environment

Feature branch `feat/auto-performance-instrumentation`.

### Steps to Reproduce

Use iOS-Swift sample app without a debugger attached. Open the app several times or press the button Test Navigation Transaction several times.

### Expected Result

[Rich transaction](https://sentry.io/organizations/sentry-sdks/performance/sentry-cocoa:6e93e692e8744d7ab3ab0c7acb165043/?project=542855

[2021-05-31 13:29] dyomin-d opened #1143 "reportUserException in 7.x.x version"
### Issue

I have upgraded Sentry version from 4.x.x to 7.x.x. One of the parts of my code consisted of the following command:
[code]
The main idea was to crash the app once the event is sent. However, there are no alternatives of this function in the newest version. If I use just `SentrySDK.crash() `, it won't send my custom error. Let me know how I may implement the same logic with the current v

[2021-06-01 08:22] philipphofmann opened #1146 "Add Dependency Container"
We currently use multiple instances of `SentryDefaultCurrentDateProvider`, `SentryCrashAdapter`, etc., across the SDK, while we could only use one to minimize the memory footprint. So let's fix this by adding some dependency container that returns only one instance of these classes.

[2021-06-01 15:56] philipphofmann commented on #1143
Hi, maybe `SentrySDK.captureException()` is what you are looking for?

[2021-06-02 09:31] philipphofmann opened #1149 "Fix saving app state"
Don't only update the app state in SentryOutOfMemoryTracker. If this integration is removed, the app start tracking doesn't work properly.

[2021-06-02 11:42] dyomin-d commented on #1143
Thank you for the comment. I am currently using `SentrySDK.capture(exception: )` , however:
1. It isn't possible to crash the app during the capturing.
2. Also, I can't set language, stackTrace and etc. properly, only via setExtras but in fact it doesn't pass the data like it has been earlier.

[2021-06-03 20:07] jimrutherford opened #1152 "Out of Memory Crash Report Has Incorrect User Id"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
Swift 7.0.3

### Steps to Reproduce

1. Review an OutOfMemory crash report
2. Observe `User.id` value does not match User.id value as set by `SentrySDK.setUser(...)`

### Expected Result

I expect that the value I set as the user id for the sentry session would appear in OOM crash reports.  We have over 100 OOM

[2021-06-04 08:38] philipphofmann commented on #1152
Hey @jimrutherford, thanks for reaching out. The SDKs uses `installationId` as a fallback if you don't provide a user, see our [docs](https://docs.sentry.io/platforms/apple/enriching-events/identify-user/). When your application uses too much RAM, the operating system kills your app without a normal termination process. This means we can't store the data of the scope when the app terminates as we

[2021-06-07 09:39] philipphofmann commented on #1141
Fixed with https://github.com/getsentry/sentry-cocoa/pull/1150

[2021-06-07 09:39] #1141 closed

[2021-06-07 12:16] NachoSoto opened #1156 "Unable to build SDK for tvOS on arm64"
### Environment

CocoaPods:
`pod 'Sentry', '~> 7.1'`

Which SDK and version?
`Sentry 7.1.3`

### Steps to Reproduce

Archiving my app, Sentry fails to build using CocoaPods for tvOS.

### Actual Result

<img width="488" alt="Screen Shot 2021-06-07 at 14 14 28" src="https://user-images.githubusercontent.com/685609/121015151-f25cef80-c79a-11eb-95b1-ea5a128051db.png">

[2021-06-07 14:09] philipphofmann commented on #1156
I just tried it with an empty sample and it works for me. This is my Podfile
[code]

Can you, @NachoSoto, maybe give us more context, so we can reproduce your issue.

[2021-06-07 14:10] NachoSoto commented on #1156
That's exactly my set up. Using `Xcode 12.5 (12E262`. I wonder if something is messed up in my environment?

[2021-06-07 14:16] philipphofmann commented on #1156
I use `Xcode 12.5 (12E262)` as well. Which mac and macOS are you on?

[2021-06-07 14:17] NachoSoto commented on #1156
<img width="313" alt="Screen Shot 2021-06-07 at 16 17 01" src="https://user-images.githubusercontent.com/685609/121032686-cbf38000-c7ab-11eb-8b3c-398a8f9ef5db.png">

[2021-06-07 14:24] philipphofmann commented on #1156
Similar to mine, so the Mac and macOS shouldn't be the problem.

[2021-06-07 14:25] NachoSoto commented on #1156
Are you building for `arm64` though? I only noticed this when I archived "Any tvOS device":

<img width="592" alt="Screen Shot 2021-06-07 at 16 25 36" src="https://user-images.githubusercontent.com/685609/121034040-feea4380-c7ac-11eb-85a1-90443727709a.png">

[2021-06-07 14:48] philipphofmann commented on #1156
Yes, I am building for arm64. Your first screenshot complains when compiling for `arm64e`, which confuses me because this works for iOS. It looks like we are not reading the values correctly from `darwin_arm_thread_state64` in [SentryCrashCPU_arm64.c](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/SentryCrash/Recording/Tools/SentryCrashCPU_arm64.c).

Do you have a special setup for

[2021-06-07 16:50] bruno-garcia commented on #1146
Couldn't we get around with a singleton pattern for those adapters?
Basically this: https://github.com/getsentry/sentry-dotnet/blob/1c04f4c610758e95160b1c8d000951ef5b318275/src/Sentry/Internal/AppDomainAdapter.cs#L19-L26

[2021-06-07 16:59] NachoSoto commented on #1156
Well yeah, `arm64e`.

That would explain the issue then?

---

I'll try in a clean project as soon as I can:
[code]
😜

[2021-06-07 20:37] NachoSoto commented on #1156
Okay I found the issue. I still had this hack in my `Podfile`:
[code]

Which was making it build for `arm64e`. I disabled that for `tvOS` dependencies and it all works now.
Thanks for your pointer and your help!

[2021-06-07 20:37] #1156 closed

[2021-06-08 09:41] philipphofmann commented on #1146
We agreed in https://github.com/getsentry/sentry-cocoa/pull/1155 to use the singleton pattern instead.

[2021-06-08 09:41] #1146 closed

[2021-06-08 15:15] philipphofmann opened #1159 "Change session error count to boolean"
The Sentry backend only cares about whether a session errored or not. The protocol still supports sending an integer, but the backend translates this to 0 or 1. We can therefore change the `SentrySession.errors` to a `BOOL`.

[2021-06-09 14:46] bruno-garcia opened #1161 "Add session id to events and transactions"
Set the session_id as a tag in events. This will allow us to see all events that happened during a session.

Related: https://github.com/getsentry/sentry-java/issues/1416

[2021-06-10 07:00] philipphofmann commented on #1134
Was fixed with https://github.com/getsentry/sentry-cocoa/pull/1144.

[2021-06-10 07:00] #1134 closed

[2021-06-10 07:03] philipphofmann commented on #1133
Was fixed with https://github.com/getsentry/sentry-cocoa/pull/1144.

[2021-06-10 07:03] #1133 closed

[2021-06-10 08:57] philipphofmann commented on #1129
We agreed to change `app start` to `app.start` and `ui.rendering` to `ui.load`.

[2021-06-10 09:59] philipphofmann opened #1162 "Add PerformanceTests for disk writes"
We can use the following code to measure the utilization of disk writes in tests.
[code]

It makes sense to add these for:
* SDKInit
* Capturing events

[2021-06-10 10:08] philipphofmann opened #1163 "Add Performance tests for memory usage"
We can use the following code to measure the utilization of memory in tests.
[code]

It makes sense to add these for:
* SDKInit
* Capturing events

[2021-06-11 06:55] #1129 closed

[2021-06-11 07:58] philipphofmann opened #1165 "feat: Support custom frame rate for FrameRenderMeasuring"
The preferred frame rate can be changed with [preferredFramesPerSecond](https://developer.apple.com/documentation/quartzcore/cadisplaylink/1648421-preferredframespersecond) on the `CADisplayLink`. We could check the preferredFramesPerSeconds and adapt the desired frame rate in SentryFramesTracker accordingly.

It might be worth checking out other ways of defining custom frame rates as well, see ht

[2021-06-11 12:29] rshimoda opened #1166 "Update Package.swift to resolve SPM warnings"
If Sentry is integrated into Xcode project via SPM, there are 4 warnings that are caused by the following part of `Package.swift` file:
[code]

As of version 7.1.3, there aren't any sub-directories listed in `exclude` in `Sentry/` and thus they cannot be found.
I suggest removing the `exclude` part of "Sentry" target (in `Package.swift`) to resolve these warnings.

Thanks for reading and your atte

[2021-06-11 21:38] voool opened #1168 "[Feature Request] Add the ability to change the HTTP request the SDK sends to Sentry"
(This is a continuation of the request mentioned in this comment: https://github.com/getsentry/sentry-cocoa/issues/486#issuecomment-664492471)

**Request**: In 4.x we could attach a header to the request by utilizing the following:
[code]

Is it possible to add this functionality in 7.x as well? Our project will have to use 4.x unless this functionality is added

**Problem this will solve**:  In o

[2021-06-15 09:11] philipphofmann commented on #1168
Hey, I guess [`SentryOptions.urlSessionDelegate`](https://github.com/getsentry/sentry-cocoa/blob/aa16497c4af25f32228a90c11c85c79470b1e754/Sources/Sentry/Public/SentryOptions.h#L219) is what you are looking for.

[2021-06-16 07:23] philipphofmann commented on #1166
Was fixed with https://github.com/getsentry/sentry-cocoa/pull/1169

[2021-06-16 07:23] #1166 closed

[2021-06-16 08:46] philipphofmann opened #1173 "Timeout for auto-generated transactions"
`SentryTracer.waitForChildren` waits for all child spans to finish. The downside of this is that when one of these spans never finishes, the SDK never finishes the transaction. We can solve this by, for example, by starting a timeout for the transaction, which is reset every time a new span is added. When this timeout exceeds, the `SentryTracer` finishes the transaction.

[2021-06-16 13:51] philipphofmann commented on #1173
We decided not to take care of this in the first iteration of automatic performance instrumentation. There is a risk that the SDK keeps multiple references of unfinished transactions, but a timeout might not be the only solution to solve this problem. Adding a timeout brings the risk of ending transactions too early.

[2021-06-18 12:34] #1086 closed

[2021-06-18 22:20] mmerickel opened #1185 "OutOfMemory error logged when the app is manually killed after the SDK is closed."
### Environment

Which SDK and version?
react-native-sentry 2.5.1 with sentry-cocoa 7.0.0 (but I checked and master probably has the same issue).

### Steps to Reproduce

1. `[SentrySDK close]` followed by `exit(0);`.
2. App resumes, initializes the SentrySDK and logs OutOfMemory sentry event.

### Expected Result

App should resume and not log an event because the SDK was closed during the crash.

[2021-06-19 00:56] mmerickel commented on #1185
It looks like the problem is that currently the SentryOutOfMemoryTracker's `stop` method is invoked properly but it doesn't update the app state when stopping, and it should probably do it synchronously.

[2021-06-19 05:14] OscarGorog opened #1186 "Xcode 13 Beta strict enforcement of valid exclusion paths causes warning"
- Sentry SaaS (sentry.io)
- Swift Package - Latest Version

When using the latest version of the SDK in the  Xcode 13 Beta, it appears Apple is now raising a warning if files in the exclude section of Package.swift do not exist. In the current Package.swift there is a reference to "Utils", "Samples", "scripts" and "Tests" which does not exist in the repository.

This is raising a warning against t

[2021-06-21 07:25] #1053 closed

[2021-06-21 09:25] philipphofmann commented on #1186
Thanks for pointing this out. This should be fixed with https://github.com/getsentry/sentry-cocoa/pull/1169. The fix is going to be in the next beta. Can you reopen the issue if the issue is still there, please?

[2021-06-21 09:25] #1186 closed

[2021-06-21 09:58] OscarGorog commented on #1186
No problem, thanks!

[2021-06-21 17:24] mmerickel commented on #1185
For posterity my local fix for this is to invoke `[self willTerminate]` from `[SentryOutOfMemoryTracker stop]` and to modify the `updateAppState` method to be synchronous. It works but probably isn't fleshed out enough to be a PR.

[2021-06-22 07:29] philipphofmann commented on #991
Another straightforward approach would be to serialize the scope in [SentryCrash.onCrash](https://github.com/getsentry/sentry-cocoa/blob/2bfbbcdc11f84efd54498120e882d42e8bedd30e/Sources/SentryCrash/Recording/SentryCrash.h#L148-L157), but we absolutely must not call Objective-C code in this callback.

At the time of the crash, the scope needs to be serialized and stored in memory accessible by C co

[2021-06-22 10:30] philipphofmann commented on #1185
Thanks for reporting this, @mmerickel. This should be an easy fix in the `SentryOutOfMemoryTracker`. We just need to consider `SentrySDK.close` properly.

[2021-06-22 14:48] philipphofmann opened #1189 "Sanitize Event.context"
The `SentryEvent.context` is [not sanitized](https://github.com/getsentry/sentry-cocoa/blob/2bfbbcdc11f84efd54498120e882d42e8bedd30e/Sources/Sentry/SentryEvent.m#L133) during serialization. Anybody could throw garbage on `SentryEvent.context`, which is not properly serialized then. We could fix this by calling [`sentry_sanitize`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry

[2021-06-22 14:54] philipphofmann opened #1190 "Support ownership rules/code owners"
Similar to getsentry/sentry-dart#347 and https://github.com/getsentry/sentry-java/issues/1550

[2021-06-22 20:31] bruno-garcia commented on #1190
I believe this should work already if symbols are uploaded

[2021-06-23 13:25] Luffy19960106 opened #1191 "sentry 6.x report crash when the app is manually killed"
### Environment

iOS

Which SDK and version?

iOS  6.0.11

### Steps to Reproduce

I manual kill App, and then senty report a crash, like this:
SIGABRT: xxx > xxx(487,0x108ad1840) malloc: *** error for object 0x10babac00: pointer being freed was not allocated

but is not crash or wild pointer, I just kill App

and when I use sentry 5.x, I do not have this problem。I only meet this problem when I up

[2021-06-23 15:42] philipphofmann opened #1192 "Set synthetic field"
The [exception interface](https://develop.sentry.dev/sdk/event-payloads/exception/#exception-mechanism) of the event payload defines a field `synthetic`, which doesn't exist in the SDK. This messes up grouping and should be added to the SDK. Since this has an impact on grouping, we have to bump a major for this.

[2021-06-24 05:15] philipphofmann commented on #1191
Hey @Luffy19960106,
Thanks for reaching out to us. Can you give us a bit more context on when this happens, please?
Can you try updating to the latest version of 6.x and let us know if the problem is still there?

[2021-06-24 07:10] marandaneto commented on #1192
this field should also be set to `true` whenever there's a stack trace, eg, segfault etc

[2021-06-24 23:56] RenatoSerra22 commented on #1191
Having the exact same issue in React native iOS https://github.com/getsentry/sentry-react-native/issues/1633

[2021-06-25 01:37] #1191 closed

[2021-06-25 01:39] Luffy19960106 commented on #1191
sorry，I final positioning is the issue of repeated release in C code.

[2021-06-25 08:49] philipphofmann opened #1196 "Remove default MIME content type for attachment"
The SDK sets the default MIME content type to `application/octet-stream`, see https://github.com/getsentry/sentry-cocoa/blob/dd9501e8903260019f5b0fe05e73f25093201df2/Sources/Sentry/SentryAttachment.m#L6
The content_type is optional for the [envelope item attachment spec](https://github.com/getsentry/sentry-cocoa/blob/dd9501e8903260019f5b0fe05e73f25093201df2/Sources/Sentry/SentryAttachment.m#L6) an

[2021-06-25 09:35] philipphofmann opened #1197 "HTTP Request Breadcrumbs"
With https://github.com/getsentry/sentry-cocoa/pull/1178 we add auto performance instrumentation for HTTP requests. Having this in place it should be rather "easy" to add breadcrumbs for HTTP requests as this is an [expected feature](https://develop.sentry.dev/sdk/features/#http-client-integrations) for SDKs.

[2021-06-28 10:08] philipphofmann opened #1198 "Add span viewAppearing"
The auto UI performance instrumentation generates transactions with missing instrumentation, see the screenshots below.

![image](https://user-images.githubusercontent.com/2443292/123618984-04b1d280-d809-11eb-9763-bf8b5d079247.png)
![image](https://user-images.githubusercontent.com/2443292/123619008-0aa7b380-d809-11eb-9e3d-9a3e2499744d.png)

Looking at the state transition from [`UIViewController`

[2021-06-28 13:33] philipphofmann opened #1199 "Add Sentry Trace HTTP Header"
The SDK should add a [sentry-trace HTTP header](https://develop.sentry.dev/sdk/performance/#header-sentry-trace) to every instrumented HTTP request with `SentryNetworkTracker` to [support distributed tracing](https://docs.sentry.io/platforms/java/performance/instrumentation/custom-instrumentation/#distributed-tracing), as specified in the [develop docs](https://develop.sentry.dev/sdk/features/#htt

[2021-06-30 13:52] bruno-garcia commented on #1135
It's easier to go fine grained later but for now it's probably simpler to have a single option to control all built-in auto instrumentation which will be on by default (anyway tracing sample rate must be set to start getting data in)

[2021-06-30 13:55] philipphofmann commented on #1135
We agreed to call the flag `enableAutoPerformanceTracking` to control both UIViewController and HTTP tracing.

[2021-06-30 13:59] philipphofmann commented on #1135
Please also update the [docs](https://docs.sentry.io/platforms/apple/performance/instrumentation/automatic-instrumentation/) accordingly.

[2021-07-02 09:53] philipphofmann opened #1207 "test: Unswizzle swizzled methods"
When calling `SentrySDK.close`, all swizzled methods could be unswizzled. We could keep a cache of the original method IMPs and use `method_setImplementation` to change the swizzled method back to its original. After doing so, we should also call `imp_removeBlock` and remove the IMP from the cache.

[2021-07-05 13:26] jennmueng opened #1208 "Method to get the app start measurement afterwards for Hybrid SDKs"
We will need a method, maybe `getAppStartTime`, that can be called from hybrid SDKs sometime regardless of the init call, that is called to get the app start measurement.

This would include:
1. The app start type (warm, cold, etc)
2. The app start initial time
3. The app start finish time

[2021-07-05 13:53] philipphofmann commented on #1199
Also, add support for [tracing origins](https://www.notion.so/sentry/68ef83ffac5b48f79b3b15a4c24a001a?v=b7f5b3d1e00348dfb7851a0f04fcab20) by adding them to the options.

[2021-07-06 00:33] venkatd opened #1210 "Compile failure with C99 (with suggested patch)"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
7.1.3

### Steps to Reproduce
Try to compile any app on Sentry with C99 enabled

### Expected Result
It should compile and run the app as expected

### Actual Result
It gets stuck with a compile error:

I am trying to compile my Flutter app. It fails with the following error:
[code]

If I add `#include <stdlib.

[2021-07-06 12:35] philipphofmann commented on #1210
Thanks for opening up this issue, @venkatd. I have trouble reproducing this. When changing the C Language Dialect to C99 in Xcode for our sample projects, the compilation succeeds. How do you include Sentry in your Flutter project?

[2021-07-06 12:54] philipphofmann commented on #1208
This should be easy. I can expose that information in `PrivateSentrySDKOnly`.

[2021-07-06 17:17] jennmueng opened #1212 "Option to disable some auto performance for Hybrid SDKs"
Hybrid SDKs will be propagating the `tracesSampleRate` down to the native SDKs.

So we will need an option to not fully disable auto performance tracing but rather only disable some instances of it.

A suggestion of what to disable would be to disable any instrumentation that creates transactions but keep span-creating ones, this is in the case that if a user decides to use native transactions the

[2021-07-06 18:25] venkatd commented on #1210
Here is a gist with our pubspec, Podfile, and their respective lock files:

https://gist.github.com/venkatd/6467e733ee718aca874bb6425e41bebf

Would there be anything else that could help you reproduce?

And putting this error aside, is `#include <stdlib.h>` an acceptable code enhancement?

I noticed it's included in other parts of this codebase, so perhaps it's not a bad idea to explicitly include

[2021-07-07 02:41] brustolin commented on #1210
@venkatd any reason you are using the cocoa version of SentrySDK instead of the Dart version?

[2021-07-07 02:43] venkatd commented on #1210
@brustolin we are using the Flutter version, but in order to allow for native stack trace reporting, the official Flutter version internally uses the cocoa version on iOS and MacOS platforms.

[2021-07-07 09:24] #1198 closed

[2021-07-07 09:57] philipphofmann opened #1214 "feat: Support sub-millisecond precision for timestamps"
The [date formatting to string](https://github.com/getsentry/sentry-cocoa/blob/3c44b95d68af7b9d0c0ba8c794c59d1bcd3da1f8/Sources/Sentry/NSDate%2BSentryExtras.m#L29) for sending time to Sentry only supports milliseconds. This is due to [a limitation of the NSDateFormatter](https://stackoverflow.com/questions/23684727/nsdateformatter-milliseconds-bug/23685280#23685280). We could increase the precisio

[2021-07-07 11:39] philipphofmann opened #1215 "UI Auto Performance Tracking should bind span to scope"
When creating a span, for example, in `viewWillAppear` with `SentrySDK.span?.startChild` the span is a child of the UIViewController transaction and not the `viewWillAppear` span.
![Screen Shot 2021-07-07 at 13 37 10](https://user-images.githubusercontent.com/2443292/124752862-aaabbe00-df28-11eb-92fa-57111b19c745.png)

We can fix this by setting the current span in `SentryPerformanceTracker`.

[2021-07-07 11:50] philipphofmann opened #1216 "Don't create a transaction for HTTP spans"
When creating spans for HTTP requests, the SDK shouldn't create a transaction if there is none active. This means the SDK discards HTTP spans if there is not an active transaction.

[2021-07-07 12:13] philipphofmann opened #1217 "GET HTTP request status is aborted"
### Environment

7.2.0-beta.3

### Steps to Reproduce

Not sure how to reproduce this. One of our customers gets the span status aborted for all of his GET HTTP requests. I'm not sure what could cause this.

### Expected Result

Status OK.

### Actual Result

Status aborted.

![Screen Shot 2021-07-07 at 14 10 48](https://user-images.githubusercontent.com/2443292/124756780-24de4180-df2d-11eb-9ee0-a

[2021-07-07 12:54] philipphofmann commented on #1215
We also need to make sure not to override the span in the scope, if a user manually bound a transaction to the scope.

[2021-07-07 14:02] bruno-garcia commented on #1197
Makes sense to me. It's just a one-liner (or in Objective-C, a 34 liner)

Already done in Dart:

https://github.com/getsentry/sentry-dart/blob/679dce91d23ebcf2c0ee405add942685c32d3a20/dart/lib/src/http_client/sentry_http_client.dart#L100-L102

And OkHttp also:
https://github.com/getsentry/sentry-java/blob/aca78d9ca024c75225e59c36e35622055d2f6cbf/sentry-android-okhttp/src/main/java/io/sentry/androi

[2021-07-08 12:11] philipphofmann commented on #1143
If you want to crash the app you can use `SentrySDK.crash()`. To add context to an event, please make use of the Scope. For more details please read our [migration guide](https://docs.sentry.io/platforms/apple/migration/#capturemessage-with-tagsenvironmentextra).

[2021-07-09 10:53] #1135 closed

[2021-07-09 11:07] philipphofmann commented on #1210
Thanks for the explanation, @venkatd. Adding `#include <stdlib.h>` is not the problem. I want to find a way to reproduce it, so we can find a way to test this in CI, so it doesn't happen in the future again. Fixing this is easy, but if I don't add validation now, I'm sure we won't do it soon.

[2021-07-09 13:38] lucas-zimerman commented on #1197
I didn't notice on the above SDKs nor the doc, but some SDKs add the status code to the Request breadcrumb and I think that's a nice addition to the logged information.

Example from an Angular application:
![image](https://user-images.githubusercontent.com/8229322/125086153-b8d11a00-e0a1-11eb-83e1-807a521c08f7.png)

[2021-07-09 18:32] venkatd commented on #1210
@philipphofmann good point.

What could I do to help reproduce this? Next week I could spend some time to see if I can figure out what compile command is bring run from the cli.

I noticed that the library in our XCode was marked as glibc. Perhaps that target may help reproduce? I'm confused because it was a C99 error.

Also noticing that there's the flag `-Wimplicit-function-declaration` that tri

[2021-07-10 16:53] bruno-garcia commented on #1197
we definitely need the response status code when available. Just saying there was an HTTP request without saying the result of it is very limited

[2021-07-10 20:56] lhunath opened #1218 "Discover whether SDK is started or not."
With SentrySDK's new `close()`, it is now possible to shut down Sentry and start it at will to conform to user preferences and consent.  That's great.

However, there is no way to find out what Sentry's current state is to determine whether it needs to be started, or is already running.

This request is related to #809 and the closed #700.

Finally, the API is currently a little ambiguous. There i

[2021-07-12 07:11] philipphofmann opened #1219 "Span Serialization: Remove tags and data if empty"
### Environment

Cocoa 7.2.0-beta.3

### Steps to Reproduce

Capture any transaction.

### Expected Result
If data or tags don't contain any data, don't add them to the JSON.

[code]

### Actual Result

The JSON contains tags and data although they are empty. We can remove them and make the JSON smaller.

[code]

[2021-07-12 07:17] philipphofmann opened #1220 "Span Serialization: HTTP data in wrong place"
### Environment

Cocoa 7.2.0-beta.3

### Steps to Reproduce

Capture any transaction

### Expected Result
HTTP status code should be in tags and the data should contain method, type and url.

[code]

### Actual Result

[code]

[2021-07-12 16:22] CraigSiemens commented on #1152
Just an idea, what if you only wrote to disk when `applicationDidReceiveMemoryWarning` is received? It'd allow sentry to try and persist the details so it's available incase the app is terminated.

[2021-07-12 17:18] CraigSiemens opened #1221 "Out of memory termination should include whether the app was in the foreground or background."
The criticality of the app being terminated can be very different based on whether it was in the foreground or the background and the type of app.

For an app that does no background processing, being terminated while in the background generally means the user has opened up more apps that the system would like to give memory to. So while it'd be nice for an app to live forever in the background, i

[2021-07-12 19:41] mcavo opened #1223 "[RN] Crash on iOS devices on background in SentryFileManager storeData:toPath:"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
* @sentry/react-native: 2.4.0
* react-native: 0.63.3
* react: 16.13.1

### Steps to Reproduce

Crashlytics is capturing how Sentry crashes on background on iOS devices

[code]

Our Sentry config:

Sentry.init({
  dsn: Config.SENTRY_DSN,
  autoSessionTracking: true,
  enableAutoSessionTracking: true,
  sessionTr

[2021-07-13 09:36] philipphofmann commented on #1223
Hi @mcavo, thanks for reaching out to us. Can you let me know what the error message is and when this is happening?

[2021-07-13 09:40] philipphofmann commented on #1152
Thanks for the input, @CraigSiemens, but the problem is that there is no guarantee to receive `applicationDidReceiveMemoryWarning` before an OOM occurs.

We could only put data to an OOM crash that we are sure is accurate. This would mean less data, but we wouldn't confuse our users.

[2021-07-13 09:44] philipphofmann commented on #1221
OOMs are only reported if the app was in the foreground; see [docs](https://docs.sentry.io/platforms/apple/configuration/out-of-memory/). We can't reliably detect OOMs if the app was in the background.

[2021-07-13 09:44] #1221 closed

[2021-07-13 10:47] philipphofmann commented on #1218
Thanks, @lhunath for opening up this issue. Indeed there is no straightforward way to identify whether the SDK is started/enabled or not. We can add `SentrySDK.isEnabled`, like we have it in [Java](https://github.com/getsentry/sentry-java/blob/59328b0463bd1070e7a31143fcc3916144352098/sentry/src/main/java/io/sentry/Sentry.java#L60-L62), or [.NET](https://github.com/getsentry/sentry-dotnet/blob/1b7e

[2021-07-13 11:04] philipphofmann commented on #1210
I played around a bit with compiler flags and didn't find a way to reproduce it. Anyway, let's just add the import for now to fix the issue.

[2021-07-13 23:15] #1210 closed

[2021-07-14 11:23] philipphofmann commented on #1132
We can maybe use [getting the list of subclasses](https://stackoverflow.com/a/23038932/1702958) of `UIViewController` with the Objective-C runtime in `SentryUIViewControllerSwizziling` instead of sizzling the init methods or maybe a combination of the two.

[2021-07-14 15:24] philipphofmann opened #1225 "didFinishLaunchingTimestamp for AppStartMeasurement is nil"
### Environment

Cocoa 7.2.0-beta.4

### Steps to Reproduce

This is hard to reproduce, but I discovered it in this branch https://github.com/getsentry/sentry-cocoa/tree/fix/swizzling-ui-view-controller.

In some circumstances, it can happen that `didFinishLaunching` in `SentryAppStartTracker` is not called because adding the observer to `UIApplicationDidFinishLaunchingNotification` is happening a

[2021-07-14 16:30] venkatd commented on #1210
Thanks for the fix @philipphofmann !

[2021-07-14 20:06] bruno-garcia commented on #1197
`status_code` added to spec, see getsentry/develop#376

[2021-07-15 16:00] philipphofmann opened #1226 "CPU Architecture is missing on some devices"
### Environment

Cocoa 7.2.0-beta.4

### Steps to Reproduce

Capture any event with a MacBook Air with an M1 chip on macOS 12.0 beta or an iPhone 12 with iOS 14.6.

### Expected Result

The device data should contain architecture

<img width="673" alt="Screen Shot 2021-07-15 at 17 57 39" src="https://user-images.githubusercontent.com/2443292/125819139-d8928793-a540-48eb-a602-d36aa483ab92.png">

##

[2021-07-16 06:39] maharjanaman opened #1227 "Uploading dSYM never completes"
### Environment

How do you use Sentry?
Tried on both,
sentry.io &
Self-hosted/on-premise version 21.6

Which SDK and version?
Swift 5

I follow steps from [sentry doc](https://docs.sentry.io/platforms/apple/guides/ios/) and am using `sentry-cli` to upload dSYM. The upload script provided runs but the upload never seems to be completed. I've check debug files on project settings in sentry but it's

[2021-07-16 07:49] philipphofmann commented on #1227
Hey @maharjanaman, did you also set the `SENTRY_URL` environment variable to instruct the tool to connect to your server instead of sentry.io, as explained in the last section of [the docs](SENTRY_URL environment variable to instruct the tool to connect to your server)?

[2021-07-16 07:55] philipphofmann commented on #1227
It seems like people using our [Fastlane Plugin](https://github.com/getsentry/sentry-fastlane-plugin/issues/39) have a similar issue. This seems to be related to https://github.com/getsentry/sentry-cli/issues/988

[2021-07-16 08:00] philipphofmann commented on #1227
@maharjanaman, it also doesn't work for me when trying it in Xcode, but it works when I upload the dSYMs from the command line like this: `sentry-cli upload-dif macOS-Sample.xcarchive`. As this seems to be an issue with sentry-cli, let's move the discussion to https://github.com/getsentry/sentry-cli/issues/988.

[2021-07-16 08:00] #1227 closed

[2021-07-16 12:57] philipphofmann commented on #1132
We need to consider an edge case, where people already call `loadView` in the `init` of the `UIViewController`. Maybe we have to document that our SDK can't handle this edge case well.

[2021-07-19 07:02] philipphofmann commented on #1168
I'm closing this due to inactivity. Feel free to open it again.

[2021-07-19 07:02] #1168 closed

[2021-07-19 07:03] philipphofmann commented on #1049
I'm closing this due to inactivity. Feel free to open it again.

[2021-07-19 07:03] #1049 closed

[2021-07-19 09:07] #991 closed

[2021-07-19 09:20] philipphofmann opened #1229 "Name for SwiftUI auto generated transactions is long"
### Environment

iOSSwiftUI Sample app on this PR https://github.com/getsentry/sentry-cocoa/pull/1228

### Steps to Reproduce

Start iOSSwiftUI Sample app
Wait until the transaction is sent to Sentry

### Expected Result

A shorter nicer more descriptive transaction name.

### Actual Result

The name of the transaction is `_TtGC7SwiftUI19UIHostingControllerGVS_15ModifiedContentVS_7AnyViewVS_12Root

[2021-07-19 10:20] 18233135268 opened #1230 "Support for multiple DSNs"

[2021-07-20 01:54] sreuter opened #1248 "sentry-react-native fails to compile because of syntax issues"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
@sentry/react-native 2.6.0

### Steps to Reproduce

Add module to managed (Expo 42) project and run `yarn run:ios`.

### Expected Result

Build succeeds.

### Actual Result

Build fails.

[code]

[2021-07-20 09:19] philipphofmann commented on #1230
@18233135268, can you please open another issue with a proper description, please. Sorry, we only accept issues with proper descriptions.

[2021-07-20 09:19] #1230 closed

[2021-07-20 10:05] 18233135268 opened #1232 "I need to send crash logs to multiple different DSNs, but only one can be set here"
The documentation for the iOS configuration doesn't seem to outline how to use multiple DSNs.
  NSDictionary *dic = @{
        @"dsn":@"",
        @"debug":@"false"
    };
   [SentrySDK startWithOptions:dic];
The reasoning behind wanting multiple DNS is because I need to send crash information to multiple DSNs.

Is this possible?

[2021-07-20 10:21] philipphofmann commented on #1232
Yes, this is possible, but you have to interact with Hubs instead of the static SDK. The downside is that when manually initializing the hub, you lose device context data. We are aware of this issue https://github.com/getsentry/sentry-cocoa/issues/1104, but I can't give you an ETA for fixing this.

[code]

[2021-07-20 13:39] #1225 closed

[2021-07-21 07:18] #1132 closed

[2021-07-21 11:36] philipphofmann commented on #1232
I forgot to mention, that all the integrations, like breadcrumbs, release health, hard crashes, OOM, etc. only work with the static API as we install them there.

[2021-07-21 14:09] bruno-garcia commented on #1165
Seems like a nice to have. I wonder if this affects many users. Lets see if we get any 👍 on this issue from users that are affected by this

[2021-07-21 14:15] philipphofmann opened #1235 "Add more device context"
Events from iOS have less device context than, for example, events from Android. We can add more.

## iOS
[code]

## Android

[code]

[2021-07-21 14:23] philipphofmann opened #1236 "Add support for tracing origins"
JavaScript has the concept of [`traceOrigins`](https://github.com/getsentry/sentry-cocoa/issues/316). Add this to the CocoaSDK. If no `traceOrigins` are set in the options, the SDK adds the trace header to every outgoing HTTP request. Otherwise, this would be a breaking change.

[2021-07-21 14:23] bruno-garcia commented on #1199
I think this comment is relevant here: https://github.com/getsentry/sentry-java/issues/1585#issuecomment-884230182

It makes sense that the trace id doesn't need to go to all endpoints an App talks to. Currently it can be filtered with the callback the integration offers but we could look at adding the same options as the browser JS SDK.
Worth noting the browser adds that because of CORS:

So we h

[2021-07-21 14:41] bruno-garcia commented on #1235
Unity also has some things that might be unique to that SDK.
Ultimately we try to keep those documented/aligned here:

https://develop.sentry.dev/sdk/event-payloads/contexts/#device-context

We could benefit from a table SDK x Spec so we can spot anything we're missing in the spec and opportunities for new info in SDKs.

[2021-07-21 14:42] philipphofmann commented on #1236
@bruno-garcia: I think this comment is relevant here: https://github.com/getsentry/sentry-java/issues/1585#issuecomment-884230182

It makes sense that the trace id doesn't need to go to all endpoints an App talks to. Currently it can be filtered with the callback the integration offers but we could look at adding the same options as the browser JS SDK.
Worth noting the browser adds that because of

[2021-07-22 08:08] philipphofmann opened #1238 "Make SentryHTTPInterceptorTests work for MacCatalyst"
SentryHTTPInterceptorTests don't compile for MacCatalyst, because the init of `URLSession` was deprecated in MacCatalyst 13. This post here might [describe a way](https://forums.raywenderlich.com/t/chapter-8-init-deprecated-in-ios-13/102050/8) to fix this.

[2021-07-22 08:46] #1199 closed

[2021-07-22 13:32] petergaultney commented on #1185
we just upgraded from 6.x to 7 and are seeing this as well.

[2021-07-22 15:13] #1229 closed

[2021-07-24 09:15] fzyzcjy opened #1247 "Cannot automatically capture logs to sentry breadcrumb"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)
saas

Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0
ios

### Steps to Reproduce

use sample

### Expected Result

want to automatically capture logs to sentry breadcrumb

### Actual Result

Cannot automatically capture logs to sentry breadcrumb

thanks!

[2021-07-26 07:14] #1216 closed

[2021-07-26 10:03] philipphofmann commented on #1247
Hey @fzyzcjy, which types of logs are you referring to? Would you please post some code snippets? Why do you want your logs as breadcrumbs anyway?

[2021-07-26 10:04] philipphofmann commented on #1232
As no further comments were made, I consider this question as answered. Please feel free to open it again.

[2021-07-26 10:04] #1232 closed

[2021-07-26 12:25] fzyzcjy commented on #1247
@philipphofmann  you know, swift's log, objc's log. e.g. these https://stackoverflow.com/questions/25951195/swift-print-vs-println-vs-nslog

because logs provide precious clues when bugs comes!

[2021-07-26 12:42] d-patira commented on #1248
Any idea when will this be fixed?

[2021-07-26 20:29] jweg29 opened #1252 "False Out Of Memory Crash Reports when using `exit(0)`"
### Environment

How do you use Sentry?
Native iOS application

Which SDK and version?
cocoa 7.1.3

### Steps to Reproduce

1. Run code path in app that uses `exit(0)`

### Expected Result

Should not receive a Sentry Out Of Memory crash report since the application terminated expectedly and was not out of memory.

### Actual Result

Sentry generates an out of memory crash report.

![image](https:

[2021-07-26 21:52] bruno-garcia commented on #1248
Thanks for raising @d-patira

What version of xcode do you have installed? And what is the min iOS version you are targeting?

[2021-07-27 05:00] d-patira commented on #1248
@bruno-garcia
Xcode Version -> 11.4
iOS Deployment target: 10.0
I am not sure, whether we have the flexibility to share the repo link or zip package. Let me check and get back to you

[2021-07-27 05:28] d-patira commented on #1248
Also, Given below is one other commit, which dragged attention of our iOS developer:
https://github.com/getsentry/sentry-cocoa/pull/1224/commits/823864b0bdb2a2635e3c5247254ca21ec24dd267

@bruno-garcia
I just needed your help in knowing about the next release plan, when will this fix be available?

[2021-07-27 06:48] Swatinem commented on #1248
[code]

Maybe this is some kind of xcode specific issue, usually `malloc` and `free` come from `stdlib.h`, which is right there:

https://github.com/getsentry/sentry-cocoa/blob/1f9ec1815fa0fefff0cc5936e70b809b4127026e/Sources/SentryCrash/Recording/Tools/SentryHook.c#L9

[2021-07-27 06:53] d-patira commented on #1248
@Swatinem
That include line was added as a part of below commit.
https://github.com/getsentry/sentry-cocoa/commit/823864b0bdb2a2635e3c5247254ca21ec24dd267
Will this commit be included in the latest version of sentry-react-native, 2.6.0 ?

[2021-07-27 06:59] Swatinem commented on #1248
You are absolutely right, I was a bit confused by which version is used where. So this either needs to roll forward, or has to be backported to a patch release.

[2021-07-27 09:36] philipphofmann opened #1254 "Make SpanContext Immutable"
The `SpanContext` is currently mutable which it shouldn't be. In [.NET](https://github.com/getsentry/sentry-dotnet/blob/main/src/Sentry/SpanContext.cs) it is not mutable. Furthermore, tags are duplicate in `Span` and `SpanContext`. They should be in the `Span` and be removed from the `SpanContext`.

[2021-07-27 13:52] philipphofmann commented on #989
Was fixed with https://github.com/getsentry/sentry-cocoa/pull/1213. Duplicate of https://github.com/getsentry/sentry-cocoa/issues/1199.

[2021-07-27 13:52] #989 closed

[2021-07-27 13:54] philipphofmann commented on #1215
While @bruno-garcia, @brustolin, and I agree this makes sense, it turns out that this is a bit complicated, and we don't include this in the first release of auto performance instrumentation. This is an optimization for later.

[2021-07-27 15:57] philipphofmann commented on #1247
We currently don't support redirecting the output of NSLog, Swift's Logger, or `println`. They use stderr and/or log messages to the Apple System Logging (asl) facility. You could maybe redirect stderr to SentryBreadcrumbs, but I guess that's doesn't make much sense. Furthermore, you shouldn't use `NSLog` in release builds, because [its performance](https://github.com/CocoaLumberjack/CocoaLumberja

[2021-07-27 16:06] philipphofmann commented on #1252
Why are you calling `exit(0)`? This will just close the app and looks like a crash to the user. According to [Apple](https://developer.apple.com/library/archive/qa/qa1561/_index.html), you shouldn't do this. Apple could reject your app because of that.

[2021-07-27 16:10] philipphofmann commented on #1248
As pointed out, this should be fixed with https://github.com/getsentry/sentry-cocoa/commit/823864b0bdb2a2635e3c5247254ca21ec24dd267. This should be in the release 2.7.0 of React-Native, which is currently in beta. I think we plan to release this next week, but I can't guarantee that.

[2021-07-27 16:10] #1248 closed

[2021-07-27 17:00] jweg29 commented on #1252
It's related to an internal feature in our enterprise app that requires the application to restart. We prompt the user, the app terminates, and then when the app is restarted the feature is enabled.

[2021-07-27 23:37] #1219 closed

[2021-07-28 00:11] fzyzcjy commented on #1247
@philipphofmann Thanks for the reply! However, I see some third party libs use NSLog to print out things. Then how can I capture them?

[2021-07-28 00:27] brustolin commented on #1254
In .NET Span implements ISpanContext.
Maybe SpanContext in cocoa should became a protocol with only getters, and Span implements this protocol and add the setters?

[2021-07-28 12:45] philipphofmann opened #1257 "Make data in data SentrySpanProtocol nonnull"
The `SentrySpanProtocol.data` is nullable. So is `SentrySpanProtocol.setDataValue:(nullable id)value`. We can remove those `nullable` modifiers.

[2021-07-28 15:39] #1238 closed

[2021-07-28 15:44] philipphofmann commented on #1217
This issue seems to not occur anymore in 7.2.0-beta.7. Therefore I close it.

[2021-07-28 15:44] #1217 closed

[2021-07-28 15:50] philipphofmann commented on #1214
Fixed with GH-1234

[2021-07-28 15:50] #1214 closed

[2021-07-28 15:53] philipphofmann commented on #1143
I consider this question as answered. Feel free to open the issue again.

[2021-07-28 15:53] #1143 closed

[2021-07-28 15:54] philipphofmann commented on #1112
I consider this question as answered. Feel free to open the issue again.

[2021-07-28 15:54] #1112 closed

[2021-07-28 15:55] philipphofmann commented on #1060
I think this is fixed. Going to close it.

[2021-07-28 15:55] #1060 closed

[2021-07-29 15:38] #1220 closed

[2021-07-29 15:40] philipphofmann commented on #1252
You could post a `UIApplicationWillTerminateNotification` as the SDK, then would assume the app terminated normally. The current problem is that we update the app state on a background thread, which we could also move to the main thread as the app is terminating anyways. Would that work for you?

[2021-07-29 16:05] jweg29 commented on #1252
Yep that sounds like a workable solution

[2021-07-30 07:20] #1208 closed

[2021-07-30 07:38] philipphofmann opened #1259 "7.2.0"
Checklist:

- [x] Add `enableAutoPerformanceTracking` to [basic options](https://github.com/getsentry/sentry-docs/pull/3833#discussion_r666367624).
- [x] Remove preview for [automatic instrumentation preview docs]: https://github.com/getsentry/sentry-docs/pull/4013(https://docs.sentry.io/platforms/apple/performance/instrumentation/automatic-instrumentation/).
- [x] Merge https://github.com/getsent

[2021-08-05 15:32] #1197 closed

[2021-08-06 09:38] #1218 closed

[2021-08-09 07:34] philipphofmann opened #1267 "EXC_BAD_ACCESS from C++ has no thread with current or crashed"
### Environment

Cocoa 6.2.1

### Steps to Reproduce

No idea how to reproduce this. Only happens for one customer so far. The app is a game and the problem occurs sometimes when a `EXC_BAD_ACCESS` happens in `.mm` code. Event JSON[ in Notion](https://www.notion.so/sentry/Event-for-Grouping-Issue-fe6c0dbe2fc142bfa8d7377ccbf17739), as we can't share further details here.

### Expected Result

At le

[2021-08-12 22:04] noisypigeon opened #1269 "Sentry 7.1.4 + SwiftPM + Xcodegen + Xcode 13 results in invalid custom path 'Sources' for target 'Sentry'"
### Environment

* Sentry SaaS (sentry.io).
* Cocoa 7.1.4.
* Xcode 13 beta 5.

### Steps to Reproduce

I'm using [`yonaskolb/xcodegen`](https://github.com/yonaskolb/XcodeGen) to generate my Xcode project for [`pigeon-documents/native`](https://github.com/pigeon-documents/native) and I'm experiencing the following issue. I've verified that this issue doesn't happen when adding Sentry-Cocoa manually

[2021-08-12 22:30] noisypigeon commented on #1269
Something that does stick around is these warnings which aren't there for 7.1.3.

<img width="1081" alt="Screen Shot 2021-08-12 at 6 29 54 PM" src="https://user-images.githubusercontent.com/6799989/129278096-0836c38f-d50d-42d8-9c96-2ce24f4c2e6c.png">

[2021-08-13 15:55] dyomin-d commented on #1143
I am afraid that` SentrySDK.crash()` doesn't fulfill our needs. It just crashes the app with default logs. However, I have used reportUserException with crash inside for different purposes e.g. get the breadcrumbs, stackTrace.

You may check the differences how it worked on 4.X.X version and the one with `SentrySDK.crash()`

[2021-08-16 04:24] underthestars-zhy opened #1270 "Support for Linux"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
swift 5.4 centos

### Steps to Reproduce

1. I use centos
2. i run `swift build`

### Expected Result

nothing

What you thought would happen.

### Actual Result

[code]

[2021-08-17 12:12] philipphofmann commented on #1270
Hi, @underthestars-zhy; thanks for reaching out to us. Unfortunately, we currently don't support Linux. We also don't have plans to add support soon. Please upvote if you want the support for Linux.

[2021-08-17 12:16] philipphofmann commented on #1269
Hey, can you please try with the latest 7.2.0 beta and see if you still have the problem? I'm a bit surprised that it works with `7.1.3` and not with `7.1.4` as they are almost the same https://github.com/getsentry/sentry-cocoa/compare/7.1.3...7.1.4.

[2021-08-17 13:48] philipphofmann commented on #1259
Release is out and all tasks done.

[2021-08-17 13:48] #1259 closed

[2021-08-18 07:43] bruno-garcia opened #1273 "Add performance monitoring to the wizard"
After the initial steps to add the SDK, lets guide the users through setting up performance monitoring

[2021-08-18 14:10] philipphofmann opened #1274 "SDK doesn't send crash if a user field contains too much data"
### Environment

Cocoa SDK 7.2.0

### Steps to Reproduce

Put a string with 10 MB to the user.

[code]

Then cause a crash.

### Expected Result

The SDK should discard the field and send the crash report to Sentry.

### Actual Result

The logs print
[code]

The crash report contains an error explaining the JSON data is too long.
[code]

[2021-08-18 14:14] philipphofmann commented on #1274
We have a rate limit for events of [1 MB on Relay](https://develop.sentry.dev/sdk/envelopes/#size-limits). Maybe we should do some checks when adding any data and drop large data.

[2021-08-20 14:07] philipphofmann opened #1278 "UIViewControllers with Nib files are missing loadView spans"
### Environment

Sentry-Cocoa 7.2.2

### Steps to Reproduce

Open Sentry iOS-Swift sample app, click on the Show Nib button.

### Expected Result

The transaction should contain a span for `loadView`.

### Actual Result

The transaction misses the loadView span.

[2021-08-20 14:08] philipphofmann commented on #1278
A solution could be to swizzle the `UIViewController.loadView` method if the custom UIViewController doesn't implement `loadView`. [This](https://stackoverflow.com/a/28737576/1702958) might be helpful for finding out if a class implements a method.

[2021-08-23 15:50] philipphofmann commented on #1143
Hey @dyomin-d,

the whole SDK concept changed a lot from 4.x.x to 7.x.x. You don't need to specify, the reason, language, lineOfCode, stackTrace, and logAllThreads anymore, if you enable `SentryOptions.attachStacktrace`, which is enabled by default when using `captureException`. If you want to make sure, that your event is sent before crashing you would have to call `SentrySDK.flush()`, which we d

[2021-08-23 15:51] philipphofmann commented on #1143
Maybe you can describe your use case a bit better so I can maybe point out another solution. I don't fully understand why you want to terminate your application after you captured an error.

[2021-08-24 17:55] bruno-garcia opened #1280 "Testing out a sync tool"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)

Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0

### Steps to Reproduce

1. What
2. you
3. did.

### Expected Result

What you thought would happen.

### Actual Result

What actually happened. Maybe a screenshot/recording? Maybe some logs?

[2021-08-24 18:00] #1280 closed

[2021-08-24 18:00] bruno-garcia commented on #1280
didn't work 😢

[2021-08-25 08:15] philipphofmann opened #1282 "Auto UI Generated Transaction should have status OK"
### Environment

Sentry-Cocoa 7.2.2

### Steps to Reproduce

Let the SDK capture any auto UI instrumented transaction.

### Expected Result

Transaction finishes with status `OK`.

### Actual Result

Transaction finishes with status `unknown`.

[2021-08-25 08:17] marandaneto commented on #1282
yes, but only set to `SpanStatus.OK` if there is no status set -> https://github.com/getsentry/sentry-java/blob/main/sentry-android-core/src/main/java/io/sentry/android/core/ActivityLifecycleIntegration.java#L218-L223

[2021-08-25 08:36] philipphofmann commented on #1282
Please also update the screenshots for the documentation after merging this PR.

[2021-08-25 08:49] mqln opened #1283 "Umbrella header for module 'Sentry' does not include header 'SentryScreenFrames.h' when building with SPM"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
Cocoa SDK 7.2.2, Xcode 12.5

### Steps to Reproduce

When I try to install Sentry 7.2.2 via SPM, I get an error that the umbrella header doesn't include `SentryScreenFrames.h`.

Here's what my Package.resolved looks like:

[code]

### Expected Result

My project with Sentry would compile successfully.

### Actu

[2021-08-25 11:56] philipphofmann commented on #1283
Thanks, @mqln, for reporting this. We have a GitHub job, that should avoid such errors, but it doesn't fail, see https://github.com/getsentry/sentry-cocoa/runs/3410408117?check_suite_focus=true. I can reproduce this and will fix it.

[2021-08-25 12:33] #1252 closed

[2021-08-25 12:41] philipphofmann commented on #1280
Best issue ever 😁

[2021-08-25 12:57] #1283 closed

[2021-08-25 14:43] bruno-garcia commented on #1235
Some potential reference (cross platform libs):

https://github.com/xamarin/Essentials/tree/main/Xamarin.Essentials

https://github.com/fluttercommunity/plus_plugins

[2021-08-26 06:12] nbadiganti opened #1285 "Vulnerability issues in the source code Unchecked Return Value"
### Source code Vulnerabilities
We came across few issues in the library code which might lead to app crashes or it does not check the return value from a method or function.
It is recommended to add null checks in the below source code files, hence raising a bug issue.

Issue name - **Unchecked Return Value**
https://cwe.mitre.org/data/definitions/252.html

**Sourcecode file & line number for the

[2021-08-26 08:03] Kaelzs opened #1288 "Auto PM breaks requests created from NSURLSession(sessionWithConfiguration:delegate:delegateQueue)"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
Sentry 7.2.2

### Steps to Reproduce

[SentryNetworkIssue.zip](https://github.com/getsentry/sentry-cocoa/files/7052431/SentryNetworkIssue.zip)
Using this project to reproduce the issue, just download and hit run. (or comment the SentrySDK.start code in `AppDelegate.swift` and then check the result)

### Expecte

[2021-08-26 08:17] philipphofmann opened #1290 "CI: Remove keychain workaround"
Remove workaround for keychain https://github.com/getsentry/sentry-cocoa/blob/63fcd54db0d3f4d70ea4dc0ddcbf25ad023c1110/fastlane/Fastfile#L49-L59

and replace it with the official way:
https://docs.github.com/en/actions/guides/installing-an-apple-certificate-on-macos-runners-for-xcode-development

[2021-08-27 05:56] #1290 closed, assigned to nobody

[2021-08-29 03:19] Kaelzs commented on #1288
sounds great! I tried using a demux to make a "fake" session for every different session, but I got stuck by giving the right challenge callback since there's no client callback with a completion block in URLProtocol. As you mentioned, the only reason you using this hook is to add a header in every request, it's better to try hooking URLRequest than breaking the whole request loading system.

[2021-08-29 06:37] gabors opened #1293 "Versions 7.2.x cause crash - AVAggregateAssetDownloadTask does not support currentRequest property"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
iOS via SPM all versions 7.2.x, prior versions work fine.

### Steps to Reproduce

1. Integrated Sentry iOS via SPM
2. Start an AVAggregateAssetDownloadTask

### Expected Result

Expected the app to not crash, like with every version below 7.2.0, for example 7.1.4 worked fine

### Actual Result

App crashes:

*

[2021-08-29 13:20] bruno-garcia commented on #1293
Does this happen with7.2.2? There were 2 bug fixed done due to sizzling releases in 7.2.0 and 7.2.1

[2021-08-29 17:26] gabors commented on #1293
Hi @bruno-garcia
I tried all 7.2.x versions up to 7.2.3.
They all crash.

[2021-08-30 06:54] philipphofmann commented on #1293
Thanks for reporting this @gabors 💯 .

[2021-08-30 07:49] #1293 closed

[2021-08-30 12:59] philipphofmann commented on #1288
In a call, @brustolin and I agreed that:

1. we should remove the sizzling of `NSURLSession(sessionWithConfiguration:delegate:delegateQueue)` because we couldn't identify a proper workaround.
2. we add a feature flag for adding the Sentry Trace HTTP header that is turned off by default
3. we add a to-be-defined way of getting the Sentry Trace HTTP header from the SDK so users can add it manually t

[2021-08-30 14:15] philipphofmann commented on #1288
Alternatives considered:

1. [Swizzling NSURLRequest](https://github.com/getsentry/sentry-cocoa/pull/1295) didn't work because we need to return an `NSMutableURLRequest` when initializing an `NSURLRequest`, which leads to a crash when creating a request in Swift.
2. Get the customized NSURLSessionConfiguration in `startLoad`, as pointed out by @Kaelzs. Unfortunately, this is not easy and @Kaelzs h

[2021-08-30 14:54] philipphofmann commented on #1288
We just figured out that swizzling of `URLSessionConfiguration.httpAdditionalHeaders` works. Most likely, we are going now for this approach instead.

[2021-08-30 16:11] philipphofmann commented on #1288
Please update the docs after merging this https://github.com/getsentry/sentry-docs/issues/4081.

[2021-08-30 19:09] #1288 closed

[2021-08-31 04:09] FelixHerrmann opened #1296 "7.2.4 app crash on launch on iOS 13.5"
### Environment

Sentry-Cocoa 7.2.4

### Steps to Reproduce

Start app with Sentry SDK on iOS 13.5

### Expected Result

No crash.

### Actual Result

App crashes immediately, no issue with 7.2.3 on iOS 13.5.

7.2.4 works fine on iOS 14!

<img width="1171" alt="Bildschirmfoto 2021-08-31 um 06 05 21" src="https://user-images.githubusercontent.com/42500484/131440023-724fe459-2fac-44e2-be33-05de09653

[2021-08-31 05:32] philipphofmann commented on #1296
Thanks for reporting this, @FelixHerrmann. Can you confirm that this only happens on a jailbroken device or also a normal iOS device with iOS 13.5?

[2021-08-31 05:42] FelixHerrmann commented on #1296
Normal too!

<img width="1170" alt="Bildschirmfoto 2021-08-31 um 07 40 42" src="https://user-images.githubusercontent.com/42500484/131448335-17ed5251-aff2-4cc8-838a-4a84644b4168.png">

[2021-08-31 05:51] philipphofmann commented on #1296
Thanks, I can also now reproduce it on a simulator. I'm a bit confused at the moment because the error states that `NSURLSessionConfiguration` doesn't have [`HTTPAdditionalHeaders`](https://developer.apple.com/documentation/foundation/nsurlsessionconfiguration/1411532-httpadditionalheaders). I can't find anything related to that on the docs.

[2021-08-31 06:04] FelixHerrmann commented on #1296
I compared the runtime headers and it looks like the **NSURLSessionConfiguration** changed a lot with iOS 14. There is no _HTTPAdditionalHeaders_ instance method on iOS 13, only the property.

[iOS 14 NSURLSessionConfiguration](https://developer.limneos.net/index.php?ios=14.4&framework=CFNetwork.framework&header=NSURLSessionConfiguration.h)

[iOS 13 NSURLSessionConfiguration](https://developer.lim

[2021-08-31 06:07] philipphofmann commented on #1296
Yes, that could be the problem, I guess. I also see that under the hood, they are different. On iOS 13, I get a `__NSCFURLSessionConfiguration_Mutable` and on iOS 14, I get a `NSURLSessionConfiguration`. Thanks for the info.

[2021-08-31 06:12] FelixHerrmann commented on #1296
No problem 🤠

[2021-08-31 07:35] #1296 closed

[2021-08-31 07:43] philipphofmann opened #1298 "Distributed Tracing only works on iOS 14 and above"
### Environment

Sentry Cocoa 7.2.5

### Steps to Reproduce

Run the SDK on an iPhone below iOS 14, open a view with an HTTP request.

### Expected Result

A trace header should be added to the outgoing HTTP request.

### Actual Result

No trace header is added.

## Discussion

This happens because below iOS 14 there is no instance method `HTTPAdditionalHeaders` on `NSURLSessionConfiguration`. See

[2021-08-31 11:13] nbadiganti opened #1300 "Use After free() can corrupt valid data - Vulnerability issue"
Best coding practices
### Issue description

Using previously freed memory can corrupt valid data such as memory chunk structures or function pointers and may result in the execution of arbitrary code. Ensure that all pointers are set to NULL once the memory they point to has been freed.

We have identified few issues in the below source code files
### Code references
sentry-cocoa/Sources/SentryCr

[2021-08-31 11:55] philipphofmann commented on #1285
Can you maybe open up a PR for fixing these issues @nbadiganti?

[2021-08-31 14:54] philipphofmann commented on #1300
Thanks for looking into this, @nbadiganti. Are you maybe willing to open up a PR to fix these issues?

[2021-08-31 14:55] philipphofmann commented on #1296
In case you are interested in the proper fix, @FelixHerrmann: https://github.com/getsentry/sentry-cocoa/pull/1302.

[2021-08-31 14:59] #1298 closed

[2021-08-31 15:10] FelixHerrmann commented on #1296
Great, thanks for the quick fix @philipphofmann 🤝

[2021-08-31 15:12] philipphofmann commented on #1296
Thanks for reporting this crucial bug.

[2021-08-31 19:32] bruno-garcia commented on #1254
@marandaneto fyi since we talked about this wrt to Dart

[2021-08-31 19:40] bruno-garcia opened #1303 "Include unfinished spans in transactions"
When a transaction is finished, the SDK tries to send the data to Sentry.
If an open Span (one that was not finished) exist in that transaction, the SDK removes that span before sending the data to Sentry.

That was done because [Sentry will discard the transaction if unfinished spans are included](https://github.com/getsentry/relay/blob/569678659bac656d6c4a6edcbdf3381677b5eaa2/relay-general/src/s

[2021-09-01 11:42] philipphofmann opened #1306 "Mark SpanProtocol.setExtra as deprecated"
Mark `SentrySpanProtocol.setExtra` as deprecated as it was added by mistake. This is related to https://github.com/getsentry/sentry-cocoa/pull/1305.

[2021-09-01 11:45] philipphofmann opened #1307 "Sanitize data of Span when serializing it"
The SDK doesn't sanitize the dict of data of SentrySpan when serializing it. Use [sentry_sanitize](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/NSDictionary+SentrySanitize.m) for it and add tests.

[2021-09-01 14:04] bruno-garcia commented on #1185
PR #1272 should have addressed it. It was shipped on version 7.2.3

Please free free to reopen this if the issue persists

[2021-09-01 14:09] bruno-garcia commented on #1267
We'd need a repro to look deeper into this.

[2021-09-01 14:27] marandaneto commented on #1274
similar to https://github.com/getsentry/sentry-java/issues/910

[2021-09-01 14:28] bruno-garcia commented on #1274
This quarter we're (The web team /cc @rhcarvalho) are adding metrics to SDKs so we can figure out how much of a problem this is. We can go from there to prioritize this and pick the ideal solution.

[2021-09-01 14:36] bruno-garcia commented on #1274
We decided not to truncate it for a few reasons:

* The max size of the payload changes overtime
* Truncating can affect the device performance negatively
* We can truncate user field but multiple other areas of the event can be the cultprit such as breadcrumbs
* The goal is to surface stats first so users can identify what areas are causing it and address the data before adding to Sentry's SDK

[2021-09-01 14:36] #1274 closed

[2021-09-01 14:45] mmerickel commented on #1185
I won't be able to confirm this soon but it looks like the fix that I was expecting and operating similarly to how we patched it internally - in a much hackier way. :-) Thank you all for working on this!

[2021-09-02 07:38] philipphofmann opened #1311 "Fix transaction serialization"
The transaction payload currently contains too many fields. It should only contain the following fields as pointed out in the [docs](https://develop.sentry.dev/sdk/event-payloads/transaction/#examples):
[code]

Currently, the transaction also contains `tags`, `data`, `sampled`, and `type` inside the trace, which is incorrect.
[code]

When doing this change, we need to make sure that we keep `tags`

[2021-09-02 07:43] marandaneto commented on #1311
ideally, the `trace` object isn't of the type `SentrySpanContext` but rather a new one called `SentryTraceContext`, an option is that `SentrySpanContext` inherits from `SentryTraceContext` since they share some fields but they don't necessarily are the same thing, so inheritance maybe isn't the best option either.

[2021-09-03 09:48] ZeroOnet opened #1314 "SentryOptions tracesSampleRate not work."
### Environment

How do you use Sentry?
self-hosted.

Which SDK and version?
sentry-cocoa: 'Sentry', '7.1.3'

### Steps to Reproduce

Define your transactions and set tracesSampleRate to 0.01.

### Expected Result

Upload sampled transactions.

### Actual Result

Upload all transactions.

[2021-09-03 10:36] MikeRumplerSentry opened #1315 "this is a test issue for jira connect...."
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)

Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0

### Steps to Reproduce

1. What
2. you
3. did.

### Expected Result

What you thought would happen.

### Actual Result

What actually happened. Maybe a screenshot/recording? Maybe some logs?

[2021-09-05 09:18] #1315 closed

[2021-09-05 09:48] marandaneto commented on #1314
@ZeroOnet thanks for reporting, have you tried the latest version? https://github.com/getsentry/sentry-cocoa/releases/tag/7.2.7

[2021-09-06 07:22] otusweb opened #1319 "crash in -[SentryCrash setUserInfo:]"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
e.g: JavaScript 5.11.1, .NET 1.2.0

### Steps to Reproduce

I'm not sure :-)
Here is the crash log: https://sentry.io/share/issue/ef36f178bcff485789d6aabe590d7ab3/
I'm happy to answer any question about the code, but the crash data does not get me many clues

### Expected Result

No crash

### Actual Result

ht

[2021-09-06 08:02] marandaneto commented on #1319
@otusweb thanks for reporting, we'll have a look at it

[2021-09-06 08:04] #1314 closed

[2021-09-06 09:43] marandaneto commented on #1314
https://github.com/getsentry/sentry-cocoa/releases/tag/7.2.8

[2021-09-06 10:32] marandaneto commented on #1031
`SentryNetworkTrackerIntegrationTests` also has flaky tests

SentryTests.SentryNetworkTrackerIntegrationTests
  testCustomURLProtocol_BlocksAllRequests, Asynchronous wait failed: Exceeded timeout of 1 seconds, with unfulfilled expectations: "Callback Expectation".
  /Users/runner/work/sentry-cocoa/sentry-cocoa/Tests/SentryTests/Integrations/SentryNetworkTrackerIntegrationTests.swift:108
[code]

[2021-09-06 11:31] marandaneto opened #1320 "setup COCOAPODS_TRUNK_TOKEN for Automated CocoaPod releases"
https://medium.com/swlh/automated-cocoapod-releases-with-github-actions-8526dd4535c7

otherwise, Craft can't release it in non attended mode, it should be under https://github.com/getsentry/publish

[2021-09-06 12:00] marandaneto commented on #1031
ignroed tests https://github.com/getsentry/sentry-cocoa/pull/1321 ideally fixed with this issue too

[2021-09-08 08:13] marandaneto commented on #1031
also https://github.com/getsentry/sentry-cocoa/pull/1323

[2021-09-10 06:44] marandaneto opened #1324 "Document that binding transaction to the scope is required to connect spans and errors"
Similar to Android/Java https://docs.sentry.io/platforms/android/performance/instrumentation/custom-instrumentation/#connect-errors-with-spans

[2021-09-10 13:09] bruno-garcia commented on #1324
Possibly a dupe of: https://github.com/getsentry/sentry-cocoa/issues/990 which was closed as implemented through #1065

[2021-09-10 13:13] marandaneto commented on #1324
only if the transaction is set in the scope, not calling `setThrowable` which makes sense as exceptions are not used in Swift/ObjC, but we'r missing docs then

[2021-09-10 14:59] bruno-garcia commented on #1324
The equivalent here would be: Can we connect a crash event with a transaction if one was bound to the scope? That would be very valuable.
The transaction could be sent after restart too if that made sense but couldn't be added to the same envelope as the crash event

[2021-09-12 18:29] bruno-garcia opened #1325 "Crash when`maxBreadcrumb` 0 and a breadcrumb is added"
Repro:

[code]
[code]

[2021-09-13 05:59] marandaneto commented on #1324
@bruno-garcia that would be a nice feature but it'd require changes, we'd need to find a way on how to track all the "manual" transactions so we can finish em all when there's a hard crash, obviously it's easier for automatic transactions.

[2021-09-13 06:17] kevinneo commented on #1267
I got the similar issue and the missing thread name is "SentryCrash Exception Handler (Primary)"

[2021-09-13 07:46] triplef opened #1327 "Flag for Disabling HTTP Instrumentation"
Is there a way to disable _only_ the [HTTP Instrumentation](https://docs.sentry.io/platforms/apple/performance/instrumentation/automatic-instrumentation/#http-instrumentation), but keep the other kinds of instrumentation (UIViewController etc.), or otherwise filter out the HTTP logs from breadcrumbs?

Our app makes a lot of network requests, which litter the breadcrumbs and rarely help with debugg

[2021-09-13 08:13] triplef commented on #1327
Swizzling the swizzler does the trick, but would still be nice to have a config option for this:

[code]

[2021-09-13 08:53] triplef opened #1328 "Crash in CFNetwork due to HTTP instrumentation"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
sentry-cocoa v7.2.8

### Issue

After integrating the Sentry SDK into our iOS app, we’re sometimes seeing the following crash in CFNetwork when the app is making network requests.

We suspect that this is due to Sentry’s HTTP instrumentation using KVO to observe the NSURLSessionTask’s `state` property:
https://

[2021-09-13 10:30] marandaneto commented on #1328
@triplef thanks for raising the issue, we'll investigate it.

[2021-09-13 14:48] stsandro commented on #1270
Support for Linux would be really nice 😎.

I'm doing a lot with AWS Lambda. Currently most of my Lambda functions use Python as runtime, which is supported by the [Sentry Python SDK](https://docs.sentry.io/platforms/python/guides/aws-lambda/). There is support for writing Lambda functions in Swift via the [Swift AWS Lambda Runtime](https://github.com/swift-server/swift-aws-lambda-runtime). It work

[2021-09-13 17:25] #1325 closed

[2021-09-14 01:37] bruno-garcia opened #1330 "Flaky tests: ignore to unblock release"
A series of flaky builds started recently.

[For example this macOS 11](https://github.com/getsentry/sentry-cocoa/pull/1291/checks?check_run_id=3593568881) with xcode 12.5.1, the same setup I have locally, failed with:

[code]

I ran locally the same command that resulted in that failing test and couldn't reproduce the failure.

For that reason the following tests are getting ignored to unblock CI

[2021-09-14 02:46] bruno-garcia commented on #1330
After each ignored test, the next one becomes flaky.

[code]

Remove the whole test class: [`67211e6` (#1291)](https://github.com/getsentry/sentry-cocoa/pull/1291/commits/67211e61a61f00120286729a43e440dbfa896b67)

[2021-09-14 16:36] michaelduminy opened #1331 "Crash in WKWebKit when swizzling"
### Environment

How do you use Sentry?
Sentry SaaS

Which SDK and version?
@sentry/react-native 3.0.1, which uses version 7.2.6 of this library

### Steps to Reproduce

We have a custom-written in-app browser that uses WKWebView at its base. Since updating to the above versions of the sentry libraries this browser crashes in the following situation:

1. Navigate to https://www.babymarkt.de/
2. Ad

[2021-09-14 16:38] bruno-garcia commented on #1331
Thank you for the detail issue report. We'll look into this.

[2021-09-15 11:18] #1331 closed

[2021-09-15 13:45] triplef commented on #406
We’re running into the same issue after following your [documentation](https://docs.sentry.io/platforms/apple/guides/watchos/) to integrate Sentry v7.2.8 into our watchOS app. Very misleading.

Is there a timeline when this is expected to be resolved?

[2021-09-15 14:07] bruno-garcia commented on #1031
See also: https://github.com/getsentry/sentry-cocoa/issues/1330

For the record it's likely some environmental on GHA. It passed consistently on my box (and others) but kept failing in CI. Not only branch with a feature but others.

[2021-09-15 14:10] bruno-garcia commented on #406
This was a regression to the docs (making content reusable between "Apple platforms") and again showed the crash bits for watchOS. Sorry once again for the confusion

[2021-09-15 14:20] bruno-garcia commented on #1324
For reference: https://github.com/getsentry/sentry-docs/issues/4153

[2021-09-15 16:21] bruno-garcia opened #1333 "Expose SDK diagnostic logger to hybrid SDKs"
The Unity SDK has some logic that would benefit from SDK logging. The logic is in an Objective-C file right before calling into the cocoa SDK. We'd like to access the SDK logger which already has the level defined via `SentrySDK.start`.

It's not a goal to expose `SentryLog` to customers as this can be a bit confusing. The logger exists to diagnose issues with the SDK and not to log things into Se

[2021-09-16 07:31] triplef commented on #1327
I found an (official?) way to disable networking instrumentation:
[code]

[2021-09-16 07:41] marandaneto commented on #1327
yes, removing integrations is possible, it's documented here -> https://docs.sentry.io/platforms/apple/configuration/integrations/default/ but the `SentryNetworkTrackingIntegration` isn't there yet, good catch.

@philipphofmann should we add it?

[2021-09-16 10:27] michaelduminy commented on #1331
Thanks so much for the quick fix! I'll test it soon

[2021-09-16 10:41] brustolin commented on #1327
Maybe the solution for this should be a flag in SentryOptions. Today we have one flag for all tracking integrations.

[2021-09-16 17:50] tmm1 commented on #419
What about to re-enable?

[2021-09-16 18:10] eric commented on #809
Is this gone again?

[2021-09-17 02:48] aguilarpgc opened #1334 "Handle UUID changes in device for false positive OOM"
As Apple mention (https://developer.apple.com/documentation/uikit/uidevice/1620059-identifierforvendor) for UUID:

That would mean adding this scenario in `SentryOutOfMemoryLogic`:
If the UUID changed then return NO, if it hasn't changed then continues with the next validations.
 
My question is if you plan to add this scenario in `SentryOutOfMemoryLogic.m`?

[2021-09-17 06:15] marandaneto commented on #1334
looks like a fair thing to check as well

[2021-09-17 06:24] marandaneto commented on #809
no, its available SentryOptions#enabled

[2021-09-17 06:26] marandaneto commented on #419
just use `SentrySDK.start` again

[2021-09-17 06:29] marandaneto commented on #1327
SentryOptions#enableNetworkTracking would be nice, if we document how to remove the integration is also fine

[2021-09-17 13:59] spirit221 opened #1335 "SIGSEGV crash at the start of app"
Which SDK and version?
Sentry (4.5.0):

### Steps to Reproduce

App crash at the start

### Expected Result

Implied no crash
The number of users with current crash is not large

### Actual Result
Below is stacktrace of crash
Crashed: com.apple.main-thread
0  libsystem_platform.dylib       0x1e4bb6378 _platform_strcmp + 8
1  Sentry                         0x10a03adc4 sentrycrashobjc_objectType + 9

[2021-09-17 14:04] aguilarpgc commented on #1334
Hi, thanks for the response.
Do you agree If I make the implementation? or you guys will be considering doing yourselves?

[2021-09-17 15:48] bruno-garcia commented on #1335
The code base was heavily changed in version 4 of the SDK. Could you please update it and see if the error persists?

[2021-09-17 15:49] bruno-garcia opened #1336 "Add an option to opt-out of HTTP breadcrumbs"
We need a way for users to opt-out of having these breadcrumbs.

https://github.com/getsentry/sentry-cocoa/blob/468e7da4df2cb05bf29ec9d28ec9f2828be48e09/Sources/Sentry/SentryNetworkTracker.m#L144-L168

Documentation currently doesn't include `SentryNetworkTrackingIntegration`

https://docs.sentry.io/platforms/apple/configuration/integrations/default/

[2021-09-20 06:56] marandaneto commented on #1334
@aguilarpgc a PR would be awesome

[2021-09-20 10:40] JackoPlane opened #1338 "High out of memory reports"
### Environment

How do you use Sentry?
Sentry.io

Which SDK and version?
Cocoa SDK, 7.2.3

### Problem

We're seeing abnormally high OOM events being triggered since moving from SDK version 7.1.3 to 7.2.3.

We have nearly 25k events originating from the release where the SDK was updated, deployed a week ago. The team feels that with ~120k sessions for this release, the number of OOM event is infl

[2021-09-20 11:45] philipphofmann commented on #1327
If we add `SentryOptions.enableNetworkTracking`, we should also add flags for app start and slow and frozen frames to be consistent. So then would add:
* enableNetworkTracking
* enableAppStartMeasuring
* enableFramesMeasuring

What do you think, @bruno-garcia, @marandaneto, and @brustolin?

[2021-09-20 12:01] philipphofmann commented on #1338
We shipped `fix: Set app state on main thread when terminating` https://github.com/getsentry/sentry-cocoa/pull/1272 in 7.2.3. So it could be that you already had many OOM in the past, but the SDK was just not able to capture these because we updated the app state, which is needed for detecting OOMs, on a background thread when the app terminates. Maybe you do heavy things on the termination of you

[2021-09-20 15:55] philipphofmann commented on #1333
Why don't you create your own logger that uses `NSLog` as `SentryLog` does?

[2021-09-20 15:57] philipphofmann commented on #1325
Why did you close this @bruno-garcia?

[2021-09-20 16:20] tulushev commented on #464
I need Address Sanitizer for my app. Turning it off is not an option.

[2021-09-21 01:58] bruno-garcia commented on #1325
Closed through the linked pr

[2021-09-21 06:48] marandaneto commented on #1333
you could add the `logger` to SentryOptions if not yet and hold the reference when `SentrySDK.start` is called, but if you need to log stuff even before calling `SentrySDK.start`, it won't work and creating its own Logger would be the way to go.

[2021-09-21 06:49] marandaneto commented on #1338
kinda related https://github.com/getsentry/sentry-cocoa/issues/1334

[2021-09-21 06:50] marandaneto commented on #1327
All in for `enableNetworkTracking`, the other 2 not sure since they are just measurements, and we can always add later if its necessary

[2021-09-21 08:04] JohannesNevels commented on #1328
I'm having the same issue which leads into a lot of crashes. We were previously running on 7.1.3 which didn't give any crashes. It makes sense because this code is introduced in later version.

[2021-09-21 11:49] triplef commented on #1328
@JohannesNevels in the meantime here’s how you can disable the networking instrumentation: https://github.com/getsentry/sentry-cocoa/issues/1327#issuecomment-920659513

[2021-09-21 12:31] philipphofmann commented on #1328
Thanks for opening up the issue @triplef. Can you or @JohannesNevels maybe give us a repro?

[2021-09-21 22:19] bruno-garcia commented on #1333
Diagnostic logger respects the level we set in the SDK. So when we configure it to be `info` or higher, it doesn't get as spammy. It's also only logging when `debug=true` and we don't have options at that point in the code, but the SDK would be initialized (or not which means no logging) so ideally we'd rely on the diagnostic logger. That's how we have it on .NET/Unity, Java/Android and Dart/Flutt

[2021-09-21 23:46] brustolin commented on #1328
In my tests, the AFNetwork solution using swizzling instead o KVO does not work because we have no way to know when the request finishes with swizzling.

[2021-09-22 01:49] bruno-garcia commented on #1267
@kevinneo the problem in you case is that your Sentry server doesn't have the system symbols. It's visible in the symbols list that they are all red/missing. [Same situation as this forum post](https://forum.sentry.io/t/on-premise-system-symbols-for-ios/1384).

[2021-09-22 07:15] philipphofmann commented on #406
Sorry about the confusion @triplef; I opened up a PR to fix this on the docs: https://github.com/getsentry/sentry-docs/pull/4175.

[2021-09-22 11:35] philipphofmann commented on #1270
The blocker is that our SDK is mainly written in Objective-C and C and not Swift. The support for Objective-C on Linux is not the best, and we use plenty of libraries that are only available on Apple. For proper Linux and Windows support, we need some restructuring and rewrites of our SDK.

[2021-09-22 11:38] philipphofmann commented on #1333
Should we close the issue then?

[2021-09-22 11:52] philipphofmann commented on #464
I just tried it with a sample project with SPM, and it worked for me. Can you @tulushev let us know how to reproduce this, and please tell us which error you get?

[2021-09-22 18:22] #1333 closed

[2021-09-24 06:16] philipphofmann opened #1344 "Run UI Tests on Real Devices"
The repository already contains simple UI Tests that ensure the sample apps don't crash. Instead of running them on simulators, we can run them across different OS versions on real devices. The UI tests should run on Saucelabs.

[2021-09-24 06:19] philipphofmann opened #1345 "Sample Apps Support SDKs Min Versions"
Our current sample apps target a high min SDK version. We should change them or add new sample apps to run UI tests on these OS versions.

[2021-09-24 06:40] kevinneo commented on #1267
@bruno-garcia EXC_BAD_ACCESS has no thread with current or crashed, this is the question I want to talk about, not missing system symbols.

[2021-09-24 12:21] philipphofmann commented on #1267
Thanks, @kevinneo, for pointing out an example. Can you maybe give us more context into the crash itself? What is causing it? What's happening before? We currently have no idea why our SDK has this problem.

[2021-09-24 12:24] philipphofmann commented on #1338
Oh, I see. Maybe our fix in 7.2.3 is responsible for this. We need to do some further investigation.

If you disable OOM, you should still get everything else. Why do you receive nothing?

[2021-09-27 06:40] orschaef commented on #1338
Well yes, we receive other crashes but not the prior false-positive OOM crashes. Means: We can chosse between enabling OOM, then we get e.g. out-of-bounds exceptions as OOM crash .... or we disable OOM, then we get nothing for an out-of-bounds exception. But since we didn't release our App with this version of the SDK I can't provide further information. The fact that it reports false-positive OOM

[2021-09-27 10:23] cipherCOM opened #1346 "Higher crash rate with EXC_BAD_ACCESS since 6.2.1 -> 7.3.0 update of Sentry"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
sentry-cocoa 7.3.0

### Steps to Reproduce

Since this is a mem crash and only happens for a fraction of our users I can't give clear instructions to reproduce this but rather only our config and the info that we updated from 6.2.1 to 7.3.0. Also the first time we have performance monitoring enabled.

[code]

#

[2021-09-27 12:52] philipphofmann commented on #1346
Thanks, @cipherCOM, for opening up this detailed issue. After a quick glance at your stacktrace it seems like this could be related to https://github.com/getsentry/sentry-cocoa/issues/1328. A possible workaround is to disable auto HTTP request tracking like this
[code]

We are going add flags for easier disabling of the SentryNetworkTrackingIntegration soon, see https://github.com/getsentry/sentry

[2021-09-27 13:29] cipherCOM commented on #1346
We planed to deploy `enableAutoPerformanceTracking = false` but we will reduce this to the above which only deactivates network tracking. Thanks for your swift response on this manner! We will report back if this improves the situation.

[2021-09-27 13:46] philipphofmann commented on #1152
We can store some information to disk when receiving an `applicationDidReceiveMemoryWarning` notification. As pointed out, there is no guarantee of receiving the notification before an OOM, but we could get some context for some of them. It is worth noting that the OOM and a previous `applicationDidReceiveMemoryWarning` notification don't have to be related to each other.

Another possible solutio

[2021-09-28 07:13] JohannesNevels commented on #1328
Hi, unfortunately I'm not able to reproduce it. But I have the exact same crashlog and do get those crashes daily in Firebase.

[2021-09-28 07:19] philipphofmann commented on #1328
Thanks, @JohannesNevels, for looking into this. After investigating this myself, it seems clear that we can't continue with the KVO approach. I think we don't need a repro to prove that. We are currently evaluating possible workarounds. In the meantime, it's safer to disable this feature. With https://github.com/getsentry/sentry-cocoa/pull/1349, you will be able to use a flag to disable it. We are

[2021-09-29 03:28] kevinneo commented on #1267
@philipphofmann Thank you very much for your reply，I got lots of crash issues about that, but in fact I don’t know what caused it and how to reproduce it. As far as I know, there are a few key points：

1、The title message seems to be related to the image loading，such as:

-   "KLWR > Raw profile type exif > Raw profile type iptc > rdf:"
-   "KLWR > Raw profile type exif > Raw profile type iptc > x

[2021-09-29 08:28] nimrods-lemonade opened #1351 "Possible memory leak of several objects"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
Swift 7.3.0

### Steps to Reproduce

1. Initializing the SDK
2. Navigate to a new page

### Expected Result

We would hold the same amount of objects before navigating to the new page and afterwards.

### Actual Result

The following objects are piling up in the memory:
* SentryBreadcrumb
* SentrySpan
* SentryS

[2021-09-29 09:22] philipphofmann commented on #1351
Thanks for reporting this, @nimrods-lemonade. The profiler for allocations doesn't warn us about leaking memory, but I also see an increase of the objects you described in the Debug Memory Graph. We are going to look into this.

[2021-09-29 09:36] philipphofmann commented on #1351
I think I found the problem. It seems like we have a strong reference cycle between `SentryTracer` and `SentrySpan`.

[2021-09-29 11:19] #1351 closed

[2021-09-29 11:33] #1327 closed

[2021-09-29 13:53] rukano commented on #1346
@philipphofmann we disabled this integration, nevertheless, we have now crashes on iOS 15 versions with the ViewControiller swizzling. We will disable the performance tracking for the moment. If you need more feedback to this issue, let us know, maybe we can provide further logs and stack traces.

![Sentry-Crash-iOS15](https://user-images.githubusercontent.com/97139/135282306-073dd078-6868-4b7b-83

[2021-09-30 01:48] brustolin opened #1353 "Network tracking not working on iOS 13 and below"
### Environment

Sentry-Cocoa 7.4.0

### Steps to Reproduce

Resume any NSURLSessionDataTask

### Expected Result

The resume method is captured and a new span is created.

### Actual Result

The _resume_ swizzled method is not called.

In iOS 13 and prior, the NSURLSessionDataTask parent class is ___NSCFURLSessionTask_, a private class that does not call the super class _resume_ method.

[2021-09-30 01:52] brustolin commented on #1353
We could just swizzle ___NSCFURLSessionTask_  but I don't know whether this would cause any problem with Apple.

[2021-09-30 07:14] philipphofmann commented on #1346
@rukano, can you please open an extra issue for your problem. I think this is not related to this issue.

[2021-09-30 08:12] philipphofmann commented on #1328
As the error is `Attempted to dereference garbage pointer`, it could also be that the code in `SentryNetworkTracker` doesn't properly call `removeObserver`, which can result in a memory access exception, as pointed out in the [Apple docs](https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/KeyValueObserving/Articles/KVOBasics.html#//apple_ref/doc/uid/20002252-178612):

I alr

[2021-09-30 09:31] philipphofmann commented on #1328
@triplef and @JohannesNevels, I found an issue with removing the observer for KVO and fixing it with https://github.com/getsentry/sentry-cocoa/pull/1354. We plan to release this today. As removing KVO would be a lot of effort, this fix is a best-effort shot at this bug. I'm not very confident that this will solve the issue, but worth a try. At least it improves the current code a bit. Are you will

[2021-09-30 09:34] rukano opened #1355 "Crash when initialising a view controller with performance tracking enabled"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
sentry-cocoa 7.3.0

### Steps to Reproduce

1. iOS 15
2. Sentry 7.3.0
3. As a workaround we disabled the network performance tracking as mentioned in: https://github.com/getsentry/sentry-cocoa/issues/1346
4. In the SDK initialisation:
[code]

### Expected Result

Sentry would work with deactivated network perfo

[2021-09-30 11:21] rukano commented on #1355
Hi @philipphofmann the app was working well on iOS 14 and I was able to reproduce the crash only when I updated to iOS 15 (same build). Also some colleagues were saying the app on iOS 14 was still working, while the iOS 15 users were crashing. Also the sentry entries say 100% iOS 15, for this kind of crash.

[2021-09-30 11:32] JohannesNevels commented on #1328
Thanks! We don't have a planned release for a while so I can't test it soon. In a couple of weeks, when we're done with some features and planning a release, I could try it but don't rely on me too much. I will definitely get back to this ticket when I've done the release.

[2021-09-30 12:27] philipphofmann commented on #1328
I'm not asking you to try this in a release build @JohannesNevels. Were you able to reproduce this also in a test environment? Otherwise, you again have crashes, which is not what we aspire.

[2021-09-30 13:36] #1328 closed

[2021-09-30 15:24] AndrewSB commented on #1355
i'm seeing this as well, on iOS 15. i downgraded back to 7.3.0

it seems to crash 100% of the time a specific view is presented

[2021-09-30 16:11] philipphofmann commented on #1355
@AndrewSB, so you don't have the issue on `7.3.0`, because @rukano is having it on `7.3.0`? Which version did you encounter the error?

[2021-09-30 18:04] philipphofmann commented on #1355
I was looking at the stacktrace and our swizzling and wasn't able to find a problem. According to your stacktrace, you use `UINavigationController`. Therefore, I tried to reproduce your issue with a [sample project](https://github.com/Yalantis/AppearanceNavigationController) that uses `UINavigationController`, but it worked fine.

According to the stacktrace, first, the `SomeViewController.viewDid

[2021-09-30 18:37] AndrewSB commented on #1355
i don't believe i'm seeing it on 7.3.0, i've downgraded and i'm not seeing it anymore

here's a crash log [Crash#245.txt](https://github.com/getsentry/sentry-cocoa/files/7261755/Crash.245.txt), i'm not sure exactly what about this reproduces the problem, but the hierarchy i'm loading when i crash is

UINavigationController
  -> UIViewController
    -> child UIViewController
      -> child UIPageVi

[2021-09-30 19:17] rukano commented on #1355
Hi @AndrewSB, I might be able to provide more information maybe tomorrow. But for the moment, a suspect that I have is, that the crashing VC has a custom initialiser. Something like this, but I haven't been able to make an example project to test it, sorry:

[code]

And then when pressing a button in the current view controller:

[code]

That this way or instantiating the VC doesn't play well with

[2021-09-30 19:50] AndrewSB commented on #1355
oh yeah! my VC in question totally has a custom initializer

[code]

that might be it

[2021-10-01 02:18] brustolin commented on #1355
@AndrewSB could you test putting @objc before your init?

[code]

I did some research and looks like this is some iOS 15 bug.

I got the same error using this class:

[code]

And I fixed it using @objc before the `init(data: String`.

[2021-10-01 08:40] philipphofmann commented on #1355
The init of `CustomTableViewController` crashes for with the same error in an empty sample project on iOS 15. It works fine on iOS 14 though. It seems like Apple generally speaking has an issue with custom ViewController initializers.

[2021-10-01 10:25] philipphofmann commented on #1355
Are you sure @rukano and @AndrewSB that the SentrySDK is causing the issue? Can you try not initializing the SentrySDK and see if the app still crashes? As pointed out in the comment above, the crash you are seeing could be a bug in UIKit and not related to our SDK at all.

[2021-10-01 10:28] philipphofmann commented on #1346
It could be that we fixed the issue with https://github.com/getsentry/sentry-cocoa/pull/1354 in 7.4.1. Can you @cipherCOM please let us know if the fix works for you?

[2021-10-01 19:11] AndrewSB commented on #1355
thanks for digging into this, that crashlog you posted on the apple forums looks very similar to the one i was experiencing. what seems strange is that the crash disappeared once i downgraded my sentry version.

i'm releasing a TestFlight later today, i'll add `@objc` to my initializer, and re-upgrade to 7.4.0 and see if i still experience a crash

[2021-10-01 19:15] rukano commented on #1355
We released a version with 7.3.0 but with the performance tracking disabled and this has fixed the crashes. Haven't added any `@objc` or other workarounds than just deactivating the performance tracking.

[2021-10-01 20:58] FelixHerrmann opened #1358 "Crash in SentrySpan"
### Environment

Which SDK and version?
sentry-cocoa 7.4.0 & 7.4.1

### Steps to Reproduce

1. Start app with Sentry SDK (7.4.1)

### Expected Result

No crash.

### Actual Result

App crashes immediately when the first viewDidAppear get's called by the system, no issue with 7.3.0 and lower.
Tested it with iOS 13.5, 14.8 and 15.0!

<img width="1657" alt="Bildschirmfoto 2021-10-01 um 22 48 44" src=

[2021-10-02 09:58] marandaneto commented on #1358
could it be related to #1355?

[2021-10-02 12:15] FelixHerrmann commented on #1358
No, this crash is iOS independent and is not happening on 7.3.0. I think [this change](https://github.com/getsentry/sentry-cocoa/commit/4e0c971a2eb503e4bdae2362dc9a707a3118601a) is the problem.

[2021-10-03 09:13] Md-Mahfuzur-Rahman commented on #1358
I am also getting this crash

[2021-10-03 23:55] vincentisambart commented on #1358
I also get this crash, but not in all view controllers.

It's crashing in `KVO_IS_RETAINING_ALL_OBSERVERS_OF_THIS_OBJECT_IF_IT_CRASHES_AN_OBSERVER_WAS_OVERRELEASED_OR_SMASHED`. Looking at the backtrace and console messages, it seems that:
- `SentryTracer` observes its `SentrySpan` children's `timestamp`
- for some reason `SentryTracer` gets released while still observing, without calling `removeOb

[2021-10-04 06:32] marandaneto commented on #1358
thanks for reporting, we'll be looking into it shortly.

[2021-10-04 10:48] philipphofmann commented on #1358
Thanks @vincentisambart for the detailed report. We removed KVO and replaced it with a simple method call. This again reminds me, that you really only should use KVO when you don't have an alternative. Sorry about the trouble we caused.

[2021-10-04 10:57] philipphofmann commented on #1358
Still `SentryTracer` shouldn't be deallocated before it's children are finished, but it can happen and this is a different problem.

[2021-10-04 12:35] #1358 closed

[2021-10-04 12:45] brustolin commented on #1355
Thanks, I'm gonna investigate more into it.

[2021-10-04 12:47] philipphofmann commented on #1355
My current guess is that it has to do something with the swizzling of the initializers of the ViewControllers.

[2021-10-04 12:58] philipphofmann commented on #1346
Most likely, we fixed this with #1354. Would you please reopen the issue otherwise?

[2021-10-04 13:29] philipphofmann commented on #1335
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-10-04 13:29] #1335 closed

[2021-10-04 13:30] philipphofmann commented on #1320
Do we still need this @marandaneto ? We already do our releases with getsentry/publish.

[2021-10-04 13:31] philipphofmann commented on #1269
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-10-04 13:32] philipphofmann commented on #1223
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-10-04 13:32] #1223 closed

[2021-10-04 13:46] marandaneto commented on #1320
it was done under https://github.com/getsentry/publish

[2021-10-04 13:46] #1320 closed

[2021-10-04 16:12] philipphofmann commented on #1355
We are drafting a different approach to swizzle all `UIViewControllers` without swizzling its initializers in #1361, which could maybe be the fix for this issue. Can you @rukano or/and @AndrewSB perhaps help us out with a repro in the meantime? That would be awesome.

[2021-10-05 22:25] bdrelling opened #1364 "Setting `diagnosticLevel` to `.info` doesn't prevent `.debug` events from being uploaded"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
iOS SDK v7.4.2

### Steps to Reproduce

Set the `diagnosticLevel` to `.info`, per the documentation [here](https://docs.sentry.io/platforms/apple/guides/watchos/configuration/options/#diagnostic-level).

[code]

### Expected Result

The Sentry SDK should not report `.debug` events to Sentry.io.

### Actual Resu

[2021-10-05 22:31] bdrelling commented on #1364
Now I'm getting all jumbled up, I don't see `options.logLevel`, but I see it stated [here](https://docs.sentry.io/platforms/apple/guides/ios/usage/set-level/).

I can tell now that `diagnosticLevel` is a property for what gets logged if `options.debug` is `true`, but now I don't understand how to filter the events properly. I thought I used to be able to set the minimum level to report right in th

[2021-10-06 06:59] philipphofmann commented on #1355
@rukano, testing the PR would be awesome, thanks. It's almost ready for merging. Thanks for the hint with the release configuration. Maybe code stripping is more aggressive for iOS 15. Anyway, I think and hope that #1361 fixes the bug. Even if it doesn't, we want to merge the PR as we don't want to swizzle the initializers of the UIViewControllers.

[2021-10-06 09:25] philipphofmann commented on #1346
Thanks for the update, @cipherCOM. I understand that you want to wait a bit until you enable performance tracking again. Fingers crossed, you don't have to reopen the issue in the future.

[2021-10-06 17:11] Overcot opened #1365 "Create flag for disabling UIViewController Frame performance measuring"
I'm now integrating SentrySDK in a mostly SwiftUI based application. For me the measuring of UIViewController instances is doing nothing but swizzling some default methods which create some problems. I wonder if you could provide a flag like suggested here:
https://github.com/getsentry/sentry-cocoa/issues/1327#issuecomment-922853867

in order to disable frame measuring

[2021-10-07 20:48] JCTec opened #1366 "Call must be made on main thread"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
sentry-cocoa 7.4.3

### Steps to Reproduce

1. iOS 15
2. Sentry 7.4.3
3. As a workaround we forked and replaced `self.queue` with `dispatch_get_main_queue()`
4. In the SDK initialisation:
`SentrySDK.start { $0.dsn = sentryDSN }`

### Expected Result
I now you just release the update 7.4.3 but instead of creatin

[2021-10-08 09:09] ArchimboldiMao opened #1367 "SentryPerformanceTracker: key cannot be nil"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io) or self-hosted/on-premise (which version?)

Which SDK and version?
Sentry-Cocoa 7.4.3 and 7.4.0

### Steps to Reproduce

1. When I update a view's frame, the first time is fine, the second time it throws an exception.
this.bottomView.frame = CGRectMake(0,0,30,30)

2. In file **SentryPerformanceTracker.h**
self.spans[spanId] = newSpan;

[2021-10-09 02:56] kevinneo commented on #1267
Hi @philipphofmann , my app is not a game, it uses ReactNative, and this is a list of third-party SDKs in use.

* AFNetworking
* AliyunOSSiOS
* BVLinearGradient
* ChinaMapDeviation
* CocoaAsyncSocket
* CocoaLumberjack
* CommonUISDK
* CoreModules
* DoubleConversion
* FBLPromises
* FBReactNativeSpec
* FBSDKCoreKit
* FBSDKLoginKit
* FLEX
* FirebaseABTesting
* FirebaseCore
* FirebaseCoreDiagnostics
*

[2021-10-11 07:38] PhilippeWeidmann opened #1368 "SwizzlingError - Original method not called"
### Environment

Sentry self hosted

Sentry iOS 7.4.3 - iOS 12

### Steps to Reproduce

1. Start Sentry
2. Navigate to some other view controller

### Expected Result

Not crash.

### Actual Result

The app crashed.
[code]
`SentryUIViewControllerSwizziling`:
<img width="705" alt="Capture d’écran 2021-10-11 à 09 33 59" src="https://user-images.githubusercontent.com/5843044/136750350-1a273372-9603

[2021-10-11 08:56] marandaneto commented on #1368
@PhilippeWeidmann thanks for raising it, we'll be looking into it, do you have any steps to reproduce it? thanks

[2021-10-11 09:30] arielelkin opened #1369 "Provide pre-built binaries for SPM (compiling current package takes >20 seconds)"
The current Swift Package involves building the entire Sentry SDK from source, which takes 10-30 seconds:

![image](https://user-images.githubusercontent.com/1756909/136765931-b3f44da5-e56c-4645-8462-57da94b2b7a0.png)

Could we have a swift package that just provides the [the Sentry binary .frameworks](https://github.com/getsentry/sentry-cocoa/releases). Implementation is really straightforward:
h

[2021-10-11 09:35] dyegos commented on #1366
Hello again, it seems to be a problem with App Center + Sentry.
When I copy the error from the crash, there's this line

#8	0x000000010db64e1c in +[MSACAlertController initialize] at /Users/runner/work/1/s/AppCenterDistribute/AppCenterDistribute/MSACAlertController.m:47

For some reason, while swizzling, the MSACAlertController is initialized in the background thread.
Could the last version sendin

[2021-10-11 16:27] BoBoWalker opened #1370 "Approve for integration"

[2021-10-11 16:45] brustolin commented on #1368
Hello @PhilippeWeidmann do you have the stack track to share with us? Thanks!

[2021-10-11 17:23] JCTec commented on #1366
@brustolin Sadly I don't, but to give a little bit more context seems I have the same error as @dyegos and my timeline is the next:

- Xcode 12, version 7.0.0 the app didn't crash.
- Xcode 13 version 7.0.0 the app did crash
- Xcode 13 version 7.4.3 the app did crash

I will try version 7.4.2 to see if it crash or not to give a bit more context on what's happening.

[2021-10-11 17:46] JCTec commented on #1366
I'm sorry @brustolin I ask my superiors apparently we are using AppCenter! I'm sorry, but gladly this means that is exactly the same error as @dyegos.

I'll keep you posted about more insights!!

[2021-10-11 19:23] #1370 closed

[2021-10-12 00:43] vincentisambart commented on #1367
I get the same error at the same line in `-[SentryPerformanceTracker startSpanWithName:operation:]` when using Sentry 7.4.3.

[code]
Our code calls `containerView.insertSubview(viewController.view, at: 0)` that then behind the scenes calls that `-[UIView(Internal) _addSubview:positioned:relativeTo:]`.

[2021-10-12 07:57] dyegos commented on #1366
@philipphofmann Thank you very much for the update. I am glad we were able to find the issue :)
We are looking forward to it. Have a nice day.

[2021-10-12 09:17] savv commented on #1185
Sadly, I'm still getting this error. We are using Sentry via its React Native integration, which is on 7.3.0. It does not seem to be a legitimate OOM, and we are only getting it in our staging version where we recently upgraded sentry to the latest version (2.4.2 => 3.1.1).

The Podfile.lock shows that `Sentry/Core (= 7.3.0)` is installed. It previously showed: `Sentry/Core (= 6.1.4)`.

[2021-10-12 14:06] dyegos commented on #1366
@philipphofmann update. I ran the app and it's not crashing anymore in our project as well. 👍🏽

[2021-10-12 16:01] #1366 closed, assigned to philipphofmann

[2021-10-12 16:48] philipphofmann opened #1375 "No startup transaction for ViewController"
### Environment

Latest Cocoa SDK 7.4.3

### Steps to Reproduce

Launch iOS-Swift Sample App

### Expected Result

Transaction for ViewController should appear in Sentry.

### Actual Result

No transaction shows up.

[2021-10-12 17:45] JCTec commented on #1366
Thank you very much @philipphofmann @brustolin for your work and also thank you @dyegos for the input that actually was the key to solving it, this have being a real save for our team. It is now working corretly with SPM in our project too with commit `953414914f7546894ad90b582f4e926db45a362e`.

[2021-10-13 02:17] vincentisambart commented on #1368
In the closure you pass to `SentrySDK.start`, adding `options.enableAutoPerformanceTracking = false` seems to disable the swizzling that causes this problem.

[2021-10-13 07:12] vincentisambart commented on #1367
I got the same exception.

[2021-10-13 08:26] philipphofmann commented on #1367
It seems like the `spanId` is null here.
https://github.com/getsentry/sentry-cocoa/blob/13bc7ca8b77ff0ea0980918f9c8317ab757297b8/Sources/Sentry/SentryPerformanceTracker.m#L63

[2021-10-13 09:38] #1365 closed, assigned to nobody

[2021-10-13 14:51] philipphofmann commented on #1267
Thanks for the input, @kevinneo. We currently have issues to address that affect more users. We will look into this again in the future.

[2021-10-14 10:04] philipphofmann commented on #1368
We identified an issue with our Swizzling code and it is going to be fixed with https://github.com/getsentry/sentry-cocoa/pull/1383. The problem was that when an error occurred in `viewDidAppear` we threw `'SwizzlingError', reason: 'Original method not called'` hiding the actual error happening in the `viewDidAppear`. This issue should be fixed in the next release, and the actual underlying errors

[2021-10-14 10:04] #1368 closed, assigned to nobody

[2021-10-14 10:06] philipphofmann commented on #1366
Thanks for the good news, @JCTec. I'm happy it works now.

[2021-10-15 01:54] charlesbensonsonos opened #1395 "7.4.5 Crash on launch"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
Cocoa 7.4.5 - IOS

### Steps to Reproduce

1. Updated app to 7.4.5 release
2. Launched app in IDE/Simulator
3. Observed crash in following method

SentryUiViewControllerSwizziling.m
- (void)swizzleSubclassesOf:(Class)parentClass
              dispatchQueue:(SentryDispatchQueueWrapper *)dispatchQueue

[2021-10-15 02:26] charlesbensonsonos commented on #1395
https://github.com/OneSignal/OneSignal-iOS-SDK/issues/278
Very similar report of the issue here

[2021-10-15 07:02] philipphofmann commented on #1395
Thanks, @charlesbensonsonos for the issue and hint on how to fix that.

[2021-10-16 14:25] lmmenge commented on #1072
@philipphofmann if you need a sample project for reproducing this: https://github.com/lmmenge/sentry-double-quote

Building it in Xcode 13 should output plenty of warnings.

[2021-10-16 14:30] matthewreimer commented on #1338
Would it help reduce false positives to record whether `applicationDidReceiveMemoryWarning` or `didReceiveMemoryWarning` were sent reasonably close to the app's termination?

[2021-10-18 14:34] philipphofmann commented on #623
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-10-18 14:34] #623 closed

[2021-10-18 14:36] philipphofmann commented on #697
Was fixed with https://github.com/getsentry/sentry-cocoa/issues/809

[2021-10-18 14:36] #697 closed

[2021-10-18 16:49] brustolin commented on #1367
Nice catch. I can see the problem of this issue happening because of the new weak reference, a little hard to reproduce but it is possible.

I think that we should created this no-op span to avoid some issues, but I believe we also should work on another solution, because the performance lifecycle will be incomplete in some cases. `SentryPerformanceTracker` should not release `SentryTracer` refere

[2021-10-19 03:22] awulf commented on #1367
Happening consistently in our app too, with 7.4.6.

![Screen Shot 2021-10-19 at 1 51 06 pm](https://user-images.githubusercontent.com/186606/137838477-6e077bbb-232c-48bf-9709-6f8bd24aa7d2.png)

[2021-10-19 07:12] marandaneto commented on #1367
I believe that we should investigate why the `tracer` is becoming `nil` then.
Ensuring that the App does not crash is important but adding a `NoOpSpan` sounds like the wrong approach because then we'll get complaints that the transactions or spans are not being sent to Sentry and it's gonna be even harder to debug (no crash, no idea what's happening).
`NoOpSpan` only exists because we don't want p

[2021-10-19 16:41] philipphofmann opened #1407 "Add NoOpSpan"
Add a NoOpSpan similar to [Java](https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/NoOpSpan.java). Return a `NoOpSpan` when the tracer is `nil` in a span.

[2021-10-19 16:52] philipphofmann commented on #1367
We (@bruno-garcia, @marandaneto, @brustolin, @romtsn) decided the following on a call: The tracer being `nil` is a side effect of something not working properly with the UIViewController instrumentation. There is an extra issue to address the problem with weak, see https://github.com/getsentry/sentry-cocoa/issues/1407.

We are not 100% sure what causes this crash, but we guess it has something to

[2021-10-20 14:12] bruno-garcia commented on #1152
It sounds like we need to clarify how this works on the _troubleshooting_ page of the docs. Perhaps suggestion a BeforeSend solution where the user can manage persisting data and setting to the event after restart.

[2021-10-21 00:56] brustolin opened #1411 "Change the default finish status for transactions"
Based on @dashed comment in #1350, the `Undefined` status of a transaction is consider an error.

Should we change default finish status in SentryTracer and PerformanceTracker to `Ok`?

@bruno-garcia, @marandaneto, @philipphofmann

[2021-10-21 02:18] brustolin opened #1413 "A span in the PerformanceTracker stack cannot be finished"
We should have a way to test if the span being finished is in the active stack and throw an exception to catch on tests.

[2021-10-21 08:40] philipphofmann opened #1415 "test: Fix flaky testAsyncStacktraces"
This test is disabled because it is flaky. We need to fix it, but as this is an experimental feature this has not a high priority.
https://github.com/getsentry/sentry-cocoa/blob/4dbf9c83da9fca185c58db6a6f121876465639e7/Tests/SentryTests/SentryCrash/SentryStacktraceBuilderTests.swift#L70-L73

[2021-10-21 13:29] philipphofmann commented on #1367
Might also be fixed with GH-1409 and GH-1408.

[2021-10-21 15:35] #1407 closed

[2021-10-21 17:09] bruno-garcia opened #1418 "Skip initialization if crash was caused by the SDK itself"
When `SentrySDK.start` is called and a crash report is detected, skip initialization altogether in case that crash was caused by code within the SDK itself. Until new SDK version / app version it should stay disabled.

[2021-10-21 18:06] andrebocchini-reverb opened #1419 "Crash when `objc_getClassList` is called consecutively and returns different values"
The code below makes the assumption that `objc_getClassList ` will return the same exact value both times it is called. Although according to the documentation, `objc_getClassList` will only write enough data in the allocated buffer to accommodate the number of items that are passed in, when iterating over those values later in this same function, the code tries to access things past the end of th

[2021-10-22 01:59] brustolin commented on #1411
@dashed @marandaneto

I realize that the undefined status is not in the documentation, we included it because objc has no nullable enum.
When the status is undefined we simple does not serialize it.

The documentation says that status is optional, so I guess if we don't send it, this is no treated as an error right?

Should UIViewController performance transactions and IO transactions have a statu

[2021-10-22 04:51] dashed commented on #1411
@brustolin I think if you do not explicitly set the `status`, it will not be treated as an error.

[2021-10-25 07:34] #1419 closed, assigned to philipphofmann

[2021-10-28 08:32] philipphofmann opened #1428 "Flag for disabling all swizzling"
Add a flag `enableSwizzling`, which default is `YES` to disable all the features using swizzling in the SDK.

[2021-10-28 09:48] JackoPlane opened #1429 "Crashing on launch for iOS 14"
### Environment

How do you use Sentry?
Sentry.io

Which SDK and version?
iOS SDK version 7.4.8

### Steps to Reproduce

1. Install the Sentry SDK via SPM
2. Initialise SDK in application delegate
3. Run on iOS 14 device

### Expected Result

Not crash 😀

### Actual Result

Crashes in `-[SentryPerformanceTracker startSpanWithName:operation:]`, Happy to share crash logs privately provided an email

[2021-10-28 16:34] sambeedell opened #1435 "SwizzlingError - Original method not called"
### Environment

SaaS (https://sentry.io/)

### Version

_No response_

### Steps to Reproduce

I'm unable to reproduce locally but we are getting crash reports on this issue. When our UICollectionView applies its UICollectionViewDiffableDataSource a Sentry method is invoked during the layout of sublayers which causes a crash.

I have updated our Swift Packages in case this has already been resolv

[2021-10-29 07:35] #1429 closed, assigned to nobody

[2021-10-29 07:42] #1428 closed, assigned to philipphofmann

[2021-10-29 10:36] Banck opened #1436 "OS data adds only in SentryCrashIntegration"
Hello!
It so straight, that os data are adding to scope in SentryCrashIntegration module. So if app doesn't use CrashIntegration module and just sends events through Sentry.capture(error: _) then there will be no info about device and os version in event info.

[2021-10-29 11:11] #1436 closed, assigned to nobody

[2021-10-29 12:23] philipphofmann opened #1437 "Confusing transaction tag"
### Environment

Cocoa 7.5.0 on iOS

### Steps to Reproduce

1. Open the SwiftUI Sample app.
2. Click on Lorem Ipsum
3. Click on captureMessage

### Expected Result

Don't have a confusing tag in the event.

### Actual Result

The tags of the event show a tag transaction with the value UIInputWindowController.

<img width="847" alt="Screen Shot 2021-10-29 at 14 21 53" src="https://user-images.gith

[2021-10-29 12:43] philipphofmann opened #1438 "Send device locale with Events"
Discover lists `device.locale` as a search condition, see https://docs.sentry.io/product/discover-queries/query-builder/. The develop docs list the `locale` in culture context, see https://develop.sentry.dev/sdk/event-payloads/contexts/#culture-context. Figure out how to send the device locale so customers can use it in Discover. After this maybe fix the Discover or Develop docs and create an issu

[2021-11-02 01:10] lukepyen commented on #1338
hi @philipphofmann. We are also experiencing abnormally high OOM reporting in our app. We were on 7.1.3 and the problem persists after we migrated to 7.4.7.

To put it into context, in the last 14 days, OOM crash events (number 1 issue) are more than highest events count 2 to 7 combined.

Would like to see if there's a way to re-open this ticket and what kind of information you need from our side

[2021-11-02 08:51] philipphofmann commented on #1338
@lukepyen, does your app do some work in the background? Maybe we are not handling that properly.

[2021-11-02 10:17] philipphofmann commented on #1338
Do you maybe use `exit(0)` @lukepyen?

[2021-11-02 12:01] philipphofmann commented on #1437
Ah, I get it. It's a different transaction not related to performance. The wording is pretty confusing. Yes, `__sentry_transaction` then turns into `transaction`, which [Java](https://github.com/getsentry/sentry-java/blob/2d8a74aff519a99f44b49d3172ff66775662f9eb/sentry/src/main/java/io/sentry/SentryEvent.java#L50-L56) has.

[code]

Wow, this is confusing in [Java](https://github.com/getsentry/sent

[2021-11-02 12:05] philipphofmann commented on #1437
I think we shouldn't remove setting the extra value `__sentry_transaction` in SentryBreadcrumbTracker but instead point out in the UI somehow which transaction that is.

[2021-11-02 12:09] philipphofmann commented on #1437
Todos:

- [ ] Fix code docs here https://github.com/getsentry/sentry-cocoa/blob/b08f27f7ad9d4fdb3c1f2558da9b8ad70f5a21a2/Sources/Sentry/Public/SentryEvent.h#L78-L81
- [ ] Add transaction to Scope

[2021-11-02 12:18] marandaneto commented on #1437
@philipphofmann the reason is https://develop.sentry.dev/sdk/performance/#scope-changes

See:

Since the `transaction` String is a legacy thing, we could discuss if we should do it, cc @bruno-garcia

[2021-11-02 13:56] marandaneto opened #1441 "`tracesSampler` is `NSNull` when passing object from RN"
Context https://github.com/getsentry/sentry-react-native/issues/1864

https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryOptions.m#L229-L231 has to use `isKindOfClass` as a safeguard since the RN SDK uses `initWithDict` and JS options get synced down to the Native SDKs.

ideally, all the options should check its class type to avoid new issues like this.

[2021-11-02 14:08] orschaef commented on #1338
@philipphofmann Please see: https://github.com/getsentry/sentry-react-native/issues/1830#issuecomment-957645816

We still experience the same issue. We always test with a signed development build (distributed via App Center) - without debugger attached.

[2021-11-02 14:47] philipphofmann commented on #1437
This produces an ugly long transaction tag for SwiftUI see
<img width="723" alt="Screen Shot 2021-11-02 at 15 46 35" src="https://user-images.githubusercontent.com/2443292/139870393-ea7c74f8-28f6-4683-8893-a76d157cdfc5.png">

[2021-11-02 14:53] philipphofmann commented on #1441
I guess we have the same issue with `beforeSend` then as well.

[2021-11-02 14:58] #1411 closed

[2021-11-02 16:18] philipphofmann commented on #1441
Unfortunately, the best we can do is to check if the passed-in value is of type block, but we can't check if the arguments of the block properly match. I didn't find an easy straightforward way to check if a block matches a given type of block.

[2021-11-02 17:24] derekpitts28 commented on #1185
Still seeing this issue on the flutter sdk also.

[2021-11-02 20:20] lukepyen commented on #1338
Ours is a game app so backgrounding flow is not part of the use cases. We do allow normal backgrounding/resuming expectation when users, say, receives a call. I believe the game stays in a suspension state, or reduced frame updates (likely some networking thread remains operational when backgrounding as it is a massively multiplayer online game). Pls let me know what information that could help wi

[2021-11-02 20:29] lukepyen commented on #1338
In some flow we do invoke `exit(code)` upon exit, but in those situation we do ensure `CrashReporting::Shutdown();` is called if it's initialized before calling `exit(code)`. In the main execution loop, we simply do return 0 after all components shutdown properly.

[2021-11-03 05:28] sindresorhus opened #1442 "Error message is not included for Swift errors"
### Environment

How do you use Sentry?

SaaS

Which SDK and version?

Sentry Cocoa 7.5.0

### Steps to Reproduce

For example, I have this error:

[code]

If I throw it, it ends up in Sentry as:

<img width="294" alt="Screen Shot 2021-11-03 at 12 20 09" src="https://user-images.githubusercontent.com/170270/140013108-29be0b4f-b59b-47aa-82dd-87d47c980998.png">

Notice how the subtitle is just `Code

[2021-11-03 12:06] #1441 closed

[2021-11-03 16:21] philipphofmann commented on #1442
Thanks, @sindresorhus for opening this issue. We put the description of the NSError into the mechanism in the SentryClient

https://github.com/getsentry/sentry-cocoa/blob/cfe8e2432ed75d9986c832d401bb16d5203e8768/Sources/Sentry/SentryClient.m#L193-L195

It ends up in the JSON of the event, but I don't see it in the Sentry UI.

[code]

I will investigate where to put the error message so you can see

[2021-11-04 08:18] philipphofmann commented on #1031
Should be fixed now.

[2021-11-04 08:18] #1031 closed

[2021-11-05 09:06] philipphofmann opened #1445 "Add App Clip to Sample Project(s)"
One of the apps should include an app clip that we can crash on request. This would give us more samples of what those builds look like but also a real idea if we can symbolicate such crashes.

Related to https://github.com/getsentry/sentry/pull/29704

[2021-11-05 10:08] philipphofmann opened #1446 "Add missing unit tests for SentryUIViewControllerSwizziling"
The test coverage for SentryUIViewControllerSwizziling is not even close to 100%. Let's add some tests to cover `swizzleRootViewControllerFromAppDelegate` and `swizzleRootViewController`.

[2021-11-05 22:45] bruno-garcia commented on #1445
I believe it's what @jan-auer is looking for.

[2021-11-07 05:26] ialimz commented on #1346
Crash still exists in 7.5.1
Any idea?

<img width="290" alt="Screen Shot 2021-11-07 at 8 56 02 AM" src="https://user-images.githubusercontent.com/17988710/140633539-656159d5-4e54-4684-ac80-27d5bb5233a2.png">

[code]

[2021-11-07 06:03] ialimz opened #1448 "EXC_BAD_ACCESS setState crash"
### Environment
self-hosted
SDK: sentry-cocoa 7.5.1

### Steps to Reproduce
Unknown

### Crash Report
setState crash that has been fixed in 7.4.1 version, still is raising in 7.5.1

<img width="290" alt="Screen Shot 2021-11-07 at 8 56 02 AM" src="https://user-images.githubusercontent.com/17988710/140633539-656159d5-4e54-4684-ac80-27d5bb5233a2.png">

[code]

[2021-11-08 00:57] eric commented on #809
How can I get a reference to `SentryOptions` to change `enabled` from the `SentrySDK` object at runtime after I've initialized the `SentrySDK`?

[2021-11-08 08:16] marandaneto commented on #1438
Android offers `device.language` with the eg `en_US` format, and `device.timezone` with the eg `Europe/Paris` format.

[2021-11-08 08:44] philipphofmann commented on #1448
Thanks, @ialimz, for opening this issue. Does this only happen on specific iOS versions? How often does this happen?

This is related to https://github.com/getsentry/sentry-cocoa/pull/1354.

[2021-11-08 08:48] ialimz commented on #1448
@philipphofmann hope this tags help you. It seems no specific version has made this crash

<img width="340" alt="Screen Shot 2021-11-08 at 12 16 12 PM" src="https://user-images.githubusercontent.com/17988710/140711355-08cb6015-083a-4292-971a-73498df1a80e.png">

[2021-11-08 08:50] #1375 closed

[2021-11-08 08:50] ialimz commented on #1448
16 crashes and 16 users have been affected out of 600 users adopted to this release

[2021-11-08 08:51] philipphofmann commented on #1282
Was fixed with https://github.com/getsentry/sentry-cocoa/pull/1439

[2021-11-08 08:51] #1282 closed

[2021-11-08 08:56] philipphofmann commented on #1000
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-11-08 08:56] #1000 closed

[2021-11-08 08:58] philipphofmann commented on #987
This is not always needed as some things are not achievable with Dynamic.

[2021-11-08 08:58] #987 closed

[2021-11-08 09:00] philipphofmann commented on #804
As we don't have this on our roadmap currently, I'm going to close this. We can open another issue when this again comes up.

[2021-11-08 09:00] #804 closed

[2021-11-08 09:08] philipphofmann commented on #660
Hey, @jkmassel, according to your [Podfile](https://github.com/wordpress-mobile/WordPress-iOS/blob/ddbaa60761a136a8c2b7f910b8cc7cea0a59e72c/Podfile.lock#L433), you already upgraded Sentry to `6.2.1`. Do you still need this feature?

What about you, @shiki and @mokagio, are you still blocked?

[2021-11-08 09:10] philipphofmann commented on #257
I think this should be fixed already. Please open it again @willemfrishert if you still experience the issue.

[2021-11-08 09:10] #257 closed

[2021-11-08 09:20] philipphofmann commented on #427
As we have now
* `enableAutoSessionTracking`
* `enableOutOfMemoryTracking`
* `enableAutoPerformanceTracking`
* `enableNetworkTracking`
* `enableSwizzling`

I think we should add `enableAutoBreadcrumbTracking` to `SentryOptions`. Do you agree @brustolin and @bruno-garcia?

[2021-11-08 09:23] philipphofmann commented on #427
Please also update the docs after fixing this.

[2021-11-08 09:29] philipphofmann commented on #486
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-11-08 09:29] #486 closed

[2021-11-08 09:30] philipphofmann commented on #572
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-11-08 09:30] #572 closed

[2021-11-08 09:32] philipphofmann commented on #778
@koenpunt, can you please reply to @bruno-garcia question:

[2021-11-08 09:38] philipphofmann commented on #951
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-11-08 09:38] #951 closed

[2021-11-08 09:38] marandaneto commented on #1319
cc @philipphofmann

[2021-11-08 09:44] philipphofmann commented on #1319
Hey @otusweb, can you please give us more context on this issue please? You stated that you use JavaScript 5.11.1 and .NET 1.2.0. Can you please let me know which Cocoa version you use? We have done several bug fixes since you opened this issue. It could be that it is already fixed now.

[2021-11-08 09:46] philipphofmann commented on #1285
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-11-08 09:46] #1285 closed

[2021-11-08 10:15] philipphofmann commented on #1364
Sorry, @bdrelling for the late response. The `diagnosticLevel` is only about the SDK diagnostics logs. It has nothing to do with what gets sent to Sentry. You can use [`beforeSend`](https://docs.sentry.io/platforms/apple/configuration/filtering/) to filter events.

I consider your question as answered and therefore close this issue. Please open it again if you need more information.

[2021-11-08 10:15] #1364 closed

[2021-11-08 10:24] philipphofmann commented on #1448
Thanks for the info @ialimz. We are going to have a look. I suggest that you disable `SentryOptions.enableNetworkTracking` to avoid these crashes for now.

[2021-11-08 12:15] marandaneto commented on #1319
@philipphofmann you can trace back the Cocoa version and stack trace by opening the linked issue (issue description) on sentry, Crash happens on SentryCrashJSONCodecObjC#encodeObject

[2021-11-08 12:17] marandaneto commented on #1319
@otusweb does your app call `SentryCrash setUserInfo` manually? what's the data type/structure of your objects?

[2021-11-08 12:48] philipphofmann commented on #1448
Hey @ialimz, can you please post a screenshot of the stacktrace in Sentry or, better share the issue in Sentry with us here. The stacktrace above is mainly redacted.

[2021-11-08 13:17] philipphofmann commented on #1448
Thanks, @eofs, for the stacktrace. Thread 17 shows the scope sync from the SDK to SentryCrash. Whenever you change something in the Scope, which is adding a breadcrumb here, we sync that information into C memory to SentryCrash. We need to do that because a crash could happen at any time, and we can't touch ObjC memory anymore when we are crashing.

Nevertheless, it shows us that the KVO was worki

[2021-11-08 13:25] koenpunt commented on #778
I'm no longer working on the project that required this, but AppStore builds won't have a `embedded.mobileprovison` file in the app bundle, so that could be a way to distinguish them from enterprise builds.

[2021-11-08 13:35] eofs commented on #1448
@philipphofmann You're welcome! Yes, we're running multiple requests concurrently in different threads (downloading images & assets, uploading data etc). The crash occurs randomly: sometimes the app crashes shorty after a start, sometimes it takes hours to trigger. To me the multi-thread observing sounds like a plausible cause and requires a specific race condition to occur. Hope this helps!

[2021-11-09 04:13] EdgarDegas commented on #1346
@ialimz Which version were you using before 7.5.1?

[2021-11-09 04:59] ialimz commented on #1346
@philipphofmann 7.3.0

[2021-11-09 05:08] mokagio commented on #660
Hey @philipphofmann 👋 @jkmassel and I work on the same on the infrastructure for the WordPress and other Automattic apps.

We ended up replicating part of that functionality by ourselves in order to migrate from 4.x to 6.x. Still, having native SDK support of some kind of "after send" hook would be very much appreciated 😄

[2021-11-09 05:22] mokagio opened #1451 "Suggestions: Expose `currentHub` getter"
## Question

Since [version 7.x removed the `currentHub` and `setCurrentHub` from `SentrySDK`](https://docs.sentry.io/platforms/apple/migration/#migrating-from-6x-to-7x), what's the way to get a reference to the current hub now?

## Context

With version 6, we use the hub to get a reference to the current client and current scope in order to attach stack traces to events we log manually.

This rel

[2021-11-09 05:24] mokagio commented on #660
Regarding whether I'm still blocked, which I'm guessing is because of the title of the issue in which I mentioned this one (https://github.com/Automattic/Automattic-Tracks-iOS/issues/181), the answer is yes, but only tangentially relates to this one.

I opened a new issue about it #1451. Thank you for following up @philipphofmann 👍

[2021-11-09 08:32] philipphofmann commented on #1435
As we didn't hear anything for a while, we are going to close this issue. Feel free to open it again.

[2021-11-09 08:32] #1435 closed

[2021-11-09 09:52] philipphofmann commented on #1451
Hey @mokagio,

how do you currently attach the stacktrace to the event?

Can't you do something like?
[code]

I would be interested in why you attach stacktraces manually.

[2021-11-09 14:05] albertinad commented on #406
Is there any ETA on when Sentry SDK for watchOS would handle and report crashes? We are using Sentry in our technology stack, but if it still doesn't support handling crashes we would need to use another service in our watchOS app :( Thanks!

[2021-11-09 20:01] bruno-garcia commented on #1346
I believe it might be a dupe but reopening so @philipphofmann @brustolin can double check

[2021-11-10 13:21] philipphofmann commented on #406
Sorry to hear that @albertinad. I can't give you an ETA at the moment. You asking for this definitely gives this a bit of a higher priority.

[2021-11-10 15:08] philipphofmann commented on #1437
Let's not add it to the scope.

If you capture an error or message event and there is a transaction event on the scope (`scope.span`), the `event.transaction` should match the name of the transaction on the scope (`scope.span`).
When the transaction completes make sure to restore the previous value.

[2021-11-10 15:13] philipphofmann opened #1453 "Create meaningful SentryEvent.transaction name for SwiftUI"
The SentryEvent.transaction for SwiftUI produces an ugly long transaction tag see
<img width="723" alt="Screen Shot 2021-11-02 at 15 46 35" src="https://user-images.githubusercontent.com/2443292/139870393-ea7c74f8-28f6-4683-8893-a76d157cdfc5.png">

We should find out how to convert this to a user-friendly name. Related to https://github.com/getsentry/sentry-cocoa/issues/1437

[2021-11-11 12:57] philipphofmann commented on #1346
This is the same issue as https://github.com/getsentry/sentry-cocoa/issues/1448. I'm going to close this.

[2021-11-11 12:57] #1346 closed

[2021-11-12 09:44] philipphofmann commented on #809
@eric use `SentrySDK.isEnabled` to find out if it is enabled and use `SentrySDK.close()` to disable/close it.

[2021-11-12 09:47] philipphofmann commented on #1319
I think this should be fixed with #1193 in 7.2.0. Feel free to reopen this issue @otusweb if it still exists.

[2021-11-12 09:47] #1319 closed

[2021-11-12 09:47] #1445 closed

[2021-11-15 06:03] tmm1 commented on #1336
Wasn't SentryOptions.enableNetworkTracking added for this?

[2021-11-15 13:38] philipphofmann commented on #1336
Currently, you can use `SentryOptions.enableNetworkTracking` to disable the breadcrumbs, but this feature should only be related to performance monitoring. It should be possible for you to disable network tracking but still get HTTP breadcrumbs. @tmm1.

https://github.com/getsentry/sentry-cocoa/blob/4499a316e36d7dfb355678e97303bacb32e8949f/Sources/Sentry/SentryNetworkTrackingIntegration.m#L12-L17

[2021-11-15 13:51] philipphofmann commented on #660
@jkmassel and @mokagio, do you want to do something with the event after the SDK sent it to Sentry? As far as I understand, do you want to make sure the SDK sends the event to Sentry for crash-on-launch bugs?

We had already had discussions about a similar feature. When there is a crash block, the SDK init until the SDK sends the crash report to Sentry. In such a case it would be fine to slow down

[2021-11-16 06:48] mafreud commented on #1185
I am in the same situation.

[2021-11-16 12:00] philipphofmann opened #1458 "test: Integration Tests for Adding Spans for Web Requests"
The [SentryNetworkTracker](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryNetworkTracker.m) tracks the performance of web requests using swizzling, which comes with the risk of breaking web requests. Therefore we should add integration tests to make sure we don't break web requests.

### Functional requirements

1. The tests shall validate that the SDK creates spans wit

[2021-11-16 13:35] philipphofmann commented on #1185
Thanks, for reporting this. I'm going to reopen this again. Most likely this is due to `exit(0)`, which our current OOM logic can't detect reliably. We need to investigate how we can fix these false OOMs. Sorry about the inconvenience.

[2021-11-16 13:36] savv commented on #1185
@philipphofmann see https://github.com/getsentry/sentry-react-native/issues/1830#issuecomment-957871432 and https://github.com/getsentry/sentry-react-native/issues/1830#issuecomment-963348497

This does not exclusively happen with exit(0) (which is anyway not allowed on iOS).

[2021-11-16 19:24] eric opened #1459 "Question: How can I attach a log file to out of memory events?"
_Platform:_
- [x]  iOS
- [x]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [ ] Swift Package Manager
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**7.3.0**

---

I would like to provide additional log files for my exceptions that are due to out of memory issues.

I have added a `beforeSend` ho

[2021-11-17 07:54] philipphofmann commented on #1459
Hi @eric,

Sadly that's currently not possible. Other SDKs make that possible using [hints](https://docs.sentry.io/platforms/python/configuration/filtering/#event-hints), which we didn't add yet to the Cocoa SDK, because we had internal discussions about hints in general.

I also can't think of a reliable workaround for this.

[2021-11-17 07:58] philipphofmann opened #1460 "feat: Add Attachments in beforeSend"
Currently, adding attachments in beforeSend is not possible, because the Cocoa SDK doesn't have hints as for example, [Python](https://docs.sentry.io/platforms/python/configuration/filtering/#event-hints) does. Either we add hints or the SDK should offer another way of adding attachments in beforeSend. Furthermore, it would be nice to also drop attachments in beforeSend.

This came up in https://g

[2021-11-17 07:59] #1459 closed

[2021-11-17 13:41] philipphofmann commented on #1235
The following repo might be helpful for getting the connection type https://github.com/Isuru-Nanayakkara/Reach

[2021-11-17 13:51] philipphofmann commented on #1185
Thanks, @savv for pointing that out.

https://github.com/getsentry/sentry-react-native/issues/1830#issuecomment-957871432:

I found two potential problems. First, maybe we don't pass the release name properly down from hybrid SDKs to Cocoa
https://github.dev/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryOutOfMemoryLogic.m#L50-L53

Second, maybe we don't receive the willTerminateNotificat

[2021-11-17 14:49] philipphofmann commented on #1247
[Java](https://github.com/getsentry/sentry-java/blob/61ea65371ae9c7ea52ecefcc6b67817f47f4c042/sentry-logback/src/main/java/io/sentry/logback/SentryAppender.java#L60-L120), [.NET](https://github.com/getsentry/sentry-dotnet/blob/6b080dcd7091abb17dc987d759080261384303c0/src/Sentry.Extensions.Logging/SentryLogger.cs#L34-L126), Python already have a similar feature. We need to investigate how we can ho

[2021-11-17 14:51] fzyzcjy commented on #1247
I am not pretty sure how to achieve this, since I am not an expert in ios (but mostly doing flutter things). Your suggestions seem promising!

[2021-11-17 14:54] philipphofmann opened #1461 "Capture Logs from OSLog as Breadcrumbs"
Similar to https://github.com/getsentry/sentry-cocoa/issues/1247, but for [os_log](https://developer.apple.com/documentation/os/logging?language=objc).

[2021-11-17 15:08] philipphofmann commented on #1336
Add the flag `enableNetworkBreadcrumbs` to SentryOptions default is `true`. When `SentryOptions.enableNetworkTracking` is disabled or no tracesSampleRate is set, the SDK still adds breadcrumbs for network requests. When `enableSwizzling` is disabled the SDK doesn't add breadcrumbs for network requests.

[2021-11-17 16:38] joekw opened #1462 "Sentry can cause app to hang on launch (getReceiptUrlPath)"
### Environment

How do you use Sentry?
self-hosted/on-premise (9.1.2)

Which SDK and version?
Sentry-cocoa 5.2.2

We've had some reports from users that our iOS app is hanging on launch and eventually being terminated by the system. One such report is shown below. It looks like this is due to the -[NSBundle appStoreReceiptURL] line.
I've found similar reports on the Firebase repos:
https://github

[2021-11-18 09:32] philipphofmann commented on #1462
@joekw, some users on Firebase were reporting that they are using Unity. Do you also use Unity or any other SDKs on top of iOS?

[2021-11-18 09:43] philipphofmann commented on #1462
We use the `getReceiptUrlPath` for getting the `getBuildType`.

https://github.com/getsentry/sentry-cocoa/blob/4499a316e36d7dfb355678e97303bacb32e8949f/Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m#L456-L472

[2021-11-18 09:47] philipphofmann commented on #1462
Where do you initialize the SentrySDK @joekw? We recommend initializing it in AppDelegate `application:didFinishLaunchingWithOptions`, see https://docs.sentry.io/platforms/apple/guides/ios/. I don't see `application:didFinishLaunchingWithOptions` in your stacktrace.

[2021-11-18 13:52] joekw commented on #1462
No, we don't use Unity or any C++ runtime.

Ah, that'll be the unsymbolicated part on line 26, 27. We do initialise it in `application:didFinishLaunchingWithOptions`.

[2021-11-19 09:39] philipphofmann commented on #1448
Before fixing this issue we need to fix the following issues to make sure https://github.com/getsentry/sentry-cocoa/pull/1452 doesn't introduce new bugs:

- [ ] https://github.com/getsentry/sentry-cocoa/issues/1458
- [ ] https://github.com/getsentry/sentry-cocoa/issues/1344
- [ ] https://github.com/getsentry/sentry-cocoa/issues/1345

[2021-11-22 11:02] #1344 closed

[2021-11-22 13:32] philipphofmann commented on #1462
I see that you are using `sentry-cocoa 5.2.2`. We didn't change the code, most likely causing this bug, but it's worth asking: Does this also happen on more recent versions?

It seems like this is related to Xcode 13, and it could be a bug in `[NSBundle appStoreReceiptURL]`. As pointed out earlier, we use this to get the build type. I need to do some further investigation if we can replace the log

[2021-11-22 14:26] rickafds commented on #1185
Same problem here

[2021-11-22 15:28] philipphofmann opened #1468 "test: UI Tests for UIViewControllers in SauceLab"
Swizzling UIViewControllers brings a high risk of breaking customers. To avoid regressions and bugs we can add the most common UIViewControllers to sample apps and test them with UITests.

We can split this task up into multiple stages:

- [x] https://github.com/getsentry/sentry-cocoa/issues/1469
- [x] #1470
- [x] #1479
- [x] #1512

[2021-11-22 15:34] philipphofmann opened #1469 "test: Add different types of UIViewControllers to Sample App"
Add the following to the iOSSwift sample app with some content:

* NavigationController
* SplitViewController
* TableViewController
* UIViewController initialized with a convenience init

Please add a back button, so the UITests can easier navigate back from each of the UIViewControllers.

If possible also add some of the above view controllers to the tvOS sample.

[2021-11-22 15:38] philipphofmann opened #1470 "test: Add UI tests for the UIViewControllers in Sample App"
Navigate to the UIViewControllers added in #1469 and make sure they are correctly loaded. Run these tests in SauceLab.

Don't validate transactions or spans created by the Sentry SDK.

[2021-11-22 22:00] alokedesai opened #1472 "Signals are still reported as error even if they are ignored"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Which SDK and version?
sentry.cocoa 7.0.3

### Steps to Reproduce
1. Explicitly ignore `SIGIPE`: `signal(SIGPIPE, SIG_IGN)`
2. Send `SIGPIPE` to the process (`kill -SIGPIPE {pid}`)

### Expected Result

No crash in sentry--the signal was explicitly ignored by Sentry.

### Actual Result

A fatal crash in Sentry--I think this because S

[2021-11-23 09:04] philipphofmann opened #1474 "Integration Tests of Main Use Cases of Web Requests"
The auto instrumentation of web requests already has a good set of unit tests. As the code uses swizzling, we should add more tests to ensure the solution is working properly.

- [x] https://github.com/getsentry/sentry-cocoa/issues/1463
- [x] https://github.com/getsentry/sentry-cocoa/pull/1465
- [x] https://github.com/getsentry/sentry-cocoa/issues/1486
- [x] https://github.com/getsentry/sentry-coc

[2021-11-23 13:54] philipphofmann opened #1476 "test: Enable Thread Sanitizer"
Enable Thread Sanitizer when running the tests in Xcode. This will help us to detect race conditions early.

[2021-11-23 14:59] #1448 closed

[2021-11-23 15:38] philipphofmann commented on #1472
Thanks for reporting this issue, @alokedesai. Would you please elaborate on why you want to ignore `SIGIPE` explicitly?

[2021-11-23 16:27] alokedesai commented on #1472
I work at [warp.dev](https://www.warp.dev/)--our app is written in Rust with a very thin layer of Objective C. Rust by default ignores Sigpipe (see https://github.com/rust-lang/rust/pull/13158), so it's not even something we're configuring directly it's more a function of our stack. Generally, my understanding is that you should be ignoring `SIGPIPE` unless you're writing a CLI app since you don't

[2021-11-23 19:42] brustolin commented on #1353
This was solved with #1452

[2021-11-23 19:42] #1353 closed

[2021-11-23 19:45] brustolin commented on #1469
Our tvOS sample uses SwiftUI.
I believe we should create another sample with Storyboard and ViewControllers to properly test this interactions.

[2021-11-23 19:46] brustolin opened #1479 "test: Validate in UI tests that the SDK creates proper transactions with the correct spans."
Ui Tests for our iOS-Swift sample should validate whether transactions are being created for each view controller that is initialized.

[2021-11-24 09:13] philipphofmann opened #1482 "test: Run Performance Tests in CI"
The unit tests contain a few performance tests. These tests need baselines stored in [xcbaselines](https://github.com/getsentry/sentry-cocoa/tree/master/Sentry.xcodeproj/xcshareddata/xcbaselines). Xcode only uses these baselines if the type of machine in the [Info.plist](https://github.com/getsentry/sentry-cocoa/blob/47cb76bbef9ec9ae04f653765d3bb0f596f22b59/Sentry.xcodeproj/xcshareddata/xcbaseline

[2021-11-24 09:31] #1345 closed

[2021-11-24 14:42] philipphofmann commented on #1185
When closing the SDK we only remove the observers

https://github.com/getsentry/sentry-cocoa/blob/67eabc633b23d9a6727399910aea972deb1c02e3/Sources/Sentry/SentryOutOfMemoryTracker.m#L105-L110

but the SDK should properly set the app state so on the next start it doesn't generate an OOM.

[2021-11-24 14:48] philipphofmann commented on #660
Related to
* https://github.com/getsentry/sentry-javascript/issues/2939
* https://github.com/getsentry/sentry-dart/issues/352

[2021-11-24 15:03] philipphofmann commented on #1460
Hints could be its own class extending a dictionary with methods for adding an attachment. Before implementing this we still need to investigate the use cases of hints in the Cocoa SDK. Look at Python and Android.

How this could look like with hints:
[code]

[2021-11-24 16:27] philipphofmann commented on #1173
Related to https://github.com/getsentry/sentry-java/issues/1811

[2021-11-24 16:42] philipphofmann commented on #1469
I agree. Can you please create an issue for that and add it to the list in https://github.com/getsentry/sentry-cocoa/issues/1468.

[2021-11-24 16:47] philipphofmann commented on #1472
Thanks, @alokedesai, for the detailed explanation.

@Swatinem, you know more about signal handlers than me. Does this change make sense to you?

[2021-11-24 18:32] sindresorhus commented on #1442
.

[2021-11-24 18:32] sindresorhus commented on #1442
Please keep open.

[2021-11-24 20:13] brustolin opened #1485 "Create a tvOS sample that uses Storyboard and ViewControllers"

[2021-11-25 09:43] Swatinem commented on #1472
I think thats a reasonable thing to do (check the previous signal handler, and essentially forward the *ignore*)

[2021-11-25 12:58] brustolin opened #1486 "Use SwiftLocalHost instead of Vapor"
Instead of using Vapor as an external server to create integration tests, we can use [SwiftLocalHost](https://github.com/depoon/SwiftLocalhost) or other similar solution that runs on the same process. This way we can assert data sent to the server.

[2021-11-25 12:59] philipphofmann commented on #1472
We will put this on our backlog @alokedesai. This seems like a quick win, but we can't give you an ETA at the moment. Of course, we are happy to accept PRs 😀.

[2021-11-26 03:46] alokedesai commented on #1472
I'm happy to send a PR for this, @Swatinem though just to confirm we're on the same page--it's not that we need to forward the ignore, it's that we should check if the existing handler is `SIG_IGN` and, if so, not intercept the signal or try to send a crash.

[2021-11-26 09:55] Swatinem commented on #1472
Ah okay, maybe there was a bit of confusion. Checking the current handler and skipping registering our own would be good as well.

[2021-11-26 12:05] #1446 closed

[2021-11-26 13:33] #1469 closed

[2021-11-26 13:33] #1470 closed

[2021-11-26 14:25] alokedesai commented on #1472
I'

[2021-11-29 00:30] alokedesai commented on #1472
Just sent out a very simple diff for this https://github.com/getsentry/sentry-cocoa/pull/1489. Would love ideas/links on how to add tests for this since it requires a real executable for correct signal handling.

[2021-11-29 11:42] brustolin commented on #1173
I believe we should tie a transaction with its target. If the target get out of scope we finish the transaction.
waitForChildren currently is only used for UI transactions.
We create this transactions at ViewController 'loadView' or 'viewWillAppear'. Let's say we have a child span that never ends, we have only one transaction in memory hanging forever, this will not really cause a memory problem.

[2021-11-29 21:34] rnystrom opened #1490 "API to snapshot active threads"
I see that the Sentry SDK has the ability to capture stack traces for threads internally. I'd love to be able to use this in our app as we already use Sentry (as opposed to importing another library that does the exact same thing). As far as I can tell, these mechanisms are private to the SDK right? Any suggestions on ways to access or hack-around the SDK and get the ability to capture the state o

[2021-11-30 07:19] #1185 closed

[2021-11-30 08:51] EmDee commented on #406
@philipphofmann If asking is giving this a bit higher priority, then I'm asking as well.

The docs are extremely confusing, as they seem to be auto-generated for all OS', e.g. https://docs.sentry.io/platforms/apple/guides/watchos/ has two small hints that crash handling is not supported, but then there is this big `Crash handling` section in here. Same goes for the marketing in https://sentry.io/f

[2021-11-30 10:24] philipphofmann commented on #406
Thanks for pointing that out, @EmDee. I raised an issue (https://github.com/getsentry/static-sites/issues/779) to fix this for our marketing https://sentry.io/for/watchos/. The repository for static sites is internal, though.

I also opened up a PR for the docs to remove the section on crash handling to avoid confusion https://github.com/getsentry/sentry-docs/pull/4448.

[2021-11-30 10:35] philipphofmann commented on #1490
Hey, we have an internal class called `SentryThreadInspector`, that gets the current threads with the stacktrace only for the current thread. We don't add the stacktrace for all threads, because doing that would require pausing all threads, which we don't want to do for every captureSomething invocation.

https://github.com/getsentry/sentry-cocoa/blob/eec5e4a78f73de42be352f3c17dbb2646fe94d55/Sourc

[2021-11-30 10:53] philipphofmann commented on #1451
Any updates @mokagio?

[2021-11-30 11:03] philipphofmann commented on #597
@bb-git, agree see https://github.com/getsentry/sentry-cocoa/issues/316

[2021-11-30 11:04] philipphofmann commented on #316
When the app crashed on a previous run, it makes sense to make the SDK init blocking to make sure the SDK sends the crash to Sentry. The downside is that this will cause slow down the app start. As this only happens after the app crashes, this tradeoff is acceptable.

[2021-11-30 14:39] lukeredpath commented on #1442
Is there any plans to make it possible to customise this? Only being able to see "Code: X" makes it very difficult to scan through a long list of errors, I'd much rather it showed the error description if one is available, or both, e.g. "Some important error (code: 1)".

[2021-11-30 15:06] philipphofmann commented on #1482
As pointed out by @bruno-garcia, running performance tests in CI is maybe not the best idea, as you don't have full control over how busy the CI machine is. Maybe it's better to have a dedicated self-hosted machine only running the performance tests. When having remote access to this machine setting up the xcbaselines is going to be straightforward.

[2021-11-30 16:38] philipphofmann commented on #1442
Thanks for opening #1496 for trying to fix this issue, @lukeredpath. Unfortunately, I think we can't go forward with your PR, and we might have to close it. Here is why.

Before 6.0.0, the SDK used the localized description for the event message. With #750 in [6.0.0](https://github.com/getsentry/sentry-cocoa/releases/tag/6.0.0) we started to use the error domain and code for the event message. We

[2021-11-30 16:53] lukeredpath commented on #1442
@philipphofmann unfortunately what you propose isn't really a solution to the problem at hand. We already inject all of that additional user info data into a context.

The problem is easily identifying errors from the error/issue list - "Code: x" just isn't that helpful as it requires you to cross-reference with your source code - even worse, unless you explicitly define the error codes for your c

[2021-11-30 17:16] sindresorhus commented on #1442
Using `.code` makes sense for actual `NSError`'s coming from the system, but it's meaningless for Swift errors where it's always `1`:

[code]

[2021-11-30 17:17] rnystrom commented on #1490
Thanks @philipphofmann! I implemented your solution and it works like a charm, but missing other thread info is what I'm also interested in. I'll do some more exploring, your point about not stalling other threads makes a lot of sense.

[2021-11-30 17:17] #1490 closed

[2021-11-30 17:25] lukeredpath commented on #1442
Just experimenting with this a bit more and I wonder if it might make more sense to use an existing Foundation key - `NSDebugDescriptionErrorKey` - instead of a custom key. Semantically this feels like the appropriate thing to use and should also mean any system errors that set this will get a more meaningful (non-localized) description and its easy for users to conform their existing errors to pr

[2021-12-01 13:53] philipphofmann commented on #1442
Thanks, @lukeredpath, and @sindresorhus, for your input. I think we have a few problems to solve here.

1. Swift enums that conform to Error do not have a deterministic error number. Are you sure about that? If so, you get different issues for different builds, which would be bad.
2. Cross-referencing with your source code is annoying, and we should improve it.

While `NSDebugDescriptionErrorKey`

[2021-12-01 14:42] bruno-garcia commented on #316
We tried to address this in the .NET SDK with [InitCacheFlushTimeout](https://docs.sentry.io/platforms/dotnet/configuration/options/#init-cache-flush-timeout). It solves the problem there but with a side effect that it blocks on any pending envelope o disk, which is suboptimal. Now we have that learning, we can improve on this a bit. Perhaps adding a flag/file if the crash happened N seconds after