[2020-01-09 15:19] benguild commented on #356
@fetzig which version fixes this? will update our pod

[2020-01-09 16:05] fetzig commented on #369
Thanks for clearing that up.

[2020-01-09 16:16] lhunath commented on #369
With this issue closed, can I expect the next version of Sentry to work reliably with the sanitizers enabled?

[2020-01-09 16:26] fetzig commented on #356
Wontfix

[2020-01-09 18:48] lhunath commented on #364
I mean, ideally KSCrash / Sentry ought to play nice alongside other crash monitors or at the very least inform the developer of the fact that it's done something bad.

[2020-01-09 19:04] fetzig commented on #369
Oh sorry. Thought we were on the same page.

Diagnostic/debug/profiling features don’t play well with sentry(-cocoa). Same with debugger or running it in simulator. Since sentry is intended for production envs (no debugger, diagnostics a.s.o), this is nothing we have on our radar.

Thought you realized that as well. That’s why I closed the issue. (Even though it might be possible to add this as a

[2020-01-09 19:13] fetzig commented on #364
Evidently this isn’t clear for everyone. Including activation of diagnostics a.s.o. (See your second issue).

Will try and check if we can improve docs.sentry.io. reopen this as reminder.

[2020-01-09 19:41] lhunath commented on #364
You could mention it in the docs, "don't use Sentry alongside any other KSCrash-based solutions, such as Bugsnag", but that feels very much like giving up and covering up the real problem with a, "hey, just don't bend that way".  Also, is the issue actually related to KSCrash or would it surface in other cases as well such as custom application code?

A real fix would ensure that this issue cannot

[2020-01-09 19:48] lhunath commented on #369
I suppose that's fair reasoning.  Though I'd worry a tiny bit about whether this is a red flag suggesting that there might be a fragility in the stack resolution / report generation code that might get triggered by other situations as well.  Up to you - unfortunately I haven't the resources to chase this rabbit to the end.

[2020-01-09 19:57] #369 closed

[2020-01-09 20:40] fetzig commented on #364
This has much to do with the way errors/exceptions/a.s.o. are handled in programming languages (in our case swift, c, c++, obj-c, obj-c++) and the cocoa ecosystem. Those have "limitations", some of them by design. And that results in certain "limitations" in the blocks that are build on top. I.e., KSCrash can't be installed twice in a single process/app. Can't imagine a use case for installing KSC

[2020-01-09 20:40] #364 closed

[2020-01-10 09:16] fetzig commented on #361
thx for the data. I will try to check this out next week, but can't give any guarantees. everybody is invited to make PRs :)

[2020-01-10 13:14] ryan-noths opened #370 "Generation of stack trace and breadcrumb is nil in clients created by user"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> Swift 5.0
- [ ]  No

_sentry-cocoa installed with:_
- [x] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.4.3**

---
I have following issue:

I have an application where I'd like to send Sentry events to two different Sentry projects (i.e. two separate instances

[2020-01-10 13:18] ryan-noths opened #371 "snapshotStacktrace silently failing"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> Swift 5.0
- [ ]  No

_sentry-cocoa installed with:_
- [x] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.4.3**

---
I have following issue:

`snapshotStacktrace` completion handler not being called during a send event
I now know that it was because `startCrashHa

[2020-01-12 07:01] gabors commented on #361
@fetzig
Interesting that you have this code, which looks correct

from SentryContext.m

[code]

[2020-01-12 07:15] gabors commented on #361
@fetzig

I think I found the issue, in SentryContext.m we have

[code]

[2020-01-12 17:26] Eysner commented on #280
@fetzig
Is there any way to get crash files for processed it manually?

[2020-01-12 17:27] benguild commented on #356
Why? It seems like it's a quick fix, no?

[2020-01-12 17:39] Eysner commented on #274
We have same problem.

**Uploading log:**
[17:01:05]: sentry-cli 1.49.0 installed!
[17:01:05]: Starting sentry-cli...
[17:01:14]: > Found 77 debug information files
[17:01:15]: > Prepared debug information files for upload
[17:01:16]: > Nothing to upload, all files are on the server
[17:01:16]: > No new debug symbols to associate.
[17:01:17]: Successfully uploaded dSYMs!

But in website, we didn't

[2020-01-12 22:22] fetzig commented on #356
Feel free to send a PR.

[2020-01-13 14:03] fetzig commented on #361
@gabors was unable to reproduce this since I was always testing with actual crashes. which works fine (os.name=tvOS). rereading your comments, I realized this happens when sending events/messages manually. Now I finally got it reproduced and verified.

But to figure out what's wrong with the crash:true value, we have to dig deeper.

Can you create a new ticket for this and add the code responsible

[2020-01-13 15:23] fetzig commented on #356
forgot to put my notes in here. they might help is somebody is considerin to contribute a PR for this:

 * can't reproduce the warning (not when building sentry or a project that uses sentry via cocoapods).  not with 4.4.1 or 4.4.3. most likely a configuration issue.
 * we would need additional error handling. examples: https://stackoverflow.com/questions/10615950/implicit-conversion-loses-integer

[2020-01-13 17:32] fetzig commented on #370
Hi @ryan-noths!

Thx for your issue. Will try and get back to you by the end of the week (or sooner, hopefully).

Regards,
@fetzig

[2020-01-13 17:39] fetzig commented on #371
To make sure I don't waste your time: Since `snapshotStacktrace` will be dropped in 5.x, further improvement will most likely not happen. A completely backward compatible PR might still get in 4.x.

Be that as it may, I don't know what exactly is expected. "errorHandler of some kind"...what does that mean? Throwing an exception that needs to be caught by the user/sdk-consumer is not backward compa

[2020-01-13 17:42] fetzig commented on #371
Please elaborate if you found a case where this log message isn't showing up: https://github.com/getsentry/sentry-cocoa/blob/9198a7278273bf7051e5fe8ddf962af4e2482b00/Sources/Sentry/SentryClient.m#L506

[2020-01-14 14:15] fetzig commented on #370
this sucks! we know. working hard on improving this in `5.x`. I hope you are one of the first to check it out when the alpha ships.

In `4.x` automated breadcrumb tracking and crash handler work only with `Client.shared`. Thus working on `5.x` aka. #339.

To give you a little sneak peek on how you could accomplish this with `5.x`. Init Sentry and create 2 Sentry Clients you retain yourself (one fo

[2020-01-14 14:53] fetzig commented on #361
@gabors thx for your contribution. just merged the changes to `master`. I will close this issue now and expect to release `4.4.4` by the end of the week.

[2020-01-14 14:53] #361 closed

[2020-01-14 18:18] gabors commented on #361
Perfect, thanks for having the SDK source available @fetzig

[2020-01-20 00:10] benguild commented on #356
Have you tried shipping an app? Here's a sample `Podfile`:

[code]

Steps to reproduce in Xcode 11.3 (11C29):
1. Create a project in Xcode ("Single View App" etc.), no source code or configuration changes are necessary the defaults are fine.
2. Run `pod install` with that "Podfile" in the root of the project folder.
3. Open `.xcworkspace` and go to `Product > Archive` in the menus.
4. The warning

[2020-01-21 11:42] fetzig commented on #356
The only warning I get is "Pods.xcodeproj Enable Base Internationalization".

I know the warning, but not form the file you got it from, which makes this interesting. Since this is an Issue about a build warning (get 0 to ~100 build warnings depending on build settings), and I got no repo-steps for some time for this one, I closed the issue. Thanks for sending them now, but sadly they don't work.

[2020-01-22 07:10] benguild commented on #356
![image](https://user-images.githubusercontent.com/1185659/72872823-1baed580-3ca3-11ea-8b8a-f278d8b2d7c8.png)

[2020-01-25 01:55] lhunath opened #378 "SentryClient.sharedClient.extra setter side effect can cause recursive loop"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.4.3**

---
I have following issue:

When assigning a value to `SentryClient.sharedClient.extra`, a `NSUserDefaultsDidChangeNotification` is fired.  This is not ideal since

[2020-02-13 03:25] ainopara opened #382 "SDK crash if event.extra contains a dictionary value with a non-string key"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5.1
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.4.1**

---
I have following issue:

SDK crash if event.extra contains a dictionary value with a non-string key
[code]
Sentry SDK recursive sanitize dictionary without check for its key
**Step

[2020-02-18 03:15] vinamelody opened #384 "Cocoapods link returns error 503"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [ x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.4.x**

---
I have following issue:
https://cocoapods.org/pods/Sentry returns HTTP error 503 causing new pod install stopped / error

<img width="957" alt="Screenshot 2020-

[2020-02-18 07:44] HazAT commented on #384
Thanks, I think this is a problem with cocoapods.org

[2020-02-18 07:44] #384 closed

[2020-02-19 20:33] mitjans commented on #356
Getting the same warning on Xcode 11.3.1, Swift 5.1.3 and Sentry 4.4.1/4.4.3

Will this be fixed in future versions?

[2020-02-20 14:44] kradenkov opened #386 "SDK crashes on unknown exception captured before"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [X]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [X]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [X] Manually

Version of sentry-cocoa:
**4.4.3**

---
I have following issue:
My customers occasionally cann't to lauch the app after some crash happen. The application recursively crashing until report files are re

[2020-02-26 15:46] larsschwegmann commented on #64
Is this possible by now?

[2020-02-27 08:52] #386 closed

[2020-02-27 09:11] #382 closed

[2020-02-27 12:03] ainopara opened #393 "Crash report contains breadcrumbs logged on next launch"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version? 5.1
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.4.3**

---
I have following issue:

Crash report contains breadcrumbs logged on next launch
Will this issue be automatically fixed when 5.x released?

**Steps to reprod

[2020-03-01 14:04] martin-1337 commented on #384
Hello, I am interest on a real solution and not on a work-a-round. This issues is still open.

[2020-03-01 14:23] martin-1337 opened #398 "Cocoapods link returns error 503"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**3.x.x**

---
I have following issue:

the webpage of cocoapods sends sometimes an error 503. example: https://cocoapods.org/pods/CryptoSwift this happened within a browser (s

[2020-03-02 09:03] HazAT commented on #384
@martin-1337 You can reach out to cocoapods, we are not responsible for the reliability of their registry or website. The solution I posted is a perfectly fine solution and not really a workaround, sorry if I called it like this.

[2020-03-02 09:04] #398 closed

[2020-03-02 09:04] HazAT commented on #398
https://github.com/getsentry/sentry-cocoa/issues/384#issuecomment-587324232

[2020-03-02 10:39] martin-1337 commented on #384
Hi, you are right. That have been not correctly addressed by my side, sorry!

And thanks for your rapid answer.

 

kr

martin-1337

 
 

Gesendet: Montag, 02. März 2020 um 10:03 Uhr
Von: "Daniel Griesser" <notifications@github.com>
An: getsentry/sentry-cocoa <sentry-cocoa@noreply.github.com>
Cc: martin-1337 <mschuermeyer@gmx.de>, Mention <mention@noreply.github.com>
Betreff: Re: [getsentry/sentry

[2020-03-03 01:57] diesal11 opened #400 ""invalid destination port" in SentryCrashCPU.c when calling snapshotStacktrace"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [X]  Yes -> If yes, which version? 5.0
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.4.3**

---
I have following issue:

Occasionally when generating a stackTrace to attach to an event some threads will fail to generate a stack.

**Steps to reproduce:**

[2020-03-07 13:33] Molyakos opened #405 "Unsymbolicated stack trace for Swift project"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5.1.3
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.4.1**

---
I have following issue:
When my app crashed, I getting unsymbolicated stack trace. But any library (RxSwift right now) is symbolicated. ObjC code also symbolicated. I.E. I gettin

[2020-03-12 20:02] jostster opened #406 "Crash reports not generated on watchOS"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [x ]  watchOS

_Swift:_
- [x 5.1]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [x ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**4.5.0**

---
I have following issue: I have sentry installed in the watchkitextension and enabled. When I trigger a crash with `Client.shared?.crash()` it crashes but i

[2020-03-13 15:57] jostster commented on #406
I have also tried this on 5.0.0-alpha.4 as well and it does not seem to run the `[SentryCrash install]`. Adding breakpoints it shows it runs through `[SentryCrashInstallation install]` but never actually goes into any of those methods, just seems to roll over them.

[2020-03-16 05:36] momoAI commented on #274
We have same problem.

[2020-03-16 09:27] HazAT commented on #406
@jostster Can you share your example app with Sentry installed so we can reproduce this?
Thanks

[2020-03-16 15:30] jostster commented on #406
@HazAT is there an email address I can send it to?

[2020-03-25 19:37] HazAT commented on #406
My firstname @ sentry.io

[2020-03-30 20:18] ristkof opened #411 "5.0.0-beta.0 migration: not immediately clear how to set user"
As per [this migration guide](https://github.com/getsentry/sentry-cocoa/blob/5.0.0-alpha.0/MIGRATION.md), it is not immediately clear to me what the equivalent code will be for:

[code]

[2020-03-31 09:07] HazAT commented on #411
Thanks for pointing this out, I've updated the samples
https://github.com/getsentry/sentry-cocoa/blob/master/MIGRATION.md

Also, this is how you set it globally:

https://github.com/getsentry/sentry-cocoa/blob/93651b8a8e19f53a912d8a50ae64e2c28f01b2ab/Example/Example-objc/ViewController.m#L21-L27

https://github.com/getsentry/sentry-cocoa/blob/93651b8a8e19f53a912d8a50ae64e2c28f01b2ab/Example/Exampl

[2020-03-31 09:07] #411 closed

[2020-04-03 07:12] eaigner commented on #203
See https://github.com/microsoft/appcenter-sdk-apple/issues/1944 as well

[2020-04-07 20:01] lhunath opened #419 "Cannot enable/disable after init."
_Platform:_
- [x]  iOS
- [x]  tvOS
- [x]  MacOS
- [x]  watchOS

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.0.0-beta**

---
I have following issue:

You can enable / disable Sentry on init using `SentryOptions`'s `enabled`.  However, it doesn't appear as though there is a way to change this setting after the fact (eg. after a user has

[2020-04-07 20:06] lhunath commented on #419
Looks like I can perhaps do:
```[SentrySDK.currentHub getClient].options.enabled = @YES;```

[2020-04-08 10:47] HazAT commented on #419
@lhunath Yes you can do that, we will think of a more convenient API
cc @philipphofmann This is also something we need to consider that enabling/disabling the SDK should work at any time.

[2020-04-08 12:25] bruno-garcia commented on #419
Docs point to "disable the SDK by providing an empty string as DSN".
Would this suffice? Sentry Android for example doesn't have a `enabled` flag.

[2020-04-08 13:26] lhunath commented on #419
Sounds pretty hacky – I'd prefer the https://github.com/getsentry/sentry-cocoa/issues/419#issuecomment-610594087 hack over that one.

[2020-04-08 13:49] bruno-garcia commented on #419
I actually agree in a way, but it's the official Sentry way to disable an SDK and it works in all SDKs.

I'm honestly not a fan of a mutable property on the options to change the behavior at runtime since a few assumptions could come. A disabled SDK should cause little or no overhead (like callbacks aren't executed, breadcrumbs aren't stored). Some would expexct that once enabled, the SDK would ha

[2020-04-08 13:50] bruno-garcia commented on #419
@HazAT @marandaneto @philipphofmann I'd also suggest we delete `[SentrySDK.currentHub getClient]` API.

Is there a way to expose the Hub? This API is needed in JS but we don't have on Android for example. There's no need to let a user hold the reference of the Hub outside of the SentrySDK class, right?

[2020-04-08 14:34] marandaneto commented on #419
it's `package-private` on Android, so it's not considered public API.

[2020-04-08 18:16] simensol opened #421 "Xcode error on build: "15 duplicate symbols for architecture x86_64""
_Platform:_
- [X]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [X]  Yes -> If yes, which version? 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually
- [X] SwiftPM

Version of sentry-cocoa:
**5.0.0-beta.0**

---
**I have following issue:**

After installing Sentry in Xcode using SwiftPM, I get an error when I try to build the iOS app.

**Steps to

[2020-04-09 10:45] stella-mylermedia commented on #421
I have the same issue. Installed Sentry using cocoapods though.

[2020-04-09 12:01] HazAT commented on #421
I just tried it on a clean new iOS project and can't reproduce it.
Can you make sure you cleaned your cache completely with `Cmd+Shift+Option+K`

[2020-04-10 15:55] #421 closed

[2020-04-10 17:33] HazAT commented on #421
This has been fixed in `5.0.0-beta.1`

[2020-04-11 16:22] lhunath opened #427 "enableAutoSessionTracking API"
The API for enabling and disabling auto session tracking is odd and different from the existing API, which is confusing.

If we compare to, for instance, `SentryAutoBreadcrumbTrackingIntegration`, the feature is enabled by including it in the integrations, and disabled by omitting it.

Contrary, `SentryAutoSessionTrackingIntegration` is not enabled by including it in the integrations.  In addition

[2020-04-13 20:17] dskuza opened #428 "Umbrella header is not including some headers"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes (5.2)
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [x] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.0.0-beta.1**

---
I have following issue:

When importing Sentry (`5.0.0-beta.1`) via Carthage, we are seeing build warnings in our CI environment due to the umbrella header not including some

[2020-04-14 21:04] #428 closed

[2020-04-14 21:10] HazAT commented on #428
Fixed in `beta.2` which is on the way right now

[2020-04-14 23:08] ahti opened #432 "Calling initializer to cause global side-effect is not very swifty"
I just had time to have a look at the 5.0 beta. Overall I like the simplification of the API, but having the initialization of the shared client instance happen through a call to an initializer looks very weird to me. I would expect most or all initializers to be free of side-effects. Seeing the result of an initializer be discarded immediately looks very much non-idiomatic.

Since the side-effect

[2020-04-15 04:12] rabbitinspace opened #433 "Expose transport on Client"
_Platform:_
- iOS

_Swift:_
- Yes -> 5.1

_sentry-cocoa installed with:_
- Carthage

Version of sentry-cocoa:
**5.0.0-beta.2**

---

`Client` does not expose it's `transport` property, so it's not possible to, for example, set `shouldQueueEvent` handler for `SentryHttpTransport` without manually initializing a transport.

There's `TransportInitializer` to initialize default transport but it's not

[2020-04-15 05:33] RajvinderPayU opened #434 "Crash reporting inside Libraries(Frameworks)"
Hi,

I want to use Sentry inside my frameworks, is there any way to do that?

[2020-04-16 14:30] bruno-garcia commented on #433
`shouldQueueEvent` isn't really designed to be public API. Can we discuss your use case?

The unified SDK design has a callback so that user code can decide whether an event should be sent to Sentry or not. [It's called `BeforeSend`](https://docs.sentry.io/data-management/sensitive-data/#custom-event-processing-in-the-sdk). Would this solve your problem?

[2020-04-16 15:30] eaigner opened #442 "Breadcrumbs Are Not Properly Logged"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes, Version 5.2.2
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [x] Manually

Version of sentry-cocoa:
**5.0.0-beta.3**

---
I have following issue:

If Breadcrumbs are recorded in the following way, they do not show up in the web interface.

[code]

If the breadcrumb is added inside a sco

[2020-04-16 15:53] eaigner commented on #442
Might be of interest, the log shows an error for the first case.

[code]

[2020-04-16 21:57] bruno-garcia commented on #442
Thanks for raising this @eaigner . The `Invalid JSON` I've identified and #443 will address.
I'll look into why the breadcrumb isnt' logged since they seem unrelated

[2020-04-17 01:33] rabbitinspace commented on #433
Ah, sorry, I forgot to include the reason why we're using `shouldQueueEvent` in 4.x 🤦‍♂️.

At some point in the past we noticed that some crashlogs doesn't appear on Sentry. After investigation, we figured out that these events had a large payload (>200kb iirc, but I'm not sure). When the SDK was trying to send these events, it was receiving HTTP 4xx errors and evens were basically discarded. To w

[2020-04-17 01:44] bruno-garcia commented on #442
I've tried it like this, and the breadcrumb was included.

[code]

I couldn't reproduce. Even without the fix in #443
Maybe something else on your setup? Could you please describe it in more detail or provide a repro so we can run it?

[2020-04-17 01:49] bruno-garcia commented on #434
Short answer is: No.

Although could technically be possible if not using the static `SentrySDK` class, Sentry SDK is designed to be used by applications. There are multiple reasons why, but mainly it's a decision of the app to instrument it and capture errors and stack traces that could span multiple libraries.

One thing you could do in your library is expose a way to add "breadcrumbs" to Sentry

[2020-04-17 03:54] rabbitinspace opened #444 "Session does not close as crashed after a crash"
_Platform:_
- [x]  iOS

_Swift:_
- [x]  Yes -> 5.1?

_sentry-cocoa installed with:_
- [x] Carthage

Version of sentry-cocoa:
**5.0.0-beta.3**

---

I'm playing with the new session tracking feature and encountered an issue where no sessions are being closed as a crashed session. Instead, all sessions are closing normally. Crash reports are being send as usual. In logs I can see the following:

[co

[2020-04-17 06:47] eaigner commented on #442
Mhm that seems strange. Could it be that the Breadcrumb processing just takes a long time? Because when I looked at the issue again today, some breadcrumbs were attached.

Then I deleted the issue again, and triggered a new error in the app, and when I opened the new issue again, it again had no breadcrumbs.

[2020-04-17 06:54] eaigner commented on #442
When I reduced `maxBreadcrumbs` to 10 in my `SentrySDK` configuration, they showed up immediately.

[2020-04-17 07:15] philipphofmann commented on #432
Thanks, @ahti for pointing out this issue. We agree with you that the constructor having side-effects is not the cleanest way of initializing the SDK.
We have doubts naming the method `initialize` because you might mix it up with [`NSObject.initialize()`](https://developer.apple.com/documentation/objectivec/nsobject/1418639-initialize).

Currently, we are leaning towards"
`Sentry.with(options: [ .

[2020-04-20 09:51] #432 closed

[2020-04-20 10:41] xmanu opened #447 "enableAutoSessionTracking does not honor own release"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.0.0-beta.3**

---
I have following issue:
I have enabled the new Release session tracking feature by adding `"enableAutoSessionTracking": true`.
The automatic session tracking works fine, but

[2020-04-20 16:34] dskuza commented on #428
Confirming that the fix worked for us. Thanks, @HazAT!

[2020-04-23 10:01] ivasic opened #456 "Include stack trace when capturing events/errors/messages"
_Platform:_
- [x]  iOS
- [x]  tvOS
- [x]  MacOS
- [x]  watchOS

_Swift:_
- [x]  Yes -> 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.0.0-beta5**

---

The legacy SDK had an API to include stack trace along with custom events (https://docs.sentry.io/clients/cocoa/advanced/#adding-stacktrace-to-message), however this seems t

[2020-04-24 07:30] philipphofmann commented on #433
As already pointed out `shouldQueueEvent` isn't designed to be public. We are currently doing many changes to `SentryHttpTransport` and it is not guaranteed, that `shouldQueueEvent` stays there.

You pointed out that you discard stack traces and other metadata `shouldQueueEvent` if you get HTTP 4xx errors. In `BeforeSend` you have access to the `stacktrace` and you could already discard unrelated

[2020-04-24 08:13] HazAT commented on #456
Thanks for the report, it's on our radar and we are working on it
https://github.com/getsentry/sentry-cocoa/pull/401

[2020-04-24 08:56] ivasic commented on #456
Ah, missed that one somehow. Thanks a lot! 🙏🏻

[2020-04-27 00:27] rabbitinspace commented on #433
Thanks!

I'll investigate the suggested options and will close the issue.
Again, thanks for the help!

[2020-04-27 00:27] #433 closed

[2020-04-27 15:16] eaigner opened #464 "Cannot build SDK with Swift Package Manager if TSAN enabled"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x] Yes (5.2.2)
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually
- [x] Swift Package Manager

Version of sentry-cocoa:
**5.0.0-beta.6**

---
I have following issue:

I added Sentry via `Add Package Dependency` in Xcode. When the Thread Sanitizer is enabled in the scheme, the package de

[2020-04-27 15:24] eaigner commented on #464
Also doesn't work if `Address Sanitizer` is enabled

[2020-04-28 20:50] bruno-garcia commented on #447
We're addressing this issue through: #462
This means your second snippet should work. The first snippet won't compile though since Scope  doesn't expose Release anymore.

[2020-04-29 12:20] #447 closed

[2020-04-30 03:49] rabbitinspace opened #477 "Are SentryRateLimitParser and SentryEnvelopeRateLimit intended to be public?"
_Platform:_
- [x]  iOS

_Swift:_
- [x]  Yes -> 5.1

_sentry-cocoa installed with:_
- [x] Carthage

Version of sentry-cocoa:
**5.0.0-beta.7**

---

There's a `SentryHttpTransport` class which requires `id<SentryRateLimits>` and `SentryEnvelopeRateLimit` objects for itself to be instantiated. There's also default implementation of `SentryRateLimits` protocol: `SentryDefaultRateLimits`.

There're two

[2020-04-30 03:53] rabbitinspace commented on #444
Closing since this is fixed in latest beta

[2020-04-30 03:53] #444 closed

[2020-04-30 15:29] #317 closed

[2020-04-30 23:43] youngliangzhang opened #486 "No way to send HTTP request info related to the event."
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.x.x**

---
I have following issue:
There is no way to send HTTP request info related to the event.
I can see it is possible on doc, but no.
It is official doc
https://devel

[2020-05-02 18:41] bruno-garcia commented on #486
@youngliangzhang Could you please clarify what type of Request data are you looking to add?
Is this intended to support a web framework or library?

[2020-05-05 02:00] bruno-garcia commented on #477
We don't plan to make those types public at this time since there's too much complexity to get the actual HTTP transport to Sentry using envelopes working correctly.That said, we've removed (temporarily) a way to replace the transport from the SDK ( See #490 ). We'll add a way to replace a transport as it's part of our API in a way you can decorate the transport with your custom logic but still ad

[2020-05-05 02:03] bruno-garcia commented on #427
It's true having the Integrations list and the flag on Options to be odd. Currently the [Sentry SK unified API](https://docs.sentry.io/development/sdk-dev/unified-api/) is based on adding/removing (usually by type) integrations but at this point we're considering to replace this approach with controling things through flags on SentryOptions. We'll keep this open to get more feedback and iterate th

[2020-05-05 05:20] rabbitinspace commented on #477
Thanks for the response!
I'll leave the issue open until that version of SDK is released.

[2020-05-08 16:41] youngliangzhang commented on #486
I want to add HTTP Method, url, parameters, data and headers.
https://develop.sentry.dev/sdk/event-payloads/request/
As you can see in this documentation, doc says client SDKs can upload these info. but it is impossible in iOS SDK while Android SDK supports it.

[2020-05-08 16:42] bruno-garcia commented on #486
The Android SDK already has the complete protocol implemented, we're missing it here indeed.

[2020-05-11 12:29] #294 closed

[2020-05-11 12:29] HazAT commented on #294
This should be fixed

[2020-05-13 19:55] gabors opened #516 "The new 5.x.x Cocoa SDK is a little weird to use."
_Platform:_
- [x]  iOS
- [x]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes ->5.x
- [ ]  No

_sentry-cocoa installed with:_
- [x] SwiftPM

Version of sentry-cocoa:
**5.0.2**

---
I have following issue:

The new 5.x.x Cocoa SDK is a little weird to use.
You're supposed to init the SentrySDK using a string dictionary, **but valid keys and values are not documented anywhere that I can find**

[2020-05-15 03:25] adamwulf opened #519 "SentrySDK.configureScope configured in Swift will cause JSON serialization to fail"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes, 4.2
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
Sentry (5.0.2)

---
I have following issue:

I am setting the SentrySDK scope in Swift as such:
[code]

However, when forcing a low memory warning to send a memory event, I receive Invalid JSON in

[2020-05-15 04:02] adamwulf commented on #519
The issue appears to be the `setTag:` call in SentryScope.h#L32-L33

the `id` type will box up any Swift value, which will cause JSON serialization to fail.

[2020-05-17 02:38] CraigSiemens commented on #516
I agree with this. A dictionary based interface is much less user friendly than the previous property based interface.

I looks like there's an `Options` type that can the passed to start, but the only accessible init it has takes a dictionary as well. If `Options` had a public init with no params, then we could set the properties as needed before passing it to start, that'd be much nicer. `URLSes

[2020-05-17 02:51] gabors commented on #516
Yeah this new SDK feels like a huge step backwards.
I ended up rolling back my apps to the previous one for the time being.

[2020-05-18 14:25] philipphofmann commented on #519
Thanks, @adamwulf for pointing this out. The tags are actually `NSDictionary<NSString *, NSString *> *`. `(void)setTagValue:(id)value forKey:(NSString *)key` should actually be `(void)setTagValue:(NSString *)value forKey:(NSString *)key`. Learn more about tags here: https://docs.sentry.io/enriching-error-data/additional-data/?platform=aspnetcore#tags

[2020-05-18 14:54] fe9lix opened #526 "macOS build fails for versions >= 5.0.3"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x] MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes: 5.2.2
- [ ]  No

_sentry-cocoa installed with:_
- [x] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.0.3**

---
I have following issue:
The latest version of the Sentry SDK (installed with SPM) cannot be built in a macOS application.

**Steps to reproduce:**
- Crea

[2020-05-19 06:58] philipphofmann commented on #516
Thanks, @gabors and @CraigSiemens for giving us feedback. I agree that the `Options` are not user friendly at the moment. If you want to know which parameters you can use checkout [`SentryOptions.m`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryOptions.m#L52) at the moment. We are going to improve this to make it more user friendly.
Do you have any other issues with t

[2020-05-19 13:38] philipphofmann commented on #526
I can reproduce the issue. Thanks @fe9lix for reporting this. We have to fix this.

[2020-05-19 17:35] bruno-garcia commented on #526
[It was fixed on 5.0.4](https://github.com/getsentry/sentry-cocoa/pull/521). Could you please try that again?

[2020-05-19 17:48] fe9lix commented on #526
Just tested again with 5.0.4 (also after clean build, resetting SPM caches, etc.) – still same issue.

[2020-05-19 17:52] philipphofmann commented on #526
I can also reproduce the issue @bruno-garcia. I think we are missing the header `#import <AppKit/AppKit.h>` in `SentryCrashExceptionApplication.m`, but I'm not 100% sure yet.

[2020-05-20 02:06] bruno-garcia commented on #526
Thanks for testing it and raising this @fe9lix .

I assume this has been broken for a while then since nothing really changed here besides styling: https://github.com/getsentry/sentry-cocoa/commits/master/Sources/Sentry/SentryCrashExceptionApplication.m

@HazAT Any ideas why this code calls: `[super reportException:exception];` when no clear base type is defined for it? (error message even whines

[2020-05-20 03:51] lhunath opened #528 "Type issue"
[code]
`level` here is a `SentryLevel*` but should be a `SentryLevel`.

Sentry 5.0.4

[2020-05-20 03:53] lhunath commented on #528
The same type of issue repeats in several other places:

[code]

[2020-05-20 03:54] lhunath commented on #528
[code]

[2020-05-20 05:23] philipphofmann commented on #526
That also confused me when looking at it. Thanks @bruno-garcia for the nice summary.

[2020-05-20 08:48] #526 closed

[2020-05-20 21:28] jkmassel commented on #516
I'll add on some (hopefully actionable) feedback:

Mirroring @CraigSiemens feedback – the dictionary approach for configuration is really hard to use (and may be a fatally flawed approach for some things – more on that in a moment). As a for-instance, it's really easy to make a typo and not understand why the configuration isn't working – that's an issue that should be caught at compile-time. One

[2020-05-21 20:07] whiskey commented on #328
This still happens in Sentry 5.0.5 but as it seems this might be caused by calling the initial setup (`SentrySDK.start(options:)`) multiple times.

[2020-05-21 21:10] mgray88 commented on #516
Another issue is with the `User` object. There is no way to get the currently set object to be able to modify it. I ran into this on the Android SDK as well, and the solution there (https://github.com/getsentry/sentry-android/issues/385) was to use the `configureScope` with callback (which felt strange since it was accessing the same underlying object).

With this new SDK, I am not able to even ac

[2020-05-22 07:01] philipphofmann commented on #516
Thanks, @jkmassel and @mgray88 for your detailed feedback. We are going to try to use your feedback to improve the SDK.

[2020-05-22 08:40] philipphofmann commented on #528
Thanks, @lhunath for pointing this out. This is a sign for me to turn on more warnings so we don't miss those important compiler warnings.

[2020-05-22 09:07] #528 closed

[2020-05-22 13:02] lhunath commented on #528
Makes sense, it's often a good idea to check the headers against -Wall, since it's hard to predict what warnings header consumers will end up turning on.  The implementation isn't so important for this.

[2020-05-22 13:29] #519 closed

[2020-05-26 14:09] fontesrp opened #546 "Duplicate symbol '_versionString'"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.0**

---
I have following issue:

I have a React Native project which uses

[code]

This libs include the following pods

[code]

When trying to run the project, I'm gett

[2020-05-27 06:30] robertvoigt030 commented on #516
We where using snapshotStacktrace in the pre 5.xx version to append stacktraces to our custom events. I couldn't find any compensational option within the new 5.xx version to enrich custom events with stacktraces. Is there any possibility to do so or any reason why we are not allowed to use this anymore?

[2020-05-27 07:25] philipphofmann commented on #516
@robertvoigt030 yes we are currently working on it. One PR for it is almost done https://github.com/getsentry/sentry-cocoa/pull/545 and another one is in progress right now.

[2020-05-27 12:25] philipphofmann commented on #546
Thanks, @fontesrp for pointing this out. I just opened up a PR for this.

[2020-05-27 17:25] paulofierro opened #550 "Cannot add package via Swift Package Manager"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version? 5.2.4
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually
- [x] Swift Package Manager

Version of sentry-cocoa:
**3.x.x**

---
I have following issue:

Adding `https://github.com/getsentry/sentry-cocoa.git` ([as stated here](https://docs.sentry.io/platfo

[2020-05-27 20:02] eakoli opened #551 "C++ exceptions missing stacktrace"
_Platform:_
- [X]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [X] Manually

Version of sentry-cocoa:
**5.0.X**

---
I have following issue:
C++ exceptions don't include stack trace information.

I have trace the issue down this:
the CPPException monitor relies on providing an

[2020-05-28 09:36] #546 closed

[2020-05-29 00:09] vadimtrifonov opened #554 "What is equivalent of `beforeSerializeEvent` in version 5?"
Version of sentry-cocoa:
**5.1.0**

---
I have following issue:

In version 4 there is `beforeSerializeEvent`, which allows to do add more parameters to an exception event that are not immediately available when starting tracking (for example, current session parameters).

I can no longer find equivalent functionality in version 5, is there any substitution for `beforeSerializeEvent`?

[2020-05-29 09:21] philipphofmann commented on #550
Hey @paulofierro thanks for reaching out to us. I just tried exactly what you specified in the issue and for me adding sentry for the newest version of 5.1.0 works fine. You mentioned in the ticket you tried to install version **3.x.x**. We released version 4.0.0 almost 2 years ago and it also works fine with Swift Package Manager. Do you really need to use version **3.x.x**? If so can you please

[2020-05-29 10:18] philipphofmann commented on #554
You can use `beforeSend` of [SentryOptions](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/include/SentryOptions.h#L70). You can do something like this:
[code]
We know that the SentryOptions have not the nicest usability right now as discussed in here https://github.com/getsentry/sentry-cocoa/issues/516 and we are going to improve this.

I'm going to close this issue now. Fee

[2020-05-29 10:18] #554 closed

[2020-05-29 10:20] philipphofmann commented on #464
Hey @eaigner thanks for reaching out to us. Do you still experience the issue with the newest version 5.1.0?

[2020-05-29 10:22] philipphofmann commented on #442
Hi @eaigner, we did lots of fixes in our SDK in the last weeks. Do you still experience the issue or can we close this?

[2020-05-29 10:26] philipphofmann commented on #280
@caglaruslu and @d2vydov do you still experience problems with this or is it fixed now and we can close this issue?

[2020-05-29 10:29] philipphofmann commented on #280
@Eysner We don't really want our users to have to manually process the crash files. If you are interested in how we do this checkout [`SentryCrashReportConverter`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryCrashReportConverter.m).

[2020-05-29 10:31] philipphofmann commented on #299
I'm going to close this now as @Sniper-yj didn't reply in over a year. Please feel free to open this issue with more information, if you still have problems.

[2020-05-29 10:31] #299 closed

[2020-05-29 10:32] #304 closed

[2020-05-29 10:59] philipphofmann commented on #314
`NSDictionary valueForKeyPath:]` doesn't exist anymore, but we still had two categories for `NSArray` and `NSDictionary` that had methods not prefixed. We fix this with https://github.com/getsentry/sentry-cocoa/pull/555.

[2020-05-29 12:40] eaigner commented on #442
I updated my app to 5.1.0 yesterday, will let you know!

[2020-05-29 12:50] #314 closed

[2020-05-29 13:12] paulofierro commented on #550
@philipphofmann thanks for your feedback! I don't know what happened but this morning I can install the package without issue — I blame Xcode gremlins 😬

Regarding the version, that was the template default and I hadn't changed it 😓

Thanks for your help!

[2020-05-29 13:12] #550 closed

[2020-05-30 01:53] flobories opened #556 "beforeBreadcrumb not called for ui.lifecycle breadcrumbs"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually
- [x] SPM

Version of sentry-cocoa:
**5.1.1**

---
I have following issue:
The `beforeBreadcrumb` block is not called for view controller's `viewDidAppear` automatic breadcrumb tracking.
I use view controller containment

[2020-05-30 08:52] eaigner commented on #464
This still happens in 5.1.1

[2020-05-31 07:56] vadimtrifonov commented on #554
@philipphofmann  In my experience it doesn't send tags when reopening an app after a crash.

[2020-06-01 00:07] eric opened #557 "How do I get source code in stack traces like android native?"
When looking at Sentry crashes that contain native code in an android build, it includes the source code around the line in the stack trace. Is there something I can do to get this for cocoa as well?

[2020-06-02 07:41] philipphofmann commented on #554
@vadimtrifonov do you mean it doesn't send tags when you use `beforeSend`?

[2020-06-02 07:55] vadimtrifonov commented on #554
@philipphofmann yes, when the app crashes tags are not sent. Tags are only sent for handled errors.

[2020-06-02 09:25] philipphofmann commented on #550
@paulofierro I'm happy your problem is solved. You are welcome!

[2020-06-02 13:14] funkyboy opened #560 "Symbolicated crash report not pointing to any of my code"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [X]  MacOS
- [ ]  watchOS

_Swift:_
- [X]  Yes -> If yes, which version? 5.0
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [X] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.0**

---

Sometimes customers send over crash reports like this, where nothing points to my code, only Sentry's.

Note: such reports are sent by customers, that fetch

[2020-06-02 13:27] philipphofmann commented on #554
Thanks for clarifying this. We are aware of that and have it on our list.

[2020-06-03 16:56] philipphofmann commented on #556
Thanks, @flobories for reporting this in such detail. This hopefully is going to be an easy fix.

[2020-06-04 07:36] #456 closed

[2020-06-05 05:45] ianthetechie commented on #516
Uhm, yes... I would use a slightly stronger word than "weird" myself. It makes no sense at all, frankly, and where on earth is the documentation? The migration guide covers the barebones, but is far from adequate. I was unable to find any docs besides the source on what keys you expect in the dict. This might be cool in JavaScript or some other ecosystem where stringly typed interfaces are basical

[2020-06-05 09:04] HazAT commented on #560
We are on it, fixing this as we speak.

[2020-06-05 09:09] HazAT commented on #560
Can you paste a link to it in sentry.io?

[2020-06-05 09:12] funkyboy commented on #560
@HazAT I think I don't understand. This is a report collected from the Mac of a customer, it was not uploaded to sentry.io via the Sentry SDK.

[2020-06-05 12:53] philipphofmann commented on #516
Thanks for your honest feedback @ianthetechie.

[2020-06-08 00:26] SticklyMan commented on #516
I would agree that more complete documentation would help developers transition from the old to the new SDK with greater ease. Having directly accessible properties over arbitrary dictionary keys really just helps with the self-documenting code concept, plus it's always nice to have the compiler tell you when things are wrong or have changed.

FYI- We were able to switch our project over to the ne

[2020-06-08 11:41] mirkoevo opened #572 "Pending reports are deleted when SDK is initialized with enabled = NO"
_Platform:_
- [x]  iOS
- [x]  tvOS
- [x]  MacOS
- [x]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [x] Manually

Version of sentry-cocoa:
**5.x.x**

---
I have the following issue:

I have the need manually check the pending reports at startup, open a requester to let the user add a description and choose if send

[2020-06-09 10:11] philipphofmann commented on #572
Thanks, @mirkoevo for reporting this issue. I found the cause(s) of this problem.
In `SentryCrashReportSink` we convert the crash reports of SentryCrash to events and call `[SentrySDK captureEvent:event]`. We don't check there if the SDK is disabled and call `onCompletion(sentReports, TRUE, nil)`, which is a callback to `SentryCrash.sendAllReportsWithCompletion`. So even if the SDK is disabled we

[2020-06-09 10:19] philipphofmann commented on #572
What could work for you @mirkoevo is to not call `SentrySDK startWithOptions` at all before the user decides on whether he wants to send the report or not. Once you know you can start the SDK and use `beforeSend` of `SentryOptions` to attach your description to the events.

[2020-06-09 16:47] ostatnicky opened #574 "Missing Crashlog Symbolication in 5.x.x (Ad-hoc distribution)"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes. Swift 5
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.4**

---

I have `redacted` words in `crashlog` using SentrySDK version 5.x.x. The app is enterprise app and distributed by ad-hoc profile.

On the same code I run the test crash with dif

[2020-06-12 02:08] tgreenman opened #577 "5.x replacements for beforeSerializeEvent and shouldSendEvent"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [X ]  MacOS
- [ ]  watchOS

_Swift:_
- [ X]  Yes -> If yes, which version? 5
- [ ]  No

_sentry-cocoa installed with:_
- [ X] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
5.1.4

---
I have following issue:
What is the replacement for Client.shared?.beforeSerializeEvent and Client.shared?.shouldSendEvent in sentry-cocoa 5.1.4?

In 4.x, you a

[2020-06-12 02:36] tgreenman commented on #577
There's SentryBeforeSendEventCallback but I'm not quite sure how it's supposed to be set with the current docs

[2020-06-13 11:35] ainopara opened #578 "Could not attach stacktrace to custom event"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version? 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.4**

---
I have following issue:

Could not attach stacktrace when using `[SentrySDK captureEvent:]` API

**Steps to reproduce:**

Create a custom event object and se

[2020-06-15 10:07] philipphofmann commented on #577
Hi @tgreenman thanks for reaching out to us.
You can use the `beforeSend` callback of [`SentryOptions`](https://github.com/getsentry/sentry-cocoa/blob/18ac05103b069113dc0836b43a10463ae0ade707/Sources/Sentry/include/SentryOptions.h#L70).
You can use it like this
[code]
but we know that this is currently not working with Swift, as you can't pass in functions to a dictionary properly.
We are aware th

[2020-06-15 11:19] philipphofmann commented on #578
Hi @ainopara, do you have the `attachStacktrace` for the  `SentryOptions` enabled?
[code]

[2020-06-15 12:48] philipphofmann commented on #574
Hi @ostatnicky, can you please check if you also have the issue when you capture an error ` SentrySDK.capture(error: error)` or an exception `SentrySDK.capture(exception: exception, scope: scope)`?

[2020-06-15 14:04] philipphofmann commented on #560
@HazAT this could be related to https://github.com/getsentry/sentry-cocoa/pull/414/files#r403441273. It could also be related to a similar issue in App Center has a similar issue: https://github.com/microsoft/appcenter-sdk-apple/issues/1944.

Is `SentryCrashExceptionApplication._crashOnException` based on the same reason as this hack in AppCenter https://github.com/microsoft/appcenter-sdk-apple/is

[2020-06-15 14:05] philipphofmann commented on #560
@funkyboy can you maybe add more context when this issue happens or how to reproduce this?

[2020-06-15 14:35] philipphofmann commented on #405
Thanks @Molyakos for reaching out to us. Can you try to update to the latest 5.x.x version and let us know if you still experience this issue?

[2020-06-15 14:37] philipphofmann commented on #406
Any new updates on this @HazAT or @jostster? Can you try it with version 5.x.x and let us know if you still have the issue present?

[2020-06-15 14:40] philipphofmann commented on #370
Hi @ryan-noths, can you achieve your desired requirements with our 5.x.x release or do you still have trouble?

[2020-06-16 04:57] ainopara commented on #578
From implementation [here](https://github.com/getsentry/sentry-cocoa/blob/5.1.4/Sources/Sentry/SentryClient.m#L122):
Stacktrace will be attached when captureMessage / captureException / captureError is called.
But there is no way to attach stacktrace to a custom event when captureEvent is used.

[2020-06-16 08:00] philipphofmann commented on #578
We can add the possibility to attach the stacktrace to a custom event as you suggested. This shouldn't be a complicated change.

[2020-06-16 12:14] jjochen opened #581 "`release` in `startWithOptions:` is ignored for crash reports"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.4**

---

When starting sentry with a custom release, the value is ignored in crash reports.

[code]
will still use the default release
[code]

[2020-06-16 12:15] jjochen commented on #581
Btw. I think that's because the release name is not stored with the crash report user data (like it is the case for `environment`).

[2020-06-17 09:45] funkyboy commented on #560
@philipphofmann Thanks for replying. I can't reproduce it and the customer didn't provide further details. I have upgraded to Sentry `5.1.4` and I didn't receive any similar reports since. I think it's ok to close this issue, unless you want to keep it around for future reference.

[2020-06-17 10:05] philipphofmann commented on #560
@funkyboy thanks for the info. I close this issue for now. Please open it again if you experience the issue again.

[2020-06-17 10:05] #560 closed

[2020-06-19 06:23] ainopara commented on #578
Hi, @philipphofmann I have a question about current implementation #583 .
Is there possible to override `attachStacktrace` option with a custom scope, so that stack trace can be attached only for some kind of events.
This is useful in this use case:
https://github.com/ainopara/Stage1st-Reader/blob/v3.17/Stage1st/Manager/EventTracker.swift#L17
I hope stacktrace can be attached to event when `EventT

[2020-06-19 08:58] Fab1n commented on #400
Are there any updates on this issue? We have the same issue. Is this only a debug thing?

[2020-06-22 09:46] philipphofmann commented on #578
@ainopara the stacktrace is always attached when [logging an exception](https://docs.sentry.io/error-reporting/configuration/?platform=csharp#attach-stacktrace). So when you call `captureError`, `captureException` or `captureEvent` with an event that contains an exception. When you call `captureMessage` or `captureEvent`, with an event that doesn't contain an exception, the stacktrace is not attac

[2020-06-22 10:27] ainopara commented on #578
Hi @philipphofmann , thank you for your reply.
I hope there is a way to determine if stacktrace should be attached when assembling custom event.

I am not logging an exception, because it is automatically handled by sentry sdk in cocoa platform.
I am logging custom events which have variety levels from info to error.
For example:
 `assertionFailure` in swift will not trigger a crash if project is

[2020-06-22 11:22] #578 closed

[2020-06-22 11:29] philipphofmann commented on #578
@ainopara if you want more flexibility you can init your own `SentryHub` with your own `SentryClient` with different `SentryOptions`. The `SentrySDK` is just a [static wrapper](https://develop.sentry.dev/sdk/unified-api/#simplified-visualization).

[2020-06-23 20:16] cmsj opened #587 "Build fails for macOS ARM architecture"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [X ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [X ]  No

_sentry-cocoa installed with:_
- [X ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**3.x.x**

---
I have following issue:

When building Sentry as a Universal binary including the new ARM Mac architecture, compilation fails on SentryCrashObjC.c line 236 be

[2020-06-24 07:54] Vivek205 commented on #283
I still face the issue. I have setup sentry in my sdk and I used this stack-overflow method to run without debugger https://stackoverflow.com/questions/14694441/can-i-run-an-iphone-app-from-xcode-without-debugging-it

Then I reran the application with debugger. Still I did not receive crash reports in my dashboard

[2020-06-24 08:12] philipphofmann commented on #400
We released version 5.x.x a few weeks ago. Since v 5.1.2 the SDK can attach stacktraces to custom events. Just make sure you have `attachStacktrace` enabled in the `SentryOptions` like this:
[code]
Is there a reason you can't update to 5.x.x?

[2020-06-24 08:40] philipphofmann commented on #581
Thanks, @jjochen for reporting this issue. I can reproduce it.

[2020-06-24 12:29] philipphofmann commented on #581
@jjochen we are already working on a fix for this. As a work around until we release the fix you can override the `releaseName` with the `beforeSend` callback:
[code]

[2020-06-24 13:14] #581 closed

[2020-06-25 11:35] #516 closed

[2020-06-25 11:41] philipphofmann commented on #283
@Vivek205 can you check the logs. Maybe your DSN is empty or wrong. We log an error in `startWithOptions` if this is the case.

[2020-06-26 08:27] #577 closed

[2020-06-26 08:29] philipphofmann commented on #442
@eaigner any update on this?

[2020-06-26 20:11] zachwaugh opened #594 "How to remove auto breadcrumb tracking"
_Platform:_
- [x ]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version? 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [x] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.4**

---
I have following issue:

How do I disable auto-breadcrumb tracking? There's a lot of junk there that's not very helpful. I'd rather disable that completely

[2020-06-27 19:50] eaigner commented on #442
Currently have no way to test it.

[2020-06-29 04:02] diesal11 commented on #400
@philipphofmann do stacktraces in 5.x capture stacks for all threads or just the thread in which the error was raised?

Part of what has made a migration of our app from 4.x to 5.x difficult is the significant lack of documentation around what has changed. I know there is the Migration document but it doesn't cover everything. I.E. For a while there stack traces weren't even possible in 5.x and th

[2020-06-29 11:19] philipphofmann commented on #400
Thanks for reaching out to us @diesal11. The stack trace is just attached for the current thread. I just opened up a PR for updating the code comment on `SentryOptions.attachStacktrace`, see #596. You can also check out our docs: https://docs.sentry.io/error-reporting/configuration/?platform=swift#attach-stacktrace

[2020-07-01 02:53] CX3201 opened #597 "How to report crash on launch"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.6**

---
I have following issue:

I write the following code to raise an exception, but the crash never reported. Is there any way to do this?

**Steps to reproduce:**
[c

[2020-07-01 03:16] ianthetechie commented on #516
Awesomesauce. Love the new initialization pattern. Thanks guys!

[2020-07-01 11:24] RuiAAPeres commented on #574
I am curious about what's happening here. @philipphofmann do you think this might be an SDK regression?

[2020-07-01 12:39] philipphofmann commented on #597
@CX3201, did you replace `___PUBLIC_DSN___ ` with your DSN that you get from Sentry? If not please do so. If so, please check your log output, because it can be that the DSN is not valid.

[2020-07-01 14:01] RuiAAPeres opened #598 "Crash reports lacking detail"
_Platform:_
- [X]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [X]  Yes - 5.2.4
- [ ]  No

_sentry-cocoa installed with:_
- [X] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.6**

---
Sentry SDK setup:

[code]

The crash report on the Sentry dashboard is not consistent across the same exception. Given the following code:

[code]

I am receiving different report

[2020-07-01 15:16] RuiAAPeres commented on #574
@philipphofmann I tried with:

[code]

Using 5.1.6 and it looks like this: https://sentry.io/share/issue/3d6e42fe35eb406593720c1a0ae99345/

[2020-07-02 07:26] philipphofmann commented on #598
@RuiAAPeres thanks for reaching out to us. This link doesn't work for me: https://sentry.io/share/issue/a62617bf2736465db3f68dfac79869bc/. It says page not found. Can you please post a link that is working.

[2020-07-02 07:39] CX3201 commented on #597
Yes, I did. I think the resaon is the report request doesn't  have enough time to send. Is there any sync method?

[2020-07-02 10:10] philipphofmann commented on #574
@ostatnicky I see that 5.1.4 https://sentry.io/share/issue/2e8aac5663cb4af2913822765987762c/ has no debug information for Barista.
<img width="769" alt="Screenshot 2020-07-02 at 12 06 01" src="https://user-images.githubusercontent.com/2443292/86345874-670ade00-bc5c-11ea-83b4-faff26ad66a4.png">.
It looks like something went wrong with uploading your dSYMs. Can you please check if it was uploaded co

[2020-07-02 10:13] philipphofmann commented on #574
@RuiAAPeres the stack trace there looks fine to me although the dSYMs are missing for Sphere. Am I missing something here?

Keep in mind that stack traces for messages or errors only are attached for the current thread.

[2020-07-02 10:14] ostatnicky commented on #574
@philipphofmann In Project Settings -> Debug Files and Processing Issues there is no Missing dSYMs alert. And I'm pretty sure that I uploaded the dSYMs.

[2020-07-02 10:20] ostatnicky commented on #574
@philipphofmann But it's true that I can't find `3c16df23-221d-3eac-bf16-34c065941109` in DIFs Search...

[2020-07-02 10:20] ostatnicky commented on #574
@philipphofmann Why is Sentry not alerting me that some dSYMs are missing?

[2020-07-02 11:53] philipphofmann commented on #597
Please don't call `[SentrySDK crash];` directly after our SDK start and also not in `didFinishLaunchingWithOptions`. Instead, call it when the app is fully launched or even better call it when you click a button.
When a hard crash happens our SDK stores the crash on the disk. The next time the SDK is launched we read it from the disk and send it to Sentry. Right now the SDK hasn't enough time to d

[2020-07-02 12:12] philipphofmann commented on #574
Is this a feature request 😁?

Yes, it would be handy to get an alert when dSYMS are missing. @ostatnicky is your problem solved now?

[2020-07-02 12:14] philipphofmann commented on #442
I close this for now @eaigner. Feel free to open this issue again or another one if you have trouble with breadcrumbs again.

[2020-07-02 12:14] #442 closed

[2020-07-02 12:22] philipphofmann commented on #594
@zachwaugh yes that's the way to do it right now. I agree that this is fragile.

We have `enableAutoSessionTracking` so we could add something like `enableBreadcrumbs`. What do you guys think @bruno-garcia, @marandaneto and @HazAT ?

[2020-07-02 12:23] ostatnicky commented on #574
It is. And it does. But in this case it didn't. Sentry is warning you when you're missing some dSYMs. And it warns you that you have run `curl -sL “https://sentry.io/api/0/projects/...” | bash`.

I uploaded the missing dSYMs. But I didn't get the crashlog symbolicated. And I would expect because I have `Reprocessing active` turned on.

[2020-07-02 12:30] ostatnicky commented on #574
@philipphofmann I tried the test crash again after the missing dSYMs upload. I've got the right crash log now. Ok, not sure what's wrong. It looks that dSYMs was missing but Sentry didn't warn me although it normally does. So ok, let's close this issue.

[2020-07-02 12:31] philipphofmann commented on #574
Maybe it takes a few minutes until reprocessing kicks in, but it should work.

[2020-07-02 12:32] philipphofmann commented on #574
I'm happy to close it. Reach out to us again if you have problems.

[2020-07-02 12:32] #574 closed

[2020-07-02 12:38] philipphofmann commented on #598
It seems this stems from capturing an event. For that, we only attach the stack trace of the current thread, see [SentryOptions.attachStacktrace](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/include/SentryOptions.h#L110-L114).

For a crash, we send a different event containing stack traces for all threads.

[2020-07-02 12:40] philipphofmann commented on #405
As we didn't receive an update for this the last two weeks, I'm going to close this now. Please open it again @Molyakos if you need help.

[2020-07-02 12:40] #405 closed

[2020-07-02 12:43] philipphofmann commented on #300
@ultimatevegance do you still need help here or can we close this issue?

[2020-07-02 12:59] marandaneto commented on #594
@zachwaugh https://docs.sentry.io/platforms/cocoa/usage/?platform=swift#integrations

I'd be interested to learn which breadcrumbs you consider:

actually, those automatic breadcrumbs have been asked by customers and the community, I'd love to get your feedback.

[2020-07-02 14:07] zachwaugh commented on #594
@philipphofmann @marandaneto thanks for the confirmation! Were those docs just added, or did I somehow completely miss that before? +1 for an option like `enableBreadcrumbs` for each integration over setting an array of strings.

Breadcrumbs have been hit or miss for me, but here's an example of what I'm talking about that I've seen a bunch. Recording these system classes (looks related to the key

[2020-07-02 14:38] marandaneto commented on #594
@zachwaugh docs were already there :)
 I understand, an option would be to also filter them using the `beforeBreadcrumb` callback by `type` or `category`, a high-level doc is here https://docs.sentry.io/enriching-error-data/breadcrumbs/?platform=csharp#breadcrumb-customization

Maybe a subset of the automatic breadcrumbs would be interesting, so, you'd filter what would make sense for your App.

A

[2020-07-02 14:57] #594 closed

[2020-07-03 02:50] CX3201 commented on #597
That means Sentry will never send report if the app crashes directly in didFinishLaunchingWithOptions.  Is there something I can do to collect those exceptions?

[2020-07-03 07:13] philipphofmann commented on #597
Sentry most likely will never send the report if the app always crashes in `didFinishLaunchingWithOptions`, because it doesn't get enough time to send the report. If it only happens a few times Sentry writes the error to the disk and sends it the next time.

[2020-07-03 07:18] CX3201 commented on #597
Thanks

[2020-07-03 07:18] #597 closed

[2020-07-05 21:59] eaigner opened #603 "SentrySDK crash in captureMessage"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [x] Manually

Version of sentry-cocoa:
**5.1.6**

---
I have following issue:

Here is the partial stacktrace for the crash

[code]

[2020-07-05 22:10] eaigner commented on #603
Probably can't rule out a garbage value coming from the outside though.

[2020-07-06 09:56] philipphofmann commented on #603
Thanks, @eaigner for reporting this issue. Do you have more context around the issue? When does it happen?

[2020-07-06 09:59] eaigner commented on #603
No thats all I have. Happened on another machine.

[2020-07-06 10:04] philipphofmann commented on #603
Did it only happen once or multiple times @eaigner ?

[2020-07-06 18:46] HazAT commented on #598
Can you upgrade to `5.1.8` please, we fixed a bug there.

[2020-07-06 18:47] HazAT commented on #574
If you were on version `5.1.6` please update to at least `5.1.8` we fixed a bug there.

[2020-07-06 19:50] eaigner commented on #603
Once since I upgraded to 5.1.6

[2020-07-06 21:37] eaigner commented on #603
Correction. Got 3 more since upgrade to 5.1.6.

[2020-07-06 21:42] eaigner commented on #603
I found this PR #583 that changed something in the last 14 days relevant to this stacktrace. Maybe the issue is in there somewhere?

[2020-07-07 00:42] st3fan commented on #406
@HazAT How can I help to debug this? Running Sentry 5.1.8 on watchOS 6.2.8. Events reported with `SentrySDK.capture(message: "Hello")` arrive, but `SentrySDK.crash()` does not.

[2020-07-07 07:48] philipphofmann commented on #603
We solved one issue of #583 with #605, but this should not be related to the crash you mention in here.

[2020-07-08 08:59] eaigner commented on #603
I think I'll revert to 5.1.0 for now, this happens way to often. An interesting thing is that it only seems to happen in the MAS version of our app.

[2020-07-09 10:27] nzhuk opened #611 "debug_meta.images.X.debug_id: Discarded invalid value"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [x] Swift Package Manager
- [ ] Manually

Version of sentry-cocoa:
**5.1.6**

---
I have an iOS app, built with Xcode 11.5, including both Swift (5.2) and ObjC code. Crash reports for this app are reported correctly to Sentry, but Sen

[2020-07-09 11:46] philipphofmann commented on #611
Thanks for reaching out to us @nzhuk.
This could be related to #605, it was released with 5.1.8. Please try to update and let us know if this fixes the issue.

[2020-07-09 12:04] nzhuk commented on #611
Thanks @philipphofmann . Will do!

[2020-07-09 13:18] philipphofmann commented on #598
@RuiAAPeres any updates on this issue?

[2020-07-09 13:23] philipphofmann commented on #557
Hi, @eric please check out our docs here find a way how to do this: https://docs.sentry.io/cli/dif/#creating-source-bundles

[2020-07-13 11:11] edwellbrook commented on #464
Am seeing this as well. Using 5.1.9. Disabling Address Sanitizer fixed things for me.

[2020-07-13 11:15] eaigner commented on #464
I made some tests, and I don't think this is a problem that can be solved right now. If you use the SPM, you can only define the product as `.static` or `.dynamic`. It seems TSAN/UBSAN/ASAN tries to read a file from a bundle, meaning it would have to be a `.framework`.

So I think SPM would have to output a `.framework` product instead of a `.a` or `.dylib` to make this work.

[2020-07-13 11:18] eaigner commented on #464
However, I read something that you can use `generate-xcodeproj` to generate a framework target manually, maybe thats something to look into.

[2020-07-13 11:28] mu99el commented on #406
Hey all,
any updates on this issue?
Have the same issues like @st3fan : `SentrySDK.capture(message: "Hello")` works, but `SentrySDK.crash()` not. Tested with different Watch Models and Simulator.

[2020-07-14 08:40] philipphofmann commented on #406
Thanks, @st3fan and @mu99el for reaching out to us about this issue. We are going to take a look soon and come back to you.

[2020-07-14 18:26] timarcngroup opened #623 "Swift package manager + Bitrise, duplicate symbol '___gcov_flush'"
_Platform:_
- [X]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [X]  Yes -> 5
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually
- [X] Swift Package Manager

Version of sentry-cocoa:
**5.1.9**

---
I have following issue:

Can not build on Bitrise CI for duplicate symbol  '___gcov_flush' (locally build the project correctly)

Output:
[code]
**Actual

[2020-07-14 21:02] martindufort opened #662 "fatalError call with message does not report message value in Sentry Dashboard"
## Important Details

How are you running Sentry?
Saas (sentry.io)

## Description
- Using the SentrySDK Cocoa (Pod) Version 5.1.4

In macOS Swift app, using `fatalError(message:String)` to report an abnormal condition.
Error is reported within the Sentry dashboard but the message is not displayed anywhere.

## Steps to Reproduce

This is the code that produced this error:

[code]
### What you exp

[2020-07-14 23:19] sedwo opened #624 "How can I include custom file attachments to crash events in Swift (iOS 13.5) ?"
_Platform:_
- [✅]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [✅, 5.x]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [✅] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.9**

---
I have following issue:
Your docs mention [Event Attachments](https://docs.sentry.io/enriching-error-data/attachments/#event-attachments), of which I'd like

[2020-07-15 08:11] philipphofmann commented on #624
Hi @sedwo, this is not possible right now with the Cocoa SDK. This is going to be possible once we switch to sending all events with [envelopes](https://develop.sentry.dev/sdk/envelopes/), which gives us the possibility to add attachments. We have it on our backlog, but I can't give you a fixed date yet.

[2020-07-19 22:26] #603 closed

[2020-07-20 09:43] eaigner opened #629 "Feature: User Feedback"
I think what would give Sentry a huge edge would be the option to include user feedback. For instance, I have some crashes that I have no idea how to reproduce unless a user actually tells me what he did. Those traces are mostly from Apples system frameworks without any line of my apps code.

Here is my proposal:

In the config callback, let the user provide a `reportDelegate` like so

[code]

The

[2020-07-21 12:47] #624 closed

[2020-07-21 12:52] bruno-garcia commented on #629
Thanks for raising this.

Sentry supports Feedback and it's very common for JS users. It shows Sentry's user report modal.
There's a tab on the issues page solely for user feedback:
![image](https://user-images.githubusercontent.com/1633368/88056984-6b296d80-cb2f-11ea-8a66-f42a84cf4507.png)

It doesn't need to be sent with the event itself, it can actually be captured after the fact and linked via

[2020-07-21 12:54] philipphofmann commented on #623
Hi @timarcngroup, it seems like this could be an issue with your Bitrise configuration, if you can build the project locally. Can you let us know how you build the project on Bitrise, so we can reproduce the issue?

[2020-07-21 12:54] philipphofmann commented on #611
@nzhuk do you have any updates on this issue?

[2020-07-21 12:55] philipphofmann commented on #598
As we don't receive any updates from you @RuiAAPeres we assume this isn't an issue anymore. Feel free to open this again with more details if you still have problems.

[2020-07-21 12:55] #598 closed

[2020-07-21 14:43] nzhuk commented on #611
@philipphofmann Currently travelling, but I'll will check status of this once I'm back & update this issue.

[2020-07-21 14:53] philipphofmann commented on #611
Thanks for the update @nzhuk. Safe travels!

[2020-07-21 21:48] eaigner commented on #629
Didnt know about that tab!

The important thing though would be that a) events and crashes can be associated with a certain feedback and b) the report interface can be completely customized and is not generated by the SDK itself.

[2020-07-22 08:39] Vivek205 commented on #283
@philipphofmann, thanks for connecting back.

I misunderstood the context of the debugger. I was just disabling it. Instead, when I created a new scheme without even a debugger, it started working

[2020-07-22 09:48] philipphofmann commented on #406
@mu99el thanks for reporting this. I can reproduce the issue. We are trying to fix this, but I can't give you an ETA at the moment.

[2020-07-23 12:26] philipphofmann commented on #406
We update the Readme https://github.com/getsentry/sentry-cocoa/pull/632 and our official docs for https://github.com/getsentry/sentry-docs/pull/1924 to have clear expectations for all devs at the moment.

[2020-07-23 15:33] gauravrane2212 commented on #486
@bruno-garcia Shouldn't this be a bug and not an enhancement since it broke the ability to send HTTP data which was possible to do it in earlier versions?

[2020-07-23 22:08] bruno-garcia commented on #486
Could you set the request to the scope like:

[code]

Would that help until we have a typed Request?

[2020-07-26 19:19] sjmadsen commented on #316
Is support for something like this still on the roadmap? I have a similar use case (in an iOS share extension), where the lifetime of the process could be very short and I'd like to flush any captured events to the server.

[2020-07-27 02:44] vox-humana opened #635 "NXGetLocalArchInfo is marked as private API"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [x] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.0**

---
Seems like Apple marked `NXGetLocalArchInfo`, which [used in the library to get arch name](https://github.com/getsentry/sentry-cocoa/blob/854ddb4bca43cfd7c1119ec1bf0a9caa452bd74d/S

[2020-07-27 16:12] gauravrane2212 commented on #486
@bruno-garcia  Thanks for your quick response 👍   I tried the swift variation of this logic and I am still not able to send any requests to the Sentry server.
[code]

Is there something else in the newer syntax that would be exactly equivalent to this older syntax?

[code]

[2020-07-28 10:56] philipphofmann commented on #635
Thanks, @vox-humana for reporting this. Firebase has a similar issue: https://github.com/firebase/firebase-ios-sdk/issues/6128 .

[2020-07-30 01:30] #635 closed

[2020-07-30 02:40] vox-humana commented on #635
Thanks for the quick fix 🥳
I've raised a feedback ticket right after I posted it here. Haven't got any response.
The feedback ticket number is FB8184586 is case somebody faces the same issue and finds this thread.

[2020-08-02 14:40] vdudchak opened #655 "Sessions tracking issue with Sandbox version of macOS app in 5.2.0"
After updating to 5.2.0, AppStore version of our macOS app stopped to track session.
`
[SentrySDK startWithConfigureOptions:^(SentryOptions *options) {
        options.enableAutoSessionTracking = @YES;
        options.sessionTrackingIntervalMillis = UINT_MAX;
}];
`
Maybe the reason is the UINT_MAX  interval, but it works in non-sandbox versions of the app and it also works in 5.1.9.

[2020-08-03 16:54] gauravrane2212 commented on #486
@bruno-garcia Any updates on the above query? Thanks :)

[2020-08-04 06:33] philipphofmann commented on #655
Hi @vdudchak, thanks for reaching out. `SentryOptions.sessionTrackingIntervalMillis` is an [`NSUInteger`](https://developer.apple.com/documentation/objectivec/nsuinteger?language=objc). `UINT_MAX` comes from C and is defined in `limits.h`. Maybe it helps if you use `NSUIntegerMax` instead.

If you set the `sessionTrackingIntervalMillis` to such a high value a session is only going to be tracked wh

[2020-08-04 07:05] #587 closed

[2020-08-05 00:41] bruno-garcia commented on #486
@gauravrane2212 could you please paste a [link to a gist](https://gist.github.com/) with the JSON it created?

Based on your example it should include:
[code]

 And that shows up in Sentry. You can also download the JSON from the Sentry UI (there a `JSON` button at the top of the issue page).

We should add this to the API here anyway, PR's welcome!

[2020-08-05 01:02] gauravrane2212 commented on #486
@bruno-garcia With reference to the code I wrote above, it didn't send any entry to the Sentry Server (the UI doesn't reflect any logs). The reason is that the Sentry server is set up behind our corporate firewall and it needs the auth header to be attached to the sentry request for it to show up correctly in the UI dashboard. The previous 4.x Sentry API works fine as I can see logs triggered from

[2020-08-05 01:05] bruno-garcia commented on #486
Now I'm confused. [In this comment](https://github.com/getsentry/sentry-cocoa/issues/486#issuecomment-625903918) you mention you want to attach request data like URL and headers.

The snippet I pasted does that, by adding data to the Scope. Once an event is sent out (like `captureMessage` is called), that data is included in that event.

I'm not sure what do you mean by _I can see logs triggered f

[2020-08-05 01:32] gauravrane2212 commented on #486
@bruno-garcia Oh, sorry if there is a disconnect here! That [comment](https://github.com/getsentry/sentry-cocoa/issues/486#issuecomment-625903918) was from a different developer.

For me, the issue has been finding a replacement for this API method in the 5.x version.
[code]
This is required to intercept the Sentry requests just before sending to the Sentry Server and attaching the "Auth Token" he

[2020-08-05 01:36] bruno-garcia commented on #486
So you want change the HTTP request the SDK sends to Sentry. Not the `request` object in the `context`.

Please raise a new issue requesting that. This is not what the original issue is about.

[2020-08-06 11:12] eaigner opened #659 "Crash in SentryHttpTransport"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [x] Manually

Version of sentry-cocoa:
**5.1.9**

---
I have following issue:

Description goes here ...

[code]

[2020-08-07 17:05] jkmassel opened #660 "Callback after SDK sent event"
_Platform:_
- [x]  iOS
- [x]  tvOS
- [x]  MacOS
- [x]  watchOS

_Swift:_
- [x]  Yes -> any
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [x] Carthage
- [x] Manually

Version of sentry-cocoa:
**5.2.0**

---
I have following issue:

We're unable to manually send requests and wait for a callback, which we use to receive crash reports for crash-on-launch bugs.

**Steps to reproduce:**
In

[2020-08-10 11:50] philipphofmann commented on #660
Hi @jkmassel, thanks for reaching out to us. The before send was moved to the [`SentryOptions`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/include/SentryOptions.h#L75). You can use it like this:
[code]
For an example check out: https://github.com/getsentry/sentry-cocoa/blob/master/Samples/iOS-Swift/iOS-Swift/AppDelegate.swift#L9-L19

[2020-08-10 19:29] martindufort commented on #187
Is this bug back in ? Looks like any of my fatalError calls are missing the descriptions...

CocoaPods
macOS 15.x
Sentry-Cocoa: 5.1.4

[2020-08-11 04:42] jkmassel commented on #660
Hi @philipphofmann – unfortunately that doesn't really address my issue – we're ok with the `beforeSend` hook, what we're missing is the `sendEvent` callback. For example, in Sentry v4 we do this:

https://github.com/wordpress-mobile/WordPress-iOS/blob/0a2ca4d11cf08310f0e0b1cd79a4e70cab8cbcc0/WordPress/Classes/Utility/Logging/SentryStartupEvent.swift#L76-L80

But in Sentry v5, as far as I can tell

[2020-08-11 06:12] philipphofmann commented on #660
The [`SentryClient`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryClient.m#L122-L124) calls the `beforeSend` hook of the `SentryOptions` before sending an event. You can also manually initialize a `SentryClient` and pass `SentryOptions` into it. Does this help you to achieve what you desire?

Maybe these resources help you to understand the concept better:
* https://d

[2020-08-11 06:15] philipphofmann commented on #187
Thanks @martindufort for reaching out to us. Can you give us more context on when you experience the issue? It would be nice if you would open up another issue for this and reference this issue here.

[2020-08-11 13:59] martindufort commented on #187
Thanks for your reply @philipphofmann. Was sure I opened up an issue for this here. Upon further investigation, it was opened in the general Sentry repo: https://github.com/getsentry/sentry/issues/19870

Do you want me to create a new one here and delete the other one ?
Thanks

[2020-08-11 15:01] philipphofmann commented on #187
I transferred the issue to this repo @martindufort https://github.com/getsentry/sentry-cocoa/issues/662. Thanks for opening it.

[2020-08-11 15:50] mmalesevic opened #663 "Prevent the iOS App to send the users IP address"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> Swift 5.2.5 in a UIKit Project
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [x] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.10**

---
I have following issue:
The users IP-address cannot be removed entirely from the event data in iOS beforeSend callback or scope configuration callbacks.

[2020-08-11 16:07] martindufort commented on #187
Thanks for looking into this...

[2020-08-12 15:51] clembou opened #664 "decrypting crashes from binary dependencies?"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version? app: Swift language version = 5. SDK: Swift language version = 4 Xcode 11.2/ 11.3 so swift 5.2+
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.9**

---
Hi, our company maintains 2 apps and 1 SDK written in Swift. We e

[2020-08-13 05:55] nzhuk commented on #611
@philipphofmann Yes, I can confirm that ```debug_meta.images.X.debug_id: Discarded invalid value``` issue was fixed by updating Sentry SDK to 5.2.0 🥳

[2020-08-13 05:56] #611 closed

[2020-08-14 08:21] philipphofmann commented on #635
@vox-humana do you by any chance have already a response from the App Store Review team?

[2020-08-14 08:57] philipphofmann commented on #611
Thanks for the update @nzhuk.

[2020-08-14 09:26] philipphofmann commented on #664
Hi @clembou, thanks for reaching out to us. As you stated that Xcode doesn't give you context when a crash happens it could be that you don't copy the debug information properly into the built products directory and so Xcode is not able to symbolicate the stack trace as described here: https://github.com/Carthage/Carthage#if-youre-building-for-ios-tvos-or-watchos
Furthermore if the debug informati

[2020-08-14 11:16] philipphofmann commented on #663
Hi @mmalesevic and thanks for reaching out to us.

I just see that we miss `ip_address` totally in the serialization of [`SentryUser`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/SentryUser.m#L39). This most likely is the reason, why your endeavors don't work. This is an easy fix.

If activating the setting `Prevent Storing of IP Addresses` in security and privacy doesn't

[2020-08-17 07:54] philipphofmann commented on #662
Thanks, @martindufort for opening this issue. I can easily reproduce this issue.

Calling `fatalError` prints a message and stops execution. Our internal exception handler currently just receives the mach exception EXC_BAD_INSTRUCTION (SIGILL), which doesn't contain the message from `fatalError`. When I try this code on macOS and wait for the problem report from Apple to open I see the message fro

[2020-08-17 11:46] philipphofmann commented on #659
Thanks, @eaigner for reporting this issue. Can you maybe give us more context to understand how we can reproduce this issue? How often does it happen? When does it happen?

[2020-08-17 11:49] philipphofmann commented on #316
Hi @sjmadsen, we have this feature on our list, but I can't give you an ETA. Whoever is interested in this feature can upvote here so we know it's important and maybe prioritize it higher.

[2020-08-17 13:15] eaigner commented on #659
I don't know, happened on someone elses machine. Looks to me though that sentry somewhere passes an `NSString` where a `SentryFileManager` is expected.

[2020-08-17 13:20] philipphofmann commented on #659
Yep, or call `fileManager` on an `NSString`. Both seem weird to me. Did it happen only once or a few times?

[2020-08-17 17:37] martindufort commented on #662
Thanks for validating this @philipphofmann.

I've written a workaround function called `fatalCondition()`. It supercedes `fatalError` and sends a proper Sentry Event.
The only thing is that it creates two events for the same error but I can alway ignore the 'dumb' one.

[code]

[2020-08-18 07:36] bardonadam opened #674 "Not able to use Sentry in separate package"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes (5)
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually
- [x] Swift Package Manager

Version of sentry-cocoa:
**5.2.0**

---
I have following issue:
I'm not able to use Sentry in separate package. When importing Sentry, it gives following error:

`import Sentry // No such module

[2020-08-18 09:37] ainopara commented on #660
We have the same issue, beforeSend called before the `transport` received the event, but we want to know how many events are dropped by `transport`, and we may want to resend some events if they are dropped because there is a temporary network issue in user's device.
that means we need a callback when transport decided to drop an event, which is not the timing beforeSend is called.

[2020-08-18 12:21] philipphofmann commented on #660
Hi @ainopara,
we don't drop any events if there is a network issue with the user's device. When the device is offline we keep the event on the disk. If there are more than 10 events on the disk we drop the oldest one. Starting from v 5.0.0 and above we also drop events directly on the phone if you reached your rate limit. We do this because the backend would drop it anyway and we want to disburden

[2020-08-18 13:31] #663 closed

[2020-08-18 16:08] jkmassel commented on #660
No – we need to a hook for _after_ a given event has been sent, not before.

[2020-08-18 17:10] eaigner opened #677 "Crash in sendEvent:withScope:alwaysAttachStacktrace"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [x] Manually

Version of sentry-cocoa:
**5.1.9**

---
I have following issue:

Our Sentry diagnostic provider looks like this, the app is 100% swift, we are just passing strings into the sentry SDK, no fancy types

[2020-08-19 06:17] philipphofmann commented on #677
Thanks, @eaigner for reporting this issue. Yes, it seems like this could be related to #659. Will take a closer look at this.

[2020-08-19 06:33] philipphofmann commented on #677
The `SentyCient` calls `beforeSend` configured with the [`SentryOptions`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/include/SentryOptions.h#L75) in `[SentryClient sendEvent:withScope:alwaysAttachStacktrace:]`. It could be that the `beforeSend` introduces a retain cycle. Do you use `beforeSend` and if so can you let us know how it looks like?

[2020-08-19 08:17] philipphofmann commented on #660
I'm sorry, we currently don't have such a feature in any of our SDKs, but we hear this multiple times. So this would be a feature request then. Can you maybe make a suggestion on how you wish the feature should look like?

[2020-08-19 08:17] vox-humana commented on #635
@philipphofmann Apple has reached us once via feedback assistant to confirm the case, but after that unfortunately no news.

[2020-08-19 08:19] philipphofmann commented on #635
Thanks for the update @vox-humana. So they confirmed the case. Does this sound like they are going to fix it?

[2020-08-19 08:32] vox-humana commented on #635
@philipphofmann According to my personal statistics Apple never confirms bugs and gives developers any hope 😅 The same happens this time. They've just asked whether we could confirm this issue and that was all.

[2020-08-19 08:34] vox-humana commented on #635
Unfortunately, I can't quickly check whether it is still an issue just by building and uploading binary with this symbol because we have quite strict process for publishing builds (don't have direct access to signing certificates).

[2020-08-19 12:14] philipphofmann commented on #635
I wasn't expecting they would tell you they fix it 😁, but worth a shot. Thanks, a lot for the update @vox-humana.

[2020-08-19 13:19] eaigner commented on #677
No, I don't use `beforeSend`

[2020-08-19 15:15] philipphofmann commented on #677
Thanks @eaigner. Was worth a shot. Then the problem is caused by something else.

[2020-08-19 18:39] jkmassel commented on #660
It'd be great if it just worked the same as v4 – it allowed us to send events with a completion handler:

https://github.com/getsentry/sentry-cocoa/blob/fb4b4be84ae61f9e306348a65600c9dd93977e6f/Sources/Sentry/SentryClient.m#L228-L230

[2020-08-21 02:58] eyuxin commented on #274
Any process？

[2020-08-25 20:38] sammydre commented on #662
@philipphofmann It's possible to extract this information from the Apple Crash Reporting section in some cases. A collection of information on this can be found here: https://bugzilla.mozilla.org/show_bug.cgi?id=1577886

You can see it in action in the code, e.g. https://github.com/apple/swift/blob/6527a216fb2f0264f5009cda379c961ebf59fe65/stdlib/public/runtime/Errors.cpp#L363

[2020-08-27 05:31] RajvinderPayU commented on #434
@bruno-garcia can we send data to 2 different accounts, basically, if I have a dependency of Sentry in my SDK and my merchant is also integrating Sentry then is there any way by which both of us can get crash data in our sentry accounts?

[2020-08-28 08:15] philipphofmann commented on #660
Hi @jkmassel, sorry for the late response. We were quite busy releasing `6.0.0-alpha.0`. I see your point, we have adding this callback on our todo list. I can't make any promises on the ETA though.

[2020-08-28 08:17] philipphofmann commented on #664
@clembou did my response help you to resolve this issue? If so can you please close it?

[2020-08-28 08:19] philipphofmann commented on #662
Thanks, @sammydre for the information.

[2020-08-28 08:22] philipphofmann commented on #655
@vdudchak do you have any updates on this issue?

[2020-08-28 08:25] philipphofmann commented on #280
As we didn't receive new information for quite a while, we close this now.

[2020-08-28 08:25] philipphofmann commented on #300
As we didn't receive new information for quite a while, we close this now.

[2020-08-28 08:25] #300 closed

[2020-08-28 08:29] philipphofmann commented on #328
Thanks, @whiskey a d @qclmnt for pointing out the issue. We are aware of that and have plans to fix this withing version `6.0.0`. I can't give you an ETA though.

[2020-08-28 08:33] philipphofmann commented on #347
This works since at least `5.1.6`. You can do the following and the SDK won't send any events:
[code]

[2020-08-28 08:33] #347 closed

[2020-08-28 08:37] philipphofmann commented on #356
Those warnings were fixed with https://github.com/getsentry/sentry-cocoa/pull/654 and https://github.com/getsentry/sentry-cocoa/pull/633.

[2020-08-28 08:37] #356 closed

[2020-08-28 09:22] philipphofmann commented on #371
`snapshotStacktrace` doesn't exist anymore on 5.x and we stopped the support of 4.x. Please update to 5.x and enable [`attachStacktrace`](https://github.com/getsentry/sentry-cocoa/blob/8ea852b6f12832f469b0f9103c8ed95c2abaf2c5/Sources/Sentry/include/SentryOptions.h#L116) in the SentryOptions, if you want to have stack traces attached to your events.

[2020-08-28 09:22] #371 closed

[2020-08-28 09:43] alessandro-martin commented on #664
Hi @philipphofmann .
We have checked our Carthage script configuration and the only difference we found was that we lacked the `output.xcfilelist` but also, while investigating this, we saw that when there are a lot of `__hidden` symbols in stack traces when using bitcode (which we do) it may be due to the `bcsymbolmap` files not being sent to Apple on submission. Does this ring a bell to you?

[2020-08-28 13:49] jadar commented on #551
I'm seeing a similar issue. We're getting some unhandled Core Data exceptions, but the stacktraces are next to useless. It just points to the line that enqueued the block where the exception was raised. It doesn't seem like Sentry captures any more information than the exception's type. I'm guessing that if I were to see the real logs, it would say something like "CoreData could not fulfill a faul

[2020-08-31 22:13] bruno-garcia commented on #551
Thanks for raising this. We'll investigate this issue.

[2020-08-31 23:10] eakoli commented on #551
FYI originally to work around this I made private static build of things, but later worked around it in a different manner.

We created a cpp file that dynamically loads the __cxa_throw from the next binary in the loader chain (which should be the sentry framework, as its linked before the libc++)

[code]

This was inspired by how were doing the cxx hooking in a sentry-native plugin I made, but I

[2020-09-01 12:36] d2vydov commented on #280
@philipphofmann sorry for inactivity, but yeah, we are still experience problems - every crash log contains `<redacted>` symbols
this screenshot from today's crashlog:

<img width="520" alt="Screenshot 2020-09-01 at 15 29 47" src="https://user-images.githubusercontent.com/9073024/91851520-fd14b200-ec67-11ea-9dc9-d316df081938.png">

but we are using 4.4.1 sentry, the pod is
[code]

I will update se

[2020-09-01 13:08] d2vydov opened #697 "add SentrySDK.isStarted?"
I haven't found a convenient way for check was the sentry started on client or not.

it could be achieved in `4.4.x` via `Client.shared != nil`

what you think for add simple property `@property (nonatomic, class, readonly) BOOL isStarted;`?

[2020-09-01 15:43] bruno-garcia commented on #697
That's fair and would be a good addition.

On Android we have `isEnabled`:
https://github.com/getsentry/sentry-android/blob/282d224739ee6536e7517821aab92f3587bed783/sentry-core/src/main/java/io/sentry/core/Sentry.java#L52

Would be happy to merge a PR adding this API if you're willing to open one.

[2020-09-01 15:51] bruno-garcia commented on #280
The server will add `<redacted>` instead of the function names when we don't have symbols available for the library that contains that code. It often happens on system symbols, once Apple releases updates and Sentry still doesn't have those debug symbols available.

Is this still happening? If so, could you please write the version of the OS that this is happening? It's in the event _Device_ secti

[2020-09-01 16:20] bruno-garcia commented on #551
@eakoli that sounds like a good work around tbhq.

Sadly there's no solution that we can provide for linking dynamically to our framework.

There's more details for those who are unfamiliar with this and end up here:
https://github.com/kstenerud/KSCrash/issues/205#issuecomment-284391574

For that reason I'll close this issue and hope that the our work around can help others if they end up with thi

[2020-09-01 16:20] #551 closed

[2020-09-01 18:04] d2vydov commented on #280
we are notice these versions: iOS 13.5.1, 13.4.1, 13.6, 13.5, 13.6.1, 14.0, 13.3.1, 13.2.3, 13.5.5.

unfortunately, we got that on every crash now

[2020-09-01 18:15] eakoli commented on #551
@bruno-garcia One possible work around is that if there isn't an existing stack trace for where the exception was thrown, at least grab the current stack to show where it hit the std::terminate, then at least there would be somewhat of a stack trace.

it looks like KSCrash managed to work around it, although it looks like its a very backdoors-ish approach.

[2020-09-01 20:50] bruno-garcia commented on #280
Can you please link the project in Sentry?

[2020-09-02 17:12] georges opened #699 "How to get event_id from crash report"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x ]  No

_sentry-cocoa installed with:_
- [x ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.2.2**

---
I have following issue:

I'm trying to send a user feedback via API after a crash (https://docs.sentry.io/api/projects/post-project-user-reports/).

On next l

[2020-09-02 18:12] d2vydov commented on #280
you can look at any project here: https://sentry.dlg.im/organizations/dialog

[2020-09-02 18:46] bruno-garcia commented on #280
Since that's self hosted, you'd need to be loading the Apple debug symbols. I'm not sure how it works.
At Sentry (sentry.io) we make sure to make debug symbols available when new versions come out.

@HazAT thoughts?

[2020-09-02 18:55] d2vydov commented on #697
https://github.com/getsentry/sentry-cocoa/pull/700

[2020-09-02 19:03] d2vydov commented on #697
@bruno-garcia I've just opened a PR: #700

[2020-09-02 21:03] lhunath opened #701 "Permit nil in setExtraValue"
_Platform:_
- [x]  iOS
- [x]  tvOS
- [x]  MacOS
- [x]  watchOS

_Swift:_
- [ ]  Yes
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.0**

---
I have following issue:

`setExtraValue` is declared as:

[code]

In an `NS_ASSUME_NONNULL_BEGIN` block, this implies the extra value may not be `nil`.  Xcode's undefined behaviour saniti

[2020-09-02 21:10] lhunath opened #702 "incompatible with `-Werror,-Wquoted-include-in-framework-header`"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.1.0**

---
I have following issue:

[code]

Ideally, Sentry's header files should be proofed against all warnings to ensure they are maximally compatible with applications

[2020-09-03 18:43] bruno-garcia commented on #701
@lhunath Makes sense to allow 'unsetting' a value from the map.

An alternative API would be `unsetExtra(key)`. That's [the API in .NET](https://github.com/getsentry/sentry-dotnet/blob/d2c16b3f837ce24778f49bc73ec39ab74f9c8470/src/Sentry.Protocol/BaseScopeExtensions.cs#L216) but I don't think it's in the other SDKs.
I couldn't find it in the [unified API docs](https://develop.sentry.dev/sdk/unified

[2020-09-04 02:16] bruno-garcia commented on #702
Agree it shouldn't raise any warnings. We should take care of that somehow.
Is that something you could also fix in a PR? :)

[2020-09-07 17:16] vdudchak commented on #655
Sorry for the late response. No, we are currently using 5.1.9 and everything works fine, I will try to integrate 5.2.2 for the next release and if issue still present will debug to provide more info.

[2020-09-08 20:21] nburyak commented on #442
- Platform: iOS 13
- Swift: Yes
- sentry-cocoa v5.2.2 installed with CocoaPods.

Hi @philipphofmann, I have a weird behavior with the similar result as described above. Here are 2 different ways of initialization:
[code]

However, the code below works perfectly fine:
[code]

[2020-09-08 22:06] bruno-garcia commented on #442
@nburyak That sounds like a problem.

This issue has been resolved and was closed. Can you please create a new one?

[2020-09-14 16:22] alessandro-martin commented on #664
@philipphofmann I am going to close this issue. FYI we needed to make sure the `bcsymbolmap` files were uploaded along all dsyms to App Store Connect and the upload the Apple-massaged dSyms to Sentry.
Now all out crash logs are symbolicated.

[2020-09-14 16:24] clembou commented on #664
Thanks for your help! happy to close this now

[2020-09-14 16:24] #664 closed

[2020-09-15 12:25] philipphofmann commented on #635
@vox-humana do you have maybe any updates if `NXGetLocalArchInfo` is stilled marked as private?

[2020-09-15 12:28] philipphofmann commented on #655
Thanks, @vdudchak for the update. Looking forward to hearing from you once you did your next release.

[2020-09-15 13:00] philipphofmann commented on #699
Hi, @georges. We recently added `crashedLastRun` to [`SentrySDK`](https://github.com/getsentry/sentry-cocoa/blob/1906d143f7fd00ee13269e8dbadf623ea52f6d80/Sources/Sentry/include/SentrySDK.h#L141). So you don't have to call `SentryCrash` anymore.

Unfortunately, we don't have a straightforward way to do this right now. The reports are from our internal crash reporting framework, which originates fro

[2020-09-16 00:52] bruno-garcia commented on #699
@philipphofmann can we add a [field called `lastEventId`](https://develop.sentry.dev/sdk/features/#retrieve-last-event-id) ([for example, in C#](https://github.com/getsentry/sentry-dotnet/blob/a183a39e15e3358f64e409889597c6ceafa831e9/src/Sentry/SentrySdk.cs#L29)) to `SentrySDK` and set this value when running the report conversion in `SentryCrashReportConverter`? That'd mean once Sentry inits, the

[2020-09-16 00:54] bruno-garcia commented on #699
Also please note that we plan to implement user-feedback in the SDK in Q4.
We're still considering which API to add.

@georges what kind of API would you expect?

Would a callback to be registered during Sentry SDK `init` suffice? The callback would be triggered passing the event id as suggested above.

[2020-09-16 00:58] georges commented on #699
A callback would be great but the method you described in first post works too. Basically all that is needed is to know if a crash occurred and retrieve the event_id that can be used to post to the user feedback endpoint.

[2020-09-16 10:12] philipphofmann commented on #699
Yep we can do that. I add it to our Backlog.

[2020-09-16 11:29] philipphofmann commented on #280
@d2vydov can you please share one issue with us, so we can take a closer look?

[2020-09-16 11:42] philipphofmann commented on #701
Thanks, @lhunath for pointing this out. I think what you suggested makes sense. Also, the `NSMutableDictionary` allows `nil` for `setValue` and has a method `removeObjectForKey`.

[2020-09-16 13:33] bruno-garcia commented on #280
I'm pretty sure this is due to missing symbols.
We collect them ourselves. On prem won't have it unless the admins do the same.

[2020-09-16 16:58] kbokarius opened #713 "Particular iOS crash with iPhone 6 Plus w/ iOS 12.4 not being reported"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version? 5.2.4
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
5.2.2

---
I have following issue:

So we’ve integrated the sentry-cocoa SDK, and we’ve confirmed it is reporting crashes to the right project for several different types

[2020-09-17 02:38] vox-humana commented on #635
@philipphofmann Because we are using the library without this symbol I can't verify the issue anymore. Also, we didn't get any reply from Apple.

[2020-09-18 12:57] tobiasjordan opened #725 "OS specific data not included in events captured by Client instances"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  macOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5.3
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [x] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.2.2**

---
I have following issue:

Since upgrading to Sentry 5, I can no longer send events that automatically have the OS specific data (such as the version) via a `Client` instance. The OS

[2020-09-18 16:58] bruno-garcia commented on #713
Cross posted: https://github.com/getsentry/sentry-java/tree/main/sentry-samples

[2020-09-21 06:41] #701 closed

[2020-09-22 08:26] GaoYuJian commented on #280
We have some problems with the on-premise sentry,   is there a way to upload the system framework's symbol files and share with many projects?

[2020-09-22 17:17] bruno-garcia commented on #280
I apologize but this is something we can't help you with. We open source everything we build, including software that is [able to collect system symbols Android from devices](https://github.com/getsentry/symbol-collector), [a library to symbolicate pretty much any format](https://github.com/getsentry/symbolic), but in the area of actually getting data into the symbol servers so that [symbolicator]

[2020-09-22 17:17] #280 closed

[2020-09-23 21:42] jadar commented on #327
I'm running into a similar issue, right now. We're running into CD exceptions when faults cannot be fulfilled, and I'd love to have some more context in Sentry. The user info doesn't seem to be included in the event. Any updates on this issue?

[2020-09-24 07:13] floskel commented on #623
Im seing the same problems also on Bitrise. It seems to be a conflict with RxSwift for my setup. I have notified Bitrise about this ticket.

[2020-09-24 19:02] bruno-garcia commented on #327
This issue was raised for our SDK version 4.
We're about to release 6.0.0 (it's on beta now).

Since 4.0 we've added support to `userInfo` from both NSError and NSException. Could you please try the latest 5.x or if possible our latest beta?

[2020-09-24 19:07] jadar commented on #327
I am currently shipping v5.2.2. I guess the hard part is that I don't if the data is being missed or if it's even there in the first place. I presume that if there's a localized description, it would appear in the `userInfo` dictionary. I'm also not sure where that data would potentially appear in the Sentry event view.

[2020-09-25 09:17] PaulTaykalo opened #738 "Crash on Sentry start session"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [x] Manually

Version of sentry-cocoa:
**5.2.2**

---
I have following issue:

Application Crashes on the start

Crash report:
[code]

// This is how Start is called.
[code]

**Steps to reproduce:**
Not really, happ

[2020-09-25 09:57] PaulTaykalo commented on #738
P.S. From what I see there's some error in the Sentry's cached reports data. Will try to get contents of the directory and return with more information

I would also suggest, that there should be some simple checks on the state restoration for Sentry framework, so this will prevent recurring crashes on start

[2020-09-26 13:57] prof18 opened #741 "Attach a custom stacktrace when capturing an exception"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> any
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**5.2.2**

---
**I have the following issue:**

I'm writing a sample that uses Sentry for [the CrashKiOs library](https://github.com/touchlab/CrashKiOS). The library basically lets you create a c

[2020-09-26 18:38] bruno-garcia commented on #741
Thanks for raising this. We could create the Sentry stacktrace based on the `callStackReturnAddresses` first, and only as a fallback use our current approach.

[2020-09-27 17:47] PaulTaykalo commented on #738
Contents of the data direction in `SentryCrash`.
[Data.zip](https://github.com/getsentry/sentry-cocoa/files/5288768/Data.zip)

Pretty sure that this shouldn't happen too often, but there was trash in the .json file. ¯\_(ツ)_/¯. Still, a bit annoying situation for a user

[2020-09-29 10:31] philipphofmann commented on #741
Yep we could do that @bruno-garcia. I added this to Asana. We can't give you an ETA though @prof18.

[2020-09-29 11:00] philipphofmann commented on #738
Thanks @PaulTaykalo for reporting this issue. I see that the `CrashState.json` in your zip is broken. We could do a fix to not crash when it is broken and just discard it, but I can't give you an ETA for this.

[2020-09-29 11:02] PaulTaykalo commented on #738
@philipphofmann That's totally fine. IT's not that it's happening too often

[2020-09-29 11:07] philipphofmann commented on #327
We add the user info to the [context of the event](https://github.com/getsentry/sentry-cocoa/blob/b5bf9769a158c66a34352556ade243e55f163a27/Sources/Sentry/SentryClient.m#L332-L344) and you should find it at the bottom of your issue view:

<img width="754" alt="Screenshot 2020-09-29 at 13 06 00" src="https://user-images.githubusercontent.com/2443292/94550812-ab564c00-0254-11eb-9834-726caffcc795.png"

[2020-09-29 11:16] philipphofmann commented on #713
As @bruno-garcia already mentioned in [here](https://forum.sentry.io/t/flutter-ios-sentry-cocoa-sdk-not-reporting-all-crashes/11082/4?u=philipp):

I'm also not aware of other types of crashes, that we are not able to report.

FYI, we are building a proper SDK with Flutter in here: https://github.com/getsentry/sentry-dart. Do you maybe have more context about this problem, so we can reproduce it @k

[2020-09-29 13:33] bruno-garcia opened #747 "Implement LogEntry API"
On Android, we called it `Message` which is IMO a better name:

https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/protocol/Message.java

It's actually called Message in the protocol now:
https://develop.sentry.dev/sdk/event-payloads/message

[2020-09-29 14:32] kbokarius commented on #713
@philipphofmann we did confirm that the crash is an OOM crash. Closing this issue, thank you.

[2020-09-29 14:32] #713 closed

[2020-09-29 18:31] prof18 commented on #741
No, problem. Thanks for the feedback!

[2020-10-01 13:20] #747 closed

[2020-10-05 15:24] philipphofmann commented on #702
Thanks @lhunath for raising this issue. We did some fixes for the header files with 6.0.0 and also 6.0.1. Can you please update and let us know if you still experience this issue?

[2020-10-05 15:27] philipphofmann commented on #674
Thanks @bardonadam for raising this issue. We did some fixes for header files in general and also some fixes for Swift Package Manager in 6.0.0. Can you please update and let us know if you still experience the issue?

[2020-10-05 15:32] philipphofmann commented on #725
Thanks @tobiasjordan for reaching out to us. If I call for example `captureMessage` is see some data about the OS in the corresponding issue:

<img width="880" alt="Screenshot 2020-10-05 at 17 30 05" src="https://user-images.githubusercontent.com/2443292/95099625-69d01000-0730-11eb-9775-65c7b73c3e3e.png">

Can you be more specific on which data you are missing?

[2020-10-05 15:35] philipphofmann commented on #677
@eaigner we did quite some changes in the client for 6.0.0. Can you maybe update to 6.0.0 and let us know if you still experience the issue?

[2020-10-05 15:37] philipphofmann commented on #659
@eaigner we did quite some changes in SentryHttpTransport for 6.0.0. Can you maybe update to 6.0.0 and let us know if you still experience the issue?

[2020-10-05 15:38] philipphofmann commented on #655
@vdudchak any updates on this? FYI we did lots of fixes in 6.0.0 for sessions. It's worth upgrading.

[2020-10-05 17:10] bruno-garcia commented on #674
Can you try adding a `name`:

[code]

[I needed to do that here](https://github.com/bruno-garcia/SentryCocoaLumberjack/blob/e30623b76a27647e87d8cba0752724b782ec40ab/Package.swift#L23-L26) but I had a compiler error IIRC.

[2020-10-05 17:23] bardonadam commented on #674
@philipphofmann It works! Thank you!

[2020-10-05 17:23] #674 closed

[2020-10-08 12:44] jamesncl opened #818 "Failed to extract arm64 for Sentry.framework"
I'm trying to add Sentry to my watchOS 7.0 application.

I've added the relevant pod to my podfile:

[code]

My project builds successfully, however when deploying to a real device I get a build error:

It's complaining that it can't extract the `arm64` architecture, and that it can only find `armv7k` and `arm64_32`. Is this a bug in how Sentry is distributed or am I doing something wrong? I'm usi

[2020-10-09 09:56] joaomvfsantos commented on #702
I have updated to 6.0.1 and get the warnings. Basically every double quote import inside a framework raises a warning, which should be angle bracketed.

For the sake of example. In SentryUser.h, #import "SentryDefines.h" should be #import <SentryDefines.h> and so forth on every other file.

[2020-10-12 16:55] koenpunt opened #778 "Attribute issues from enterprise builds with build_type "enterprise" instead of "test""
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.0**

---

Currently apps signed and distributed as enterprise apps, are attributed with `build_type` `"test"`. I'm not completely sure if there's a good way for determini

[2020-10-12 22:53] bruno-garcia commented on #778
Would it make sense to send that as an `environment` instead?
Are you currently setting `environment` programatically? We're evaluating how/what to send there automatically if nothing is set by the user.

[2020-10-14 12:20] philipphofmann commented on #702
Thanks for reporting this @joaomvfsantos. This is a different issue and is related to https://github.com/CocoaPods/CocoaPods/issues/9902. Can you please open up another issue for this?

[2020-10-14 13:12] joaomvfsantos commented on #702
@philipphofmann I apologise for the mixup. I can confirm updating to CocoaPods `1.10.0-rc1` solves the issue I was reporting, so no need for further action. Thank you.

[2020-10-14 13:46] philipphofmann commented on #702
No worries, it looked similar. Thanks for the update @joaomvfsantos.

[2020-10-14 19:24] LiMuBei commented on #406
Any progress on this? It feels like one is left quite alone when developing watchOS apps... :)

[2020-10-15 05:45] philipphofmann commented on #406
Sorry @LiMuBei no progress update on this one. Maybe we can learn from this issue https://github.com/firebase/firebase-ios-sdk/issues/4558 and this PR https://github.com/firebase/firebase-ios-sdk/pull/6262.

[2020-10-15 12:12] paiv opened #796 "Customized error grouping is broken after upgrade from 5.x to 6.x"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [x] Manually

Version of sentry-cocoa:
**6.0.3**

---
I have following issue:

In Sentry SDK 5.x I was able to customize `localizedDescription` of reported `NSError`, so Sentry would group events based on my needs.

[2020-10-15 14:39] philipphofmann commented on #796
Hi @paiv and thanks to reach out to us.

Yes, that would be one workaround. As of 6.x `attachStacktrace` is enabled per default anyways.

We now put `localizedDescription` into the `event.context`, which ends up almost at the bottom of the issue view at Sentry. So you could look into [issue grouping](https://docs.sentry.io/platforms/apple/data-management/event-grouping/) to achieve what you desire

[2020-10-15 15:10] philipphofmann commented on #778
@bruno-garcia just as an internal note this comes from SentryCrash in [`SentryCrashMonitor_System` ](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m#L457-L472). We set the build_type to test when the build is a testing build as for example [Testflight](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/SentryCrash/

[2020-10-15 15:25] philipphofmann commented on #702
As we didn't receive any updates for this issue @lhunath I'm going to close it now. Please open it again, if you still experience the issue.

[2020-10-15 15:25] #702 closed

[2020-10-15 21:38] koenpunt commented on #778
I already set environment to production, but the app is released both as enterprise deployment and the App Store, so it would be nice to have the sdk determine that automatically.

@philipphofmann I'll try and see if that works for us.

[2020-10-16 00:00] bruno-garcia commented on #778
@koenpunt How do you currently detect if it was installed via enterprise deployment? Is there an OOTB way to detect that?

[2020-10-19 15:45] bruno-garcia opened #804 "Capture envelopes written to disk"
To facilitate integration with other SDKs (like react-native, flutter, capacitor), we'd like to be able to capture envelopes written to disk.

Currently, when react-native captures an event and is about to crash, it needs to create an envelope object in the bridge code, access the `fileManager`, and write the envelope to disk.
The Android integration on the other hand receives events from react-na

[2020-10-20 07:29] philipphofmann commented on #796
Another idea just popped into my head. You could extract the `localizedDescription` in the `beforeSend` from the `event.context`, ditch it from the `event.context`, and override the `event.message` with it. Seems a bit hacky, but it would work I think.

[2020-10-20 15:20] philipphofmann commented on #629
@eaigner we just opened up a PR https://github.com/getsentry/sentry-cocoa/pull/805 for manually capturing user feedback like this
[code]

So you could already manually take care of attaching user feedback to an event. We have plans on adding a proper way to attach that on crashes in a user-friendly way. Still, you could already do something like this now:

[code]

Any feedback on this is appreciat

[2020-10-21 10:22] philipphofmann commented on #699
Hey @georges, we merged yesterday an API to manually send user feedback to Sentry https://github.com/getsentry/sentry-cocoa/pull/805. Now we are working on adding a callback to retrieve the `eventId` from a crash event in https://github.com/getsentry/sentry-cocoa/pull/808. The API would look like this

[code]
Would you be so kind to give us feedback on this one?

[2020-10-21 10:27] philipphofmann commented on #629
We are currently working on a callback for crashes in https://github.com/getsentry/sentry-cocoa/pull/808. Together with user feedback, it would look like this:
[code]

Do you maybe have any inputs on this @eaigner ?

[2020-10-22 03:01] dilip9071 commented on #300
Hi Team
I have implimented Sentry SDk in my iOS App.but crashes are not appearing in  my Dashboard.
Here is the my code
 SentrySDK.start { options in
            options.dsn = "https://ac02e90facf54e96acb9cca43d8c966d@o464991.ingest.sentry.io/5476421"
            options.beforeSend = { event in
                return event
            }
            options.logLevel = SentryLogLevel.verbose

[2020-10-22 06:33] georges commented on #699
That design works well. One consideration (I don't know if that's even possible to happen) is wether there can be more than one crash event pending? From what I understand Sentry waits to send crash report on next launch. What if there are two crashes that happened before the app is in a state where Sentry sdk can run again? Would there ever be more than one event? In which case there would be mor

[2020-10-22 07:12] philipphofmann commented on #300
Hi @dilip9071,
can you please open up a new issue for your problem and fill out our issue template.

[2020-10-22 07:15] philipphofmann commented on #699
That's a very good point @georges, there could be more than one crash report. What would you expect in such a case?

[2020-10-22 07:49] philipphofmann opened #809 "Easily Enable/Disabling the SDK"
This affects every platform since **6.x.x**

---
I have following issue:
Can't easily toggle the enabled state of SDK. Before 6.x.x we could toggle this with `SentryOptions.enabled`. This was removed with https://github.com/getsentry/sentry-cocoa/pull/736.

As a user of Sentry, I want easily toggle the enabled state because I need this for use cases of consent management and user privacy to comply

[2020-10-22 07:55] philipphofmann commented on #809
@eric and @lhunath a current way to achieve this is to set the DSN to `""` or `nil` to disable the SDK
[code]

To enable the SDK afterwards do
[code]

We are currently discussing internally how to offer a better API for user consent and privacy in general.

[2020-10-22 15:12] philipphofmann commented on #809
We just decided to basically undo #736 and add the old functionality again, because the new API could take a while and we don't want other users to experience this regression without offering them a reasonable opportunity. I can't give you an ETA yet, but it should be soonish. @eric and @lhunath

[2020-10-22 15:39] lhunath commented on #809
Fair enough, appreciate the attention to user concern!

[2020-10-22 16:17] philipphofmann commented on #629
We just released https://github.com/getsentry/sentry-cocoa/pull/805. I think you can achieve now what you asked for @eaigner. I'm going to close this now.

[2020-10-22 16:17] #629 closed

[2020-10-22 17:01] georges commented on #699
Ok. In case of multiple consecutive crashes, it's very unlikely that the user would know to provide distinct feedback for each situation that caused a crash. So perhaps have the callback fire once but allow for multiple enventId to be passed as an array?

This way the app could decide to display a dialog only once but send multiple capture with same comments for each eventId or only capture and se

[2020-10-23 03:46] eric commented on #809
Thanks!

[2020-10-27 03:20] bruno-garcia commented on #818
What version of the Sentry SDK? Does this happen on the latest? We fixed some issues with packaging in recent versions.

[2020-10-28 17:33] dbyst opened #824 "Don't see WatchOS crashes"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [*]  watchOS 7.1

_Swift:_
- [*]  Yes -> Swift 5
- [ ]  No

_sentry-cocoa installed with:_
- [*] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
6.0.6

---
I have following issue:
I don't see crash reports.

**Steps to reproduce:**
- Install Sentry SDK for watchOS target with pod:
        target 'WatchKit Extension' do

[2020-10-29 04:56] RoCry opened #826 "Some of our issues are missing BREADCRUMBS and user info"
_Platform:_
- [x]  iOS

_Swift:_
- [x]  Yes -> Swift 5.3

_sentry-cocoa installed with:_
- [x] Swift Package Manager

Version of sentry-cocoa:
**6.0.6**

---
I have following issue:

Some of our issues are missing BREADCRUMBS and user info(only have uuid and ip, we did set the normal user.id)

[2020-10-29 11:09] philipphofmann commented on #824
Thanks for reporting this @dbyst, there is already an issue open for this problem https://github.com/getsentry/sentry-cocoa/issues/406. I'm going to close this now.

[2020-10-29 11:09] #824 closed

[2020-10-29 11:26] philipphofmann commented on #826
Thanks, @RoCry for reaching out to us. Can you please post your configuration of Sentry in here and give us more information on how you call Sentry so we can reproduce the issue.

[2020-10-29 16:12] CraigSiemens commented on #316
I'd really like to see this feature. Currently sentry has no good handling for crashes that occur soon after launch so this would allow us to build our own handling until something like background requests (https://github.com/getsentry/sentry-cocoa/issues/271) are implemented and this wouldn't be needed.

[2020-10-29 16:55] #809 closed

[2020-10-29 19:41] adamup928 opened #827 "Sentry SDK Crash - getClassRO"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5.3
- [ ]  No

_sentry-cocoa installed with:_
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
6.0.5

---

We received a crash report visible in Xcode organizer, but not visible in the Sentry dashboard.  It looks like the crash occurred within the Sentry SDK, itself.  Below is a stacktrace

[2020-10-30 00:56] bruno-garcia commented on #316
That's fair. We need to at least implement a wait to block `startWithOptions` until we process hard crashes.

or have `flush` work not only for in-flight events but also through the integration startup process, so we can block on `flush` until processing crashed events finishes.

[2020-10-30 08:09] philipphofmann commented on #827
Thanks @adamup928 for reporting this issue. This could be related to https://github.com/getsentry/sentry-cocoa/pull/786. Can you maybe give us more insights when this happens, so we maybe can reproduce it?

[2020-10-30 13:10] adamup928 commented on #827
Thanks, @philipphofmann - I'm unable to reproduce this crash reliably.

From the logs, I can tell the application was in the foreground, had been running and used for 20+ minutes, and on the main thread, it happened to be in the `prepare()` method of a custom `UICollectionViewFlowLayout`.  Nothing stands out to me, there.  It does look like, however, there was an error in the [AWS AppSync](https:/

[2020-11-03 09:23] floskel commented on #623
Any updates on this?

[2020-11-03 16:57] CodingAleCR opened #834 "Sentry 6.0.7 crashes"
_Platform:_
- [X]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [X]  Yes -> 5.0
- [ ]  No

_sentry-cocoa installed with:_
- [X] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.7**

---
I have the following issue:

When initializing the Sentry SDK with options.debug crashes

**Steps to reproduce:**
- Initialize with:
[code]

**Actual result:**
- Crashes on initial

[2020-11-04 08:11] philipphofmann commented on #834
Hi @CodingAleCR,
thanks for reaching out to us. Do you set a valid DSN, as we explain it in the docs https://docs.sentry.io/platforms/apple/guides/ios/#configure?

[2020-11-04 08:17] philipphofmann commented on #623
Someone opened a similar issue here https://github.com/realm/realm-cocoa/issues/6814. This seems to be a bug in the Xcode build system. They talked to an engineer from Bitrise and suggest a workaround (https://github.com/realm/realm-cocoa/issues/6814#issuecomment-704210233):

Does this fix your problem?

[2020-11-04 12:32] CodingAleCR commented on #834
Hi yes, I set the valid DSN as per the docs, it works fine with version 6.0.6.

[2020-11-04 15:05] philipphofmann commented on #834
Can you maybe post the error you receive here @CodingAleCR?

[2020-11-06 18:51] CodingAleCR commented on #834
For some reason I am not able to reproduce it again, it might have been on my side, sorry to call the false alarm. I'll close the issue now. Thanks @philipphofmann !

[2020-11-06 18:51] #834 closed

[2020-11-09 08:51] philipphofmann commented on #834
Thanks for letting us know @CodingAleCR. I was already getting a bit nervous because this would be a really bad issue, that could have affected multiple people.

[2020-11-09 18:04] bruno-garcia opened #837 "Consuming the package via SPM prints warnings"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version?
- [ ]  No
5.3

_sentry-cocoa installed with:_
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually
- [x] SPM

Version of sentry-cocoa:
**3.x.x**
6.0.7

---
I have following issue:

Description goes here ...

**Steps to reproduce:**
- Add the package via SPM

**Actual result:**
- Actual

[code]

*

[2020-11-11 06:39] ainopara opened #841 "Missing request interface in event"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version? 5.2
- [ ]  No

_sentry-cocoa installed with:_
- [ ] Swift Package Manager
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.6**

---
I have the following issue:

From the [documentation](https://develop.sentry.dev/sdk/event-payloads/request/), the event can carr

[2020-11-11 17:35] anonrig opened #847 "SwiftUI apps stack trace is redacted and useless."
_Platform:_
- [x]  iOS
- [x]  tvOS
- [ ]  MacOS
- [x]  watchOS

_Swift:_
- [x]  Yes -> 5.3
- [ ]  No

_sentry-cocoa installed with:_
- [x] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.6**

---
I have following issue:

Stack trace is redacted on SwiftUI based app.

**Steps to reproduce:**
- Try throwing an error on SwiftUI based app.

**Actual

[2020-11-11 17:40] anonrig opened #848 "DSYM symbolication fails on SwiftUI apps"
_Platform:_
- [x]  iOS
- [x]  tvOS
- [ ]  MacOS
- [x]  watchOS

_Swift:_
- [x]  Yes -> 5.3
- [ ]  No

_sentry-cocoa installed with:_
- [x] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.6**

---
I have following issue:

Symbolication of several native libraries are missing even though the actual application symbolication is successful. How's thi

[2020-11-12 13:54] holtwick opened #851 "Unrequested connections to Sentry service"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes, v5
- [ ]  No

_sentry-cocoa installed with:_
- [x] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.x.x**

---
I have the following issue:

Sentry always sends data to the service. I only want it to connect to Sentry when a crash is happening or any other event I is

[2020-11-12 15:15] philipphofmann commented on #827
Hey @adamup928, we just published 6.0.9, that could fix this issue. Can you please let us know if you still experience the issue here?

[2020-11-12 15:26] philipphofmann commented on #847
Thanks, @anonrig for reporting the issue. We just fixed two important bugs with 6.0.9 that could solve parts of this issue. It would help us a lot if you could update and let us know. In the meantime, we are still looking further into this issue.

[2020-11-12 15:27] philipphofmann commented on #848
Thanks, @anonrig for reporting this. We are looking into this issue and we are going to come back to you with more information.

[2020-11-12 15:35] adamup928 commented on #827
Thanks, @philipphofmann - will do, I'll keep you updated.

[2020-11-12 16:59] anonrig commented on #847
Thank you for the reply. I'll send an update to AppStore with the change of 6.0.9, and update you on the progress.

[2020-11-13 08:57] holtwick commented on #851
This might have been a temporary issue. I cannot reproduce this anymore. `options.enableAutoSessionTracking = false` now works as expected.

[2020-11-13 08:57] #851 closed

[2020-11-13 09:19] philipphofmann commented on #851
Thanks for the update @holtwick.

[2020-11-13 09:34] holtwick commented on #851
@philipphofmann I figured out it only tries to send if a previous run did not set `options.enableAutoSessionTracking = false` and some calls seem to be in the queue. This is acceptable behavior, since I would keep it turned off anyways without explicit OK from the user.

Thanks for the great framework and service BTW! I came from HockeyApp and am more than happy what Sentry offers to macOS and iOS

[2020-11-13 09:37] philipphofmann commented on #851
Thanks for the extra info and thanks a lot for the nice feedback @holtwick.

[2020-11-13 13:14] mitsuhiko opened #852 "Async Stack Traces for libdispatch"
I'm creating this as a meta issue here to capture that this is a currently known limitation we want to have a look at. Currently when someone dispatches an async callback via libdispatch (`dispatch_async`) or something like `DispatchQueue.main.async` and the call becomes tail call optimized, the debug information emitted by the compiler is insufficient to produce a reasonable stack trace.

For ins

[2020-11-13 13:19] mitsuhiko commented on #852
Interestingly this library uses fishhook rather than the enqueue hook from a quick glance: https://github.com/tiantianbobo/XBAsyncStackTrace

[2020-11-13 13:53] philipphofmann commented on #848
Hi @anonrig, we fixed the symbolication of several native libraries on our servers yesterday. Can you let us now, if this fixes the issue?

[2020-11-13 13:58] anonrig commented on #848
Issue still persists with issue id 2020954637, on project 5422524

<img width="944" alt="Screen Shot 2020-11-13 at 4 57 38 PM" src="https://user-images.githubusercontent.com/1935246/99079704-58044700-25d1-11eb-9290-87be402bcbdc.png">

[2020-11-13 14:00] philipphofmann commented on #841
Thanks, @ainopara for reporting this. You are right that this property is missing. We have adding this on our backlog, but I can't give you an ETA. Please upvote if you want this feature, so we can give this a higher prior if needed.

[2020-11-17 11:17] philipphofmann commented on #848
Just to be clear @anonrig, you updated to sentry-cocoa 6.0.9 and the issue still persists right?

[2020-11-17 11:33] philipphofmann commented on #818
Hi @jamesncl, thanks for reporting this issue.
This issue occurs because the build for Carthage fails on Xcode 12, see https://github.com/Carthage/Carthage/issues/3019. We use the recommended workaround script they recommend, which has the limitation of removing arm64 simulator architecture from compiled framework, so frameworks compiled using it cannot be used on Macs running Apple Silicon. For m

[2020-11-17 11:48] philipphofmann commented on #796
As we didn't receive any updates we are going to close this now. Please open it again @paiv if you need more input to solve this issue.

[2020-11-17 11:48] #796 closed

[2020-11-17 11:51] philipphofmann commented on #725
As we didn't receive any updates on this one @tobiasjordan, we are going to close this issue now. Please open it again, if you still have problems or more information for us to reproduce this. Upgrading to v 6.x.x might also help. The breaking changes are from 5.x.x to 6.x.x are way less than from 4.x.x to 5.x.x.

[2020-11-17 11:51] #725 closed

[2020-11-17 11:52] philipphofmann commented on #677
Any updates on this one @eaigner?

[2020-11-17 11:54] philipphofmann commented on #659
Any updates on this one @eaigner?

[2020-11-17 11:55] philipphofmann commented on #655
As we didn't receive any updates on this one for quite a while, we are going to close this issue. Please feel free to open it again if you have more information or still experience the issue.

[2020-11-17 11:55] #655 closed

[2020-11-17 11:58] philipphofmann commented on #556
This was fixed with https://github.com/getsentry/sentry-cocoa/pull/815. I'm going to close this now.

[2020-11-17 11:58] #556 closed

[2020-11-17 12:17] philipphofmann commented on #434
What could work @RajvinderPayU is that your merchant is using Sentry via the static API. That's the normal recommended way. The static API also installs all integrations for crashes, automatic breadcrumbs, auto session tracking etc. This means when you use the static API you get all these nice features.

What you can do in your SDK is to create your own instance of your hub with a different DSN an

[2020-11-17 12:20] philipphofmann commented on #289
This issue is pretty old. We are already on v 6.x.x. If you still experience the issue @ima-tech, please add more info on this ticket or open up a new issue.

[2020-11-17 12:20] #289 closed

[2020-11-17 12:28] philipphofmann commented on #328
This issue was solved 6.0.0 with https://github.com/getsentry/sentry-cocoa/pull/717, we know we could do better when capturing events in a tight loop, but at least the app only freezes slightly and this is not was this issue is originally about.

[2020-11-17 12:28] #328 closed

[2020-11-17 12:31] philipphofmann commented on #378
As we stopped the support for 4.x.x, we are already on 6.x.x, and `SentryClient.sharedClient.extra` doesn't exist anymore, we are going to close this issue.

[2020-11-17 12:31] #378 closed

[2020-11-17 12:32] philipphofmann commented on #302
Thanks, @fdobre for reporting this. We already release 6.x.x. Can you update and let us know if you still experience this issue?

[2020-11-17 12:35] philipphofmann commented on #400
Since 6.x.x attachStacktrace is enabled per default and we updated the comment. We are going to close this issue now.

[2020-11-17 12:35] #400 closed

[2020-11-17 12:37] philipphofmann commented on #327
Do you still experience this issue @koke and @jadar? Can we close this?

[2020-11-17 23:49] flobories commented on #556
Thank you for the follow up @philipphofmann !

[2020-11-18 07:19] LuXiong opened #855 "How to import iOS history crashes"
_Platform:_iOS

_Swift:_NO

_sentry-cocoa installed with:_CocoaPods

Version of sentry-cocoa:
**3.x.x**

---
I have following issue:

Description goes here ...

**Steps to reproduce:**
- Step

**Actual result:**
- Actual

**Expected result:**
- Result

[2020-11-18 08:38] #818 closed

[2020-11-18 08:50] philipphofmann commented on #855
Hi @LuXiong, thanks for opening up this issue. This issue is missing a lot of details. Can you please add more information, so we can help you. Also please update to 6.x.x, if you are on 3.x.x.

[2020-11-19 06:52] ainopara opened #857 "Breadcrumb lose precision when serialize"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [ ] Swift Package Manager
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.9**

---
I have following issue:

timestamp in `SentryBreadcrumb` is serizlized with
[code]
and the date formatter it did not specify millisec

[2020-11-19 08:30] philipphofmann commented on #857
Thanks, @ainopara for reporting this. We just need to set the milliseconds in the template and make sure we don't break anything to fix this:
[code]
In sentry-java the `DateUtil` already adds the milliseconds
https://github.com/getsentry/sentry-java/blob/a5b28427ad61c8941e2384dc098870db4062675a/sentry/src/main/java/io/sentry/DateUtils.java#L18.

This should be an easy fix, but I can't give you an

[2020-11-19 11:30] koke commented on #327
@philipphofmann thanks for letting me know. I'm not working on that project anymore, but I'll pass it along to the developers so they can test it

[2020-11-20 13:53] philipphofmann commented on #662
This post summararizes different resources from the web and investigations.

**Application Specific Information**
As mentioned above one way to retrieve the message when calling `fatalError` or `assert` would be to get this from the Application Specific Information. This information is included on crash reports on macOS, but not on iOS as you can see below. This could be because iOS on-device prun

[2020-11-23 08:53] sammydre commented on #662
We did some research into this at work and unfortunately haven't found the time to write it all up, but I thought it might be helpful to mention some of the pieces here.

- We found by disassembling the output of the swift compiler an optional unwrap is compiled directly into a call to `assertionFailure`
- ... Except that asserts are compiled out in "release" builds, so it's not possible (as far a

[2020-11-23 09:02] sammydre commented on #662
To further elaborate on what the Swift compiler does here:

Swift compiler version:

[code]
Example file that crashes via an unwrap:

[code]

Compiler output with Debug -- note the call to `assertionFailure`

[code]

Compiler output in Release -- note how it just goes to an `int_trap` without seemingly any reporting of what error happened:

[code]

[2020-11-23 10:42] philipphofmann commented on #662
Thanks a lot for the detailed explanation @sammydre 👏. I should have iterated over all the images and look for the `crash_info_t` in each of them, like you explained. Some quick investigation showed me, that I can find the message in `currenlibswiftCore`. We now need to find out how we can add this info to our events and we need to make sure that works properly.

This only works for asserts in rel

[2020-11-24 14:29] bruno-garcia opened #861 "fix: Capture envelope updates session state"
When calling `captureEnvelope` with an event that has an `event.level = error` or higher the SDK needs to increment the error count of the active session.

Currently `captureEnvelope` can only be called on the `SentryClient`. The `SentryHub` needs to also expose this method as the session is managed there.

[2020-11-24 14:48] marandaneto commented on #861
worth noting: Java/Android sets `SentryLevel.info` for `captureMessage` by default.

also sets `SentryLevel.fatal` for `uncaughtException` handler.

but for normal `captureException` and `captureEvent` we don't, the server infers to `error` by default, so it'd be nice if `level=null` marks a session as `errored` as well as it's the default level written in the docs.

[2020-11-24 16:37] bruno-garcia commented on #861
`level=null` marked as error is an excellent point.

[2020-11-25 09:00] timarcngroup opened #863 "Sentry 6.0.9 don't report crashes"
_Platform:_
- [x ]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> 5
- [ ]  No

_sentry-cocoa installed with:_
- [x ] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.9**

---
In the SwiftUI app with Sentry 6.0.9, I can receive logged messages `SentrySDK.capture(message: "")`, but I can not receive any crash reports.
It still

[2020-11-25 11:09] anonrig commented on #847
hey @philipphofmann, it seems that the issue has been partially solved.

[2020-11-25 13:09] philipphofmann commented on #847
@anonrig I'm happy to hear that. What do mean by partially? Which problems do you still encounter?

[2020-11-25 13:19] philipphofmann commented on #863
Thanks, @timarcngroup for opening up this issue. If you always crash your application after around 3 seconds in your AppDelegate, it could be that the Sentry SDK doesn't have enough time to send the crash event to Sentry. We moved more of converting crash events and sending them to Sentry to the background. So it could be that in 5.2.2 we were slowing down your app launch and also delay the call t

[2020-11-25 16:07] #699 closed

[2020-11-26 10:46] philipphofmann commented on #861
On sentry-java the `errorCount`of a session is updated in the [`SentryClient`](https://github.com/getsentry/sentry-java/blob/d2ebce9cffd211dd9d6f46e285f856caea968789/sentry/src/main/java/io/sentry/SentryClient.java#L254-L266). The `SentryClient` only increments the `errorCount`, if [`SentryEvent.isCrashed()`](https://github.com/getsentry/sentry-java/blob/d2ebce9cffd211dd9d6f46e285f856caea968789/se

[2020-11-26 11:40] timarcngroup commented on #863
Good news @philipphofmann , today I will try it one more time with 6.0.10 and it looks it works.
Thank You.

[2020-11-26 11:40] #863 closed

[2020-11-26 14:15] marandaneto commented on #861
@philipphofmann yep that's true, the Android way of checking it is aligned with Python at least.

https://github.com/getsentry/sentry-python/blob/34d9d7307379933516e803fb9d76f590a00cc139/sentry_sdk/client.py#L271-L282

so I believe the way to go would be checking the `mechanism` and/or `exception` list, but this would require the full deserialization of the event.
if we are able to deserialize onl

[2020-11-27 20:24] georges commented on #699
Pulled tag 6.0.10 and tried the feature in my macOS app. Works great. Thank you @philipphofmann 🙏

One small observation is that i was having problems initializing the `onCrashedLastRun` when I used the dictionary initializer with `startWithOptions` (well it initialize fine but it crashed when it tried to invoke the callback). I switched to `startWithOptionsObject` and it worked fine. Note that I'

[2020-11-30 08:07] philipphofmann commented on #699
Thanks for the update @georges. The following code works for me:
[code]

Which error do you get?

[2020-11-30 08:27] #857 closed

[2020-11-30 21:25] georges commented on #699
What I got looked like an invalid pointer was being called and crashed the calling thread at execution, which lead me to suspect that the callback assignment was not done properly in my setup. Once I switched to using properties it worked fine. Probably something to do with how RubyMotion translates lambda block to be used as callback and maybe that pointer math is not working well on a dictionary

[2020-11-30 23:59] bruno-garcia commented on #861
Makes sense to me to increment the counter if level=error or higher.
Might not be very common on mobile but on Java and .NET it is due to widespread use of loggers.

So a session has errors if someone called `logger.error()`? I'd say yes. You?

[2020-12-01 08:05] marandaneto commented on #861
yes, but I'd rather implement this to all mobile SDKs, I don't want session counting being different on Android and Flutter for example.

[2020-12-01 08:54] philipphofmann commented on #699
Thanks for the detailed update @georges. It's better that to raise a flag when things are uncertain than never raising it.

[2020-12-01 16:55] MageSantana commented on #434
Hi,
I'm developing a custom swift framework and I'm using the Sentry version 6.0.9. I use Sentry as @philipphofmann proposed:

`// In your SDK
let options = Options()
options.dsn = "SDK_DSN"

let hub = SentryHub(client: Client(options: options), andScope: nil)
hub.capture(message: "hub message")`

but OS specific data are not included in events or messages send.

[2020-12-03 09:34] MageSantana commented on #725
Hi, I'm using version 6.0.9 and OS specific data are not included in events or messages send.

[2020-12-03 13:23] HelgeBecker opened #866 "Sentry wont build for Apple Silicon"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version? 5
- [ ]  No

_sentry-cocoa installed with:_
- [ ] Swift Package Manager
- [ ] CocoaPods
- [x] Carthage
- [ ] Manually

Version of sentry-cocoa:
**3.0.10**

---
I have following issue:
Sentry wont build for Apple Silicon
I am aware what you did, but putting arm on ignore is no solution

**S

[2020-12-03 13:35] philipphofmann commented on #866
Hi @HelgeBecker thanks for reaching out to us.
I'm sorry to tell you that we are aware of the issue. This is because Carthage has an open issue for this, see https://github.com/Carthage/Carthage/issues/3019. We also mention this in our known limitations: https://github.com/getsentry/sentry-cocoa#known-limitations.

[2020-12-03 13:46] philipphofmann commented on #434
The `SentryCrashIntegration` sets the OS-specific data. So what you could do is to init the other Hub with the scope of the Hub of the SDK. Something like this should work:
[code]
Still, you won't receive hard crashes, automatic breadcrumbs, and sessions, but you get the OS-specific data.

[2020-12-03 13:47] philipphofmann commented on #725
@MageSantana please see https://github.com/getsentry/sentry-cocoa/issues/434#issuecomment-738003464.

[2020-12-03 21:04] huluyige opened #867 "Device info is Only available for crashes, but not for events"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version?
- [ ]  No

_sentry-cocoa installed with:_
- [ ] Swift Package Manager
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.10**

---
I have following issue:

Hello, with the lastest version of iOS SDK, i found that device informations (freememory...) are only avail

[2020-12-07 23:11] tmm1 opened #868 "Thread explosion and out of memory errors w/ high-throughput sentry breadcrumbs"
_Platform:_
- [x]  tvOS

_Swift:_
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods

Version of sentry-cocoa:
**6.0.10**

---

We make heavy use of `+[SentrySDK addBreadcrumb:]` and have been noticing OOM issues in our app.

I was able to reproduce the issue with ASAN enabled in Xcode:

[code]

This looks fairly normal, however if you look at the number of threads there are over 60 threads

[2020-12-07 23:18] eric commented on #868
I also noticed that this lock is around much more than it would need to be:

https://github.com/getsentry/sentry-cocoa/blob/d730586df68381256640460cee8d38093f98d85d/Sources/SentryCrash/Recording/SentryCrash.m#L160-L176

[2020-12-07 23:24] tmm1 commented on #868
Here's a full backtrace as copied from Xcode which shows all the queues involved:

[code]

I'm a bit confused about why `[SentryCrash setUserInfo:]` is being called at all. Is the user info attached to every single breadcrumb event?

[2020-12-07 23:58] tmm1 commented on #868
I tried my repro with https://github.com/getsentry/sentry-cocoa/commit/d2e3ad7555f0415fbfdd091bc3a4ee39c17b8ac0 to get rid of the `dispatch_get_global_queue`. It seems to help and the OOM doesn't happen as quickly anymore, but I am still seeing OOMs eventually:

<img width="490" alt="Screen Shot 2020-12-07 at 3 51 04 PM" src="https://user-images.githubusercontent.com/2567/101419499-fcae3780-38a4-1

[2020-12-08 00:05] tmm1 commented on #868
Looks like it is coming from here:

https://github.com/getsentry/sentry-cocoa/blob/d730586df68381256640460cee8d38093f98d85d/Sources/Sentry/SentryCrashIntegration.m#L184-L193

All the threads were trying to call `setUserInfo` on `SentryCrash.sharedInstance` at the same time hence the lock/waits.

[2020-12-08 02:24] tmm1 commented on #868
I continue to see `encodeObject` in a lot of the OOMs

<img width="488" alt="Screen Shot 2020-12-07 at 4 55 54 PM" src="https://user-images.githubusercontent.com/2567/101429954-ed38e980-38b8-11eb-8505-4df0591d7714.png">

I tried to attach Instruments to get a better view, and it confirms that this code-path is generating a lot of allocations:

<img width="1281" alt="Screen Shot 2020-12-07 at 6 10

[2020-12-08 18:35] bruno-garcia commented on #868
Thank you for raising this. This is indeed not great, we'll address it.

[2020-12-08 21:08] bruno-garcia commented on #868
I believe a more immediate fix is to add your fix with `DISPATCH_QUEUE_SERIAL` which doesn't require dropping iOS 9. Next we'll split the serialization to work over a single breadcrumb instance (or a list) instead of the whole scope, that's happening now on each scope change.

We'll take on this as a first priority from our backlog now.

[2020-12-09 01:36] tmm1 opened #870 "NSInvalidArgumentException from [SentrySession serialize] due to nil object?"
_Platform:_
- [x]  tvOS

_Swift:_
- [x]  No

_sentry-cocoa installed with:_
- [x] CocoaPods

Version of sentry-cocoa:
**6.0.10**

---
I have following issue:

[code]

https://sentry.io/organizations/fancy-bits-llc/issues/2080123246/

[2020-12-09 17:00] philipphofmann commented on #870
Thanks, @tmm1 for opening this issue. I can easily reproduce this
[code]

I think `SentrySession.initWithJSONObject` should set some default values for the required properties if the passed dictionary doesn't contain them. This should be an easy fix.

[2020-12-09 18:04] tmm1 commented on #868
Closing as this should be resolved with #869

We will be pushing Sentry 6.0.11 into production and hope for smooth sailing from here on out.

[2020-12-09 18:04] #868 closed

[2020-12-09 18:06] tmm1 commented on #870
Thanks for the investigation. This is affecting our use of sentry inside iOS/tvOS extensions and I hope it can be resolved soon.

[2020-12-10 03:38] bruno-garcia commented on #868
Thanks @tmm1 once again for the diagnostics, detailed description and the fix. We really appreciate it.

[2020-12-10 09:03] philipphofmann opened #871 "Add basic support for attachments"
The goal of this issue is to add basic support for attachments, for an alpha release. We already implemented attachments here

- https://github.com/getsentry/sentry-python/pull/856/
- https://github.com/getsentry/sentry-java/pull/1082

An attachment can either contain a byte array or the path to a file.
[code]

The attachments live on the scope. Our users can either add them on the global scope to

[2020-12-10 22:54] bruno-garcia commented on #870
I wonder how does the serialized session ends up in that state if those values are set in the constructor.

What about in this case we simply return `nil` and throw away the session? Not sure if it can be recovered so adding default values to help compensate a broken json might end up creating bad data which can't distinguish on the server.

[2020-12-11 09:07] philipphofmann commented on #870
I also wonder how this can happen. I'm as well up for returning `nil`, but this would be a breaking change. That's why I proposed to use some default values instead in https://github.com/getsentry/sentry-cocoa/pull/872. IMO `initWithJSONObject` wouldn't even need to be public.

[2020-12-15 08:09] #870 closed

[2020-12-15 14:52] #871 closed

[2020-12-15 15:31] philipphofmann opened #880 "Improve thread safety for SentryScope"
`SentryScope` is not 100% thread-safe. For example `initWithScope`, `isEqual`, `isEqualToScope` and `hash` could cause problems. Furthermore `@synchronized(self)` is used in many places used which is not necessary.

[2020-12-21 16:24] philipphofmann opened #885 "Remove isEqual and hash for SentryAttachment"
It doesn't make sense to add the implementation for `isEqual` and `hash` for SentryAttachment. It was only added because the SentryScope also implemented these functions. As we are going to remove them with https://github.com/getsentry/sentry-cocoa/pull/884 we can also remove them from SentryAttachment.

[2020-12-23 08:49] #885 closed

[2020-12-24 01:34] bruno-garcia commented on #837
This is still happening and it's quite a problem if you're just using `swift` in the CLI.

[2020-12-28 16:14] philipphofmann commented on #880
isEqual, isEqualToScope, and hash were removed with https://github.com/getsentry/sentry-cocoa/pull/884.

[2020-12-28 16:24] philipphofmann commented on #880
I'm not sure @bruno-garcia how we can improve `initWithScope`. If you pass a `scope` that is modified during `initWithScope` I don't think we can do anything inside `initWithScope` to avoid this. It is the responsibility of the caller to make sure the passed in scope is not modified if he wants that.
Currently, `initWithScope` is called in the `SentrySDK` for the methods that use a [local scope](h

[2020-12-29 15:47] philipphofmann commented on #867
Hi @huluyige thanks for reaching out to us and sorry for the late reply.

We set the `deviceInfo` on the scope in here: https://github.com/getsentry/sentry-cocoa/blob/b2e8f9ea9af1e99c8573547fe2842427b7feba9a/Sources/Sentry/SentryCrashIntegration.m#L141-L156

It should be sent with every event. Do you maybe do any changes to the scope, like calling `scope.clear()` somewhere?

[2020-12-29 15:48] philipphofmann commented on #855
As we didn't receive any input for over a month for this issue, we are going to close this now. Please feel free to open it again @LuXiong if you have more context.

[2020-12-29 15:48] #855 closed

[2020-12-29 15:49] philipphofmann commented on #827
Any news on this one @adamup928?

[2020-12-29 15:50] philipphofmann commented on #826
As we didn't receive any input for two months we are going to close this issue now. Please feel free to open it again if you have more information @RoCry.

[2020-12-29 15:50] #826 closed

[2020-12-29 15:51] adamup928 commented on #827
We haven't seen any recurrence of this issue.  I think it's safe to close and I can re-open, if necessary.  Thanks for the follow-up!

[2020-12-29 15:51] philipphofmann commented on #677
As we didn't receive any input for over a month for this issue we are going to close it. Please feel free to open it again @eaigner if you have any updates.

[2020-12-29 15:51] #677 closed

[2020-12-29 15:53] philipphofmann commented on #434
I think the initial question has been answered. I'm going to close this now. Please open it again if you need more input.

[2020-12-29 15:53] #434 closed

[2020-12-29 15:54] philipphofmann commented on #327
As we didn't receive any input for over a month I'm going to close this issue. Please feel free to open it again @koke if you have more input.

[2020-12-29 15:54] #327 closed

[2020-12-29 15:55] philipphofmann commented on #302
As we didn't receive any input for over a month we are going to close this now. Please open it again if you need some help.

[2020-12-29 15:55] #302 closed

[2020-12-29 16:08] philipphofmann commented on #271
This issue could be fixed with fixing https://github.com/getsentry/sentry-cocoa/issues/316

[2020-12-29 16:10] philipphofmann commented on #274
As we didn't receive any new input we are going to close this issue. Please feel free to open it again if you have more information.

[2020-12-29 16:10] #274 closed

[2020-12-29 16:24] philipphofmann commented on #370
As we didn't receive any input for around half a year we are going to close this issue. Feel free to open it again @ryan-noths if you need more input from our side.

[2020-12-29 16:24] #370 closed

[2020-12-29 16:25] philipphofmann commented on #393
Thanks, @ainopara for opening this issue. We are already on v 6.x.x and did a lot of fixes for breadcrumbs since 4.4.3. Can you please let us know if you still experience the issue there?

[2020-12-29 16:35] philipphofmann commented on #315
As far as I know, we currently don't detect memory leaks. You can use the instruments of Xcode to detect memory leaks. You can open them like this

https://user-images.githubusercontent.com/2443292/103299085-0c302480-49fc-11eb-8ed9-8b6e1be941ce.mov

You can also check out this talk https://developer.apple.com/videos/play/wwdc2019/411/

[2020-12-29 16:35] #315 closed

[2020-12-29 17:07] philipphofmann commented on #827
Thanks for the info @adamup928.

[2020-12-29 17:07] #827 closed

[2020-12-30 05:41] ainopara commented on #393
Thank you for your reply, I think this issue has been fixed since 5.0.0, just forget to close.

[2020-12-30 05:41] #393 closed

[2020-12-30 08:12] #310 closed

[2020-12-30 08:20] philipphofmann commented on #659
As we didn't receive any updates for this for over a month we are going to close this now. Please feel free to open this again @eaigner if you have more input.

[2020-12-30 08:20] #659 closed

[2021-01-04 02:24] bruno-garcia commented on #880
We shouldn't be reading the members of `scope` from the constructor I think. We should be getting a clone from it. We can then safely read the fields from the clone.

Exactly, we don't know when but we know it's possible. So we just need to synchronize access.

[2021-01-04 08:06] philipphofmann commented on #880
So @bruno-garcia you mean we should add `copy` to `SentryScope` and call it in `initWithScope` before reading from it?

[2021-01-04 08:33] #837 closed

[2021-01-05 04:05] bruno-garcia commented on #880
@philipphofmann I think it's the only way to guarantee thread-safety. The object can clone itself where it can hold the right locks while it reads through its maps and lists (any thread trying to change things through our public API will block) and returns a new instance.

[2021-01-07 21:10] dannyhertz opened #897 "OOM Crashes not being reported?"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [x]  Yes -> If yes, which version?  (5)
- [ ]  No

_sentry-cocoa installed with:_
- [x] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.12*

---
I have following issue:

OOM crashes are not being reported!

Description goes here ...

**Steps to reproduce:**
- Crash app fro

[2021-01-08 10:41] philipphofmann commented on #897
Hi @dannyhertz,
Sadly, we currently don't report OOM (https://github.com/kstenerud/KSCrash/issues/10) or memory leaks (https://github.com/getsentry/sentry-cocoa/issues/315 and https://github.com/getsentry/sentry-react-native/issues/252), because they are really hard to detect. We have a breadcrumb for low memory warnings; see https://github.com/getsentry/sentry-cocoa/blob/ef362d3323de4adf388f47a66

[2021-01-08 12:51] huluyige commented on #867
yes @philipphofmann you are absolutely right ! it works after using scope.clear() properly

[2021-01-08 12:55] #867 closed

[2021-01-11 08:12] philipphofmann commented on #867
Thanks for the update @huluyige. I'm glad it works.

[2021-01-11 09:03] #880 closed

[2021-01-13 13:14] philipphofmann opened #899 "Add maxCacheItems to SentryOptions"
Sentry-Java has an option [`cachDirSize`](https://github.com/getsentry/sentry-java/blob/81594398ee623b40eb9df1a847dbe21d9e4c25ef/sentry/src/main/java/io/sentry/SentryOptions.java#L108) for the number of maximum envelopes to store on disk. In Cocoa, this is hardcoded to 100 in the [`SentryFileManager`](https://github.com/getsentry/sentry-cocoa/blob/621504e04fc18160c1354028749f0a920943b261/Sources/S

[2021-01-13 13:32] philipphofmann opened #900 "Use NXGetLocalArchInfo again"
With https://github.com/getsentry/sentry-cocoa/issues/635, a user reported that Apple marked `NXGetLocalArchInfo` as a private API. This stopped him from releasing his app. FirebaseCrashlytics had a similar issue with https://github.com/firebase/firebase-ios-sdk/issues/6128. We merged a PR to remove the usage of `NXGetLocalArchInfo ` https://github.com/getsentry/sentry-cocoa/pull/651. Firebase did

[2021-01-13 14:07] nburyak opened #901 "Sentry grouping considers only the error's domain"
_Platform:_
- iOS
- tvOS

_Swift:_
- 5

_sentry-cocoa installed with:_
- CocoaPods

Version of sentry-cocoa:
**6.0.10**

---
I have following issue:

In the 6.x version the title is the combination of the error domain and code, for ex: _NSURLErrorDomain -1009_

I found it confusing that the events with the same error domain _but different error code_ appear under the same entry on the Sentry porta

[2021-01-13 17:10] philipphofmann commented on #419
If we disable the SDK after the SDK was initialized, the crash handlers of SentryCrash are still active. It would write a report to disk, and the next time the SDK is initialized, convert those crash reports to events. We would need to sync the enabled/disabled state to SentryCrash. Or am I missing something?

[2021-01-14 00:40] bruno-garcia opened #903 "Delete all dead code"
There's some dead code in the tests project that should be deleted.

I.e:

![image](https://user-images.githubusercontent.com/1633368/104529200-290d5000-55d7-11eb-9df8-7ec60bca0332.png)

[2021-01-14 09:59] philipphofmann commented on #901
Hi @nburyak, thanks for reaching out to us.

Yes, errors with the same domain get merged if their stacktrace looks similar. You can find out more about grouping here: https://docs.sentry.io/product/sentry-basics/guides/grouping-and-fingerprints/.

You could use [SDK side fingerprinting](https://docs.sentry.io/platforms/apple/data-management/event-grouping/sdk-fingerprinting/) to custom it as you w

[2021-01-14 10:09] philipphofmann commented on #901
Please upvote this if you would like to have an extra issue per error domain and code. This means MyDomain 1 and MyDomain 2 would be different issues in Sentry, and they are not grouped.

[2021-01-14 11:21] philipphofmann commented on #901
As we set the params of [`SentryMessage`](https://github.com/getsentry/sentry-cocoa/blob/master/Sources/Sentry/Public/SentryMessage.h) for the event @mitsuhiko do you know if we could adapt the grouping on the server to achieve this?

[2021-01-15 07:54] #903 closed

[2021-01-18 13:51] LuXiong opened #907 "Sentry iOS Crashed:Attempted to dereference garbage pointer"
_Platform:_
- [x]  iOS
- [ ]  tvOS
- [ ]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [ ] Swift Package Manager
- [ ] CocoaPods
- [ ] Carthage
- [x] Manually

Version of sentry-cocoa:
**6.0.9**

---
I have following issue:
Application Specific Information:
extra >
Attempted to dereference garbage pointer 0x5d836c6a0.

Thread 38 Cr

[2021-01-18 14:53] #861 closed

[2021-01-18 15:20] bruno-garcia commented on #900
Architecture is being reported properly:

![image](https://user-images.githubusercontent.com/1633368/104933289-bacde200-5976-11eb-859a-a72162246a89.png)

[2021-01-18 15:28] bruno-garcia commented on #901
Since the solution with Fingerprint on the SDK is the way around this, we're closing this issue. Feel free to reopen otherwise.

[2021-01-18 15:28] #901 closed

[2021-01-18 15:34] bruno-garcia commented on #419
Sounds like the solution for this is to get `SentrySDK.close()` to work as it should. Stop reports from being written to begin with, so on restart they are not sent to the server.

[2021-01-18 20:54] bruno-garcia commented on #907
We had some fixes on the latest version that addresses this issue such as copying the tags under a guard before returning the reference: https://github.com/getsentry/sentry-cocoa/blob/a81025de4704324ec7c18db8379a4f597b0ec804/Sources/Sentry/SentryScope.m#L261

Could you please upgrade to [6.1.3](https://github.com/getsentry/sentry-cocoa/releases/tag/6.1.3)

[2021-01-18 20:55] bruno-garcia commented on #907
I'll close this since it was resolved on `6.1.0` but feel free to reopen if you have issues after the upgrade.

[2021-01-18 20:55] #907 closed

[2021-01-20 14:39] bruno-garcia opened #910 "Set user.ip_address to `{{auto}}` when `sendDefaultPii=true`"
The SDK should have an option `sendDefaultPii` and when any event goes through, that doesn't have `ip_address` set, the SDK should set it to `{{auto}}` to instruct the server to use the connection IP address as the user address.

Add to: https://github.com/getsentry/sentry-docs/blob/9887bd548e8acc4ffa6454b141b8ba8cb8f7a79d/src/platforms/common/configuration/options.mdx#L88.
PR for updating the doc

[2021-01-20 15:26] philipphofmann commented on #477
Both classes are not public anymore with 6.x.x, so we consider this issue to be resolved. We have plans to make `SentryHttpTransport` public again in the future, but we don't know yet when. Please open up another issue if you need `SentryTransport` to be public.

[2021-01-20 15:26] #477 closed

[2021-01-21 08:21] marandaneto opened #911 "Drop 'SentryLogLevel' in favor of 'SentryLevel'"
Context: https://github.com/getsentry/sentry-dart/pull/274/files#r561677973

SDKs use the SentryLevel (diagnosticLevel) for debugging levels too, so it's easier to pass the configuration across hybrid SDKs.
Right now Cocoa has a debugging level (SentryLogLevel) with limited options, leading to the issue above where we can't really map from one to one.

[2021-01-21 08:28] marandaneto opened #912 "Fix sessions for hybrid SDKs"
Context: https://github.com/getsentry/sentry-dart/pull/274/files#r561682268

A hybrid SDK can post a `SentryHybridSdkDidBecomeActive` notification. `SentrySessionTracker.start()` registers to an internal notification `SentryHybridSdkDidBecomeActive` and calls `didBecomeActive` when receiving int.

The NSNotificationCenter could post
* just SentryHybridSdkDidStart
* both SentryHybridSdkDidStart and

[2021-01-21 11:10] philipphofmann commented on #911
So this would mean we could entirely drop `SentryLogLevel` in the next version?

[2021-01-21 15:40] philipphofmann commented on #912
`SentrySessionTracker.start()` registers to an internal notification `SentryHybridSdkDidBecomeActive` and calls `didBecomeActive` when receiving int.

The `NSNotificationCenter` could post
* just `SentryHybridSdkDidStart`
* both  `SentryHybridSdkDidStart` and `didBecomeActiveNotification`
* just `didBecomeActiveNotification`

[2021-01-22 11:12] #912 closed

[2021-01-22 14:22] philipphofmann commented on #419
A customer asked about disabling/closing the SDK when an app is shutting down. They get crash events when the app is terminating, and they would like to ignore them.

[2021-02-01 10:22] #910 closed

[2021-02-01 18:11] philipphofmann commented on #741
It's worth mentioning that a customer uses [CrashKiOS](https://github.com/touchlab/CrashKiOS) for Kotlin Multiplatform.

[2021-02-01 18:25] bruno-garcia opened #924 "Support Kotlin Multiplatform"
There's an experiment here: https://github.com/getsentry/sentry-kotlin-multiplatform

Related to: https://github.com/getsentry/sentry-cocoa/issues/741

Goals:
* Make it work with CrashKiOS: https://github.com/prof18/CrashKiOS/tree/master/sample/iosAppSentry
* Make sure `sentry-cocoa` works directly on a KMM app.

[2021-02-02 15:27] philipphofmann commented on #866
[Carthage 0.37.0 release](https://github.com/Carthage/Carthage/releases/tag/0.37.0)  introduced support for XCFrameworks, which are needed for Apple Silicons. This means you now can use Sentry via Carthage for Apple Silicon macs. This release does not support producing an XCFramework for GitHub dependencies, which downloads binaries. There is a workaround with using `--no-use-binaries` to make Car

[2021-02-02 15:27] #866 closed

[2021-02-02 15:38] philipphofmann commented on #866
We are going to add this info to known limitations, see https://github.com/getsentry/sentry-docs/pull/2996

[2021-02-02 21:13] jadar opened #930 "Unable to build from source using Carthage 0.37.0"
### Environment

I'm using Sentry in the cloud on iOS.
- Sentry 6.1.4
- Carthage 0.37.0
- Xcode 12.4

### Steps to Reproduce

1. Add sentry to Cartfile
2. Run `carthage update sentry-cocoa --no-use-binaries --use-xcframeworks`

### Expected Result

Sentry-cocoa would successfully build.

### Actual Result

The build fails because of the modulemap. It seems that it's conflicting with the framework'

[2021-02-02 23:43] bruno-garcia opened #931 "Mark the calling thread as `something` when capturing event"
The grouping code relies on a single stack trace to apply grouping rules. To help the server figure out what stack trace to use when all threads are reported, we need to mark the `crashed` field to `true` to the calling thread (the one that captured the message).

Similar to what we do on Android:

https://github.com/getsentry/sentry-java/blob/305a4626549e418e45604011f10152a8a9725f4f/sentry-androi

[2021-02-03 08:17] marandaneto commented on #931
consider https://github.com/getsentry/sentry-java/blob/b7b5523430dd666577339dc8588e634df20bfb13/sentry/src/main/java/io/sentry/SentryThreadFactory.java#L113-L123 instead, trace back the `crashed` boolean

[2021-02-03 09:56] philipphofmann opened #933 "SentryCrash marks almost all stack trace frames as inApp for crashes in Flutter"
### Environment

How do you use Sentry?
Sentry SaaS (sentry.io)

Sentry 6.1.4

### Steps to Reproduce

Use the [iOS sample from Flutter](https://github.com/getsentry/sentry-dart/tree/main/flutter/example/ios) and trigger a crash.

### Expected Result

Mark most frames as not inApp as in Cocoa, see https://sentry.io/share/issue/46bf37bc7e4a42829805b1de9fabe6d2/

<img width="798" alt="Screenshot 202

[2021-02-03 09:59] marandaneto commented on #933
Consider if we require a special rule for Flutter as we do for React native
https://github.com/getsentry/sentry/blob/c77db62203708bd10df72897179a97fb73ad3f2a/src/sentry/grouping/enhancement-configs/common%402019-03-23.txt#L62

it'd be [SwiftSentryFlutterPlugin](https://github.com/getsentry/sentry-dart/blob/main/flutter/ios/Classes/SwiftSentryFlutterPlugin.swift)

[2021-02-03 09:59] philipphofmann commented on #933
It could be that the logic for [`SentryCrashStackEntryMapper.isInApp`](https://github.com/getsentry/sentry-cocoa/blob/88e893eed4ba7e51e0d82834f18b7bec5b56905c/Sources/Sentry/SentryCrashStackEntryMapper.m#L40-L43), that is called in [`SentryCrashReportConverter`](https://github.com/getsentry/sentry-cocoa/blob/88e893eed4ba7e51e0d82834f18b7bec5b56905c/Sources/Sentry/SentryCrashReportConverter.m#L250)

[2021-02-03 13:33] philipphofmann commented on #931
But then the name `crashed` seems a bit weird to me. If we change it we should document that it is not only about `crashed` but the server needs this to figure out which stacktrace to use. Maybe we should also update the [dev docs](https://develop.sentry.dev/sdk/event-payloads/threads/)?

[2021-02-03 13:42] marandaneto commented on #931
yes, it's not the first time nor the last time people got confused about the naming, but we hardly will find a name that fits all the languages too, so it was decided to keep as it is, the naming of the fields, also, it'd be a huge breaking change.

https://develop.sentry.dev/sdk/event-payloads/threads/
already has a good description for `current`

I've tried to change it once the description for

[2021-02-03 15:44] bruno-garcia commented on #931
Currenly `crashed` field as Manoel said shows up in the UI as `erroed`: true

![image](https://user-images.githubusercontent.com/1633368/106771197-b65b2780-660c-11eb-84c2-1b5a62f1b7fc.png)

And in the threads selector (the fire icon 🔥 )

Since this is for a captureMessage with attachStacktrace. We likely need another field here

[2021-02-03 23:21] bruno-garcia opened #934 "`close` method on `SentrySDK` should disable SentryCrash"
Similar to: https://github.com/getsentry/sentry-java/issues/1225

The goal is to make sure if `close` is called, no crash file is generated. This means SentryCrash needs to be disabled completely.

[2021-02-04 01:08] georges opened #935 "C++ NoMethodError Exception does not provide anything useful in sentry.io UI"
_Platform:_
- [ ]  iOS
- [ ]  tvOS
- [x]  MacOS
- [ ]  watchOS

_Swift:_
- [ ]  Yes -> If yes, which version?
- [x]  No

_sentry-cocoa installed with:_
- [ ] Swift Package Manager
- [x] CocoaPods
- [ ] Carthage
- [ ] Manually

Version of sentry-cocoa:
**6.0.10**

---
I have following issue:

I've receive sentry report of C++ Exception NoMethodError events. When I look at the various thread dump at

[2021-02-04 10:39] philipphofmann commented on #930
Hi, @jadar,
Thanks for reaching out to us. For me `carthage update sentry-cocoa --no-use-binaries --use-xcframeworks` in a sample project with Xcode 12.4, Sentry 6.1.4, and Carthage 0.37.0 works fine. Can you maybe try to clean your build cached, delete the build folder and try again?

[2021-02-04 10:42] philipphofmann commented on #935
Hi, @georges,
Can you maybe share a link to the issue in Sentry so we can see more context?

[2021-02-04 16:58] georges commented on #935
For example

https://sentry.io/organizations/island-magic-co/issues/1874485473/events/543cf9ef4efe424ca09e3d2c705d5855/

[2021-02-08 11:05] philipphofmann commented on #935
It seems like we are not able to get the thread that causes the error. A [`NoMethodError`](https://ruby-doc.org/core-3.0.0/NoMethodError.html) is more typical for Ruby, but the error message states it's coming from C++. The breadcrumbs state that this usually happens after a few hours the app went to the background. Can you maybe elaborate on when this error is happening? Can you reproduce it some

[2021-02-08 11:33] mitsuhiko commented on #935
@georges I took the liberty to investigate this particular issue on your account and the error you see here is indeed raised by an embedded ruby runtime. Could it be that you're invoking an embedded ruby script that raises that error? If that's the case you might have to capture the ruby error at the boundary. Depending on your setup you might be able to capture the errors within your embedded rub

[2021-02-08 12:26] diederich opened #937 "Sentry crashes on Launch, trying to serialize a broken session object"
### Environment

* How do you use Sentry: Sentry SaaS (sentry.io)
* Which SDK and version: 6.1.4 - macOS

### Steps to Reproduce

* (unknown: app crashes / closed in a weird state - )
* launch app & initialize sentry

### Expected Result

* SDK should not crash the app

### Actual Result

* crashes trying to create Session object from a broken dictionary on disc

----

While we haven't figured out

[2021-02-08 12:27] diederich commented on #937
There's a similar (but different) issue regarding a crash on startup here: https://github.com/getsentry/sentry-cocoa/issues/738

[2021-02-08 15:58] philipphofmann commented on #937
Thanks for reporting this, @diederich. This should be an easy fix. I already opened up a PR for this https://github.com/getsentry/sentry-cocoa/pull/939.

[2021-02-08 16:06] diederich commented on #937
@philipphofmann Thanks for looking into this!
For us, `_startedDate` was nil already, it wasn't present in the stored JSON, so I *think* the PR would not fix it.

It looks like `Session` expects `_startedDate` is required to be non-nil, otherwise `- (NSDictionary*) serialize` will still crash?

[2021-02-08 16:23] philipphofmann commented on #937
Yes, `_started` is `nonnull` and gets initialized in `initDefault`. We only write to the property in `initWithJSONObject`. If the JSON contains some garbage like `"started": "20"` the SDK set `_started` to `nil`. This is fixed now.

If the JSON doesn't contain a `"started"` we set it to the current date anyway, but this was already the case, see
https://github.com/getsentry/sentry-cocoa/blob/13547

[2021-02-08 16:39] diederich commented on #937
Ohhh, good call. Thanks for the explanation. Yes, that makes all sense, and yes, it should be fixed with the PR! 🙏

[2021-02-09 11:52] philipphofmann commented on #937
How often did you encounter this issue @diederich? Can you maybe give us more detail, so we can fix the root cause of this?

[2021-02-09 12:45] diederich commented on #937
We haven't been able to clearly repro this, but we'll try. My hunch right now is, that this happens in debug sessions, when we kill the process "at the wrong moment".

[2021-02-09 16:31] philipphofmann commented on #937
Thanks for the input, @diederich. In such a case, I think it is acceptable to go with our current approach. In the next major, we plan on discarding such sessions as there is not much we can do. See https://github.com/getsentry/sentry-cocoa/discussions/877#discussioncomment-207809.

[2021-02-09 18:33] diederich commented on #937
Agreed, again - thank you for looking into this!

[2021-02-10 10:58] #937 closed

[2021-02-10 15:12] bruno-garcia commented on #931
We need to sit and write a DACI about this:
https://www.notion.so/sentry/Empty-DSN-Transports-Threads-a99a15b1e8b044c5baf2e326511ce707#983388d0b60d446382d57708aab140fb

[2021-02-11 09:30] marandaneto commented on #933
@philipphofmann did you manage to test the fix?
your PR template says `Could fix` and I am not entirely sure if it fixes or not, so up to you to close this issue or not :)

[2021-02-11 12:25] sewerynplazuk opened #945 "Add an empty Swift file to the project."
Hi guys!
Recently I was working on speeding up the startup of my app. We use Carthage, therefore we have multiple dynamic frameworks linked into our project. I decided to build them as static frameworks, gather them together into single dynamic framework (with the help of `-all_load` linker flag) and, hopefully, save some linking time during the app launch.

All our dependencies works smoothly, ex

[2021-02-11 17:05] philipphofmann commented on #933
Sorry didn't mean to close this. GH did. I will try on Monday and close it then.

[2021-02-12 23:18] georges commented on #935
Thanks for investigating. I should have mentioned that this is a macOS app built with RubyMotion, hence why there are ruby references there. However, as far as I can understand, it's not interpreted but compiled. RubyMotion is an evolution of MacRuby, an implementation of Ruby 1.9 directly on top of Mac OS X core technologies such as the Objective-C runtime and garbage collector, the LLVM compiler

[2021-02-15 11:20] philipphofmann commented on #935
@mitsuhiko according to the [docs](http://www.rubymotion.com/developers/guides/manuals/cocoa/runtime/
), RubyMotion uses the Objective-C runtime and is completely different than [CRuby](https://www.ruby-lang.org/en/).

@georges, how do you use Sentry in your project? Does it work for other types of errors?

[2021-02-15 11:24] mitsuhiko commented on #935
@georges for native errors to have sensible back traces they need to be captured where the exception is raised, not where it's captured. For different languages we do this in different ways. My guess is that RubyMotion does this in a way we do not support currently. I'm not sure how RubyMotion works but potentially you can use the ruby SDK we provide and capture exceptions at the boundary between

[2021-02-15 19:36] vdudchak commented on #655
@philipphofmann As it turned out, our problem was not related to the session interval. In our project we used  Carthage to integrate Sentry and we did not set the releaseName in SentryOptions. Our best guess is that `NSDictionary *infoDict = [[NSBundle mainBundle] infoDictionary];` returns nil in release configuration for Sandbox version of the app if Sentry framework is pre-builded with Carthage.

[2021-02-16 01:29] borninla opened #951 "Sentry crashes on `encodeObject`"
### Environment

How do you use Sentry?

We use Sentry for error tracking and user feedback.

Which SDK and version?

Cocoa 6.1.4

### Steps to Reproduce

Not sure, the issue appears randomly. Here is the stack trace:

<img width="1199" alt="Screen Shot 2021-02-15 at 5 16 37 PM" src="https://user-images.githubusercontent.com/20800975/108007561-25dcf980-6fb3-11eb-8a19-33af8efda88d.png">

### Expect

[2021-02-16 08:52] philipphofmann commented on #933
#942 certainly improves this issue, but there are still many frames marked as `inApp`, which shouldn't be https://sentry.io/share/issue/c867acd56ff948f1aef3de9aa4848197/.
<img width="789" alt="Screenshot 2021-02-16 at 09 51 23" src="https://user-images.githubusercontent.com/2443292/108039572-895f3980-703c-11eb-939e-d153578d40c1.png">

Maybe it would be better to move all the logic to [Sentry](http

[2021-02-16 09:42] marandaneto commented on #933
true, pretty much all the `Flutter` package frames should be inApp=false

[2021-02-16 13:26] philipphofmann commented on #951
Hi @borninla,
Thanks for reaching out to us. This crash happens when synching the scope to SentryCrash in here https://github.com/getsentry/sentry-cocoa/blob/8a6182e4a0fc9ebf5e8ce541b545c9636e5bbaca/Sources/SentryCrash/Recording/Tools/SentryCrashJSONCodecObjC.m#L315

Can you give us a bit more context, please:
* Do you use the Scope manually, and if yes, how?
* Can you please share a link to this

[2021-02-16 17:27] jadar commented on #930
Sorry for the radio silence. I was able to finally build, so this is no longer an issue.

[2021-02-16 17:27] #930 closed

[2021-02-17 15:37] bruno-garcia commented on #933
The unified API includes a set of options that SDKs can include. A couple of those are:

`inAppInclude` and `inAppExclude`: https://docs.sentry.io/platforms/android/configuration/options/#in-app-include

We could add this to sentry-cocoa and Flutter when initializing would pass `inAppInclude=Runner`

[2021-02-17 18:35] borninla commented on #951
We call `SentrySDK.configureScope` to set an extra tag. This is done right after running `SentrySDK.start`.

https://sentry.io/share/issue/a92a9da07e45459da1dbf2721fe16e01/

[2021-02-18 10:03] philipphofmann opened #954 "Add inAppInclude and InAppExclude to Options"
Add [both properties](https://docs.sentry.io/platforms/android/configuration/options/#in-app-include) to SentryOptions and use them in here https://github.com/getsentry/sentry-cocoa/blob/8a6182e4a0fc9ebf5e8ce541b545c9636e5bbaca/Sources/Sentry/SentryCrashStackEntryMapper.m#L40-L54

[2021-02-18 10:04] philipphofmann commented on #933
Related issue for `inAppInclude` and `inAppExclude`: https://github.com/getsentry/sentry-cocoa/issues/954

[2021-02-20 02:05] georges commented on #935
@philipphofmann I use the sentry sdk like a Objective-C app would. It works reasonably well with most crash. For example here it did provide the right stack trace for a similar NoMethodError

https://sentry.io/organizations/island-magic-co/issues/2217648132/events/fa3c992f29524ce1a358da152c6860ff/

I understand I'm probably using the sdk not in the way it was intended. Just wanted to make sure I'm

[2021-02-23 13:37] philipphofmann commented on #951
Thanks for the info, @borninla. I'm currently not sure why this happens. We need to investigate this a bit further.

[2021-02-24 05:45] borninla commented on #951
No worries, just thought I'd bring this up. I'll keep you guys posted if it happens again.

[2021-02-24 10:09] marandaneto opened #960 "Provide a way on how to opt-out of the signal handler (SentryCrash)"
https://github.com/getsentry/sentry-dart/issues/317
https://github.com/getsentry/sentry-react-native/issues/1362

Android has a flag for it https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/SentryOptions.java#L210-L213

[2021-02-24 13:17] philipphofmann commented on #960
Isn't this the same as removing `SentryCrashIntegration`?

[2021-02-24 14:26] marandaneto commented on #960
@philipphofmann if this would be possible right now, that would be great, I already do it with `SentryAutoBreadcrumbTrackingIntegration` btw, I will check that and later we offer a friendlier option like a boolean.

[2021-02-25 10:29] philipphofmann commented on #960
Release health would still work. You won't have any crashed sessions. Offline Caching would still work as well.

[2021-02-25 20:49] mologie opened #963 "iOS/arm64 CPU frame pointer duplicated as GP x29, Sentry SDK crashes in Undefined Behavior Sanitizer"
### Environment

How do you use Sentry? Sentry SaaS (sentry.io)

Which SDK and version? sentry-cocoa 6.2.0

### Steps to Reproduce

Capture any exception on iOS/arm64

### Expected Result

Exception along with CPU registers as 28 GP registers + FP & LR would be visible in Sentry afterwards.

### Actual Result

The Sentry SDK invents a register (x29) and crashes in UBSan.

UBSan message:

[code]

#

[2021-02-26 09:33] #963 closed

[2021-02-26 10:11] marandaneto commented on #960
@philipphofmann unfortunately you lose Device's context if you remove this integration :(

[2021-02-26 11:40] joptriodos opened #965 "Support for SSL pinning"
For security reasons our application lets the SentrySDK send all data via our own server.  As an extra safety measure we would like to use SSL pinning and TrustKit. Will this be supported in the future? It would suffice to be able to get access to the url session used by the SentrySDK. Thanks!

[2021-02-26 12:14] philipphofmann commented on #960
Oh, I didn't think about that yet. Maybe we can init SentryCrash to get the device context still but not initializing the signal handlers.

[2021-02-26 12:23] #933 closed

[2021-02-26 12:23] #954 closed

[2021-03-01 10:48] philipphofmann commented on #741
Make sure to follow this requirement:

See: https://develop.sentry.dev/sdk/event-payloads/threads/

[2021-03-01 17:24] philipphofmann commented on #965
Hey @joptriodos,
Thanks for reaching out to us. We don't support this in the Cocoa SDK right now. Other SDKs as [Java](https://github.com/getsentry/sentry-java/blob/main/sentry/src/main/java/io/sentry/SentryOptions.java#L233-L237) and [Python](https://github.com/getsentry/sentry-python/blob/1279eeca6763e119d97da5da8318f48a04d3adef/sentry_sdk/consts.py#L72) already have this feature. So we could al

[2021-03-02 23:33] bruno-garcia opened #970 "Create transaction in sample app"
It was suggested [in this comment](https://github.com/getsentry/sentry-cocoa/pull/909/#issuecomment-789206757) to create a sample so we can easily see the performance feature in action.

This could be done on this [iOS-Swift sample](https://github.com/getsentry/sentry-cocoa/tree/master/Samples/iOS-Swift) that already gets pushed to test flight.

For reference, React Native sample with performance:

[2021-03-03 02:06] brustolin commented on #970
Take a look at PR #971.

[2021-03-03 14:59] bruno-garcia opened #976 "Detect `environment` automatically"
Thoughts:

* Consider iOS: TestFlight as environment
* Consider build_type values as environment: https://github.com/getsentry/sentry-cocoa/issues/778
* KSCrash has some logic already which ends up on build_type: https://github.com/getsentry/sentry-cocoa/blob/master/Sources/SentryCrash/Recording/Monitors/SentryCrashMonitor_System.m#L457-L472
* simulator could be an environment. So we can easily op

[2021-03-04 18:54] deathlyrage opened #978 "Unreal Engine Native Wrong thread / callstack"
### Environment

How do you use Sentry?
- Sentry SaaS.

Which SDK and version?
- All SDK versions but have tested and updated and reproduced it on the latest SDK. (6.2.1)

### Steps to Reproduce

1. Using a Unreal Engine project call Sentry Cocoa to init with a DSN.
2. Get a crash to happen such as deref nullptr.
3. Notice crash report in sentry callstack always uses the wrong thread and not the t

[2021-03-04 19:56] bruno-garcia commented on #978
@deathlyrage thanks for sharing the details.
Is Sentry marking the wrong thread as crashed so preselecting the wrong thread? Or is it not including the crashed thread at all somehow? I assume there's no easy repro you could share so we can peek with a debugger, right?

[2021-03-04 20:00] deathlyrage commented on #978
The crashed thread doesn't appear to be listed, (which the crashed thread is in the game thread). Or at least I couldn't find it.
The physX thread its marked is a background worker thread that didn't crash at all.

The crash reports from apple's backend are all correct afaik, if i download the crash and load it in xcode it correctly picks up, but all the crashes found by sentry are wrong.

I could

[2021-03-04 20:06] bruno-garcia commented on #978
Thanks for clarifying, sounds like a bug.

We'd really appreciate so we can test things out on our end.
Only thing I tested UE4 so far was with Desktop apps (with the crash reporter):
https://github.com/getsentry/examples/tree/master/unreal-engine/GameOfBroken

But I'll give it a try and other folks at Sentry will likely be interested in seeing how this works.

[2021-03-04 20:07] deathlyrage commented on #978
Yeah we used to use the default UE4 crash reporter but we couldnt use it to provide user information and proper sentry intergration, we are trying to use sentry directly. Sentry Native for Windows, Mac, Linux, Java for Android and Cocoa for iOS.

Win, Mac, Linux, Android callstacks and threads all work, however the callstacks are less useful on android but more accurate. The callstacks on iOS have

[2021-03-04 20:13] deathlyrage commented on #978
Here is another example where I call a sentry message directly and get a similar result, instead of via a native exception:

https://sentry.io/share/issue/6f7fe20e864947b09b9bddbb850de940/

[2021-03-05 11:37] deathlyrage commented on #978
@bruno-garcia if you can get in contact with me via discord or email I can send you a copy of the project that has the problem so you can attach the debugger.

matthew alderongames . com
discord: Alderon Matt#1479

[2021-03-08 07:11] dependabot-preview[bot] opened #981 "Dependabot can't parse your Gemfile"
Dependabot couldn't parse the Gemfile found at `/Gemfile`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/getsentry/update-logs/70994089).

[2021-03-08 13:43] #911 closed

[2021-03-08 18:07] #981 closed

[2021-03-09 09:28] #970 closed

[2021-03-09 10:33] philipphofmann commented on #848
I'm closing this as we didn't hear anything for over 3 months. Feel free to open this again @anonrig.

[2021-03-09 10:33] #848 closed

[2021-03-09 10:35] philipphofmann commented on #847
I'm going to close this as we didn't hear anything for over 3 months. Feel free to pen this again @anonrig.

[2021-03-09 10:35] #847 closed

[2021-03-10 13:22] philipphofmann opened #986 "Set sample rate to 0 if out of range"
Set the sample rate to 0 if it is smaller than 0 or greater than 1 for `tracesSampleRate`, `tracesSampler`, and to 1 for `sampleRate` in SentryOptions.

[2021-03-10 13:33] philipphofmann opened #987 "Replace TestInit Categories with Dynamic"
Replace TestInit categories for making internal method, properties, or ctors visible with https://github.com/mhdhejazi/Dynamic.

[2021-03-10 14:47] bruno-garcia opened #989 "Add `sentry-trace` header to outgoing HTTP requests"
Outgoing HTTP requests should include a header indicating the traceid, spanid, and sampling decision.

Docs are here: https://develop.sentry.dev/sdk/performance/#header-sentry-trace

Some examples:

https://github.com/getsentry/sentry-dotnet/blob/39680350f97cc4c6901f7a0f56d7ad7f2f2aa46a/src/Sentry/SentryTraceHeader.cs
https://github.com/getsentry/sentry-dotnet/blob/2337261333d5743996d6d96ca3aa289d

[2021-03-10 14:50] bruno-garcia opened #990 "Captured errors should include Trace information"
When a `CaptureEvent` is called, the event should include the trace information that exists on the scope.

i.e:

[code]

[2021-03-10 14:56] bruno-garcia opened #991 "Scope sync should be fine grained"
Today changes to the scope fire an event that doesn't indicate what in the scope changed.
That means we serialize the whole scope into the `SentryCrash` context on each scope change, for example when a breadcrumb is added.

One approach we can consider is what was done in Java where there's observer pattern used by the scope so we can hook by integrations:

https://github.com/getsentry/sentry-java

[2021-03-10 15:23] bruno-garcia commented on #960
Closing because it's possible to opt-out by removing the integration. But has the side effect of losing device context which is a separate issue.

[2021-03-10 15:23] #960 closed

[2021-03-11 10:27] philipphofmann commented on #897
If we implement the heuristics approach described in [a blog post by Facebook](https://www.notion.so/sentry/Out-of-Memory-ec35713ded4f40e6bcd8ff7beeaff512#2596e6c1089f48e881563a63cde0f28b) we should consider restarting an app while being attached to the debugger. This could mess up the heuristics and could report false OOM.

[2021-03-12 02:52] deathlyrage commented on #978
I figured out the root of the problem, Unreal engine strips debug symbols in a way that confuses sentry and the callstack. I managed to get the unstripped symbols on a HTTP server (as they are too big to upload to sentry) this results in the callstacks and threads to be correct.

[2021-03-12 02:52] #978 closed

[2021-03-12 08:35] philipphofmann commented on #897
We can implement a heuristic-based approach for detecting OOM as described by [a blog post by Facebook](https://engineering.fb.com/2015/08/24/ios/reducing-fooms-in-the-facebook-ios-app/).
![image](https://user-images.githubusercontent.com/2443292/110913834-e71e3300-8315-11eb-87c9-2370fa46d87e.png)

This approach seems to have [false positives](https://stackoverflow.com/questions/48121843/suddenly-

[2021-03-12 10:50] brustolin commented on #897
@philipphofmann  I guess you can use the low memory notification to add one more step in this process.

Was the low memory notification called last session? No -> OOM is not the problem.

But I guess if the app tries to allocate a substantial chunk of memory the notification will not be fired.

[2021-03-12 12:44] philipphofmann commented on #897
Good point @brustolin, but as far as I know there is no guarantee, that you receive the notification before an OOM like you mentioned.

[2021-03-12 19:44] bruno-garcia commented on #978
That's great news. Would you be willing to describe it here the steps you took on UE4 to fix the problem so I can add to our docs?

[2021-03-15 15:44] philipphofmann commented on #557
As we didn't receive an update for over half a year, we are going to close this.

[2021-03-15 15:44] #557 closed

[2021-03-15 23:03] brustolin opened #999 "Report App Memory Usage"
Currently the amount of memory used by the app at the time of the crash isn't reported.
We could read that and add it to the event with such snippet:

[code]

[2021-03-16 00:53] bruno-garcia commented on #999
Is this a cheap API to call? If so, would it make sense to add to Transactions too?

[2021-03-16 08:01] LBCross opened #1000 "iOS12 SentryBreadcrumb *crumb = [[SentryBreadcrumb alloc] init]; crashed"
_Platform:_
- [ ]  iOS

_Swift:_
- [ ]  No

_sentry-cocoa installed with:_
- [ ] Manually

Version of sentry-cocoa:
**6.2.1**

---
I have following issue:

Description goes here ...
iOS12  crashed;
[code]
If the phone using IOS 12.0.1 calls the appellate code, it will crash;
![image](https://user-images.githubusercontent.com/19235947/111275171-d866b180-8670-11eb-8bf0-8ea3292f451a.png)

**Steps to

[2021-03-16 08:16] LBCross commented on #1000
![image](https://user-images.githubusercontent.com/19235947/111277047-f7664300-8672-11eb-829f-3212184329a3.png)

[2021-03-16 08:16] LBCross commented on #1000
![Uploading image.png…]()

[2021-03-16 08:17] LBCross commented on #1000
![image](https://user-images.githubusercontent.com/19235947/111277194-211f6a00-8673-11eb-88e5-f8d2c2e02107.png)

[2021-03-16 16:11] philipphofmann commented on #1000
Hey @LBCross,
I'm sorry, but I can't reproduce your issue. Can you maybe share the issue in Sentry or post the exact error message?

We have several tests to make sure `[[SentryBreadcrumb alloc] init]` and other interactions with `SentryBreadcrumb` work fine.  Can it be that the `key` and `value` you get from the `jsonDict` aren't of type `NSString`?

Another note: for comparing NSStrings I sugges

[2021-03-16 16:14] philipphofmann commented on #999
I think we could also add it to all event, like we do with the stacktace.

[2021-03-16 17:57] 0xpablo opened #1002 "Is there a way to serialize the context synchronously?"
_Platform:_
- [x]  iOS

_Swift:_
- [x]  Yes -> 5.3

_sentry-cocoa installed with:_
- [x] Swift Package Manager

Version of sentry-cocoa:
**6.2.1**

---
I have following issue:

We are replacing some `fatalErrors` in our app with a function that does the following:

[code]

This helps us capture some context when we crash, while allowing the function to return `Never`.

I was reviewing a couple cra

[2021-03-17 02:08] LBCross commented on #1000
Hi philipphofmann.

[2021-03-17 02:10] LBCross commented on #1000
**error message:**

_ZNSt3__112__hash_tableINS_17__hash_value_typeINS_12basic_stringIcNS_11char_traitsIcEENS_9allocatorIcEEEEN5fbsdk7MTensorEEENS_22__unordered_map_hasherIS7_SA_NS_4hashIS7_EELb1EEENS_21__unordered_map_equalIS7_SA_NS_8equal_toIS7_EELb1EEENS5_ISA_EEE21__cons...
Sentry
+0x01c66c
-[SentryHub configureScope:]
Called from:
Sentry
+0x031b94
+[SentrySDK configureScope:]
ro
+0xd3cce4
_ZNSt

[2021-03-17 02:13] LBCross commented on #1000
Key and value is NSString type. The os system of IOS 12.0.1 will crashed;